.form_contacts{
    position:relative;
    overflow:hidden;
    padding:100px 0;
    .special{
        height:1px;
        background:transparent;
        text-indent:-9999;
    }
    .align-center{
        text-align:center;
    }
    .align-left{
        text-align:left;
    }
    .maxwidth800{
        max-width:800px;
        margin:auto;
    }
    .layer{
        background-position:100% 0;
        background-size:cover;
        background-repeat:no-repeat;
        width:100%;
        height:100%;
        position:absolute;;
        z-index:-1;
        top:0;
    }
    .title_section{
        font-size:24px;
        color:$text-nicola1;
        font-family:'montserratsemibold';
        margin-top:0;
        margin-bottom:30px;
    }
    .text_section{
        font-size:16px;
        color:$text-nicola2;
        font-family:'montserratregular';
    }
    .campi_obbligatori{
        margin-top:15px;
        margin-bottom:30px;
        color:$text-nicola3;
        font-family:'montserratregular';
    }
    input{
        background-color:$color-nicola4;
        color:$text-nicola4;
        height:50px;
        border:0;
        margin-bottom:20px;
        box-shadow:none;
        font-family:'montserratregular';
        &:focus{
            border:none;
            box-shadow:none;
        }
    }
    textarea{
        background-color:$color-nicola4;
        color:$text-nicola4;
        border:0;
        resize:none;
        box-shadow:none;
        font-family:'montserratregular';
        margin-bottom:20px;
        &:focus{
            border:none;
            box-shadow:none;
        }
    }
    .invio_button{
        font-size:18px;
        font-family:'montserratsemibold';
        border-color:$color-gabricom4;
        border-width:3px;
        color:$text-nicola5;
        padding:13px 25px;
        margin-top:30px;
        transition:300ms;
        -moz-transition:300ms;
        -o-transition:300ms;
        -webkit-transition:300ms;
        @include no-outline();
        &:hover,
        &:focus,
        &:active{
            color:white;
            background-color:$color-gabricom4 !important;
            border-color:$color-gabricom4 !important;
            @include no-outline();
        }
    }
    input[type=checkbox].css-checkbox{
        height:auto;
    }
    .css-label{
        display:inline;
    }
}

@media screen and (max-width:991px) {
    .form_contacts{
        .css-label{
            font-size:11px;
        }
        .layer{
            display:none;
        }
    }
}

@media screen and (max-width:640px) {
    .form_contacts{
        padding:50px 0;
        .title_section{
            font-size:17px;
        }
        .text_section{
            font-size:14px;
        }
        .subtitle_section{
            font-size:16px;
        }
        .invio_button{
            font-size:15px;
            border-width:3px;
            padding:8px 20px;
        }
    }
}

@media screen and (max-width:400px) {
    .form_contacts{
        .text_section{
            font-size:13px;
        }
    }
}

@media screen and (max-width:403px) {
    .css-label{
        margin-bottom:30px;
    }
}
