{% trans_default_domain "public" %}
<section class="form_contacts" id="{{id_sezione.val}}">
    <div class="layer layer-01" data-type="parallax" data-depth="0.20" style="background-image:url('{{ img1.src }}')"></div>
    <div class="layer layer-02" data-type="parallax" data-depth="0.40" style="background-image:url('{{ img2.src }}')"></div>
    <div class="layer layer-03" data-type="parallax" data-depth="0.80" style="background-image:url('{{ img3.src }}')"></div>
    <form method="post" action="{{ to_route('contact-us-form') }}">
        <input type="text" name="{{ instance }}_namewt" value="" class="special" />
        <div class="container">
            <div class="row align-center maxwidth800">
                <h3 class="title_section">{{ titoletto.val }}</h3>
                <p class="text_section">{{ testo.val|raw }}</p>
                <p class="campi_obbligatori">(*) {% trans %}form_contatti.labels.campi_obbligatori{% endtrans %}</p>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="nome_cognome" id="nome_cognome" placeholder="{% trans %}form_contatti.labels.nome_cognome{% endtrans %} *">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="tipo_richiesta" id="tipo_richiesta" placeholder="{% trans %}form_contatti.labels.oggetto{% endtrans %} *">
                </div>
                <div class="col-md-6">
                    <input type="email" class="form-control" name="email" id="email" placeholder="{% trans %}form_contatti.labels.email{% endtrans %} *">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" name="phone" id="phone" placeholder="{% trans %}form_contatti.labels.telefono{% endtrans %}">
                </div>
                <div class="col-md-12">
                    <textarea class="form-control" rows="7" name="richiesta" id="richiesta" placeholder="{% trans %}form_contatti.labels.richiesta{% endtrans %} *"></textarea>
                </div>
                <div class="col-md-12 align-left">
                    <input type="checkbox" name="privacy" id="privacy" name="privacy" class="css-checkbox" />
                    <label for="privacy" class="css-label">{% trans %}form_contatti.labels.acconsento{% endtrans %}</label>
                </div>
            </div>
            <div class="row align-center">
                <button class="btn btn-default invio_button">{{ testo_bottone.val }}</button>
            </div>
        </div>
    </form>
</section>

<script type="text/handlebars" id="alertDialogTemplate">

    {% verbatim %}

    <div id="alertDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-{{type}}">{{titolo}}</h4>
                </div>
                <div class="modal-body">
                {{{content}}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-{{type}} btn-confirm">{{OK}}</button>
                </div>
            </div>
        </div>
    </div>

    {% endverbatim %}






















</script>
