.text_with_side_images{
  padding:100px 0;
  background-color:#f5f5f5;
  .float_r{
    float:right;
  }
  .float_l{
    float:left;
  }
  .align-center{
    text-align: center;
  }
  .align-left{
    text-align: left;
  }
  .title_section{
    font-size: 48px;
    color:$text2;
    margin:30px 30px 0px 30px;
    font-family: 'montserratlight';
  }
  .text_section{
    font-size: 16px;
    color:$text-nicola2;
    margin:30px 30px 0px 30px;
    font-family: 'montserratlight';
  }
  .subtitle_section{
    font-size: 23px;
    color:$text2;
    margin:30px 30px 0px 30px;
    font-family: 'montserratlight';
  }
  .col_img_l{
    padding-left:0;
  }
  .col_img_r{
    padding-right: 0;
  }
}

@media screen and (max-width:991px){
  .text_with_side_images{
    .col_img_r img{
      display: none;
    }
    .col_img_l img{
      float:none;
      margin: auto;
      max-width: 60%;
    }
    .subtitle_section {
      font-size: 18px;
      margin-top: 20px;
    }
    .text_section {
      font-size: 14px;
    }
    .title_section {
      font-size: 34px;
    }
  }
}

@media screen and (max-width:640px){
  .text_with_side_images{
    padding: 50px 0;
    .text_section {
      font-size: 13px;
      margin:20px 15px 0px 15px;
    }
    .title_section {
      font-size: 24px;
      margin:20px 15px 0px 15px;
    }
    .subtitle_section {
      font-size: 14px;
      margin:20px 15px 0px 15px;
    }
  }
}
