<section class="text_with_side_images" style="background-color:{{ bg_color.val }}">
  <div class="container-fluid">
    <div class="row align-center">
      <div class="col-md-3 col_img_l">
        <img  class="img-responsive float_l" src="{{ immagine_sx.src }}" alt="{{ immagine_sx.alt }}" data-aos="fade-right" data-aos-duration="800">
      </div>
      <div class="col-md-6">
        <h3 class="title_section" data-aos="fade-down" data-aos-duration="800">{{ titolo.val }}</h3>
        <p class="subtitle_section" data-aos="fade-down" data-aos-duration="800">{{ sottotitolo.val|raw }}</p>
        <p class="text_section" data-aos="fade-down" data-aos-duration="800">{{ testo.val|raw }}</p>
      </div>
      <div class="col-md-3 col_img_r">
        <img  class="img-responsive float_r" src="{{ immagine_dx.src }}" alt="{{ immagine_dx.alt }}" data-aos="fade-left" data-aos-duration="800">
      </div>
    </div>
  </div>
</section>
