.sezione.titolo-icona{
    padding:20px 0;
    text-align:center;
    text-transform:uppercase;
    background-color:$color2;
}

@media screen and (max-width:767px) {
    .sezione.titolo-icona{
        img{
            width:60px;
        }
    }
}
