.selettoreDate{
    background-color:$color6;
    padding:20px;
    button{
        padding:20px 30px;
        margin-top:20px;
        text-align:left;
        i{
            margin-left:10px;
        }
    }
    .container-fluid{
        .col-lg-3{
            h3{
                margin-top:10px;
            }
        }
        .col-lg-1{
            .wrapper{
                height:100%;
                background-color:#fff;
                padding:15px;
            }
            h5{
                color:$color5;
                margin-bottom:3px;
                margin-top:0;
                font-size:12px;
            }
            .giorno, .month-year{
                display:inline-block;
                margin-bottom:0;
                font-weight:600;
            }
            .giorno{
                font-size:40px;
            }
            img{
                position:relative;
                top:-10px;
                left:5px;
            }
        }
    }
    text-align:center;

    .quantity{
        position:relative;
        p{
            font-size:40px;
            margin-bottom:0;
            display:inline-block;
            font-weight:700;
        }
        i{
            display:inline-block;
            cursor:pointer;
            position:relative;
            top:-8px;
            margin:0 5px;
        }
    }

}

.bookingPopUp{
    text-align:center;
    form{
        padding:50px;
        input, textarea{
            width:100%;
            border-color:$color3;
            border-style:solid;
            border-width:1px;
            padding-left:10px;
        }
        input{
            height:40px;
            margin-bottom:10px;
        }
        label{
            text-transform:uppercase;
            color:$color3;
        }
        label.css-label{
            text-transform:none;
        }
        .btn-default{
            width:auto;
            padding-left:30px;
            padding-right:30px;
        }

        input[type=checkbox].css-checkbox{
            position:absolute;
            z-index:-1000;
            left:-1000px;
            overflow:hidden;
            clip:rect(0 0 0 0);
            height:1px; width:1px;
            margin:-1px;
            padding:0;
            border:0;
        }
        input[type=checkbox].css-checkbox + label.css-label{
            padding-left:30px;
            height:25px;
            display:inline-block;
            line-height:25px;
            background-repeat:no-repeat;
            background-position:0 0;
            font-size:18px;
            vertical-align:middle;
            cursor:pointer;
        }
        .datepicker{
            cursor:pointer;
        }
        input[type=checkbox].css-checkbox:checked + label.css-label{
            background-position:0 -25px;
        }
        label.css-label{
            background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_2982150dfe13e1af90ae78eae03783ae.png);
            -webkit-touch-callout:none;
            -webkit-user-select:none;
            -khtml-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
        .quantity{
            a:hover, a:focus{
                color:$color5;
            }
        }

        .row_date{
            padding:20px 0;
            .col-lg-6{
                h5{
                    color:$color3;
                    margin-bottom:3px;
                    margin-top:0;
                }
                .giorno, .month-year{
                    display:inline-block;
                    margin-bottom:0;
                    font-weight:600;
                }
                .giorno{
                    font-size:40px;
                }
                img{
                    position:relative;
                    top:-10px;
                    left:5px;
                }
            }
        }
        .row{
            .col-lg-6:first-child{
                border-right:1px solid $color3;
            }

        }

        .quantity{
            position:relative;
            p{
                font-size:40px;
                margin-bottom:0;
                display:inline-block;
                font-weight:700;
            }
            i{
                display:inline-block;
                cursor:pointer;
                position:relative;
                top:-8px;
                margin:0 5px;
            }
        }

        .row_messaggio{
            margin-top:1em;
        }

    }

}

@media screen and (min-width:1200px) {
    .selettoreDate{
        .col-lg-1{
            width:12.5%;
        }
    }
}

@media screen and (min-width:1200px) and (max-width:1299px) {
    .selettoreDate .container-fluid .col-lg-1 .giorno{
        font-size:35px;
    }
    .quantity p{
        font-size:35px;
    }
}

@media screen and (max-width:1199px) {
    .selettoreDate{
        .col-xs-3{
            margin:20px 0;
        }
        button{
            margin:0;
        }
    }
}

@media screen and (max-width:659px) {
    .selettoreDate{
        .col-xs-3{
            width:50%;
            margin:5px 0;
        }
        button{
            margin-top:10px;
        }
    }
}

@media screen and (max-width:549px) {
    .selettoreDate{
        padding:20px 5px;
    }
    .selettoreDate .container-fluid .col-lg-1 .giorno{
        font-size:30px;
    }
    .selettoreDate .container-fluid .col-lg-1 .month-year{
        font-size:10px;
    }
    .quantity p{
        font-size:30px;
    }
    .quantity i{
        top:-5px;
    }
    .selettoreDate .container-fluid .col-lg-1 h5{
        font-size:10px;
    }
}
