.sezione.box-doppio-bottone-invertito {
  padding: 0;
  background-color: $color4m;
  .col-xs-6 {
    position: relative;
    height: 600px;
    text-align: center;
  }
  .col-img {
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .col-text {
    background-color: transparent;
    display: table;
    .box-testo {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 0 15%;
      h3 {
        margin-bottom: 30px;
        font-size: 48px;
        font-family: 'montserratextralight';
        strong {
          font-family: 'montserratregular';
        }
        color: $text4m;
      }
      p {
        font-size: 24px;
        font-family: 'montserratsemibold';
        color: $text2m;
      }
      .btn-default {
        @include button-template($text8m,2px);
        display: inline-block;
        margin: 0 auto;
        padding: 12px 20px;
      }
    }
  }
}

@media screen and (max-width:1199px) {
  .sezione.box-doppio-bottone-invertito .col-text .box-testo {
    padding: 0 10%;
    h3 {
      font-size: 35px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione.box-doppio-bottone-invertito .col-text .box-testo {
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 13px;
    }
  }
}

@media screen and (max-width:767px) {
  .sezione.box-doppio-bottone-invertito .col-xs-6 {
    height: 300px;
  }
  .sezione.box-doppio-bottone-invertito .col-text .box-testo {
    padding: 20px 5%;
    text-align: center;
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
      line-height:20px;
    }
  }
  .sezione.box-doppio-bottone-invertito .col-text .box-testo {
    .btn-default {
      padding: 8px 12px;
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 499px) {
  .sezione.box-doppio-bottone-invertito .col-xs-6 {
    width: 100%;
  }
}
