<div class="box-triplo-icone">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 sameHeight">
                <h3 data-aos="fade-down-right" data-aos-duration="1000">{{ titolo.val }}</h3>
                {% if sottotitolo.val|default("") %}
                    <p data-aos="fade-down-right" data-aos-duration="1000">{{ sottotitolo.val }}</p>
                {% endif %}
                {% if paragrafo.val|default("") %}
                    <p class="strong" data-aos="fade-down-right" data-aos-duration="1000">{{ paragrafo.val }}</p>
                {% endif %}
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 sameHeight">
                {% if bgimg1.src|default("") %}
                    <img class="bg-image" src="{{ bgimg1.src }}" alt="{{ bgimg1.alt|default("") }}" />
                {% endif %}
                <div class="box-testo">
                    {% if icona1.src|default("") %}
                        <img class="icona" src="{{ icona1.src }}" alt="{{ icona1.alt|default("") }}" data-aos="zoom-out" data-aos-duration="1000">
                    {% endif %}
                    {% if titolo1.val|default("") %}
                        <h3 data-aos="zoom-out" data-aos-duration="1000"> {{ titolo1.val }} </h3>
                    {% endif %}
                    <a rel="nofollow" href="{{ link1.link }}" class="read-more" data-aos="zoom-out" data-aos-duration="1000">
                        SCOPRI DI PIU
                    </a>
                    <a href="{{ link1.link }}" class="read-more" data-aos="zoom-out" data-aos-duration="1000">
                        <img src="{{ asset('images/energia/grafica/details_white.png') }}" alt="{{ link1.label|default("") }}">
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 sameHeight">
                {% if bgimg2.src|default("") %}
                    <img class="bg-image" src="{{ bgimg2.src }}" alt="{{ bgimg2.alt|default("") }}" />
                {% endif %}
                <div class="box-testo">
                    {% if icona2.src|default("") %}
                        <img class="icona" src="{{ icona2.src }}" alt="{{ icona2.alt|default("") }}" data-aos="zoom-out" data-aos-duration="1000">
                    {% endif %}
                    {% if titolo2.val|default("") %}
                        <h3 data-aos="zoom-out" data-aos-duration="1000"> {{ titolo2.val }} </h3>
                    {% endif %}
                    <a rel="nofollow" href="{{ link2.link }}" class="read-more" data-aos="zoom-out" data-aos-duration="1000">
                        SCOPRI DI PIU
                    </a>
                    <a href="{{ link2.link }}" class="read-more" data-aos="zoom-out" data-aos-duration="1000">
                        <img src="{{ asset('images/energia/grafica/details_white.png') }}" alt="{{ link2.label|default("") }}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>