.titleSubtitleListWithIcon{
  background-color:$color5;
  font-family:$font;
  padding:100px 12%;
  .titolo,.sottotitolo{
    text-align:center;
  }
  .titolo{
    color:$color2;
    font-size:$text11;
    margin:0;
    margin-bottom:12px;
    font-weight:$medium;
  }
  .sottotitolo{
    color:$color1;
    font-size:$text6;
    margin:0;
    font-weight:$regular;
  }
  .lista{
    margin:0;
    list-style:none;
    padding:0;
    margin-top:80px;
    >li{
      margin-bottom:60px;
      color:$color1;
      font-size:$text3;
    }
  }
  .media-body{
    padding-left:10px;
  }



  @media (max-width:1300px){
    padding:100px 8%;
  }
  @media (max-width:1000px){
    padding:100px 40px;
  }

  @media (max-width: 1400px){
    .sottotitolo,.lista>li{
      font-size:$text5;
    }

  }

  @media (max-width:1170px){
    .sottotitolo{
      padding:0 40px;
    }
    .titolo{
      font-size:$text11;
    }
  }

  @media (max-width:900px){
    .titolo{
      font-size:$text9;
    }

  }


  @media (max-width:600px){
    .titolo{
      font-size:$text9;
    }
    .sottotitolo,.lista>li{
      font-size:$text4;
      padding:0 5px;
    }
  }



  @media (max-width:500px){
    .titolo{
      font-size:$text8;
    }
    .sottotitolo,.lista>li{
      font-size:$text3;
      padding:0 0px;
    }
  }
  @media (max-width:400px){
    .titolo{
      font-size:$text7;
    }
    .sottotitolo,.lista>li{
      font-size:$text2;
      padding:0 0px;
    }
  }
}