<div class="sezione mappa"{% if puntatore.src|default("") %} data-cursor="{{ puntatore.src }}"{% endif %}{% if coordinate.val|default("") %} data-center="{{ coordinate.val }}"{% endif %}{% if zoom.val|default("") %} data-zoom="{{ zoom.val }}"{% endif %}{% if testoFumetto.val|default("") %} data-infowindow="{{ testoFumetto.val }}"{% endif %}>
    <div id="map">
        {% if style.val|default("") %}
            <script type="text/javascript">
              var mapConfig = {{ style.val | raw }};
            </script>
        {% endif %}
    </div>
</div>