$color5: #f00 !default;
$color2: #f00 !default;
$color1: #f00 !default;
$font: sans serif !default;
$font3: sans serif !default;
$medium: 500 !default;
$text5: 1em !default;
$text9: 1em !default;
$text8: 1em !default;
$text7: 1em !default;
.form-contatti {
    background-color: $color5;
    text-align: center;
    padding: 80px 0;
    font-family: $font;
    background-size: cover;
    position: relative;
    #privacy {
        margin-top: 0;
        z-index: 1;
        cursor: pointer;

    }
    .submit-btn {
        cursor: pointer;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
    }
    .row_x {
        text-indent: -9999px;
        height: 1px;
    }
    .privacy-thing {

        position: relative;
        z-index: 999;
        cursor: pointer;
        color: $color5;
    }

    .row {
        > .form-title {
            font-family: $font3;
            font-weight: $medium;
            color: $color5;
            font-size: 80px;
        }
        form {
            padding: 50px;
            input, textarea {
                width: 100%;
                border: none;
                padding-left: 10px;
                margin: 16px 0;
            }
            input:not([ type="submit" ]) {
                height: 40px;
                margin-bottom: 20px;
            }
            textarea {
                height: 200px;
                padding-top: 10px;
            }
            label {
                //color:$color1;
            }
            .pretty {
                margin: 20px 0;
                display: block;
                text-align: left;
                label {
                    font-size: $text5;
                    color: $color5;
                    a {
                        color: $color5;
                    }
                }
            }
            .btn-default {
                width: auto;
                padding-left: 60px;
                padding-right: 60px;
                font-size: $text9;
                border: none;
                border-radius: 0;
                background-color: $color2;
                color: $color1;
                transition-duration: 0.3s;
                display: block;
                float: right;
                &:hover {
                    opacity: 0.7;
                    transition-duration: 0.3s;
                }
            }
        }
    }

    @media (max-width: 500px) {
        .row form {
            padding: 20px;
        }
        .row > .form-title {
            font-size: $text8;
        }
        .row form .btn-default {
            width: 100%;
            font-size: $text7;
        }
    }
}

