<div class="sezione box-doppio-lista">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 col-img">
                <div class="fotorama" data-nav="thumbs" data-width="100%">
                    {% for  img in images %}
                        {% if img.src|default("") %}
                            <img alt="{{ img.alt|default("") }}" src="{{ img.src }}" />{% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-lista">
                <div class="box-testo">
                    <h2>{{ titolo.val }}</h2>
                    <div class="services">
                        <table>
                            {% set sum = 0 %}
                            {% for titolo in services %}
                                {% set icona = attribute(icone, loop.index0) %}
                                {% if titolo.val %}
                                    <tr data-aos="fade-left" data-aos-duration="800" data-aos-delay="{{ sum }}">
                                        <td>
                                            {% if icona.src|default("") %}
                                                <img src="{{ icona.src }}" alt="{{ icona.alt | default("") }}" />
                                            {% else %}
                                                &nbsp;
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ titolo.val }}
                                        </td>
                                    </tr>
                                    {% set sum = sum + 200 %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>