<div class="slider-cards">
    <h3>Elenco Convenzioni</h3>
    <div class="slider">
        {% if data.error %}
            {{ data.error }}
        {% else %}
            {% for slide in data.slides %}
                <div>
                    <div class="thumbnail">
                        <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}" />
                        {% if slide.testo %}
                            <p>
                                {{ slide.testo|raw }}
                            </p>
                        {% endif %}
                        <a href="{{ slide.url }}" class="read-more dark">{% trans %} default.labels.leggi_di_piu {% endtrans %}
                            <img src="{{ asset('images/energia/grafica/details_orange.png') }}" alt="read more"></a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="link-download">
            <a href="">
                SCARICA PDF
                <img src="samples/convenzioni/pdf.png" />
            </a>
        </div>
    </div>
</div>