.sezione.box-sei-loghi {
  background-color: $color9m;
  padding: 30px;
  p {
    color: $text9m;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
  }
  .row .col-lg-4 {
    .thumbnail {
      background-color: transparent;
      border: none;
    }
  }
}

@media screen and (max-width: 599px) {
  .sezione.box-sei-loghi {
    padding: 15px;
  }
  .row .col-lg-4 {
    padding: 0;
  }
}
