.rt {
  font-family: $font;
  text-align: center;
  font-size: 12px;
  color: $color2;
  padding: 20px 0px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
    li:after {
      content: " | ";
    }
    li:last-child:after {
      content: "";
    }
  }
  a {
    color: inherit;
  }
  @media(max-width: 800px) {
    font-size: 11px;
  }
  @media (max-width: 600px) {
    font-size: 10px;
  }
}