.box-documentazione{
    padding:80px 15px;
    h3{
        font-size:$text9;
        font-weight:$bold;
        color:$color3;
        text-align:center;
        padding:0 20px;
    }
    p{
        font-size:$text5;
        font-weight:$semi-bold;
        color:$color3;
        text-align:center;
        padding:0 20px;
        margin-bottom:40px;
    }
    .col-lg-6{
        .media{
            .media-left{
                padding-right:30px;
            }
            .media-body{
                h4{
                    font-size:$text3;
                    color:$color3;
                    font-weight:$semi-bold;
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .box-documentazione{
        padding:80px 15px;
        h3{
            font-size:font-percentage($text9, 0.8);
        }
        p{
            font-size:font-percentage($text5, 0.8);
        }
        .col-lg-6{
            .media{
                .media-body{
                    h4{
                        font-size:font-percentage($text3, 0.8);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .box-documentazione{
        .col-lg-6{
            margin-bottom:15px;
        }
    }
}