.sezione.titolo-icona.light{
    background-color:$color4;
    padding:20px 80px;
}

.sezione.titolo-icona{
    padding:20px 0;
    text-align:center;
    background-color:$color4;
}

@media screen and (max-width:767px) {
    .sezione.titolo-icona.light{
        padding:20px;
    }
}

@media screen and (max-width:767px) {
    .sezione.titolo-icona{
        img{
            width:60px;
        }
    }
}
