{% if app.request.attributes.get('_route') %}
    <div class="box-social">
        <p class="titolo">
            {{ titolo.val }}
        </p>
        {% if iconaTwitter.src and data.twitter is defined %}
            <a href="https://twitter.com/share?url={{ data.twitter.url }}&text={{ data.twitter.text }}{% if data.twitter.via is defined %}&via={{ data.twitter.via }}{% endif %}" id="socialShareTW">
                <img src="{{ iconaTwitter.src }}" alt="{{ iconaTwitter.alt }}" />
            </a>
        {% endif %}
        {% if iconaFacebook.src and servizi_esterni.facebook_api %}
            <a href="{{ to_route(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'), true) }}" id="socialShareFB">
                <img src="{{ iconaFacebook.src }}" alt="{{ iconaFacebook.alt }}" />
            </a>
        {% endif %}
        {% if iconaLinkedi.src is defined and data.linkedin is defined %}
            <a id="socialShareLI" href="https://www.linkedin.com/shareArticle?mini=true&url={{ data.linkedin.url }}&title={{ data.linkedin.title }}&summary={{ data.linkedin.summary }}"><img src="{{ iconaLinkedi.src }}" alt="{{ iconaLinkedi.alt | default("") }}" /></a>
        {% endif %}
    </div>
{% endif %}