<section class="tree_animation_homepage">
  <div class="container-fluid" id="step-by-step">
    <div class="container">
      <div class="row align-center">
        <p class="title_section">{{ titolo.val }}</p>
      </div>
      <div class="row wrapper_row">
        <div class="wrapper_text">
          <p class="subtitle_section subtitle1 testo_nascosto">{{step1_sottotitolo.val}}</p>
          <p class="text_section text1 testo_nascosto">{{step1_testo.val|raw}}</p>
        </div>
        <div class="wrapper_text">
          <p class="subtitle_section subtitle2 testo_nascosto">{{step2_sottotitolo.val}}</p>
          <p class="text_section text2 testo_nascosto">{{step2_testo.val|raw}}</p>
        </div>
        <div class="wrapper_text">
          <p class="subtitle_section subtitle3 testo_nascosto">{{step3_sottotitolo.val}}</p>
          <p class="text_section text3 testo_nascosto">{{step3_testo.val|raw}}</p>
        </div>
        <div class="wrapper_text">
          <p class="subtitle_section subtitle4 testo_nascosto">{{step4_sottotitolo.val}}</p>
          <p class="text_section text4 testo_nascosto">{{step4_testo.val|raw}}</p>
        </div>
        <div class="wrapper_text">
          <p class="subtitle_section subtitle5 testo_nascosto">{{step5_sottotitolo.val}}</p>
          <p class="text_section text5 testo_nascosto">{{step5_testo.val|raw}}</p>
        </div>
      </div>
      <div class="number_slider">
        {% for image in images %}
            {% if image.src %}
                <span class="number_slider{{ loop.index }}{% if loop.first %} selected{% endif %}" data-valore="{{ loop.index }}">{{ "%02d"|format(loop.index) }}</span>
            {% endif %}
        {% endfor %}
      </div>
      <div class="albero_wrapper">
        <div class="albero_wrapper">
            {% for image in images %}
                {% if image.src %}
                    <img class="img-responsive {% if not loop.first %} albero_nascosto{% endif %}" src="{{ image.src }}" id="albero{{ loop.index }}">
                {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
