.tree_animation_homepage{
  padding:100px 0 0 0;
  background-color: $color1g;
  position: relative;

  .title_section{
    font-size: 24px;
    color:$text1n;
    font-family: 'montserratsemibold';
    text-align: center;
  }
  .subtitle_section{
    font-size: 48px;
    color:white;
    margin-top:10px;
    font-family: 'montserratlight';
    text-align: center;
  }
  .wrapper_text{
    position: absolute;
    width: 70%;
    left:15%;
  }
  .text_section{
    font-size: 16px;
    color:$text14n;
    margin-top:40px;
    font-family: 'montserratlight';
    text-align: center;
  }
  .text_section{
    color:$text14n;
    margin-top: 20px;
  }
  .albero_wrapper{
    position: relative;
    margin-top: 50px;
    img{
      position: absolute;
      left:50%;
      bottom: 0;
      transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
  }
  .albero_nascosto{
    display: none;
  }

  .testo_nascosto{
    opacity:0;
    transition:700ms;
  }
  .text_fade_in{
    opacity: 1;
  }
  .number_slider{
    position: absolute;
    top: 50%;
    left: 20px;
    z-index:9;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    span{
      font-size: 27px;
      color:$text15n;
      transition:400ms;
      -moz-transition:400ms;
      -o-transition:400ms;
      -webkit-transition:400ms;
      cursor: pointer;
      font-family: 'montserratlight';
      display: block;
    }
    .number_slider1:hover,
    .number_slider1.selected{
      color:white;
    }
    .number_slider2:hover,
    .number_slider2.selected{
      color:#83c495;
    }
    .number_slider3:hover,
    .number_slider3.selected{
      color:#96c124;
    }
    .number_slider4:hover,
    .number_slider4.selected{
      color:#43ab37;
    }
    .number_slider5:hover,
    .number_slider5.selected{
      color:#1e6560;
    }
  }
}

@media screen and (max-width:991px){
  .tree_animation_homepage{
    .title_section{
      font-size: 25px;
      padding: 0px 5%;
    }
    .wrapper_text{
      width: 90%;
      left: 5%;
    }
    .text_section{
      font-size: 14px;
      padding: 0px 10%;
    }
    .subtitle_section{
      font-size: 30px;
      padding: 0px 10% 20px 10%;
      margin-top: 15px;
    }
    .albero_wrapper{
      margin-top: 20px;
    }
    .number_slider{
      position: static !important;
      top: auto !important;
      left: auto !important;
      transform: none !important;
      -moz-transform: none !important;
      -o-transform: none !important;
      -webkit-transform: none !important;
      text-align: center;
      padding: 20px 0;
      text-align: center;
      span{
        display: inline;
        padding: 0 5px;
      }
    }
  }
}

@media screen and (max-width:640px){
  .tree_animation_homepage{
    padding: 50px 0 0 0;
    .number_slider{
      padding-top:0;
      span{
        font-size: 20px;
      }
    }
    .title_section{
      font-size: 18px;
      padding: 0px 2% 0px 2%;
      line-height: 25px;
    }
    .text_section{
      font-size: 13px;
      padding: 0px 5% 0px 5%;
    }
    .subtitle_section{
      font-size: 16px;
      padding: 0px 5% 0px 5%;
    }
  }
}
