<div class="box-triplo-immagine-testi">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-img">
                {% if 0 in data.rows|keys %}
                    {% set row = attribute(data.rows, 0) %}
                    {% if row.slot1Image %}
                        <img src="{{ vich_uploader_asset(row, 'slot1ImageFile') }}" alt="{{ row.getSlot1ImageAlt }}" />
                    {% endif %}
                    {% if row.slot2 %}
                        {{ row.slot2|raw }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-icona">
                {% if 1 in data.rows|keys %}
                    {% set row = attribute(data.rows, 1) %}
                    <div class="box-testo">
                        {% if row.slot1Image %}
                            <img src="{{ vich_uploader_asset(row, 'slot1ImageFile') }}" alt="{{ row.getSlot1ImageAlt }}" />
                        {% endif %}
                        {% if row.slot2 %}
                            {{ row.slot2|raw }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-text">
                {% if 2 in data.rows|keys %}
                    {% set row = attribute(data.rows, 2) %}
                    <div class="box-testo">
                        <p>
                            {% if row.slot1 %}
                                {{ row.slot1|raw }}
                            {% endif %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
