.box-triplo-immagine-testi{
    .col-lg-4{
        padding:0;
    }
    .col-img{
        position:relative;
        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        p{
            position:absolute;
            bottom:20px;
            left:20px;
            font-size:$text8;
            font-weight:$semi-bold;
            color:$color5;
        }
    }
    .col-icona{
        background:linear-gradient($color1, $color2);
        position:relative;
        .box-testo{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            -webkit-transform:translate(-50%, -50%);
            -moz-transform:translate(-50%, -50%);
            -o-transform:translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%);
            text-align:center;
            img{
                margin-bottom:30px;
            }
            h3{
                font-size:$text12;
                color:$color5;
                font-weight:$bold;
                margin-bottom:0;
            }
            strong{
                font-size:$text7;
                color:$color5;
                font-weight:$bold;
            }
            p{
                font-size:$text5;
                font-weight:$light;
                color:$color5;
                padding:20px 0;
            }
        }
    }
    .col-text{
        background-color:$color6;
        .box-testo{
            padding:20%;
            p{
                font-size:$text2;
                color:$color3;
                font-weight:$light;
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .box-triplo-immagine-testi{
        .col-img{
            p{
                font-size:font-percentage($text8, 0.9);
            }
        }
        .col-icona{
            .box-testo{
                img{
                    margin-bottom:20px;
                }
                h3{
                    font-size:font-percentage($text12, 0.8);
                }
                strong{
                    font-size:font-percentage($text7, 0.9);
                }
                .bottom-text{
                    font-size:font-percentage($text5, 0.9);
                    padding:15px 0;
                }
            }
        }
        .col-text{
            .box-testo{
                padding:15%;
                p{
                    font-size:font-percentage($text2, 0.95);
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    .box-triplo-immagine-testi{
        .col-img{
            p{
                font-size:font-percentage($text8, 0.8);
            }
        }
        .col-icona{
            .box-testo{
                img{
                    margin-bottom:20px;
                }
                h3{
                    font-size:font-percentage($text12, 0.6);
                }
                strong{
                    font-size:font-percentage($text7, 0.8);
                }
                .bottom-text{
                    font-size:font-percentage($text5, 0.8);
                    padding:15px 0;
                }
            }
        }
        .col-text{
            .box-testo{
                padding:10%;
                p{
                    font-size:font-percentage($text2, 0.85);
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .box-triplo-immagine-testi{
        .col-img{
            height:300px !important;
            p{
                font-size:font-percentage($text8, 0.7);
            }
        }
        .col-icona{
            height:300px !important;
            .box-testo{
                img{
                    margin-bottom:20px;
                }
                h3{
                    font-size:font-percentage($text12, 0.5);
                }
                strong{
                    font-size:font-percentage($text7, 0.7);
                }
                .bottom-text{
                    font-size:font-percentage($text5, 0.7);
                    padding:15px 0;
                }
            }
        }
    }
}