.sezione.box-doppio-icone-invertito {
  padding: 100px 0;
  .col-img-responsive {
    position: relative;
    height: 600px;
    text-align: center;
    padding:0;
    img {
      max-width: 100%;
      width: auto;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }
  }

  .col-text {
    background-color: $color5m;
    display: table;
    height: 600px;
    .box-testo {
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      padding: 0 15%;
      .row {
        margin-top: 20px;
        p {
          display: inline-block;
          margin: 0;
          color: $text3;
          font-size: 16px;
          font-family: 'montserratlight';
          line-height: 28px;
        }
        .box-icone {
          display: inline-block;
          float: right;
          .fa {
            display: inline-block;
            margin: 0 3px;
          }
        }
      }
      h3 {
        color: $text2;
        margin-bottom: 30px;
        font-size: 48px;
        font-family: 'montserratextralight';
        strong {
          font-family: 'montserratregular';
        }
      }
      p {
        color: $text3;
        font-size: 16px;
        font-family: 'montserratlight';
        line-height: 28px;
        strong {
          font-family: 'montserratregular';
        }
      }
      span {
        color: $text1;
        font-size: 24px;
        font-family: 'montserratsemibold';
      }
    }
  }
}

@media screen and (max-width:1199px) {
  .sezione.box-doppio-icone-invertito .col-text .box-testo {
    padding: 0 10%;
    h3 {
      font-size: 35px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione.box-doppio-icone-invertito .col-text .box-testo {
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 13px;
    }
  }
}

@media screen and (max-width:767px) {
  .sezione.box-doppio-icone-invertito {
    padding: 20px 0;
  }
  .sezione.box-doppio-icone-invertito .col-xs-12 {
    height: 300px;
  }
  .sezione.box-doppio-icone-invertito .col-text .box-testo {
    padding: 20px 5%;
    text-align: center;
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 13px;
      line-height:20px;
    }
  }
}
