<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" href="/images/icone/favicon.ico" />
    <title>Errore 404 - Pagina non trovata</title>
    <meta name="description" content="Pagina di servizio 404">

    <link rel="stylesheet" href="/public/lib/travel/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/webtek/404.min.css" />

</head>

<body>

<ul id="scene">
    <li class="layer" data-depth="0.40"><img class="nuvola nuvola1" src="/images/error/nuvola1.png"></li>
    <li class="layer" data-depth="0.40"><img class="nuvola nuvola2" src="/images/error/nuvola2.png"></li>
    <li class="layer" data-depth="0.40"><img class="nuvola nuvola3" src="/images/error/nuvola3.png"></li>
    <li class="layer" data-depth="0.40"><img class="nuvola nuvola4" src="/images/error/nuvola4.png"></li>
</ul>

<div class="container-fluid">
    <div class="row">
        <img class="logo" src="/images/error/Logo_Webtek.png" alt="logo webtek poggiridenti" />
    </div>
</div>

<div class="main-wrapper">
    <div class="container">
        <div class="row">
            <h1>Ooops!</h1>
            <p>
                La pagina richiesta non è stata trovata
            </p>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{{ to_route('home') }}"><h4>VAI ALLA HOME</h4></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="/contattaci"><h4>CONTATTI</h4></a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <a href="/assistenza"><h4>ASSISTENZA</h4></a>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-lg-12">
                <div class="box-social">
                    <a target="_blank" href="https://www.facebook.com/webtek.it/?fref=ts"><img src="/images/error/facebook.png" /></a>
                    <a target="_blank" href="https://twitter.com/webtek_it"><img src="/images/error/twitter.png" /></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UCJrs0BUQu9-pLDMGoxuhzDQ"><img src="/images/error/youtube.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tree-wrapper">
    <img src="/images/error/tree.png" alt="" />
</div>

</body>

<script src="/public/lib/jquery/dist/jquery.min.js"></script>
<script src="/public/lib/parallax-js/deploy/parallax.js"></script>
<script>
  var scene = document.getElementById('scene');
  var parallax = new Parallax(scene);
</script>


</html>