.box-wrap-webtek {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 515px;
  .box {
    position: absolute;
    padding: 40px;
    bottom: 0;
    right: 50px;
    height: 100%;
    background-color: rgba($color5, .8);
    transition-duration: 1s;
    display: table;
    .wrapper_text {
      display: table-cell;
      vertical-align: bottom;
      padding-bottom: 50px;
      .titolo {
    	  font-size: $text6;
        color: $color1;
        font-weight: $bold;
      }
      .testo {
    	  color: $color4;
    	  font-weight: $regular;
    	  margin-bottom: 30px;
        font-size: $text2;
        a {
          color: $color1;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .btn-default {
        border: none;
        border-radius: 0;
        background-color: $color1;
        color: $color5;
        font-size: $text3;
        font-weight: $regular;
        padding: 10px 15px;
        &:focus, &:hover {
          background-color: darken($color1, 10%);
        }
      }
    }
    &.trasla {
  	   transform: translateX(0);
       -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
       -ms-transform: translateX(0);
       -o-transform: translateX(0);
  	   transition-duration: 1s;
    }
  }
}


@media screen and (max-width:1000px) {
  .box-wrap-webtek {
    .box {
      padding: 20px;
    	padding-bottom: 50px;
    	padding-left: 60px;
      .wrapper_text {
        .titolo {
      	  font-size: font-percentage($text6, .9);
          text-align: center;
        }
        .testo {
      	  margin-bottom: 30px;
          font-size: font-percentage($text4, .7);
        }
      }
    }
  }
}

@media screen and (max-width:800px) {
  .box-wrap-webtek {
    position: relative;
    width: 100%;
    height: auto;
    .box {
      position: relative;
      width: 100%;
    	height: auto;
      padding: 20px;
    	padding-left: 60px;
      .wrapper_text {
        padding: 0;
        .titolo {
          font-size: font-percentage($text6, .8);
          text-align: center;
        }
        .testo {
          margin-bottom: 30px;
          font-size: font-percentage($text4, .6);
        }
      }
    }
  }
}


@media screen and (max-width:640px) {

  .box-wrap-webtek {
    width: 100%;
    bottom: 0;
    left: 0;
    height: auto;
    .box {
      width: 100%;
      bottom: 0;
      left: 0;
      height: auto;
      padding: 20px;
      padding-bottom: 150px;
      padding-left: 60px;
      .wrapper_text {
        .titolo {
          font-size: font-percentage($text6, .7);
          text-align: center;
        }
        .testo {
          margin-bottom: 30px;
          font-size: font-percentage($text4, .5);
        }
      }
    }
  }
}
