<section class="slider_clienti_homepage">
  <div class="container-fluid">
    <div class="row align-center">
      <p class="title_section">{{titolo.val}}</p>
      <div class="clienti_feedback">
        {% for  slide in data %}
            <div>
                <img class="img_cliente img-responsive" src="{{ slide.image.src }}" alt="{{ slide.image.alt|default("") }}" />
                <p class=" subtitle_dicono">
                    <span>"</span>{{ slide.testo|raw }}<span>"</span></p>
                <p class="firma_section">{{ slide.titolo }}</p>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
