.only_title_text{
  padding:130px 0;
  font-family:$font;
  background-color:$color1;
  .align-center{
    text-align: center;
  }
  a{
    color:$color2;
  }


  .title_section{
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight:$medium;
    color:$color2;
    strong{
      font-size: 65px;
      font-weight: $medium;
    }
  }
  .text_section{
    font-size:18px;
    color:$color5;
    margin:0px 25px;
    font-weight: $medium;
    line-height: 30px;
    strong{
      color:$color2;
    }
  }
  .testo2{
    margin-top:40px !important;
  }
}

@media screen and (max-width:991px){
  .only_title_text{
    .text_section {
      font-size: 14px;
      margin: 0px 20px;
      line-height: 23px;
    }
    .title_section {
      font-size: 30px;
      strong{
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width:640px){
  .only_title_text{
    padding: 50px 0;
    .text_section {
      font-size: 13px;
      margin: 0px 0;
      line-height: 21px;
    }
    .title_section {
      font-size: 25px;
      strong{
        font-size: 45px;
      }
    }
  }
}
