.related{
    margin-bottom:30px;
    h3{
        text-transform:uppercase;
    }
    .img-grande{
        width:100%;
    }
    p span{
        color:$color1;
    }
}

@media screen and (max-width:450px) {
    .sezione.main-blog .left-blog .col-lg-8 .related .col-lg-4{
        width:100%;
    }
}

@media screen and (max-width:767px) {
    .sezione.main-blog .left-blog .col-lg-8 .related .col-lg-4{
        h3{
            font-size:16px;
            margin-top:5px;
        }
        p{
            font-size:10px;
        }
    }
}
