<div class="related">
    {% if titolo.val|default("") %}<h3>{{ titolo.val }}</h3>{% endif %}
    <div class="container-fluid">
        <div class="row">
            {% if data.News|default("") %}
                {% set correlate = blogService.getCorrelate(data.News, app.request.locale, quante.val) %}
                {% if correlate %}
                    {% for News in correlate %}
                        {% if News.ListImgFileName %}
                            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                            {% set imgAlt = News.ListImgFileName %}
                        {% else %}
                            {% set img = "/images/defaults/placeholder.png" %}
                            {% set imgAlt = News.translate(app.request.locale).titolo %}
                        {% endif %}

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="thumbanail">
                                <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                    <img class="img-grande" src="{{ asset(img) | imagine_filter('news6') }}" alt="{{ News.listImgAlt }}" />
                                </a>
                                <h3>
                                    <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">{{ News.translate(app.request.locale).titolo }}</a>
                                </h3>
                                <p>Cat.:
                                    <a rel="nofollow" href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug}) }}">{{ blogService.getCategory(News, app.request.locale).titolo }} </a> -
                                    <span>{{ blogService.getDate(News) }}</span></p>
                                <p>{{ blogService.getTextPreview(News,300, app.request.locale) }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>