.sezione.box-doppio-video-invertito {
  .modal-video {
    .modal-content {
      border-radius: 0;
      padding: 10px;
      background-color: $color3m;
      iframe {
        margin-bottom: -5px;
      }
    }
  }
  padding: 0;
  .col-video {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .content, .content-mobile {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      .arrow {
        width: auto;
        height: auto;
        object-fit: contain;
      }
      span {
        display: block;
        margin-top: 5px;
        color: $text4m;
      }
    }
    .overlay-box-video {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color3m, .7);
    }
  }
  .col-text, .col-video {
    padding:0;
    height: 750px;
  }
  .col-text {
    background-color: $color5m;
    display: table;
    .box-testo {
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      padding: 0 15%;
      h3 {
        color: $text2;
        margin-bottom: 30px;
        font-size: 48px;
        font-family: 'montserratextralight';
        strong {
          font-family: 'montserratregular';
        }
      }
      p {
        color: $text3;
        font-size: 16px;
        font-family: 'montserratlight';
        line-height: 28px;
        strong {
          font-family: 'montserratregular';
        }
      }
      span {
        color: $text1;
        font-size: 24px;
        font-family: 'montserratsemibold';
      }
    }
  }
}

@media screen and (max-width:1199px) {
  .sezione.box-doppio-video-invertito .col-text .box-testo {
    padding: 0 10%;
    h3 {
      font-size: 35px;
    }
    p {
      font-size: 14px;
    }
    span {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione.box-doppio-video-invertito .col-text .box-testo {
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 13px;
    }
    span {
      font-size: 12px;
    }
  }
}

@media screen and (max-width:767px) {
  .sezione.box-doppio-video-invertito .col-xs-12 {
    height: 400px;
  }
  .sezione.box-doppio-video-invertito .col-video {
    a {
      display: inline;
    }
    .content {
      display: none;
    }
  }
  .sezione.box-doppio-video-invertito .col-text .box-testo {
    padding: 20px 5%;
    text-align: center;
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 11px;
    }
  }
}
