<div class="sezione box-doppio-video-invertito">
  <div id="{{ instance }}" class="modal fade modal-video" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <iframe width="100%" height="450" src="https://www.youtube.com/embed/{{ url_yt.val }}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-6 col-md-push-6 col-lg-6 col-lg-push-6 col-img col-video" data-aos="fade-right" data-aos-duration="800">
        <div class="overlay-box-video"></div>
        <img src="{{ immagine.src }}" alt="{{ immagine.alt }}" />
        <a href="https://www.youtube.com/embed/{{ url_yt.val}}?rel=0">
          <div class="content-mobile">
            <img class="arrow" src="{{ freccia.src }}" />
            <span>guarda il video</span>
          </div>
        </a>
        <div class="content" data-toggle="modal" data-target="#{{ instance }}">
          <img class="arrow" src="{{ asset('samples/web/arrow.png') }}" />
          <span>guarda il video</span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6 col-lg-6 col-lg-pull-6 col-text" data-aos="fade-left" data-aos-duration="800" style="background-color:{{ bg_color.val }}">
        <div class="box-testo">
          <span style="color:{{ titoletto_color.val }}">
            {{ titoletto.val }}
          </span>
          <h3 style="color:{{ titolo_color.val }}">{{ titolo.val|raw }}</h3>
          <p style="color:{{ testo_color.val }}">
            {{ testo.val|raw }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
