form#servizio{
    position:relative;
}

form#servizio ul{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    max-height:200px;
    overflow:auto;
    z-index:1;
    border:1px solid #DDDDDD;
    border-radius:6px;
}

span.ui-helper-hidden-accessible{
    display:none !important;
}

.ui-state-focus{
    color:#ffffff;
    background-color:#428bca;
}

.btn-remove-service{
    margin-bottom:0.2em;
}