.nostro_team {
  overflow: hidden;
  padding: 100px 0;
  .title_section{
    font-size: 24px;
    color:$text1n;
    font-family: 'montserratsemibold';
    text-align: center;
    margin: 0px 10px 25px 0px;
  }
  .subtitle_section{
    font-size: 48px;
    color:$text2;
    margin:30px 30px 70px 30px;
    font-family: 'montserratlight';
    text-align: center;
  }
  .slick-slide:focus{
    @include no-outline();
  }
  .slick-track{
    margin-bottom: 20px;
  }
  .slick-dots li button:before {
    font-size: 18px!important;
    content: ''!important;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #363839;
    opacity: .55;
  }

  .slick-dots li.slick-active button:before {
    background-color: white;
    border: 3px solid #baca42;
    width: 15px;
    height: 15px;
    margin-top: -1.5px;
  }

  .slick-prev:before, .slick-next:before {
    color: $text2g;
  }
  .col_team{
    padding:0;
    position: relative;
    &:before {
    content: "";
    padding-top: 100%;
    display: block;
    }
  }
  .cardCont {
    float: left;
    margin-right: 10px;
    //position: relative;
    width:100% !important;

    //FORSE DA ELIMINARE PER ATTIVARE FLIP
    height: 100%;
    position: absolute;
    top:0;
  }
  .cardFront{
    height: 100%;
    border: 1px solid rgba(197, 197, 197, 0.65);

    transition: 200ms;
    -moz-transition: 200ms;
    -o-transition: 200ms;
    -webkit-transition: 200ms;
    cursor: pointer;
    &:hover{
      background-color: #f5f5f5;
    }
  }
  .cardBack,
  .cardFront {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    width:100% !important;
    background-color: white;
  }
  .cardBack {
    width:100% !important;
    img{
      width:100%;
    }
  }
  .nome_team{
    font-family: 'montserratsemibold';
    text-align: center;
    font-size: 40px;
    padding: 0 20px;
    &:after{
      content: "";
      display: block;
      margin: 10px auto;
      width: 60px;
      height: 5px;
      background: $color4g;
    }
  }
  .ruolo_team{
    font-family: 'montserratsemibold';
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    padding: 0 20px;
    color:$text1n;
  }
  .wrapper_card{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

@media screen and (max-width:1600px) {
  .nostro_team{
    .nome_team{
      font-size: 35px;
    }
    .ruolo_team{
      font-size: 16px;
    }
  }
}

@media screen and (max-width:1300px) {
  .nostro_team{
    .nome_team{
      font-size: 24px;
    }
    .ruolo_team{
      font-size: 14px;
    }
  }
}

@media screen and (max-width:1100px) {
  .nostro_team{
    .nome_team{
      font-size: 21px;
    }
    .ruolo_team{
      font-size: 13px;
    }
    .subtitle_section{
      font-size: 34px;
    }
  }
}

@media screen and (max-width:767px) {
  .nostro_team{
    padding:50px 0;
    .row_team{
      margin-right: 20px;
      margin-left: 20px;
    }
    // .cardBack,
    // .cardFront {
    //   position: static;
    //   backface-visibility: initial;
    //   -webkit-backface-visibility: initial;
    //   -moz-backface-visibility: initial;
    //   -ms-backface-visibility: initial;
    //   height: auto !important;
    //   transform: none !important;
    //   -moz-transform: none !important;
    //   -o-transform: none !important;
    //   -webkit-transform: none !important;
    // }
    // .cardCont{
    //   height: auto !important;
    //   padding: 0 10px;
    // }
    .col_team{
      width:100%;
    }
    // .wrapper_card{
    //   position: static;
    //   top: auto !important;
    //   transform: none !important;
    //   -moz-transform: none !important;
    //   -o-transform: none !important;
    //   -webkit-transform: none !important;
    // }
    .nome_team{
      font-size: 21px;
      padding: 10px;
      margin:0;
    }
    .ruolo_team{
      padding: 10px;
      margin:0;
      font-size: 15px;
    }
  }
}

@media screen and (max-width:640px) {
  .nostro_team{
    .title_section {
      font-size: 20px;
    }
    .subtitle_section{
      font-size: 20px;
    }
    // .nome_team{
    //   font-size: 18px;
    // }
    // .ruolo_team{
    //   font-size: 12px;
    // }
  }
}
