<section class="nostro_team">
  <div class="container-fluid">
    <h3 class="title_section">{{titolo.val|raw }}</h3>
    <p class="subtitle_section">{{sottotitolo.val|raw }}</p>
    <div class="row align-center row_team">
      {% for dipendenti in data %}
      <div class="col-md-3 col-sm-4 col-xs-6 col_team">
            <div class="cardCont card_team">
              <div class="cardBack card_team">
              {#  <img src="{{ dipendenti.image.src }}" alt="{{ dipendenti.image.alt|default("") }}"> #}
              </div>
              <div class="cardFront card_team">
                <div class="wrapper_card">
                  <p class="nome_team">{{ dipendenti.titolo|raw }}</p>
                  <p class="ruolo_team">{{ dipendenti.sottotitolo|raw }}</p>
                </div>
              </div>
            </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
