.animation_numbers_homepage{
  padding-top:100px;
  text-align: center;
  .pd0{
    padding: 0;
  }
  .color1{
    color:#83c495;
  }
  .color2{
    color:#96c124;
  }
  .color3{
    color:#43ab37;
  }
  .color4{
    color:#1e6560;
  }
  .subtitle_section{
    margin-bottom: 50px;
  }
  .title_section{
    font-size: 18px;
    color:$text1n;
    font-family: 'montserratsemibold';
  }
  .subtitle_section{
    font-size: 48px;
    color:$text2n;
    margin-bottom:50px;
    font-family: 'montserratlight';
  }

  .title_numeri{
    font-size: 48px;
    font-family: 'montserratregular';
    padding-top: 10px;
    margin:0;
  }
  .subtitle_numeri{
    font-size:18px;
    color:$text1n;
    font-family: 'montserratlight';
    margin-bottom: 0;
  }
  .row_numbers50{
    width: 50%;
    float: left;
    margin:0;
  }
  .wrapper_numeri{
    &:before{
      content: "";
      display: block;
      padding-top: 100%;
    }
    .wrapper_text{
      position: absolute;
      top:50%;
      left:0;
      width:100%;
      transform:translateY(-50%);
      -moz-transform:translateY(-50%);
      -o-transform:translateY(-50%);
      -webkit-transform:translateY(-50%);
    }
  }
  .dipendenti_img,
  .coffee_img,
  .progetti_img,
  .clienti_img{
    @include background-cover();
  }
}

@media screen and (max-width:1300px){
  .animation_numbers_homepage{
    .title_numeri {
      font-size: 30px;
    }
  }
}

@media screen and (max-width:991px){
  .animation_numbers_homepage{
    padding-top:50px;
    .title_section{
      font-size: 25px;
      padding: 0 5%;
    }
    .subtitle_section{
      font-size: 25px;
      padding: 0px 10% 20px 10%;
    }
    .title_numeri {
      font-size: 35px;
      padding-top: 10px;
    }
    .row_numbers50{
      width: 100%;
    }
  }
}

@media screen and (max-width:768px){
  .animation_numbers_homepage{
    .title_numeri {
      font-size: 30px;
    }
  }
}

@media screen and (max-width:640px){
  .animation_numbers_homepage{
    .title_section{
      font-size: 16px;
      padding: 0 2%;
      line-height: 25px;
    }
    .subtitle_section{
      font-size: 15px;
      padding: 0px 2% 5px 2%;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width:500px){
  .animation_numbers_homepage{
    padding-bottom: 50px;
    .subtitle_section{
      margin-bottom: 0px;
    }
    .wrapper_blocchi{
      width:100%;
    }
    .dipendenti_img,
    .progetti_img,
    .clienti_img,
    .coffee_img{
      display: none !important;
    }
    .numeri_progetti,
    .numeri_dipendenti,
    .numeri_clienti,
    .numeri_coffee{
      height: 200px !important;
    }

  }
}
