<section class="animation_numbers_homepage">
  <div class="container-fluid" id="numeri">
    <div class="row align-center">
      <p class="title_section">{{titolo.val}}</p>
      <p class="subtitle_section">{{sottotitolo.val}}</p>
    </div>
    <div class="row align-center">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_dipendenti">
        <div class="wrapper_text">
          <img class="img_numeri" src="{{ iconas1.src }}" alt="{{ iconas1.alt|default("") }}">
          <p class="title_numeri color1" data-valore="{{ qty1.val }}">0</p>
          <p class="subtitle_numeri">{{ titolos1.val }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 dipendenti_img wrapper_blocchi" style="background-image:url({{ bg1.src }})">
      </div>
      <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-6 col-xs-6 progetti_img wrapper_blocchi" style="background-image:url({{ bg2.src }})">
      </div>
      <div class="col-lg-3 col-lg-pull-3 col-md-3 col-md-pull-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_progetti">
        <div class="wrapper_text">
          <img class="img_numeri" src="{{ iconas2.src }}" alt="{{ iconas2.alt|default("") }}">
          <p class="title_numeri color2" data-valore="{{ qty2.val }}">0</p>
          <p class="subtitle_numeri">{{ titolos2.val }}</p>
        </div>
      </div>
    </div>
    <div class="row align-center">
      <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_clienti">
        <div class="wrapper_text">
          <img class="img_numeri" src="{{ iconas3.src }}" alt="{{ iconas3.alt|default("") }}">
          <p class="title_numeri color3" data-valore="{{ qty3.val }}">0</p>
          <p class="subtitle_numeri">{{ titolos3.val }}</p>
        </div>
      </div>
      <div class="col-lg-3 col-lg-pull-3 col-md-3 col-md-pull-3 col-sm-6 col-xs-6 clienti_img wrapper_blocchi" style="background-image:url({{ bg3.src }})">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 coffee_img wrapper_blocchi" style="background-image:url({{ bg4.src }})">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_coffee">
        <div class="wrapper_text">
          <img class="img_numeri" src="{{ iconas4.src }}" alt="{{ iconas4.alt|default("") }}">
          <p class="title_numeri color4"  data-valore="{{ qty4.val }}">0</p>
          <p class="subtitle_numeri">{{titolos4.val}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
