{% extends "admin/pages/formLayout.html.twig" %}

{% block title %} {% trans %} pages.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} pages.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}



