<div class="sezione box-doppio">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 col-img">
            {% if immagine.src %}
                <img src="{{ immagine.src }}"{% if immagine.alt is defined %} alt="{{ immagine.alt }}"{% endif %} data-aos="fade-right" data-aos-duration="1500" />{% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
            <div class="box-testo" data-aos="zoom-in" data-aos-duration="1500">
                {% if icona.src %}
                    <img src="{{ icona.src }}"{% if icona.alt is defined %} alt="{{ icona.alt }}"{% endif %} data-aos="fade-right" data-aos-duration="1500" />{% endif %}
                {% if titolo.val %}<h2>{{ titolo.val }}</h2>{% endif %}
                {% if testo.val %}
                    <p>
                        {{ testo.val | raw }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
