<div class="categories">
    <h5>{{ titolo.val | upper }}</h5>
    <hr />
    <ul class="side-list">
        {% for menu in data.categories %}
            <li><a href="{{ menu.url }}">{{ menu.label }}</a></li>
        {% endfor %}
    </ul>
</div>