.sezione.blog-bottom{
    .blog-bottom-right{
        .categories{
            .side-list{
                list-style-type:none;
                padding-left:0;
                margin-bottom:30px;
                li{
                    border-bottom:1px solid $text1;
                    padding:10px 0;
                    color:$text1;
                }
            }
        }
    }
}