{{ loadWidgets('CONTENT', 'content') }}
<section class="breadCrumb">
    <div class="container-fluid">
        {{ loadWidgets('CONTENT', 'BreadCrumb') }}
    </div>
</section>
<div class="sezione main-blog">
    <div class="open-sidebar">
      <span>
        {% trans %}blog.labels.cat_archivio{% endtrans %} >
      </span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <div class="left-blog">
                    {{ loadWidgets('CONTENT', 'left') }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 right-blog-wrapper">
                <div class="close-sidebar">
                  <span>
                    < {% trans %}blog.labels.chiudi{% endtrans %}
                  </span>
                </div>
                <div class="right-blog">
                    {{ loadWidgets('CONTENT', 'right') }}
                </div>
            </div>
        </div>
    </div>
</div>
