<section class="breadCrumb">
    <div class="container-fluid container-limitato">
        {{ loadWidgets('CONTENT', 'contentBeforePadded') }}
    </div>
</section>
<div class="container-fluid container-limitato" style="margin-top:40px">
    {{ loadWidgets('CONTENT', 'contentBeforePaddedAfterBreadCrumbs') }}
</div>
{{ loadWidgets('CONTENT', 'content') }}
