<section class="breadCrumb">
    <div class="container-fluid container-limitato">
        {{ loadWidgets('CONTENT', 'contentBeforePadded') }}
    </div>
</section>
{{ loadWidgets('CONTENT', 'content') }}