<section class="breadCrumb">
    <div class="container-fluid container-limitato">
        {{ loadWidgets('CONTENT', 'contentBeforePadded') }}
    </div>
</section>
<section class="container-fluid container-limitato">
    {{ loadWidgets('CONTENT', 'content') }}
</section>
