{{ loadWidgets('CONTENT', 'contentBefore') }}

<section class="breadCrumb">
    <div class="container-fluid container-limitato">
        {{ loadWidgets('CONTENT', 'BreadCrumb') }}
    </div>
</section>
<div class="container-fluid container-limitato container-margin">
    <div class="row">
        <div class="col-sm-3 col-sm-3-modificata">
            {{ loadWidgets('CONTENT', 'colonnaSinistra') }}
        </div>
        <div class="col-sm-9 col-sm-9-modificata">
            {{ loadWidgets('CONTENT', 'colonnaDestra') }}
        </div>
    </div>
</div>

{{ loadWidgets('CONTENT', 'contentAfter') }}