<section class="squares-services">
    <div class="container-fluid">
        <div class="row">
            {% if data.error %}
                {{ data.error }}
            {% else %}

                {% for servizio in data.slides %}
                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                        <a href="{{ servizio.url }}" rel="nofollow">
                            <div class="thumbnail">
                                <img class="img-object-fit" src="{{ servizio.image.src }}" alt="{{ servizio.image.alt }}" />
                                <div class="overlay"></div>
                                <div class="text">
                                    <a href="{{ servizio.url }}">
                                        <h3>
                                            {{ servizio.titolo }}
                                        </h3>
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
