<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>ZURBemails</title>
    <style>
        /* -------------------------------------
                GLOBAL
        ------------------------------------- */
        *{
            margin:0;
            padding:0;
        }

        *{ font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; }

        img{
            max-width:100%;
        }

        .collapse{
            margin:0;
            padding:0;
        }

        body{
            -webkit-font-smoothing:antialiased;
            -webkit-text-size-adjust:none;
            width:100% !important;
            height:100%;
        }

        /* -------------------------------------
                ELEMENTS
        ------------------------------------- */
        a{ color:#2BA6CB; }

        .btn{
            text-decoration:none;
            color:#FFF;
            background-color:#666;
            padding:10px 16px;
            font-weight:bold;
            margin-right:10px;
            text-align:center;
            cursor:pointer;
            display:inline-block;
        }

        p.callout{
            padding:15px;
            background-color:#ECF8FF;
            margin-bottom:15px;
        }

        .callout a{
            font-weight:bold;
            color:#2BA6CB;
        }

        table.social{
            /* 	padding:15px; */
            background-color:#ebebeb;
        }

        .social .soc-btn{
            padding:3px 7px;
            font-size:12px;
            margin-bottom:10px;
            text-decoration:none;
            color:#FFF; font-weight:bold;
            display:block;
            text-align:center;
        }

        a.fb{ background-color:#3B5998 !important; }

        a.tw{ background-color:#1daced !important; }

        a.gp{ background-color:#DB4A39 !important; }

        a.ms{ background-color:#000 !important; }

        .sidebar .soc-btn{
            display:block;
            width:100%;
        }

        /* -------------------------------------
                HEADER
        ------------------------------------- */
        table.head-wrap{ width:100%; }

        .header.container table td.logo{ padding:15px; }

        .header.container table td.label{ padding:15px; padding-left:0px; }

        /* -------------------------------------
                BODY
        ------------------------------------- */
        table.body-wrap{ width:100%; }

        /* -------------------------------------
                FOOTER
        ------------------------------------- */
        table.footer-wrap{ width:100%; clear:both !important;
        }

        .footer-wrap .container td.content p{ border-top:1px solid rgb(215, 215, 215); padding-top:15px; }

        .footer-wrap .container td.content p{
            font-size:10px;
            font-weight:bold;
        }

        /* -------------------------------------
                TYPOGRAPHY
        ------------------------------------- */
        h1, h2, h3, h4, h5, h6{
            font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; line-height:1.1; margin-bottom:15px; color:#000;
        }

        h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{ font-size:60%; color:#6f6f6f; line-height:0; text-transform:none; }

        h1{ font-weight:200; font-size:44px; }

        h2{ font-weight:200; font-size:37px; }

        h3{ font-weight:500; font-size:27px; }

        h4{ font-weight:500; font-size:23px; }

        h5{ font-weight:900; font-size:17px; }

        h6{ font-weight:900; font-size:14px; text-transform:uppercase; color:#444; }

        .collapse{ margin:0 !important; }

        p, ul{
            margin-bottom:10px;
            font-weight:normal;
            font-size:14px;
            line-height:1.6;
        }

        p.lead{ font-size:17px; }

        p.last{ margin-bottom:0px; }

        ul li{
            margin-left:5px;
            list-style-position:inside;
        }

        /* -------------------------------------
                SIDEBAR
        ------------------------------------- */
        ul.sidebar{
            background:#ebebeb;
            display:block;
            list-style-type:none;
        }

        ul.sidebar li{ display:block; margin:0; }

        ul.sidebar li a{
            text-decoration:none;
            color:#666;
            padding:10px 16px;
            /* 	font-weight:bold; */
            margin-right:10px;
            /* 	text-align:center; */
            cursor:pointer;
            border-bottom:1px solid #777777;
            border-top:1px solid #FFFFFF;
            display:block;
            margin:0;
        }

        ul.sidebar li a.last{ border-bottom-width:0px; }

        ul.sidebar li a h1, ul.sidebar li a h2, ul.sidebar li a h3, ul.sidebar li a h4, ul.sidebar li a h5, ul.sidebar li a h6, ul.sidebar li a p{ margin-bottom:0 !important; }

        /* ---------------------------------------------------
                RESPONSIVENESS
                Nuke it from orbit. It's the only way to be sure.
        ------------------------------------------------------ */

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container{
            display:block !important;
            max-width:600px !important;
            margin:0 auto !important; /* makes it centered */
            clear:both !important;
        }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content{
            padding:15px;
            max-width:600px;
            margin:0 auto;
            display:block;
        }

        /* Let's make sure tables in the content area are 100% wide */
        .content table{ width:100%; }

        /* Odds and ends */
        .column{
            width:300px;
            float:left;
        }

        .column tr td{ padding:15px; }

        .column-wrap{
            padding:0 !important;
            margin:0 auto;
            max-width:600px !important;
        }

        .column table{ width:100%; }

        .social .column{
            width:280px;
            min-width:279px;
            float:left;
        }

        table{
            background-color:transparent; }

        caption{
            padding-top:8px;
            padding-bottom:8px;
            color:#777777;
            text-align:left; }

        th{
            text-align:left; }

        .table{
            width:100%;
            max-width:100%;
            margin-bottom:20px; }

        .table > thead > tr > th,
        .table > thead > tr > td,
        .table > tbody > tr > th,
        .table > tbody > tr > td,
        .table > tfoot > tr > th,
        .table > tfoot > tr > td{
            padding:8px;
            line-height:1.42857;
            vertical-align:top;
            border-top:1px solid #ddd; }

        .table > thead > tr > th{
            vertical-align:bottom;
            border-bottom:2px solid #ddd; }

        .table > caption + thead > tr:first-child > th,
        .table > caption + thead > tr:first-child > td,
        .table > colgroup + thead > tr:first-child > th,
        .table > colgroup + thead > tr:first-child > td,
        .table > thead:first-child > tr:first-child > th,
        .table > thead:first-child > tr:first-child > td{
            border-top:0; }

        .table > tbody + tbody{
            border-top:2px solid #ddd; }

        .table .table{
            background-color:#fff; }

        .table-condensed > thead > tr > th,
        .table-condensed > thead > tr > td,
        .table-condensed > tbody > tr > th,
        .table-condensed > tbody > tr > td,
        .table-condensed > tfoot > tr > th,
        .table-condensed > tfoot > tr > td{
            padding:5px; }

        .table-bordered{
            border:1px solid #ddd; }

        .table-bordered > thead > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > th,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > th,
        .table-bordered > tfoot > tr > td{
            border:1px solid #ddd; }

        .table-bordered > thead > tr > th,
        .table-bordered > thead > tr > td{
            border-bottom-width:2px; }

        .table-striped > tbody > tr:nth-of-type(odd){
            background-color:#f9f9f9; }

        .table-hover > tbody > tr:hover{
            background-color:#f5f5f5; }

        table col[class*="col-"]{
            position:static;
            float:none;
            display:table-column; }

        table td[class*="col-"],
        table th[class*="col-"]{
            position:static;
            float:none;
            display:table-cell; }

        .table > thead > tr > td.active,
        .table > thead > tr > th.active, .table > thead > tr.active > td, .table > thead > tr.active > th,
        .table > tbody > tr > td.active,
        .table > tbody > tr > th.active,
        .table > tbody > tr.active > td,
        .table > tbody > tr.active > th,
        .table > tfoot > tr > td.active,
        .table > tfoot > tr > th.active,
        .table > tfoot > tr.active > td,
        .table > tfoot > tr.active > th{
            background-color:#f5f5f5; }

        .table-hover > tbody > tr > td.active:hover,
        .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr:hover > .active, .table-hover > tbody > tr.active:hover > th{
            background-color:#e8e8e8; }

        .table > thead > tr > td.success,
        .table > thead > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th,
        .table > tbody > tr > td.success,
        .table > tbody > tr > th.success,
        .table > tbody > tr.success > td,
        .table > tbody > tr.success > th,
        .table > tfoot > tr > td.success,
        .table > tfoot > tr > th.success,
        .table > tfoot > tr.success > td,
        .table > tfoot > tr.success > th{
            background-color:#dff0d8; }

        .table-hover > tbody > tr > td.success:hover,
        .table-hover > tbody > tr > th.success:hover, .table-hover > tbody > tr.success:hover > td, .table-hover > tbody > tr:hover > .success, .table-hover > tbody > tr.success:hover > th{
            background-color:#d0e9c6; }

        .table > thead > tr > td.info,
        .table > thead > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th,
        .table > tbody > tr > td.info,
        .table > tbody > tr > th.info,
        .table > tbody > tr.info > td,
        .table > tbody > tr.info > th,
        .table > tfoot > tr > td.info,
        .table > tfoot > tr > th.info,
        .table > tfoot > tr.info > td,
        .table > tfoot > tr.info > th{
            background-color:#d9edf7; }

        .table-hover > tbody > tr > td.info:hover,
        .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th{
            background-color:#c4e3f3; }

        .table > thead > tr > td.warning,
        .table > thead > tr > th.warning, .table > thead > tr.warning > td, .table > thead > tr.warning > th,
        .table > tbody > tr > td.warning,
        .table > tbody > tr > th.warning,
        .table > tbody > tr.warning > td,
        .table > tbody > tr.warning > th,
        .table > tfoot > tr > td.warning,
        .table > tfoot > tr > th.warning,
        .table > tfoot > tr.warning > td,
        .table > tfoot > tr.warning > th{
            background-color:#fcf8e3; }

        .table-hover > tbody > tr > td.warning:hover,
        .table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td, .table-hover > tbody > tr:hover > .warning, .table-hover > tbody > tr.warning:hover > th{
            background-color:#faf2cc; }

        .table > thead > tr > td.danger,
        .table > thead > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th,
        .table > tbody > tr > td.danger,
        .table > tbody > tr > th.danger,
        .table > tbody > tr.danger > td,
        .table > tbody > tr.danger > th,
        .table > tfoot > tr > td.danger,
        .table > tfoot > tr > th.danger,
        .table > tfoot > tr.danger > td,
        .table > tfoot > tr.danger > th{
            background-color:#f2dede; }

        .table-hover > tbody > tr > td.danger:hover,
        .table-hover > tbody > tr > th.danger:hover, .table-hover > tbody > tr.danger:hover > td, .table-hover > tbody > tr:hover > .danger, .table-hover > tbody > tr.danger:hover > th{
            background-color:#ebcccc; }

        .table-responsive{
            overflow-x:auto;
            min-height:0.01%; }

        @media screen and (max-width:767px){
            .table-responsive{
                width:100%;
                margin-bottom:15px;
                overflow-y:hidden;
                -ms-overflow-style:-ms-autohiding-scrollbar;
                border:1px solid #ddd; }

            .table-responsive > .table{
                margin-bottom:0; }

            .table-responsive > .table > thead > tr > th,
            .table-responsive > .table > thead > tr > td,
            .table-responsive > .table > tbody > tr > th,
            .table-responsive > .table > tbody > tr > td,
            .table-responsive > .table > tfoot > tr > th,
            .table-responsive > .table > tfoot > tr > td{
                white-space:nowrap; }

            .table-responsive > .table-bordered{
                border:0; }

            .table-responsive > .table-bordered > thead > tr > th:first-child,
            .table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > tbody > tr > th:first-child,
            .table-responsive > .table-bordered > tbody > tr > td:first-child,
            .table-responsive > .table-bordered > tfoot > tr > th:first-child,
            .table-responsive > .table-bordered > tfoot > tr > td:first-child{
                border-left:0; }

            .table-responsive > .table-bordered > thead > tr > th:last-child,
            .table-responsive > .table-bordered > thead > tr > td:last-child,
            .table-responsive > .table-bordered > tbody > tr > th:last-child,
            .table-responsive > .table-bordered > tbody > tr > td:last-child,
            .table-responsive > .table-bordered > tfoot > tr > th:last-child,
            .table-responsive > .table-bordered > tfoot > tr > td:last-child{
                border-right:0; }

            .table-responsive > .table-bordered > tbody > tr:last-child > th,
            .table-responsive > .table-bordered > tbody > tr:last-child > td,
            .table-responsive > .table-bordered > tfoot > tr:last-child > th,
            .table-responsive > .table-bordered > tfoot > tr:last-child > td{
                border-bottom:0; }
        }

        .numeric{
            text-align:right;
        }

        .qty{
            text-align:center;
        }

        /* Be sure to place a .clear element after each set of columns, just to be safe */
        .clear{ display:block; clear:both; }

        /* -------------------------------------------
                PHONE
                For clients that support media queries.
                Nothing fancy.
        -------------------------------------------- */
        @media only screen and (max-width:600px){

            a[class="btn"]{ display:block !important; margin-bottom:10px !important; background-image:none !important; margin-right:0 !important; }

            div[class="column"]{ width:auto !important; float:none !important; }

            table.social div[class="column"]{
                width:auto !important;
            }

        }
    </style>
</head>
<body bgcolor="#FFFFFF">

<table class="head-wrap" bgcolor="#999999">
    <tr>
        <td></td>
        <td class="header container">
            <div class="content">
                <table bgcolor="#999999">
                    <tr>
                        <td><img src="{{ _LOGO }}" /></td>
                        <td align="right"><h6 class="collapse">{{ _NOME }}</h6></td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">
            <div class="content">
                <table>
                    <tr>
                        <td>
                            {{ _TESTO | raw }}
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>

<table class="footer-wrap">
    <tr>
        <td></td>
        <td class="container">

            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p>
                                <a href="{{ _LINK }}">{{ _LINK }}</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>