<table class="table-responsive table">
    <thead>
    <tr>
        <th colspan="2">DATI FATTURAZIONE <br>{{ data.Order.billing | nl2br }}</th>
        <th colspan="3">DATI SPEDIZIONE <br> {{ data.Order.delivery | nl2br }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th></th>
        <th>{% trans %}ecommerce.labels.prodotto{% endtrans %}</th>
        <th class="numeric">{% trans %}ecommerce.labels.prezzo{% endtrans %}</th>
        <th class="qty">{% trans %}ecommerce.labels.quantita{% endtrans %}</th>
        <th class="numeric">{% trans %}ecommerce.labels.subtotale{% endtrans %}</th>
    </tr>
    {% for riga in data.Order.records %}
        <tr>
            <td>
                <img src="{{ asset(riga.product.uploadDir ~ riga.product.listImgFileName) | imagine_filter('product_mini') }}"
                     alt="{{ riga.product.listImgAlt }}" />
            </td>
            <td>{% if ecommerce.manage_brands %}{{ riga.product.brand }}
                    <br />{% endif %}{{ riga.product }}
                <br />{{ riga.variante }}</td>
            <td class="numeric">{{ taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax)| localizedcurrency('EUR') }}</td>
            <td class="qty">
                {{ riga.qty }}
            </td>
            <td class="numeric">{{ (taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax) * riga.qty) | localizedcurrency('EUR') }}</td>
        </tr>
    {% endfor %}
    {% if ecommerce.enable_coupons %}
        {% if data.Order.coupon and data.Order.coupon.type == 0 %}
            <tr>
                <td colspan="5" class="numeric">
                    {{ data.Order.coupon.translate().titolo }}
                </td>
            </tr>
        {% endif %}
    {% endif %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4" class="numeric">
            {% trans %}ecommerce.labels.imponibile{% endtrans %}
        </td>
        <td class="numeric">{{ orderHelper.getImponibile(data.Order) | localizedcurrency('EUR') }}</td>
        <td></td>
    </tr>
    {% for tasse in orderHelper.getTasse(data.Order) %}
        <tr>
            <td colspan="4" class="numeric">
                {{ tasse.description }}
            </td>
            <td class="numeric">{{ tasse.imposta | localizedcurrency('EUR') }}</td>
            <td></td>
        </tr>
    {% endfor %}
    {% if data.Order.deliveryCost %}
        <tr>
            <td colspan="4" class="numeric">
                {{ data.Order.deliverBy }}
            </td>
            <td class="numeric">{{ data.Order.deliveryCost | localizedcurrency('EUR') }}</td>
        </tr>
    {% endif %}
    {% if data.Order.payment.extraPrice %}
        <tr>
            <td colspan="4" class="numeric">
                {{ data.Order.payment }} - Costo extra
            </td>
            <td class="numeric">{{ data.Order.payment.extraPrice | localizedcurrency('EUR') }}</td>
        </tr>
    {% endif %}
    {% if ecommerce.enable_coupons %}
        {% if data.Order.coupon and data.Order.coupon.type == 1 %}
            <tr>
                <td colspan="4" class="numeric">
                    {% trans %}ecommerce.labels.subtotale{% endtrans %}
                </td>
                <td class="numeric">{{ (data.Order.total + data.Order.deliveryCost + data.Order.payment.extraPrice + data.Order.couponScontoEuro) | localizedcurrency('EUR') }}</td>
            </tr>
            <tr>
                <td colspan="4" class="numeric">
                    {{ data.Order.coupon.translate().titolo }}
                </td>
                <td class="numeric">
                    {{ data.Order.coupon.value | localizedcurrency('EUR') }}
                </td>
            </tr>
        {% endif %}
    {% endif %}
    <tr>
        <td colspan="4" class="numeric">
            {% trans %}ecommerce.labels.totale{% endtrans %}
        </td>
        <td class="numeric">{{ (data.Order.total + data.Order.deliveryCost + data.Order.payment.extraPrice) | localizedcurrency('EUR') }}</td>
    </tr>
    </tfoot>


</table>
