{% trans_default_domain "public" %}
{% if divisione_colonne is not defined %}
    {% set divisione_colonne=3 %}
{% endif %}
{% if handlebars is defined %}
    <div class="col-md-{{ divisione_colonne }} col-xs-6 colonna-prodotto">
        <div class="box-prodotto ">
            <div class="padded-box">
                <a data-product="{% verbatim %}{{ id }}{% endverbatim %}" href="#"
                   class="wishlist-button btn icon-wishlist {% verbatim %}{{ inWishlist }}{% endverbatim %}"></a>
                <div class="img-prodotto-wrap">
                    <a href="{% verbatim %}{{ url }}{% endverbatim %}">
                        <img class="img-prodotto"
                             src="{% verbatim %}{{ img }}{% endverbatim %}"
                             alt="{% verbatim %}{{ imgAlt }}{% endverbatim %}">
                    </a>
                </div>
                <div class="categoria-prodotto">{% verbatim %}{{ categoria }}<span class="marca">{{ brand }}</span>{% endverbatim %}</div>
                <h3 class="nome-prodotto">{% verbatim %}{{ titolo }}{% endverbatim %}
                </h3>
                <div class="star-ratings-css">
                    <div class="star-ratings-css-top" style="width:{% verbatim %}{{ review_score }}{% endverbatim %}">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-css-bottom">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

                </div>
                <div class="prezzo">
                    {#<span class="old">110.90 €</span>#}
                    {% verbatim %}{{ prezzo }}{% endverbatim %}</div>
            </div>


            <a href="{% verbatim %}{{ url }}{% endverbatim %}"
               class="acquista-button btn"><span> {% trans %}
                    ecommerce.labels.acquista {% endtrans %}</span></a>


        </div>
    </div>
{% else %}
    <div class="col-md-{{ divisione_colonne }} col-xs-6 colonna-prodotto">
        <div class="box-prodotto">
            <div class="padded-box">
                <div class="img-prodotto-wrap">
                    <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.translate().slug}) }}">
                        <img class="img-prodotto"
                             src="{{ asset(Prodotto.uploadDir ~ Prodotto.listImgFileName) }}"
                             alt="{{ Prodotto.listImgAlt }}">
                    </a>
                </div>

                <div class="categoria-prodotto">    {% if productHelper.guessCategory(Prodotto) %}{{ productHelper.guessCategory(Prodotto).translate().nome }}{% endif %}{% if(Prodotto.brand) %}
                        <span class="marca">{{ Prodotto.brand.translate().titolo|upper }}</span>{% endif %}</div>
                <h3 class="nome-prodotto">{{ Prodotto.translate().titolo }}
                </h3>
                <div class="star-ratings-css">
                    <div class="star-ratings-css-top" style="width:{{ Prodotto.getmediarecensioniPercentuale }}">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                    <div class="star-ratings-css-bottom">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

                </div>
                <div class="prezzo">
                    {% set prezzo = productHelper.prezzo(Prodotto, listinoHelper.getDefault) %}

                    {% if Prodotto.prezzoCivetta != "" and Prodotto.prezzoCivetta > prezzo %}
                        <span class="old">{{ Prodotto.prezzoCivetta|localizedcurrency('EUR') }}</span>
                        <span class="separatore"> /</span>
                    {% endif %}

                    {{ prezzo|localizedcurrency('EUR') }}</div>
            </div>

            <div class="parte-hover">
                <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.translate().slug}) }}"
                   class="acquista-button btn"><span class="icon-carrello"></span> {% trans %}
                    ecommerce.labels.scopri {% endtrans %}</a>

                {% if wishlist is defined and wishlist == 1 %}
                    <a data-product="{{ Prodotto.id }}" href="#"
                       class="wishlist-button btn active wishlist-page">RIMUOVI
                    </a>
                {% else %}
                    <a data-product="{{ Prodotto.id }}" href="#"
                       class="wishlist-button btn {% if Prodotto.inWishlist == 1 %}active{% endif %}"><span></span>{% if Prodotto.inWishlist == 1 %}RIMUOVI DALLA WISHLIST{% else %}AGGIUNGI ALLA WISHLIST{% endif %}
                    </a>
                {% endif %}


            </div>


        </div>
    </div>
{% endif %}