{% trans_default_domain "public" %}
{% if divisione_colonne is not defined %}
    {% set divisione_colonne=3 %}
{% endif %}


<li class="box-prodotto-small media">
    <div class="media-left">
        <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.translate().slug}) }}">
            <img class="img-prodotto media-object"
                 src="{{ asset(Prodotto.uploadDir ~ Prodotto.listImgFileName) }}"
                 alt="{{ Prodotto.listImgAlt }}">
        </a>
    </div>
    <div class="media-body">
        <h3 class="nome-prodotto">{{ Prodotto.translate().titolo }}
        </h3>
        <div class="prezzo">
            <span class="old">110.90 €</span>
            {{ productHelper.prezzo(Prodotto, listinoHelper.getDefault)|localizedcurrency('EUR') }}</div>
    </div>
</li>
