.related{
    font-family:$font;
    margin-bottom:30px;
    padding-top:20px;
    padding-bottom:30px;
    border-bottom:1px solid $color10;
    hr{
        width: 60px;
        border: 1px solid $color2;
        margin: 0;
        margin-top:20px;
        margin-bottom:20px;
    }

    .titolo{
        font-weight:$medium;
        margin:20px 0;
    }
    .leggidipiu{
        color:$color2;
        font-weight:$bold;
    }
    .img-grande{
        width:100%;
    }
    p span{
        color:$color1;
    }
    .titolo-news{
        margin-top:0;
        color:$color5;
        font-weight:$bold;
        a{
            color:inherit;
        }
    }
    .testo-news{
        color:$color5;
        font-size:14px;
    }
    .categoria-news{
        font-size:12px;
        color:$color5;
        a{
            color:inherit;
        }
        span{
            color:$color2;
        }
    }
    .notizie-correlate-wrap{
        .caption{
            padding:20px 0;
        }
        .thumbnail{
            border:0;
            padding:0;
            margin-bottom:0;
        }
        .col-md-4:nth-child(2){
            padding:0 7.5px;
        }
        >.col-md-4:first-child{
            padding-left:0;
        }
        >.col-md-4:last-child{
            padding-right:0;
        }
    }

    @media (max-width:1500px){
        .titolo-news{
            font-size:20px;
        }
        .categoria-news{

        }
        .testo-news{

        }
    }
    @media (max-width:1300px){
        .titolo-news{
            font-size:18px;
        }
        .categoria-news{

        }
        .testo-news{
        font-size:13px;
        }
    }

    @media (max-width:1000px){
        .titolo{
            font-size:20px;
        }
    }
    @media (max-width:767px){
        .notizie-correlate-wrap .col-md-4{
            padding:0 5px !important;
        }
    }
}

@media screen and (max-width:450px) {
    .sezione.main-blog .left-blog .col-lg-8 .related .col-lg-4{
        width:100%;
    }
}

@media screen and (max-width:767px) {
    .sezione.main-blog .left-blog .col-lg-8 .related .col-lg-4{
        h3{
            font-size:16px;
            margin-top:5px;
        }
        p{
            font-size:10px;
        }
    }
}
