<div class="related">
    {% if titolo.val|default("") %}<h3 class="titolo">{{ titolo.val }}</h3> <hr>{% endif %}
    <div class="container-fluid">
        <div class="row notizie-correlate-wrap">
            {% if data.News|default("") %}
                {% set correlate = blogService.getCorrelate(data.News, app.request.locale, quante.val) %}
                {% if correlate %}
                    {% for News in correlate %}
                        {% if News.ListImgFileName %}
                            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                            {% set imgAlt = News.ListImgFileName %}
                        {% else %}
                            {% set img = "/images/defaults/placeholder.png" %}
                            {% set imgAlt = News.translate(app.request.locale).titolo %}
                        {% endif %}

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="thumbnail">
                                <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                    <img class="img-grande" src="{{ asset(img) | imagine_filter('news6') }}" alt="{{ News.listImgAlt }}" />
                                </a>
                                <div class="caption">
                                    <h3 class="titolo-news">
                                        <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">{{ News.translate(app.request.locale).titolo|upper }}</a>
                                    </h3>
                                    <hr>
                                    <p class="categoria-news">Cat.:
                                        <a rel="nofollow" href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug}) }}">{{ blogService.getCategory(News, app.request.locale).titolo }} </a> -
                                        <span>{{ blogService.getDate(News) }}</span></p>
                                    <p class="testo-news">{{ blogService.getTextPreview(News,300, app.request.locale) }}</p>
                                    <a class="leggidipiu" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                        LEGGI DI PI&Uacute;
                                    </a>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>