.scroll-to-menu{
    text-align:center;
    ul{
        list-style-type:none;
        padding:0;
        margin:0;
        li{
            display:inline-block;
            padding:10px 20px;
            transition-duration:0.3s;
            a{
                font-size:$text4;
                font-weight:$bold;
            }
            &:hover, &:active, &:focus{
                background-color:$color1;
                transition-duration:0.3s;
                a{
                    color:$color5;
                }
            }
        }
    }
}

@media screen and (max-width:767px) {
    .scroll-to-menu ul li{
        width:100%;
    }
}
