{% trans_default_domain "public" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 titolo-wrap">
            <h1 class="titolo">{% trans %}ecommerce.labels.wishlist{% endtrans %}</h1>
        </div>
    </div>
</div>

<section class="container-fluid container-limitato lista-prodotti lista-prodotti-3col">
    <div class="row">

        {% if data.pagination|length %}
            {% for Prodotto in data.pagination %}
                <div class="col-md-4 col-xs-6 colonna-prodotto">
                    <div class="box-prodotto">
                        <div class="img-prodotto-wrap">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.translate().slug}) }}">
                                <img class="img-prodotto"
                                     src="{{ asset(Prodotto.uploadDir ~ Prodotto.listImgFileName) }}"
                                     alt="{{ Prodotto.listImgAlt }}">
                            </a></div>
                        {% if(Prodotto.brand) %}
                            <div class="marca">{{ Prodotto.brand.translate().titolo }}</div>
                        {% endif %}
                        <div class="nome-prodotto">{{ Prodotto.translate().titolo }}
                        </div>
                        <div class="prezzo"> {{ productHelper.prezzo(Prodotto, listinoHelper.getDefault)|localizedcurrency('EUR') }}</div>
                        <div class="clearfix pulsanti">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.translate().slug}) }}"
                               class="acquista-button pulsante-ghebagas btn"><span> {% trans %}
                                    ecommerce.labels.acquista {% endtrans %}</span></a>
                            <a data-product="{{ Prodotto.id }}" href="#"
                               class="wishlist-button pulsante-ghebagas btn active"><span>  {% trans %}
                                    ecommerce.labels.wishlist {% endtrans %}</span></a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-danger">
                &nbsp;{% trans %}product.labels.nessun_prodotto_wishlist{% endtrans %}
            </div>
        {% endif %}
    </div>
</section>
