{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/croppie/croppie.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/admin/css/img-in-linea.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/azienda/admin/css/sedi.css') }}" rel="stylesheet">
    <link href="{{ asset('node_modules/lightbox2/dist/css/lightbox.min.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/seo-pixels.js') }}"></script>
    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('node_modules/croppie/croppie.js') }}"></script>
    <script src="{{ asset('node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/resizableImage.js') }}"></script>
    <script src="{{ asset('bundles/azienda/admin/js/sedi.js') }}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ servizi_esterni.google_maps_api }}&callback=initMap"></script>
{% endblock %}

    {% block page_content %}
        {{ include('@Azienda/admin/sedi/form.html.twig') }}
    {% endblock %}