{% extends "admin/admin-list.html.twig" %}

{% block page_title %} {% trans %} sedi.labels.title{% endtrans %}: {% trans %} default.labels.elenco{% endtrans %} {% endblock %}

{% block pulsantiera %}
    <div class="btn-group" role="group">
        <a href="{{ path("sedi_new") }}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans %}
            default.labels.nuovo {% endtrans %}&nbsp;<i class="fa fa-file-o"></i>
        </a>
    </div>
{% endblock %}


{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <table id="datatable" class="table table-striped table-bordered">
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/azienda/admin/js/sedi.js') }}"></script>
{% endblock %}


{% block modals %}
    <div id="modalConfirm" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-warning" id="myModalLabel">Cancellazione</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annulla</button>
                    <button type="button" class="btn btn-warning btn-confirm">Ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}