{% block _sede_form_departments_entry_orari_widget %}
    <div class="orari" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
        <h2>Orari</h2>
        <hr />
        {% for child in form %}
            {{ form_row(child) }}
        {% endfor %}
        <a href="#" class="btn btn-info btn-add-orario"><i class="fa fa-plus"></i> {% trans %} orari.labels.add {% endtrans %}
        </a>
        <hr />
    </div>

{% endblock %}

{% block _sede_form_departments_entry_orari_entry_widget %}
    <div class="orario">
        <div class="col-md-6">
            {{ form_row(form.etichetta) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.tipo) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.dalle) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.alle) }}
        </div>
        {{ form_row(form.sort) }}

        <div class="btn-group pull-right" role="group" aria-label="...">
            <a href="#" class="btn btn-info btn-move-up"><i class="fa fa-arrow-up"></i> {% trans %} orari.labels.up {% endtrans %}
            </a>
            <a href="#" class="btn btn-info btn-move-down"><i class="fa fa-arrow-down"></i> {% trans %} orari.labels.down {% endtrans %}
            </a>
            <a href=" #" class="btn btn-danger btn-remove-orario "><i class="fa fa-trash"></i> {% trans %} orari.labels.remove {% endtrans %}
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}