<div class="sezione box-doppio-gallery">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
            <div class="box-testo" data-aos="zoom-in" data-aos-duration="1500">
                <a href="{{ link.link0 | default("") }}"><img src="{{ icona.src | default("") }}" alt="{{ icona.alt | default("") }}"></a>
                <h2>{{ titolo.val | default("") }}</h2>
                <p>{{ testo.val | default("") }}</p>
                <a rel="nofollow" href="{{ link.link00 | default("") }}">
                    <button type="button" class="btn btn-default">{{ link.label | default("") }}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></button>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
            <div class="slider-dx">
                {% for image in immagini_slider %}
                    {% if image.src %}
                        <div>
                            <img src="{{ image.src | default("") }}" alt="{{ image.alt | default("") }}" />
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
