<section class="text_with_background_image" style="background-image:url('{{ img.src }}');">
    <div class="container-fluid">
      <div class="overlay_video">
      </div>
        <div class="wrapper_motto">
            <h1 class="title1">{{ title1.val }}</h1>
            <p class="title2">{{ title2.val }}</p>
            {% if title3.val %}<p class="title3">{{ title3.val }}</p>{% endif %}
        </div>
        <div id="scroll_button">
            <a href="{{ id_sezione.link }}" title="{{ id_sezione.label }}"><span></span></a>
        </div>
    </div>
</section>
