{% extends "@WebtekEcommerce/admin/order/formLayout.html.twig" %}

{% block title %} {% trans %} order.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} order.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


