{{ form_start(form) }}

{{ form_errors(form) }}

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans %} order.labels.dettaglio_ordine {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            {% if order %}

                <table class="table-responsive table">
                    <thead>
                    <tr>
                        <th colspan="3">{{ order.billing | nl2br }}</th>
                        <th colspan="2" class="delivery">{{ order.delivery | nl2br }}</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>{% trans %}ecommerce.labels.prodotto{% endtrans %}</th>
                        <th class="numeric">{% trans %}ecommerce.labels.prezzo{% endtrans %}</th>
                        <th class="qty">{% trans %}ecommerce.labels.quantita{% endtrans %}</th>
                        <th class="numeric">{% trans %}ecommerce.labels.subtotale{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for riga in order.records %}
                        <tr>
                            <td>
                                {% if riga.product %}
                                    <img src="{{ asset(riga.product.uploadDir ~ riga.product.listImgFileName) | imagine_filter('product_mini') }}" alt="{{ riga.product.listImgAlt }}" />
                                {% endif %}
                            </td>
                            <td>{% if ecommerce.manage_brands %}{{ riga.product.brand }}
                                    <br />{% endif %}{{ riga.product }}
                                {% if riga.variante %}
                                    <br />{{ riga.variante }}
                                {% endif %}
                                <br />
                                Rif. {{ riga.code }}
                            </td>
                            <td class="numeric">{{ taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax)| localizedcurrency('EUR') }}</td>
                            <td class="qty">
                                {{ riga.qty }}
                            </td>
                            <td class="numeric">{{ (taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax) * riga.qty) | localizedcurrency('EUR') }}</td>
                        </tr>
                    {% endfor %}
                    {% if order.couponScontoEuro == "0.00" and order.couponDescription %}
                        <tr>
                            <td class="numeric" colspan="5">
                                {{ order.couponDescription }}
                            </td>
                        </tr>
                    {% endif %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="numeric">
                            {% trans %}ecommerce.labels.imponibile{% endtrans %}
                        </td>
                        <td class="numeric">{{ orderHelper.getImponibile(order) | localizedcurrency('EUR') }}</td>
                    </tr>
                    {% for tasse in orderHelper.getTasse(order) %}
                        <tr>
                            <td colspan="4" class="numeric">
                                {{ tasse.description }}
                            </td>
                            <td class="numeric">{{ tasse.imposta | localizedcurrency('EUR') }}</td>
                        </tr>
                    {% endfor %}
                    {% if order.deliveryCost %}
                        <tr>
                            <td colspan="4" class="numeric">
                                {{ order.deliverBy }}
                            </td>
                            <td class="numeric">{{ order.deliveryCost | localizedcurrency('EUR') }}</td>
                        </tr>
                    {% endif %}
                    {% if order.couponScontoEuro > 0 %}
                        <tr>
                            <td colspan="4" class="numeric">
                                {% trans %}ecommerce.labels.subtotaletotale{% endtrans %}
                            </td>
                            <td class="numeric">{{ (order.total + order.deliveryCost + order.couponScontoEuro) | localizedcurrency('EUR') }}</td>
                        </tr>
                        <tr>
                            <td class="numeric" colspan="4">
                                {{ order.couponDescription }}
                            </td>
                            <td class="numeric">
                                - {{ order.couponScontoEuro|localizedcurrency("EUR") }}
                            </td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td colspan="4" class="numeric">
                            {% trans %}ecommerce.labels.totale{% endtrans %}
                        </td>
                        <td class="numeric">{{ (order.total + order.deliveryCost) | localizedcurrency('EUR') }}</td>
                    </tr>
                    </tfoot>
                    </tbody>

                </table>
            {% endif %}
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans %} order.labels.stato_ordine {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form_row(form.status) }}
            {{ form_row(form.payment) }}
            {{ form_row(form.pagato) }}
            {{ form_row(form.transactionId) }}

        </div>
    </div>
</div>

<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

    <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
        default.labels.salva {% endtrans %}</button>

    <a href="{{ path('order') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
        default.labels.chiudi {% endtrans %}</a>
</div>

</div>

{{ form_end(form) }}
