{% trans_default_domain "public" %}
{% if data.newsInEvidenza | length > 3 %}
<div class="sezione blog-top">
    <div class="container-fluid">
        <div class="row">
            {% set News = attribute(data.newsInEvidenza, 0) %}
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6 mainHeight">

                {% if News.ListImgFileName %}
                    {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                    {% set imgAlt = News.HeaderImgAlt %}
                {% else %}
                    {% set img = "/images/defaults/placeholder.png" %}
                    {% set imgAlt = News.translate(app.request.locale).titolo %}
                {% endif %}


                <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                    <img class="cover-blog" src="{{ asset(img) | imagine_filter('news1') }}" alt="{{ News.listImgAlt }}" />
                </a>
                <div class="caption-articolo">
                    <p class="categoria-articolo">{{ blogService.getCategory(News, app.request.locale).titolo }}</p>
                    <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</a>
                    <span class="data-articolo">{{ blogService.getDate(News) }}</span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-6 sameHeight">
                <div class="container-fluid">
                    <div class="row row-up">
                        {% set News = attribute(data.newsInEvidenza, 1) %}
                        {% if News.ListImgFileName %}
                            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                            {% set imgAlt = News.HeaderImgAlt %}
                        {% else %}
                            {% set img = "/images/defaults/placeholder.png" %}
                            {% set imgAlt = News.translate(app.request.locale).titolo %}
                        {% endif %}
                        <div class="col-lg-12">
                            <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                <img class="cover-blog" src="{{ asset(img) | imagine_filter('news2') }}" alt="{{ News.listImgAlt }}" />

                            </a>
                            <div class="caption-articolo">
                                <p class="categoria-articolo">{{ blogService.getCategory(News, app.request.locale).titolo }}</p>
                                <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</a>
                                <span class="data-articolo">{{ blogService.getDate(News) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row row-down">
                        {% set News = attribute(data.newsInEvidenza, 2) %}
                        {% if News.ListImgFileName %}
                            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                            {% set imgAlt = News.HeaderImgAlt %}
                        {% else %}
                            {% set img = "/images/defaults/placeholder.png" %}
                            {% set imgAlt = News.translate(app.request.locale).titolo %}
                        {% endif %}
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-a">
                            <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                <img class="cover-blog" src="{{ asset(img) | imagine_filter('news3') }}" alt="{{ News.listImgAlt }}" />

                            </a>
                            <div class="caption-articolo">
                                <p class="categoria-articolo">{{ blogService.getCategory(News, app.request.locale).titolo }}</p>
                                <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</a>
                                <span class="data-articolo">{{ blogService.getDate(News) }}</span>
                            </div>
                        </div>
                        {% set News = attribute(data.newsInEvidenza, 3) %}
                        {% if News.ListImgFileName %}
                            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                            {% set imgAlt = News.HeaderImgAlt %}
                        {% else %}
                            {% set img = "/images/defaults/placeholder.png" %}
                            {% set imgAlt = News.translate(app.request.locale).titolo %}
                        {% endif %}
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-b">
                            <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                <img class="cover-blog" src="{{ asset(img) | imagine_filter('news3') }}" alt="{{ News.listImgAlt }}" />

                            </a>
                            <div class="caption-articolo">
                                <p class="categoria-articolo">{{ blogService.getCategory(News, app.request.locale).titolo }}</p>
                                <a  href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</a>
                                <span class="data-articolo">{{ blogService.getDate(News) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}