<div class="sezione box-doppio-logo-doppio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color:{{ bg_color_sx.val }}" data-aos="fade-right" data-aos-duration="800">
        <div class="box-logo">
          <div class="thumbnail">
            <img src="{{ logo1.src}}" alt="{{ logo1.alt|default("") }}" />
            <p style="color:{{ testo1_color.val }}">
              {{ testo1.val|raw }}
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="background-color:{{ bg_color_dx.val }}" data-aos="fade-left" data-aos-duration="800">
        <div class="box-logo">
          <div class="thumbnail">
            <img src="{{ logo2.src }}" alt="{{ logo2.alt|default("") }}" />
            <p style="color:{{ testo1_color.val }}">
              {{ testo2.val|raw }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
