{% extends "admin/admin-list.html.twig" %}

{% block page_title %} {% trans %} news.labels.title_commenti{% endtrans %}: {% trans %} default.labels.elenco{% endtrans %} {% endblock %}

{% block pulsantiera %}
    <a href="{{ path("news") }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
        news.labels.torna_elenco {% endtrans %}
    </a>
{% endblock %}


{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <table id="datatableCommenti" class="table table-striped table-bordered" data-id="{{ id }}">
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/admin/js/news.js') }}"></script>
{% endblock %}
