<div class="sezione box-doppio-icone">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-img-responsive" data-aos="fade-right" data-aos-duration="800">
        <img src="{{ immagine.src }}" alt="{{ immagine.alt }}" />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-text" data-aos="fade-left" data-aos-duration="800">
        <div class="box-testo">
          <h3>{{ titolo.val|raw }}</h3>
          <p>
            {{ testo.val|raw }}
          </p>
          <div class="container-fluid">
            <div class="row">
              <p>
                {{ testo_icone.val }}
              </p>
              <div class="box-icone">
                <i class="fa fa-apple fa-2x" aria-hidden="true"></i>
                <i class="fa fa-android fa-2x" aria-hidden="true"></i>
                <i class="fa fa-windows fa-2x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
