.sezione-box-flottante-contatti{
    background-color:$color6;
    .row-stats{
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        text-align:center;
        .col-lg-8{
            box-shadow:0px 0px 11px 2px $color3;
            background-color:$color5;
            .col-lg-3{
                padding:60px 30px;
                .box-testo{
                    position:relative;
                    top:50%;
                    transform:translateY(-50%);
                    -webkit-transform:translateY(-50%);
                    -moz-transform:translateY(-50%);
                    -o-transform:translateY(-50%);
                    -ms-transform:translateY(-50%);
                    ul{
                        list-style-type:none;
                        padding-left:0;
                        li{
                            color:$color3;
                            font-size:$text1;
                            a{
                                &:hover, &:focus, &:active{
                                    color:$color5;
                                }
                            }
                        }
                    }
                    img{
                        max-width:100%;
                        margin-bottom:10px;
                    }
                }
                &.box-light{
                    background-color:$color5;
                    border-right:1px solid $color8;
                }
                &.box-colored{
                    background-color:$color1;
                }
                &.box-colored-dark{
                    background-color:$color2;
                }
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .sezione-box-flottante-contatti .row-stats .col-lg-8 .col-lg-3{
        padding:30px;
    }
}

@media screen and (max-width:991px) {
    .sezione-box-flottante-contatti .row-stats .col-lg-8 .col-lg-3 .box-testo ul li{
        font-size:font-percentage($text1, 0.85);
    }
}

@media screen and (max-width:649px) {
    .sezione-box-flottante-contatti .row-stats .col-lg-8 .col-lg-3{
        width:50%;
    }
}
