{% trans_default_domain "public" %}

<div class="container-fluid section3" id="servizi">
    <div class="row row_sezioni align-center">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            {% for  slide in data %}
                <li role="presentation"{% if loop.first %} class="active"{% endif %}>
                    <a href="#{{ slide.slug }}" aria-controls="{{ slide.slug }}" role="tab" data-toggle="tab">{{ slide.titolo }}</a>
                    <div class="line_green"></div>
                </li>
            {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% for  slide in data %}
                <div role="tabpanel" class="tab-pane fade{% if loop.first %} in active{% endif %}" id="{{ slide.slug }}">
                    {% if loop.index is odd %}
                        <div class="row">
                            <div class="col-md-6 col_testo_servizi animation_sx">
                                <div class="wrapper_testo_servizi">
                                    <p class="titolo_servizio">{{ slide.titolo }}</p>
                                    <p class="sottotitolo_servizio">{{ slide.sottotitolo }}</p>
                                    <p class="testo_servizio">{{ slide.testo }}</p>
                                    <a href="{{ slide.url }}" class="btn btn-default scopri_button float_l">{% trans %}default.labels.scopri_piu{% endtrans %}</a>
                                </div>
                            </div>
                            <div class="col-md-6 col_sfondo_servizi animation_dx">
                                <img class="padding_img_servizi" src="{{ slide.image.src }}" alt="{{ slide.image.alt }}">
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-6 col_sfondo_servizi animation_sx">
                                <img class="padding_img_servizi" src="{{ slide.image.src }}" alt="{{ slide.image.alt }}">
                            </div>
                            <div class="col-md-6 col_testo_servizi animation_dx">
                                <div class="wrapper_testo_servizi">
                                    <p class="titolo_servizio">{{ slide.titolo }}</p>
                                    <p class="sottotitolo_servizio">{{ slide.sottotitolo }}</p>
                                    <p class="testo_servizio">{{ slide.testo | raw }}</p>
                                    <a href="{{ slide.url }}" class="btn btn-default scopri_button float_l">{% trans %}default.labels.scopri_piu{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>