{% trans_default_domain "public" %}

{% if data.formLogin is defined %}
    <div id="loginMobile" class="pannello-login-mobile pannello-mobile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    {% if data.error %}
                        <div class="alert alert-danger">
                            <i class="fa fa-exclamation-triangle"></i>{{ data.error.messageKey|trans(data.error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <h3 class="title">{% trans %}default.labels.accedi {% endtrans %}</h3>

                    {% form_theme data.formLogin "ghebagasForms.html.twig" %}
                    {{ form_start(data.formLogin) }}
                    {{ form_row(data.formLogin._username) }}
                    {{ form_row(data.formLogin._password) }}
                    <a href="{{ path("lost_password_ecommerce") }}" class="psw-forgot">Password dimenticata?</a>
                    <button class="btn btn-main-submit" formnovalidate>
                        LOGIN
                    </button>

                    {{ form_end(data.formLogin) }}
                    <div class="msg-reg"> {% trans %}ecommerce.labels.notRegistered{% endtrans %}</div>
                    <a href="{{ to_route("registrazione") }}" class="btn btn-main-submit grey">{% trans %}
                        ecommerce.labels.register{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div id="loginMobile" class="pannello-login-mobile">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="title">{% trans %}ecommerce.labels.your_account {% endtrans %}</h3>


                    <a class="btn btn-main-submit padded" href="{{ to_route("account_edit") }}">{% trans %}
                        ecommerce.labels.modifica_i_tuoi_dati{% endtrans %}</a>


                    <a class="btn btn-main-submit padded" href="{{ to_route("account_orders") }}">{% trans %}
                        ecommerce.labels.ordini{% endtrans %}</a>

                    <a href="{{ path("security_ecommerce_logout") }}" class="btn btn-main-submit grey padded">
                        LOGOUT
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}



