{% extends "admin/admin.html.twig" %}

{% block title %} {% trans %} newscat.labels.title{% endtrans %}: {% trans %} default.labels.modifica_ordine{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} newscat.labels.title{% endtrans %}: {% trans %} default.labels.modifica_ordine{% endtrans %} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/admin/css/newscat.css') }}" rel="stylesheet">
{% endblock %}


{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <div class="toSort">

                <ul class="sortList list-group">
                    {% for i,label in categorie %}
                        <li class="list-group-item" id="{{ i }}"><i class="fa fa-arrows-alt"></i> {{ label }}</li>
                    {% endfor %}
                </ul>

            </div>

            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

                <button class="btn btn-success btn-main-submit save-sort" formnovalidate>
                    <i class="fa fa-save"></i> {% trans %}
                    default.labels.salva {% endtrans %}</button>

                <a href="{{ path('newscat') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                    default.labels.chiudi {% endtrans %}</a>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/newscat.js') }}"></script>

{% endblock %}

{% block handlebars %}
    <script type="text/x-handlebars" id="sortTemplate">
        <div class="col-md-4 sortList">
            <ul class="list-group">
                {% verbatim %}{{#each items}}{% endverbatim %}
                <li class="list-group-item" id="{% verbatim %}{{ this.id }}{% endverbatim %}">
                    <i class="fa fa-arrows-alt"></i>&nbsp;{% verbatim %}{{ this.label }}{% endverbatim %}</li>
                {% verbatim %}{{/each}}{% endverbatim %}
            </ul>
        </div>

    </script>
{% endblock %}
