.sezione.box-otto-quadrati {
  padding: 30px 0;
  background-color: $color2;
  .titolo-quadrati {
    text-align: center;
    h3:first-child {
      font-size: 50px;
      font-weight: 700;
      color: $text1;
    }
    h3 {
      font-size: 48px; 
    }
    p {
      margin-bottom: 40px;
      font-size:16px;
      color:$text3;
    }
  }
  .container-fluid .row {
    .col-lg-3 {
      margin: 10px 0;
      padding: 0 10px;
      .thumbnail {
        height: 100%;
        padding: 20% 10%;
        margin-bottom: 0;
        border-radius: 0;
        background-color: $color1m;
        border: none;
        text-align: center;
        h4,p {
          color: $text1m;
          margin-top: 20px;
        }
        h4 {
          font-weight: 700;
        }
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .sezione.box-otto-quadrati .container-fluid .row .col-lg-3 .thumbnail {
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione.box-otto-quadrati .titolo-quadrati {
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 500px) {
  .sezione.box-otto-quadrati .container-fluid .row .col-lg-3 {
    width: 100%;
    .thumbnail {
      padding: 10%;
    }
  }

  .sezione.box-otto-quadrati .titolo-quadrati {
    h3 {
      font-size: 25px;
    }
    p {
      font-size: 12px;
    }
  }
}
