<div class="sezione box-otto-quadrati">
  <div class="container-fluid">
    <div class="row">
      <div class="container titolo-quadrati">
        <h3>{{ numero_progr.val }}</h3>
        <h3>{{ titolo.val }}</h3>
        <p>
          {{ testo.val|raw }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 sameHeight">
        <div class="thumbnail" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="">
          <img class="" src="{{ icona_box_1.src }}" alt="{{ icona_box_1.alt|default("") }}" />
          <h4>
            {{ titolo_box_1.val }}
          </h4>
          <p>
            {{ testo_box_1.val }}
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 sameHeight">
        <div class="thumbnail" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400">
          <img class="" src="{{ icona_box_2.src }}" alt="{{ icona_box_2.alt|default("") }}"/>
          <h4>
            {{ titolo_box_2.val }}
          </h4>
          <p>
            {{ testo_box_2.val }}
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 sameHeight">
        <div class="thumbnail" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="800">
          <img class="" src="{{ icona_box_3.src }}" alt="{{ icona_box_3.alt|default("") }}"/>
          <h4>
            {{ titolo_box_3.val }}
          </h4>
          <p>
            {{ testo_box_3.val }}
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 sameHeight">
        <div class="thumbnail" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="1200">
          <img class="" src="{{ icona_box_4.src }}" alt="{{ icona_box_4.alt|default("") }}"/>
          <h4>
            {{ titolo_box_4.val }}
          </h4>
          <p>
            {{ testo_box_4.val }}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 sameHeight">
        <div class="thumbnail" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="0">
          <img class="" src="{{ icona_box_5.src }}" alt="{{ icona_box_5.alt|default("") }}"/>
          <h4>
            {{ titolo_box_5.val }}
          </h4>
          <p>
            {{ testo_box_5.val }}
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 sameHeight">
        <div class="thumbnail" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400">
          <img class="" src="{{ icona_box_6.src }}" alt="{{ icona_box_6.alt|default("") }}"/>
          <h4>
            {{ titolo_box_6.val }}
          </h4>
          <p>
            {{ testo_box_6.val }}
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 sameHeight">
        <div class="thumbnail" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="800">
          <img class="" src="{{ icona_box_7.src }}" alt="{{ icona_box_7.alt|default("") }}"/>
          <h4>
            {{ titolo_box_7.val }}
          </h4>
          <p>
            {{ testo_box_7.val }}
          </p>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 sameHeight">

      </div>
    </div>
  </div>
</div>
