<div class="sezione citazione" data-aos="flip-down" data-aos-duration="1000">
  <div class="container">
    <img class="quote left" src="{{ quote_icon1.src }}" alt="{{ quote_icon1.alt|default("") }}"/>
    <h3>{{ citazione.val|raw }}</h3>
    <img class="quote right" src="{{ quote_icon2.src }}" alt="{{ quote_icon2.alt|default("") }}"/>
  </div>
</div>
