.only_text{
    padding:100px 0;
    background-color:$color6;
    .align-center{
        text-align:center;
    }
    .title_section{
        font-size:$text9;
        color:$color3;
        padding:0px 10% 70px 10%;
        line-height:40px;
        margin:0;
        strong{
            color:$color1;
        }
    }
    .text_section{
        background-color:$color1;
        font-size:$text3;
        color:$color5;
        padding:20px;
        margin:0;
        line-height:25px;
        display:inline-block;
    }
    .subtitle_section{
        font-size:$text5;
        color:$color4;
        padding:0px 20% 40px 20%;
        margin:0;
        strong{
            font-weight:$semi-bold;
        }
    }
}

@media screen and (max-width:991px) {
    .only_text{
        .title_section{
            font-size:font-percentage($text9, 0.8);
            padding:0px 5% 35px 5%;
        }
        .text_section{
            font-size:font-percentage($text3, 0.8);
            line-height:20px;
        }
        .subtitle_section{
            font-size:font-percentage($text5, 0.8);
            padding:0px 15% 20px 15%;
        }
    }
}

@media screen and (max-width:640px) {
    .only_text{
        padding:50px 0;
        .title_section{
            font-size:font-percentage($text9, 0.7);
            padding:0px 2% 35px 2%;
            line-height:25px;
        }
        .text_section{
            font-size:font-percentage($text3, 0.7);
        }
        .subtitle_section{
            font-size:font-percentage($text5, 0.7);
            padding:0px 5% 20px 5%;
        }
    }
}
