{% use "bootstrap_3_layout.html.twig" %}

{%- block textarea_widget -%}
    {{- parent() -}}
{%- endblock -%}

{% block form_widget_simple -%}
    <div class="col-md-9 col-sm-9 col-xs-12">
        {% set showErrorIcon = false %}
        {% if type is not defined or type not in ['file', 'hidden'] %}
            {% set showErrorIcon = (not compound or force_error|default(false)) and not valid %}
        {% endif %}
        {{- parent() -}}
        {% if showErrorIcon %}
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        {% endif %}
    </div>
{%- endblock form_widget_simple %}


{%- block form_label -%}

    {% if label is not same as(false) -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' col-md-3 col-sm-3 col-xs-12')|trim}) %}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}

        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {% if required %}
            <span class="required" title="This field is required">*</span>
        {% endif %}

        </label>
    {%- endif -%}

{%- endblock form_label -%}
