{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    <div class="a2lix_translations tabbable{% if attr is defined and attr.class is defined %} {{ attr.class }}{% endif %}">
        <ul class="a2lix_translationsLocales nav nav-tabs">
            {% for translationsFields in form %}

                {% set locale = translationsFields.vars.name %}

                <li{% if app.request.locale == locale %} class="active"{% endif %}>
                    <a href="#" data-toggle="tab"
                       data-target=".{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }}">
                        {{ languages.getActiveLanguages()[locale] }}
                    </a>

                </li>

            {% endfor %}
        </ul>

        <div class="a2lix_translationsFields tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <div data-locale="{{ locale }}"
                     class="{{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}">
                    {{ form_errors(translationsFields) }}
                    {{ form_widget(translationsFields) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
