{% block _scelta_indirizzo_form_indirizzoId_entry_widget %}
    <input type="radio" id="{{ id }}" value="{{ value }}"{% if checked %} checked{% endif %} name="{{ full_name }}"/>
{% endblock %}
{%- block form_end -%}
    {%- if not render_rest is defined or render_rest -%}
        {{ form_rest(form) }}
    {%- endif -%}
    </form>
{%- endblock form_end -%}
