<section class="only_text">
    <div class="container-fluid">
        <div class="row align-center">
            <div class="col-md-10 col-md-offset-1">
                <h3 class="title_section" data-aos="fade-up" data-aos-delay="200" data-aos-duration="500">{{ titolo.val|raw }}</h3>
                <p class="subtitle_section" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">{{ sottotitolo.val|raw }}</p>
                {% if testo.val|default("") %}
                    <p class="text_section" data-aos="fade-up" data-aos-delay="600" data-aos-duration="500">{{ testo.val|raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
