.dt0{
    width:3%;
}

.dt1{
    width:7%;
}

.dt2{
    width:7%;
}

.dt3{
    width:10%;
}

.dt4{
    width:10%;
}

.dt5{
    width:5%;
}

.dt6{
    width:10%;
}

.dt7{
    width:15%;
}

.dt8{
    width:10%;
}

.dt9{
    width:5%;
}

.dt10{
    width:3%;
}

.color{
    display:block;
    width:1.3em;
    height:1.3em;
    border:1px solid #000;
    float:left;
    margin-right:0.6em;
}

#form_categorie .checkbox{
    float:left;
    margin-right:1em;
}

.numeric{
    text-align:right;
}

.attribute-list{
    margin:0;
    padding:0;
    list-style-type:none;
}

.attribute-list .btn{
    margin-bottom:0.5em;
}

.panel-heading{
    cursor:pointer;
}

.attributesList{
    border:1px solid #cece;
}

.btn-crea-variante, .btn-add-feature{
    float:right;
}

.table-varianti tbody tr td{
    background-color:#fff;
}

.thv0{
    width:5%;
}

.thv1{
    width:5%;
}

.thv2{
    width:10%;
}

.tvh3{
    width:5%;
}

.tvh4{
    width:10%;
}

.tvh5{
    width:40%;
}

.tvh6{
    width:20%;
}

.tvh7 label{
    display:none;
}

.tvh8{
    width:5%;
}

.tvh9{
    width:5%;
}

.tvh4{
    font-size:2em;
}

.file-btn, .btn-img{
    position:relative;
}

.file-btn input[type="file"], .btn-img input[type="file"]{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
}

.missingImage div i{
    font-size:2.6em;
}

.missingImage{
    border:2px dashed #cecece;
    min-height:5em;
    margin-bottom:1em;
    padding-top:1.2em;
}

#dropzone.has-advanced-upload{
    background-color:white;
    outline:2px dashed #73879c;
    outline-offset:0;
    height:200px;
}

#dropzone.has-advanced-upload .box__dragndrop{
    display:inline;
}

#dropzone{
    background-color:#c8dadf;
    position:relative;
    padding:75px 40px;
    margin-bottom:1em;
}

.box__file{
    width:0.1px;
    height:0.1px;
    opacity:0;
    overflow:hidden;
    position:absolute;
    z-index:-1;
}

#dropzone.is-dragover{
    background-color:#73879c;
    color:#fff;
    content:"Puoi rilasciare i tuoi files"
}

.box__input strong{
    text-decoration:underline;
    cursor:pointer;
}

#submitFiles{
    display:none;
}

.fileData .form-group, .fileData .form-group label{
    margin-bottom:0;
}

.fileData input{
    margin-bottom:0.2em;
    padding:0 1em;
    height:2em;
}

.is-dragover .box__release{
    display:block;
}

.is-dragover .box__input{
    display:none;
}

#filesAllegati .unsaved{
    float:right;
    color:#d9534f;
}

.panelImg .img-responsive{
    margin:0 auto 1em auto;
    max-height:10em;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__release,
.box__error{
    display:none;
    font-weight:700;
}

.edit-variant-photos, .edit-variant-description{
    cursor:pointer;
}

.traduzioni-varianti{
    padding:0 1em;
}

.prezziVariante, .prezziVarianteMarketPlace{
}

.prezziVariante .form-group, .prezziVarianteMarketPlace .form-group{
    margin-right:1em;
    float:left;
}

.prezziVariante > .form-group .form-group, .prezziVarianteMarketPlace > .form-group .form-group{
    width:45%;
}

.prezziVariante > .form-group .form-group label, .prezziVarianteMarketPlace > .form-group .form-group label{
    display:inline-block;
}

.prezziVariante > .form-group .form-group input, .prezziVarianteMarketPlace > .form-group .form-group input{
    display:inline-block;
}

.prezziVariante > .form-group .form-group label, .prezziVarianteMarketPlace > .form-group .form-group label{
    padding-top:0;
}

#dettaglioVarianteForm .prezziVariante > .form-group .form-group, #dettaglioVarianteForm .prezziVarianteMarketPlace > .form-group .form-group{
    width:48%;
}

#dettaglioVarianteForm{
    padding:0 1em;
}

#dettaglioVarianteForm .prezzi{
    margin-top:-0.3em;
}

#dettaglioVarianteForm .photosContainer{
    width:100%;
    overflow:auto;
    margin:1em 0;
}

#dettaglioVarianteForm .variante-thumbnail{
    width:8em;
    height:5em;
    margin:0.5em;
    float:left;
    background-size:cover;
    padding:0.2em;
    outline:1px solid #CCC;
    border:4px solid #fff;
    cursor:pointer;
}

#dettaglioVarianteForm .thumbnail-variante-selected{
    outline:1px solid #245269;
    border:4px solid #31708f;
}

#dettaglioVarianteForm .prezzi-container label{
    margin-bottom:0;
}

.tree{
    margin-bottom:2em;
}

#form_tagsList_tag{
    width:300px;
}

.correlatiScelti{
    height:160px;
    float:right;
    border:1px solid #ccc;
    margin-right:10px;
    background-color:#fff;
    padding:10px;
}

.correlato{
    padding:0.4em;
    border:1px solid #ccc;
    width:10%;
    float:left;
    height:140px;
    margin-right:0.4em;
    border-radius:3px;
}

.correlato .thumb{
    width:100%;
    height:100px;
    background-size:cover;
}

.variante-sortable-placeholder div{
    border:1px dashed #666;
    background-color:#ddd;
    width:100%;
}

.deletedVariante td{
    background-color:#f2dede !important;
}

