.newsRow{ background-color:#f9f9f9; border:1px dotted #666; margin-bottom:1em; padding:1em }

.containerRows{ border:2px dashed grey; min-height:250px; width:100%; margin-bottom:1em; display:inline-block; vertical-align:middle }

.pulsante{ min-height:24em }

.pulsante .btn{ margin-top:4em; font-size:3em }

.uploadImgNews{ position:absolute; width:100%; height:100%; opacity:0; top:0; left:0 }

.pulsantiera .btn{ font-size:1.3em }

.containerRows .img-responsive{ margin-bottom:1em }

.uploadedImage{ margin:auto }

#upload_header{ cursor:pointer }

.fileData .form-group, .fileData .form-group label{ margin-bottom:0 }

.fileData input{ margin-bottom:.2em; padding:0 1em; height:2em }

