.dt-body-center{
    text-align:center;
}

.tab-pane{
    padding-top:1em;
}

.alert-danger .help-block{
    color:#fff;
}

#notizieRss img{
    width:100%;
}

.btn-file{
    position:relative;
    overflow:hidden;
}

.btn-file input[type=file]{
    position:absolute;
    top:0;
    right:0;
    min-width:100%;
    min-height:100%;
    font-size:100px;
    text-align:right;
    filter:alpha(opacity=0);
    opacity:0;
    outline:none;
    background:white;
    cursor:inherit;
    display:block;
}

.delFile{
    cursor:pointer;
}

.vich .checkbox{
    display:none;
}

.rowCounter{
    margin-top:0.5em;
}

.seoCounter{
    text-align:center;
}

.modal-body-pad{
    padding:2em 0;
}

@media (min-width:768px){
    .modal-xl{
        width:90%;
        height:70%;
        max-width:1200px;
    }
    
    .modal-xl .modal-body{
        height:700px;
    }
}

#datatable{
    width:100% !important;
}