<div class="box-numeri-testi">
    {% if titolo.val|default("") %}<h3> {{ titolo.val }} </h3>{% endif %}
    <div class="container">
        <div class="row">
            {% for etichetta in etichette %}
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="box-testo">
                        <img src="grafica/num1.png">
                        <p>gfgafggag</p>
                        <h4>VAI IN FIGA</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>