{% if data.menu %}
    <ul class="nav navbar-nav navbar-right main-menu">
        {% set showFigli = 1 %}
        {% for index,menu in data.menu %}
            {% if index > 1 %}
                {% set showFigli = 0 %}
            {% endif %}
            <li{% if menu.figli|length and showFigli %} class="dropdown {% if loop.index0 == 0 %} colored-item light{% endif %} {% if loop.index0 == 1 %} colored-item dark{% endif %}"{% endif %}>
                <a href="{{ menu.slug }}"{% if menu.figli|length and showFigli %} class="has-arrow" data-hover="dropdown" data-delay="500" data-close-others="true" {% endif %}>
                    {{ menu.titolo }}{% if menu.figli|length and showFigli %}
                        <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i>{% endif %}
                    {% if menu.figli|length and showFigli %}
                        <a class="dropdown-toggle mobile-toggle" data-toggle="dropdown">
                            <i class="fa fa-angle-down fa-3x" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </a>
                {% if menu.figli|length %}
                    <ul class="dropdown-menu">
                        {% for child in menu.figli %}
                            <li>
                                <a href="{{ child.slug }}">
                                    {% if child.img %}
                                        <img src="{{ child.img.src }}" alt="{{ child.img.alt }}" />
                                    {% endif %}
                                    <p>
                                        {{ child.titolo|replace({' ': "<br />" }) | raw }}
                                    </p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}