<div class="sezione box-singolo"{% if img1.src %} data-parallax="scroll" data-image-src="{{ img1.src }}"{% endif %}>
    <div class="box-testo">
        {% if img2.src %}<img src="{{ img2.src }}" alt="{{ img2.alt }}" />{% endif %}
        <h2><a href="{{ link.link }}">{{ titolo.val | default("") }}</a></h2>
        <p>{{ sottotitolo.val | default("") | raw }}</p>
        {% if link.link %}
            <a rel="nofollow"{% if link.target != "_self" %} target="{{ link.target }}"{% endif %} href="{{ link.link }}">
                <button class=" btn btn-default">{{ link.label }}
                    <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></button>
            </a>
        {% endif %}
    </div>
</div>
