{% extends "admin/admin-list.html.twig" %}

{% block page_title %} {% trans %}default.labels.categorie_offerte{% endtrans %}: {% trans %}default.labels.elenco{% endtrans %} {% endblock %}

{% block pulsantiera %}
    <div class="btn-group" role="group">
        <a href="{{ path("offertecat_new") }}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans %}
            default.labels.nuovo {% endtrans %}
        </a>
        <a href="{{ path("offertecat_sort") }}" class="btn btn-success"><i
                    class="fa fa-sort-amount-asc"></i> {% trans %}
            default.labels.modifica_ordine {% endtrans %}
        </a>
    </div>
{% endblock %}


{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <table id="datatable" class="table table-striped table-bordered">
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/offerte/admin/js/offertecat.js') }}"></script>
{% endblock %}
