.image_with_background_image{
  min-height:500px;
  // min-height: 100%;
  height: 100%;
  background-size:cover;
  overflow: hidden;
  position: relative;
  .center-img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    top: 50%;
    max-height: 50%;
    left: 50%;
    text-align: center;
    color: white;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    padding: 0 7%;
  }
  .overlay_video{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
  }
  .wrapper_motto{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
    color: white;
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    padding:0 7%;
    .title1{
      font-size: 24px;
      margin:0;
      font-family: 'montserratsemibold';
      margin-bottom:14px;
    }
    .title2{
      font-size: 60px;
      font-family: 'montserratlight';
      margin-bottom:0;
    }
    .title3{
      font-size: 60px;
      font-family: 'montserratbold';
    }
  }

  #scroll_button{
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    left:0;
  }

  #scroll_button a span {
    position: absolute;
  	top: -45px;
  	left: 50%;
  	width: 46px;
  	height: 46px;
  	margin-left: -23px;
  	border: 3px solid #bdbdbd;
  	border-radius: 100%;
  	box-sizing: border-box;
    z-index: 8;
    bottom: 60px;
  }
  #scroll_button a span::after {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	content: '';
  	width: 16px;
  	height: 16px;
  	margin: -12px 0 0 -8px;
  	border-left: 3px solid #bdbdbd;
  	border-bottom: 3px solid #bdbdbd;
  	-webkit-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	box-sizing: border-box;
  }
  #scroll_button a span::before {
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: -1;
  	content: '';
  	width: 41px;
  	height: 41px;
    box-shadow: 0 0 0 0 #d2d2d2;
  	border-radius: 100%;
  	opacity: 0;
  	-webkit-animation: sdb03 2s infinite;
  	animation: sdb03 2s infinite;
  	box-sizing: border-box;
  }
  @-webkit-keyframes sdb03 {
  	0% {
  		opacity: 0;
  	}
  	30% {
  		opacity: 1;
  	}
  	60% {
  		box-shadow: 0 0 0 60px rgba(212, 212, 212, 0.1);
  		opacity: 0;
  	}
  	100% {
  		opacity: 0;
  	}
  }
  @keyframes sdb03 {
  	0% {
  		opacity: 0;
  	}
  	30% {
  		opacity: 1;
  	}
  	60% {
  		box-shadow: 0 0 0 60px rgba(212, 212, 212, 0.1);
  		opacity: 0;
  	}
  	100% {
  		opacity: 0;
  	}
  }
}

@media screen and (max-width:1550px){
  .image_with_background_image{
    .wrapper_motto{
      .title1{
        font-size: 22px;
      }
      .title2{
        font-size: 54px;
      }
      .title3 {
        font-size: 54px;
      }
    }
  }
}

@media screen and (max-width:1300px){
  .image_with_background_image{
    .wrapper_motto{
      .title1{
        font-size: 20px;
      }
      .title2{
        font-size: 50px;
      }
      .title3 {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width:1200px){
  .image_with_background_image{
    .wrapper_motto{
      .title1{
        font-size: 20px;
      }
      .title2{
        font-size: 42px;
      }
      .title3 {
        font-size: 42px;
      }
    }
  }
}

@media screen and (max-width:991px){
  .image_with_background_image{
    .wrapper_motto{
      padding:0 5%;
      .title1{
        font-size: 20px;
      }
      .title2{
        font-size: 36px;
        margin-bottom: 10px;
      }
      .title3 {
        font-size: 36px;
      }
    }
  }
}

@media screen and (max-width:800px){
  .image_with_background_image{
    .wrapper_motto{
      padding:0 5%;
      .title1{
        font-size: 20px;
      }
      .title2{
        font-size: 30px;
        margin-bottom: 10px;
      }
      .title3 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width:640px){
  .image_with_background_image{
    #scroll_button a span {
      position: absolute;
      top: -20px;
    }
    .wrapper_motto{
      padding:0 15px;
      .title1{
        font-size: 16px;
      }
      .title2{
        font-size: 24px;
        margin-bottom: 10px;
      }
      .title3 {
        font-size: 24px;
      }
    }
  }
}


@media screen and (max-width:500px){
  .image_with_background_image{
    .wrapper_motto{
      .title1{
        font-size: 16px;
      }
      .title2{
        font-size: 20px;
        margin-bottom: 10px;
      }
      .title3 {
        font-size: 20px;
      }
    }
  }
}
