a{
    display:inline-block;
    background-color:$color12;
    color:$color5;
    border:none;
    font-weight:$bold;
    font-size:$text_b;
    height:100px;
    width:100px;
    img{
        display:block;
        margin:0 auto;
        margin-bottom:5px;
    }
}
