<div class="box-numeri-testi">
    {% if titolo.val|default("") %}<h3> {{ titolo.val }} </h3>{% endif %}
    <div class="container">
        <div class="row">
            {% for etichetta in etichette %}
                {% set icona = attribute(icone, loop.index0) %}
                {% set valore = attribute(valori, loop.index0) %}
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="box-testo">
                        {% if icona.src|default("") %}
                            <img src="{{ icona.src }}" alt="{{ icona.alt|default("") }}" />
                        {% endif %}
                        {% if valore.val|default("") %}
                            <p>{{ valore.val }}</p>
                        {% endif %}
                        {% if etichetta.val|default("") %}
                            <h4>{{ etichetta.val }}</h4>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
