.box-numeri-testi{
    background-color:$color6;
    h3{
        text-align:center;
        font-size:$text9;
        font-weight:$bold;
        color:$color3;
        margin:0;
        padding-top:50px;
    }
    .col-lg-3{
        text-align:center;
        .box-testo{
            padding:100px 30px;
            .odometer.odometer-auto-theme{
                display:block;
            }
            p{
                font-size:$text4;
                font-weight:$bold;
                color:$color3;
            }
            h4{
                font-size:$text1;
                font-weight:$semi-bold;
                color:$color11;
            }
            img{
                margin-bottom:20px;
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .box-numeri .col-lg-3 .box-testo{
        p{
            font-size:font-percentage($text4, 0.9);
        }
        h4{
            font-size:font-percentage($text1, 0.9);
        }
    }
}

@media screen and (max-width:991px) {
    .box-numeri .col-lg-3 .box-testo{
        p{
            font-size:font-percentage($text4, 0.85);
        }
        h4{
            font-size:font-percentage($text1, 0.85);
        }
    }
    .box-numeri h3{
        font-size:font-percentage($text9, 0.8);
    }
}

@media screen and (max-width:767px) {
    .box-numeri .col-lg-3 .box-testo{
        padding:40px 20px;
        img{
            height:40px;
        }
        p{
            font-size:font-percentage($text4, 0.8);
        }
        h4{
            font-size:font-percentage($text1, 0.8);
        }
    }
    .box-numeri h3{
        font-size:font-percentage($text9, 0.7);
    }
}

@media screen and (max-width:549px) {
    .box-numeri .col-lg-3 .box-testo{
        padding:30px 15px;
    }
    .box-numeri h3{
        font-size:font-percentage($text9, 0.6);
    }
}
