.simple-slider{
  overflow:hidden;
  .no-padding{
    padding:0;
  }
  div{
    outline:0 !important;

  }
  img{
    outline:0 !important;
    cursor:pointer;
    width:100%;
    //height:400px;
  }
}

  //.slide-container img{
  //  opacity:0;
  //}
  //.slide-container.init img{
  //  opacity:1;
  //}
