{% if data.menu %}
    <ul class="nav navbar-nav navbar-right main-menu">
        {% for menu in data.menu %}
            <li class="dropdown colored-item light">
                <a href="{{ menu.slug }}" class="dropdown-toggle has-arrow" data-toggle="dropdown" data-hover="dropdown" data-delay="100" data-close-others="false">
                    {{ menu.titolo }} <i class="fa fa-angle-down fa-lg" aria-hidden="true"></i></b>
                </a>
                {% if menu.figli|length %}
                    <ul class="dropdown-menu">
                        {% for child in menu.figli %}
                            <li>
                                <a href="{{ child.slug }}">
                                    {{ dump(child.img) }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}