{% block input %}
    {% set langShort = lang.short %}
    {% if langShort == 'jp' %}
        {% set langShort = "ja" %}
    {% endif %}
    <div id="lang-container-{{ langShort }}" class="col-lg-6 col-md-6 lang-container">
        <div class="form-group">
            <label class="col-md-4 col-sm-4 col-xs-12 control-label required" for="lang-{{ langShort }}">{{ lang.long }}
            </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea id="lang-{{ langShort }}" name="translation[{{ lang.short }}]" required="required" class="form-control"></textarea>
            </div>
            {% if lang.short != "it" %}
                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-3 col-sm-offset-4 col-md-offset-4 col-lg-offset-4">
                    <button class="btn btn-info btn-translate-modal btn-xs btn-block" data-fromto="it-{{ langShort }}">
                        <i class="fa fa-language"></i> {% trans %}translation.labels.traduci_da_ita {% endtrans %}
                    </button>
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}