.two_blocks_text_image_right{
  background-color: $color12;
  .img_right{
    float:right;
  }
  .col_text{
    display: table;
    text-align: center;
    padding:0;
  }
  .col_img{
    padding: 0;
  }
  .wrapper_text{
    display: table-cell;
    vertical-align: middle;
  }
  .title_section{
    font-size: 45px;
    margin:30px;
    color:$color11;
    font-family:'Merriweather', serif;
    font-weight: 400;
    strong{
      font-family: "alana";
      color:$color5;
      font-size: 81px;
      font-weight: 400;
    }
  }
  .text_section{
    font-size: 16px;
    color:$color1;
    margin:0px 30px;
    font-family:'Merriweather', serif;
    font-weight: 400;
    line-height: 30px;
  }
}

@media screen and (max-width:991px){
  .two_blocks_text_image_right{
    .col_text{
      display: block;
    }
    .wrapper_text{
      display: block;
    }
    .img_right{
      padding:10px 20px 0 20px;
      display: block;
      margin:auto;
      float:none;
    }
    .text_section {
      font-size: 14px;
      line-height: 22px;
    }
    .title_section {
      display: block;
      font-size: 23px;
      strong{
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width:640px){
  .two_blocks_text_image_right{
    .text_section {
      font-size: 13px;
      margin:10px;
      line-height: 20px;
    }
  }
}
