display:inline-block

;
float:right

;
li{
    a{
        color:$color8;
        font-weight:$bold;
        font-size:$text5;
        line-height:40px;
        padding:5px 30px;
        position:relative;
        background-color:transparent;
        text-transform:uppercase;
        &:hover:after, &:focus:after, &:active:after{
            width:80%;
        }
        &::after{
            content:'';
            position:absolute;
            bottom:10px;
            left:50%;
            width:0;
            transform:translateX(-50%);
            height:2px;
            background:$color8;
            transition:.35s;
        }

        img{
            height:40px;
        }
    }
}

li:not(:last-child) > a{
    border-right:1px solid $color8;
}

@media screen and (max-width:767px) {
    li{
        text-align:center;
        display:block;
    }
    li:not(:last-child) > a{
        border-right:none;
        display:inline-block;
        &:hover:after, &:focus:after, &:active:after{
            width:100%;
        }
    }
    float:none;
    display:block;
}

@media screen and (max-width:1249px) {
    li a{
        padding:5px 20px;
        font-size:font-percentage($text5, 0.8);
    }
}

@media screen and (max-width:1049px) {
    li a{
        padding:5px 10px;
    }
    li a img{
        height:30px;
    }
}

@media screen and (max-width:991px) {
    .navbar-transparent .navbar-default{
        padding-top:30px;
    }
    .logo-fixed-wrapper{
        margin-left:10px;
        img{
            height:80px;
        }
    }
    li a{
        padding:5px;
        font-size:font-percentage($text5, 0.75);
    }
}

@media screen and (max-width:767px) {
    li{
        text-align:center;
        display:block;
    }
    > li:not(:last-child) > a{
        border-right:none;
        display:inline-block;
        &:hover:after, &:focus:after, &:active:after{
            width:100%;
        }
    }
    .navbar-transparent .navbar-collapse{
        border:none;
        box-shadow:none;
        max-height:500px;
    }
    li.dropdown .dropdown-menu{
        transform:none;
        li{
            a{
                color:$color2;
            }
        }
    }
}
