.box-commenti{
    padding:40px 0;
    font-family:$font;
    color:$color5;
    .media-object{
        padding:5px;
        padding-bottom:0;
        border:1px solid $color10;
    }
    .media-body{
        padding-left:26px;
    }
    .media{
        padding:26px 0;
        border-top:1px solid $color10;
        margin-top:0;
    }
    .media-heading{
        font-size:15px;
    }
    .row-commento >.col-xs-12{
        padding:0;
    }
    .btn{
        border:0;
        border-radius:0;
        background:$color2;
        color:$color1;
        font-weight:$medium;
    }
    .titolo{
        font-weight:$medium;
        font-size:26px;
        margin-bottom:30px;
    }
    h3{
        margin-top:0;
    }
    textarea{
        width:100%;
        padding-left:5px;
        padding-top:5px;
    }
    .dx{
        padding-right:0;
    }
    .sx{
        padding-left:0;
    }
    input{
        width:100%;
    }
    .row{
        margin-bottom:1em;
    }
    .row_pubblica{
        .btn{
            float:right;
        }
    }
    .row-commento{
        .avatar-pic{
            float:left;
            width:45px;
            margin-right:12px;
        }
        .commento-di{
            color:$color3;
        }
    }
    .row_x{
        text-indent:-9999px;
        height:1px;
    }
    @media (max-width:767px){
        .dx,.sx{
            padding-right:0;
            padding-left:0;
        }
        .titolo{
            font-size:20px;
        }
    }
}
