.sezione.box-singolo-parallax{
    background-position:50% 50%;
    background-size:cover;
    padding:300px;
}

@media screen and (max-width:600px) {
    .sezione.box-singolo-parallax{
        display:none;
    }
}
