<section class="title_with_background_image">
  <div class="layer background-parallax" data-type="parallax" data-depth="0.20" style="background-image:url({{immagine.src}});"></div>
  <div class="overlay_video">
  </div>
  <div class="container-fluid">
    <div class="row align-center row_title">
      <div class="col-md-12">
        <h3 class="title_section" data-aos="fade-in">{{titolo.val|raw}}</h3>
      </div>
    </div>
  </div>
</section>
