.title_with_background_image{
  padding:200px 0;
  position: relative;
  overflow: hidden;
  .background-parallax{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    position: absolute;
    z-index: -1;
    top:0;
  }
  .align-center{
    text-align: center;
  }
  .title_section{
    font-size: 55px;
    color:$text11n;
    font-family: 'montserratbold';
    margin:0;
  }
  .overlay_video{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    left: 0;
    top:0;
    z-index:2;
  }
  .row_title{
    z-index:3;
    position: relative;
  }
}

@media screen and (max-width:991px){
  .title_with_background_image{
    .title_section{
      font-size: 30px;
    }
  }
}

@media screen and (max-width:640px){
  .title_with_background_image{
    padding: 100px 0;
    .title_section{
      font-size: 18px;
    }
  }
}
