{% trans_default_domain "public" %}

<section class="prodotto-main scheda-prodotto" data-id="{{ data.Product.id }}">
    <div class=" row">
        <div class="col-sm-12 col-md-6 colonna-immagine">
            <div class="wrap-square">
                <!--<div class="img-prodotto-big">-->
                <img class="img-prodotto-big img-principale"
                     src="{{ asset(productHelper.getImmaginePrincipale(data.Product) ) }}"
                     alt="{{ data.Product.translate().titolo }}">
                <!--</div>-->
            </div>

            <div class="slider-img-prodotto">
                <!--le immagini verranno tagliate giuste con liip -->
                {#TODO LIGHTBOX/FANCYBOX#}
                {% if data.immagini %}
                    {% for immagine in data.immagini %}
                        <a href="{{ vich_uploader_asset(immagine, 'file') }}" data-lightbox="prodotto">
                            <div class="wrap">
                                <img
                                        src="{{ vich_uploader_asset(immagine, 'file') }}"
                                        alt="{{ immagine.translate().alt }}"/>
                            </div>

                        </a>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
        <div class="col-sm-12 col-md-6 colonna-info">
            <div class="mobileHelp">
                {% if ecommerce.manage_brands %}
                    {% if data.Product.brand and data.Product.brand.listImgFileName %}
                        <a href="{{ to_route("brand_ecommerce",{"slug":data.Product.brand.translate().slug}) }}">
                            <img class="img-marca img-responsive"
                                 src="{{ asset(data.Product.brand.uploadDir ~ data.Product.brand.listImgFileName) }}"
                                 alt="{{ data.Product.brand.listImgAlt }}"/>
                        </a>
                    {% endif %}
                {% endif %}
                <h1 class="nome-prodotto-main">{{ data.Product.translate().titolo }}</h1>
            </div>
            <ul class="dati-prodotto sezione-prodotto">
                <li>{% trans %} ecommerce.labels.codice_prodotto {% endtrans %}:
                    <strong>{{ data.Product.codice }}</strong></li>
                {% if ecommerce.manage_brands and  data.Product.brand %}
                    <li>{% trans %} ecommerce.labels.brand {% endtrans %} :
                        <a class="marchioH3"
                           href="{{ to_route("brand_ecommerce",{"slug":data.Product.brand.translate().slug}) }}">
                            <h3>{{ data.Product.brand }}</h3></a>
                    </li>
                {% endif %}
            </ul>

            {% if ecommerce.manage_attributes and data.Product.varianti|length %}
                <ul class="varianti-prodotto sezione-prodotto">
                    {% set attributi = productHelper.getAttributi(data.Product,app.request.locale) %}

                    {% set matrice= productHelper.getMatrice(data.Product,app.request.locale) %}

                    <script>
                        var varianti = {{ matrice|raw }};
                    </script>
                    {% for gruppoAttributi in attributi['selezione'] %}
                        <li class="attributeRow variante">
                            <div class="nome-variante">{{ gruppoAttributi.nome }}:</div>
                            <ul class="box-varianti">
                                {% for attribute in gruppoAttributi.attributi %}
                                    {% if gruppoAttributi.type == "RADIO" or gruppoAttributi.type == "SELECT" %}
                                        <li>
                                            <div class="variante-taglia">
                                                <a href="#" data-id="{{ attribute.id }}"
                                                   class="attribute{% if attribute.selected %} attributeSelected{% endif %}">
                                                    {{ attribute.nome }}
                                                </a>
                                            </div>
                                        </li>
                                    {% elseif gruppoAttributi.type == "COLOR" %}
                                        <li>
                                            <div class="variante-colore"
                                                 style="background-color:{{ attribute.value }}">
                                                <a href="#" data-id="{{ attribute.id }}"
                                                   class="attribute color {% if attribute.selected %} attributeSelected{% endif %}"
                                                   title="{{ attribute.nome }}"></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% set isAvailable=productHelper.isAvailable(data.Product) %}
            <div class="sezione-prodotto clearfix">
                <div class="disponibilita availability {% if not isAvailable %}disabled{% endif %}">{% if isAvailable %}
                        {% trans %} ecommerce.labels.disponibile {% endtrans %}
                    {% else %}
                        {% trans %} ecommerce.labels.non_disponibile {% endtrans %}
                    {% endif %}</div>
                <div class="promo-spedizione"><img src="{{ assetLayout("img/trasporto.png") }}"> Spedizione in <strong>24-48
                        ore</strong></div>
            </div>
            <div class="sezione-prodotto clearfix">
                <div class="prezzo price"
                     data-variable="{{ data.Product.prezzoDipendeDaVariante }}">{{ productHelper.prezzo(data.Product, listinoHelper.getDefault)|localizedcurrency('EUR') }}</div>
                {% if is_granted("ROLE_ANAGRAFICA") %}

                    <div data-product="{{ data.Product.id }}"
                         class="wishlist-add {% if data.Product.inWishlist %} active {% endif %}"><span
                                class="icon2-wishlist-small">
                </span></div>
                {% endif %}
            </div>
            <div class="sezione-prodotto clearfix">
                <div class="acquista-button pulsante-ghebagas pull-right btn-acquista {% if not isAvailable %} disabled{% endif %}">
            <span>{% trans %}
                ecommerce.labels.acquista {% endtrans %}</span>
                </div>
                <input type="text" class="form-control text-right qty quantita pull-right" name="qty"
                       value="{{ data.Product.quantitaMinima }}"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs tabs-prodotto" role="tablist">
                <li role="presentation" class="active">
                    <a href="#descrizione" aria-controls="descrizione" role="tab" data-toggle="tab">{% trans %}
                        ecommerce.labels.descrizione{% endtrans %}</a>
                </li>
                {% if data.Product.translate().datiAggiuntivi %}
                    <li role="presentation">
                        <a href="#dati_aggiuntivi" aria-controls="dati_aggiuntivi" role="tab"
                           data-toggle="tab">{% trans %}ecommerce.labels.dati_aggiuntivi{% endtrans %}</a>
                    </li>
                {% endif %}
                <li class="share-box pull-right">
                    CONDIVIDI
                    <ul class="social-link">
                        {% if servizi_esterni.facebook_api %}
                            <li>
                                <a href="{{ to_route(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'), true) }}"
                                   id="socialShareFB">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         viewBox="0 0 32 32" title="Facebook" alt="Facebook"
                                         style="width: 22px; height: 22px;background-color:rgb(59, 89, 152);fill:white"
                                         class="at-icon at-icon-facebook">
                                        <g>
                                            <path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z"
                                                  fill-rule="evenodd"></path>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if data.twitter is defined %}
                            <li>
                                <a href="https://twitter.com/share?url={{ data.twitter.url }}&text={{ data.twitter.text }}{% if data.twitter.via is defined %}&via={{ data.twitter.via }}{% endif %}"
                                   id="socialShareTW">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         viewBox="0 0 32 32" title="Twitter" alt="Twitter"
                                         style="width: 22px; height: 22px;background-color:rgb(29, 161, 242);fill:white"
                                         class="at-icon at-icon-twitter">
                                        <g>
                                            <path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336"
                                                  fill-rule="evenodd"></path>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                        {% if data.linkedin is defined %}
                            <li>
                                <a id="socialShareLI"
                                   href="https://www.linkedin.com/shareArticle?mini=true&url={{ data.linkedin.url }}&title={{ data.linkedin.title }}&summary={{ data.linkedin.summary }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                         viewBox="0 0 32 32" title="LinkedIn" alt="LinkedIn"
                                         style="width: 22px; height: 22px;background-color:rgb(0, 119, 181);fill:white"
                                         class="at-icon at-icon-linkedin">
                                        <g>
                                            <path d="M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z"
                                                  fill-rule="evenodd"></path>
                                        </g>
                                    </svg>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>


            <div class="tab-content tab-content-prodotto">
                <div role="tabpanel" class="tab-pane active descrizione-prodotto" id="descrizione">
                    {{ data.Product.translate().testo |raw | nl2br }}
                </div>
                {% if data.Product.translate().datiAggiuntivi %}
                    <div role="tabpanel" class="tab-pane descrizione-prodotto" id="dati_aggiuntivi">
                        {{ data.Product.translate().datiAggiuntivi | nl2br }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script type="text/x-handlebars-template" id="notEnoughTemplate">
    <div id="carrelloModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                        {% trans %}ecommerce.labels.cart{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% verbatim %} product.labels.quantita_non_sufficiente{% endverbatim %}
                    </div>
                    <ul>
                        <li>{% trans %}product.labels.quantita_richiesta {% endtrans %}
                            : {% verbatim %} {{requested}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.giacenza{% endtrans %}
                            : {% verbatim %} {{giacenza}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_aggiunta {% endtrans %}
                            : {% verbatim %} {{added}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_incarello {% endtrans %}
                            : {% verbatim %} {{total}} {% endverbatim %}</li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                            <a href="/carrello" class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToCart{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>

<script type="text/x-handlebars-template" id="addedTemplate">
    <div id="carrelloModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                        {% trans %}ecommerce.labels.cart{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% verbatim %} {{description}} {% endverbatim %}
                    </div>
                    <ul>
                        <li>{% trans %}product.labels.quantita_richiesta {% endtrans %}
                            : {% verbatim %} {{requested}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_aggiunta {% endtrans %}
                            : {% verbatim %} {{added}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_incarello {% endtrans %}
                            : {% verbatim %} {{total}} {% endverbatim %}</li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                            <a href="/carrello" class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToCart{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>


<script type="text/x-handlebars" id="noWishlistTemplate">

    <div id="noWishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                           {% trans %}default.labels.registrationRequired{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% trans %}ecommerce.labels.registrationRequiredforWishlist{% endtrans %}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                        <a href="/registrazione"  class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToRegistration{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>












</script>

