.loghi_homepage{
  background-color: $color10n;
  padding:50px 0;
  .align-center{
    text-align: center;
  }
  .row_clienti{
    margin:50px 0;
  }
  .title_section{
    font-size: 24px;
    color:$text1n;
    font-family: 'montserratsemibold';
    margin-bottom: 30px;
  }
  .logo_wrapper img{
    margin:auto;
    padding:0 45px;
  }
  .loghi_wrapper>.logo_wrapper:first-child{
    margin-bottom: 50px;
  }

  .slick-slide:focus{
    @include no-outline();
  }
  .slick-dots li button:before {
    font-size: 18px!important;
    content: ''!important;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: $color1g;
    opacity: .55;
  }

  .slick-dots{
    bottom:-50px;
  }

  .slick-dots li.slick-active button:before {
    background-color: white;
    border: 3px solid $color1;
    width: 15px;
    height: 15px;
    margin-top: -1.5px;
  }
  .slick-next,
  .slick-prev{
    display: none !important;
  }
  .slick-prev:before, .slick-next:before {
    color: $text2g;
  }
}


@media screen and (max-width:640px){
  .loghi_homepage{
    .slick-next,
    .slick-prev{
      display: block !important;
    }
    .title_section {
      font-size: 18px;
    }
    .row_clienti{
      margin:20px 20px;
    }
  }
}

@media screen and (max-width:640px){
  .loghi_homepage{
    .logo_wrapper img{
      padding:0 15px;
      width: 65%;
    }
  }
}
