  <section class="two_blocks_text_image_left">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-push-6 col_text" data-aos="fade-left" data-aos-duration="1000">
          <h2 class="title_section">{{ titolo.val|raw }}</h2>
        </div>
        <div class="col-md-6 col-md-pull-6 col_img" data-aos="fade-right" data-aos-duration="1000">
          <img class="img-responsive img_left" src="{{ immagine.src }}">
        </div>
      </div>
    </div>
  </section>
