height:100%;
.text_with_background_image{
    height:100%;
    overflow:hidden;
    position:relative;
    .sfondo{
      position:absolute;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size:cover;
      -webkit-transition: opacity 1500ms ease-in-out;
      -moz-transition: opacity 1500ms ease-in-out;
      -o-transition: opacity 1500ms ease-in-out;
      transition: opacity 1500ms ease-in-out;
    }
    .transparent{
      opacity:0;
    }
    .sfondo_color{
      z-index: 1;
    }
    .sfondo_grey{
      z-index: 2;
    }
    .overlay_video{
        position:absolute;
        background-color:black;
        width:100%;
        height:100%;
        opacity:0.5;
        left:0;
        top:0;
        z-index: 3;
    }
    .wrapper_text{
      position: absolute;
      z-index: 9;
      top: 50%;
      text-align: center;
      width: 100%;
      padding: 0 30px;
      transform: translateY(-50%);
      margin-top: 70px;
      .title1{
        font-size:60px;
        margin:0;
        font-family: "alana";
        margin-bottom:14px;
        font-weight: 400;
        color:$color11;
        padding-bottom:120px;
        strong{
          color:$color5;
          font-weight: 400;
        }
      }
      .title2{
        font-size:18px;
        font-family:'Merriweather', serif;
        margin-bottom:0;
        font-weight: 400;
        color:$color11;
      }
    }

    #scroll_button{
        position:absolute;
        bottom:40px;
        width:100%;
        text-align:center;
        left:0;
    }

    #scroll_button a span{
        position:absolute;
        top:-45px;
        left:50%;
        width:35px;
        height:35px;
        margin-left:-23px;
        border-radius:100%;
        box-sizing:border-box;
        z-index:8;
        bottom:60px;
        background-color: rgba(189, 189, 189, 0.5);
    }
    #scroll_button a span::after{
        position:absolute;
        top:50%;
        left:50%;
        content:'';
        width:16px;
        height:16px;
        margin:-12px 0 0 -8px;
        border-left:3px solid #bdbdbd;
        border-bottom:3px solid #bdbdbd;
        -webkit-transform:rotate(-45deg);
        transform:rotate(-45deg);
        box-sizing:border-box;
    }
    #scroll_button a span::before{
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        content:'';
        width:35px;
        height:35px;
        box-shadow:0 0 0 0 #d2d2d2;
        border-radius:100%;
        opacity:0;
        -webkit-animation:sdb03 2s infinite;
        animation:sdb03 2s infinite;
        box-sizing:border-box;
    }
    @-webkit-keyframes sdb03{
        0%{
            opacity:0;
        }
        30%{
            opacity:1;
        }
        60%{
            box-shadow:0 0 0 60px rgba(212, 212, 212, 0.1);
            opacity:0;
        }
        100%{
            opacity:0;
        }
    }
    @keyframes sdb03{
        0%{
            opacity:0;
        }
        30%{
            opacity:1;
        }
        60%{
            box-shadow:0 0 0 60px rgba(212, 212, 212, 0.1);
            opacity:0;
        }
        100%{
            opacity:0;
        }
    }
}

@media screen and (max-width:1550px) {
    .text_with_background_image{
        .wrapper_motto{
            .title1{
                font-size:22px;
            }
            .title2{
                font-size:54px;
            }
            .title3{
                font-size:54px;
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .text_with_background_image{
      .wrapper_text{
        bottom: 120px;
        .title1 {
          font-size: 50px;
          padding-bottom: 30px;
        }
        .title2{
          font-size: 16px;
        }
      }
    }
}


@media screen and (max-width:991px) {
    .text_with_background_image{
      .wrapper_text{
        bottom: 90px;
        .title1 {
          font-size: 40px;
          padding-bottom: 10px;
        }
        .title2{
          font-size: 14px;
        }
      }
    }
}

@media screen and (max-width:800px) {
    .text_with_background_image{

    }
}

@media screen and (max-width:640px) {
    .text_with_background_image{
        #scroll_button a span{
            position:absolute;
            top:-20px;
        }

    }
}
