  <section class="text_with_background_image">
    <div class="sfondo sfondo_grey transparent"  style="background-image:url('{{ img_grey.src }}');"></div>
    <div class="sfondo sfondo_color"  style="background-image:url('{{ img_color.src }}');"></div>
      <div class="container-fluid">
        <div class="overlay_video">
        </div>
        <div class="wrapper_text">
          <h1 class="title1" data-aos="zoom-in" data-aos-duration="1000">{{ title.val|raw }}</h1>
        </div>
        <div id="scroll_button">
            <a href="{{ id_sezione.link }}" title="{{ id_sezione.label }}"><span></span></a>
        </div>
      </div>
  </section>
