.two-blocks-icon-title-text{
  text-align:center;
  strong{
    font-family:"montserratmedium";
  }
  .text{
    font-size:16px;
    font-family:"montserratlight";
    color:#b1b1b1;
    line-height:25px;
    margin-top:50px;
  }
  .title{
      font-size:48px;
      font-family: "montserratextralight";
      margin-bottom:0;
  }
  .subtitle{
  font-family:"montserratsemibold";
    font-size:24px;
}
  .container-fluid>.row{
    .col-md-6{
      padding:10%;
      img{
        height:86px;
        display:block;
        margin-left:auto;
        margin-right:auto;
      }
    }
    &>.col-md-6:first-child{
  background-color: $color1g;
  .title{
    color:$text1g;


  }

  .subtitle{

  color:#b1b1b1;
  }


    }
    &>.col-md-6:last-child{
    background-color:$color4g;
    .title{
      color:$text4g;
    }
    .subtitle{
      color:$text1g;
    }
    .text{
      color:$text2g;
    }
    }
  }
}

@media(min-width:991px){
  .two-blocks-icon-title-text{
  .container-fluid>.row{
    display:table;
    &::before{
      content:none;
    }
    .col-md-6{
      display:table-cell;
      float:none;
    }
  }
}

}


@media (max-width:1400px){
  .two-blocks-icon-title-text{
    .text{
      margin-top:25px;
    }
    .container-fluid>.row{
      .col-md-6{
        padding:7%;
      }
    }
  }
}

@media (max-width:1200px){
  .two-blocks-icon-title-text{
    .container-fluid>.row{
      .col-md-6{
        padding:5%;
      }
    }
    .text{
      font-size:16px;
    }
    .title{
        font-size:40px;
    }
    .subtitle{
      font-size:18px;
  }

  }
}

@media (max-width:991px){
    .two-blocks-icon-title-text{
  .container-fluid>.row{
    .col-md-6{
      padding:70px 5%;
    }
  }
}
}

@media (max-width:500px){
  .two-blocks-icon-title-text{
.container-fluid>.row{
  .col-md-6{
    padding:50px 12px;
  }
}
.text{
  font-size:15px;
  line-height:23px;
}
.title{
    font-size:32px;
}
.subtitle{
  font-size:16px;
}
}
}
@media (max-width:400px){
  .two-blocks-icon-title-text{
.container-fluid>.row{
  .col-md-6{
    padding:30px 12px;
  }
}
.text{
  font-size:14px;
  line-height:23px;
}
.title{
    font-size:28px;
}
.subtitle{
  font-size:15px;
}
}
}
