.four-blocks-with-list{
  // .container-fluid>.row{
  //   display:table;
  //   &::before{
  //     content:none;
  //   }
  //   .col-md-6{
  //     display:table-cell;
  //     float:none;
  //   }
  // }
  .container-fluid>.row>.col-md-6{
    background-color:$color2g;
    color:$text2g;
    padding:4%;
    padding-right:10%;
    padding-bottom:50px;
  }
  .media-body{
    padding-left:20px;
  }
  .container-fluid>.row:first-child>.col-md-6:first-child{
    background-color:$color1g;
    color:$text1g;
    .title-1{
      color:$text6g;
    }
  }
  .container-fluid>.row:first-child>.col-md-6:last-child{
    position:relative;
    &::before{
      content:"";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 15px 18px 15px 0;
      border-color: transparent #ffffff transparent transparent;
      position:absolute;
      top:50%;
      left:0;
      transform:translate(-100%,-50%);
    }
  }
  .container-fluid>.row:last-child>.col-md-6:last-child{
    position:relative;
    &::after{
      content:"";
      width: 0;
      height: 0;
      position:absolute;
      z-index:10;
      border-style: solid;
      border-width: 15px 0 15px 18px;
      border-color: transparent transparent transparent #ffffff;
      top:50%;
      right:0;
      transform:translate(100%,-50%);
    }
  }
  .container-fluid>.row:last-child>.col-md-6:first-child{
    background-color:$color4g;
    color:$text4g;
    padding-right:4%;
    padding-left:10%;
    .title-1{
      color:$text1g;
    }
  }
  .title-1{
    font-family:"montserratsemibold";
    font-size:60px;
    margin-top:0;

  }
  .title-2{
    font-family:"montserratlight";
    font-size:48px;
  }
  .text{
    font-family:"montserratlight";
    font-size:16px;
    line-height:25px;
  }
  .titolo-lista{
    font-family:"montserratbold";
    font-size:18px;
  }
  .testo-lista{
    font-family:"montserratlight";
    font-size:16px;
    color:$text3;
  }

}


@media (max-width:1500px){
  .four-blocks-with-list{
    .title-1{
      font-size:50px;
    }
    .title-2{
      font-size:40px;
    }
    .text{
      font-size:16px;
      line-height:23px;
    }
    .titolo-lista{
      font-size:16px;
    }
    .testo-lista{
      font-size:15px;
      line-height:20px;
    }
}
}
@media (max-width:1400px){
  .four-blocks-with-list{
    .media-body{
      padding-left:10px;
    }
    .title-2{
      margin-top:10px;
    }
    .media{
      margin-top:10px;
    }
    .container-fluid>.row>.col-md-6{
      padding:4%;
      padding-right:7%;
      padding-bottom:50px;
    }
    .container-fluid>.row:last-child>.col-md-6:first-child{
      padding-right:4%;
      padding-left:7%;
    }
}
}
@media (max-width:1300px){
  .four-blocks-with-list{
    .title-1{
      font-size:44px;
    }
    .title-2{
      font-size:34px;
    }
    .text{
      font-size:16px;
      line-height:22px;
    }
    .container-fluid>.row>.col-md-6{
      padding:3%;
      padding-right:5%;
      padding-bottom:40px;
    }
    .container-fluid>.row:last-child>.col-md-6:first-child{
      padding-right:3%;
      padding-left:5%;
    }
}
}
@media (max-width:1200px){
  .four-blocks-with-list{
    .media-body{
      padding-left:5px;
    }
    .container-fluid>.row>.col-md-6{
      padding:2%;
      padding-right:4%;
      padding-bottom:40px;
    }
    .container-fluid>.row:last-child>.col-md-6:first-child{
      padding-right:2%;
      padding-left:4%;
    }
    .testo-lista{
      line-height:18px;
    }
}
}
@media (max-width:991px){
  .four-blocks-with-list{
    .container-fluid>.row:first-child>.col-md-6:last-child{
      &::before{
        content:"";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 18px 15px 18px;
        border-color: transparent transparent #ffffff transparent;
        position:absolute;
        top:0;
        left:50%;
        transform:translate(-50%,-100%);
      }
    }

    .container-fluid>.row:last-child>.col-md-6:last-child{
      position:relative;
      &::after{
        content:"";
        width: 0;
        height: 0;
        position:absolute;
        z-index:10;
        border-style: solid;
        border-width: 0 18px 15px 18px;
        border-color: transparent transparent #ffffff transparent;
        top:0;
        right:auto;
        left:50%;
        transform:translate(-50%,-100%);
      }
    }

    .container-fluid>.row>.col-md-6{
      padding-left:5%;
      padding-right:5%;
      padding-top:40px;
      padding-bottom:40px;
    }
    .container-fluid>.row:last-child>.col-md-6:first-child{
      padding-right:5%;
      padding-left:5%;
      padding-top:40px;
      padding-bottom:40px;
    }

}
}

@media (max-width:700px){
    .four-blocks-with-list{
      .container-fluid>.row>.col-md-6{
        padding-left:20px;
        padding-right:20px;
        padding-top:40px;
        padding-bottom:40px;
      }
    }
}

@media (max-width:600px){
  .four-blocks-with-list{
    .title-1{
      margin-bottom:5px;
    }
    .container-fluid>.row>.col-md-6{
      padding:40px 20px;
    }
    .container-fluid>.row:last-child>.col-md-6:first-child{
      padding:40px 20px;
    }
    .title-1{
      font-size:38px;
    }
    .title-2{
      font-size:30px;
    }
    .text{
      font-size:15px;
      line-height:20px;
    }
    .testo-lista{
      font-size:14px;
    }
}
}
@media (max-width:500px){
  .four-blocks-with-list{
    .media-body{
      padding-left:5px;
    }
    .container-fluid>.row>.col-md-6{
      padding:30px 20px;
    }
    .container-fluid>.row:last-child>.col-md-6:first-child{
      padding:30px 20px;
    }
    .title-1{
      font-size:34px;
    }
    .title-2{
      font-size:26px;
    }
    .text{
      font-size:14px;
      line-height:20px;
    }
    .titolo-lista{
      font-size:15px;
    }
    .testo-lista{
      font-size:13px;
    }
}
}
