<section class="four-blocks-with-list" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title-1" data-aos="fade-in">
        {{titolo1.val|raw}}
        </h3>
        <h3 class="title-2"  data-aos="fade-in">
        {{sottotitolo1.val|raw}}
        </h3>
        <p class="text"  data-aos="fade-in">
        {{testo1.val|raw}}
        </p>
      </div>
      <div class="col-md-6">
        <div class="media"  data-aos="zoom-in-right" data-aos-duration="1000">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="{{list1_icon1.src}}" alt="{{list1_icon1.alt|default("")}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading titolo-lista">{{list1_title1.val|raw}}</h3>
            <p class="testo-lista">{{list1_text1.val|raw}}</p>
          </div>
        </div>
        <div class="media"  data-aos="zoom-in-right" data-aos-delay="200" data-aos-duration="1000" >
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="{{list1_icon2.src}}" alt="{{list1_icon2.alt|default("")}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading titolo-lista">{{list1_title2.val|raw}}</h3>
            <p class="testo-lista">{{list1_text2.val|raw}}</p>
          </div>
        </div>
        <div class="media"   data-aos="zoom-in-right" data-aos-delay="400" data-aos-duration="1000" >
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="{{list1_icon3.src}}" alt="{{list1_icon3.alt|default("")}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading titolo-lista">{{list1_title3.val|raw}}</h3>
            <p class="testo-lista">{{list1_text3.val|raw}}</p>
          </div>
        </div>
        <div class="media"  data-aos="zoom-in-right" data-aos-delay="600" data-aos-duration="1000">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="{{list1_icon4.src}}" alt="{{list1_icon4.alt|default("")}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading titolo-lista">{{list1_title4.val|raw}}</h3>
            <p class="testo-lista">{{list1_text4.val|raw}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">

    <div class="col-md-6 col-lg-6 col-sm-12 col-md-push-6 col-lg-push-6">
      <h3 class="title-1"  data-aos="fade-in">
        {{titolo2.val|raw}}
      </h3>
      <h3 class="title-2"  data-aos="fade-in">
        {{sottotitolo2.val|raw}}
      </h3>
      <p class="text"  data-aos="fade-in">
        {{testo2.val|raw}}
      </p>
    </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-md-pull-6 col-lg-pull-6">
        <div class="media"  data-aos="zoom-out-right"  data-aos-duration="1000" >
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="{{list2_icon1.src}}" alt="{{list2_icon1.alt|default("")}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading titolo-lista">{{list2_title1.val|raw}}</h3>
            <p class="testo-lista">{{list2_text1.val|raw}}</p>
          </div>
        </div>
        <div class="media"  data-aos="zoom-out-right" data-aos-delay="200" data-aos-duration="1000" >
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="{{list2_icon2.src}}" alt="{{list2_icon2.alt|default("")}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading titolo-lista">{{list2_title2.val|raw}}</h3>
            <p class="testo-lista">{{list2_text2.val|raw}}</p>
          </div>
        </div>
        <div class="media" data-aos="zoom-out-right" data-aos-delay="400" data-aos-duration="1000" >
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="{{list2_icon3.src}}" alt="{{list2_icon3.alt|default("")}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading titolo-lista">{{list2_title3.val|raw}}</h3>
            <p class="testo-lista">{{list2_text3.val|raw}}</p>
          </div>
        </div>
        <div class="media"  data-aos="zoom-out-right" data-aos-delay="600" data-aos-duration="1000">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="{{list2_icon4.src}}" alt="{{list2_icon4.alt|default("")}}">
            </a>
          </div>
          <div class="media-body">
            <h3 class="media-heading titolo-lista">{{list2_title4.val|raw}}</h3>
            <p class="testo-lista">{{list2_text4.val|raw}}</p>
          </div>
        </div>

    </div>
    </div>
</div>
</section>
