.four_columns_text_image{
  text-align:center;
  background-color:$color1g;
  .prima-parte{
    padding-left:15%;
    padding-right:15%;
    padding-top:80px;
  }
  .immagine{
    padding-left:20px;
    padding-right:20px;
  }
  .img-big{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .title-small{
    font-family:"montserratsemibold";
    color:$text6g;
    font-size:24px;
  }
  .title-big{
    color:$text1g;
    font-size:30px;
    font-family:"montserratlight";
    margin-bottom:40px;
  }
  .text{
    color:$text5g;
    font-family:"montserratlight";
    font-size:16px;
    line-height:30px;
    margin-bottom:0;
  }
  .title-icon{
    color:$text1g;
    font-family: "montserratsemibold";
    font-size:14px;
  }
  .text-icon{
    color:$text5g;
    font-family:"montserratlight";
    font-size:14px;
    padding:0 20px;
  }

  .pannello-icone{
    margin-top:100px;
    margin-bottom:80px;
  }
}

@media (max-width:1300px){
  .four_columns_text_image{
    text-align:center;
    background-color:$color1g;
    .prima-parte{
      padding-left:10%;
      padding-right:10%;
      padding-top:80px;
    }
  }
}

@media (max-width:1200px){
  .four_columns_text_image{
    .pannello-icone{
      margin-top:60px;
    }
    .prima-parte{
      padding-left:8%;
      padding-right:8%;
      padding-top:60px;
    }
    .title-small{
      font-size:22px;
    }
    .title-big{
      font-size:28px;
      margin-bottom:40px;
    }
    .text{
      font-size:16px;
      line-height:30px;
      margin-bottom:0;
    }
    .title-icon{
      font-size:14px;
    }
    .text-icon{
      font-size:13px;
    }
  }
}

@media (max-width:991px){
  .four_columns_text_image{
    .prima-parte{
      margin-top:40px;
      padding-left:5%;
      padding-right:5%;
    }
    .title-big{
      margin-bottom:20px;
      font-size:24px;
    }
    .title-small{
      font-size:18px;
    }
    .text{
      font-size:15px;
      line-height:25px;
    }
    .pannello-icone{
      margin-top:40px;
      margin-bottom:40px;
    }
  }
}

@media (max-width:600px){
    .four_columns_text_image{
      .prime-parte{
        padding-left:5px;
        padding-right:5px;
      }
      .title-big{
        font-size:20px;
      }
      .text{
        font-size:14px;
        line-height:23px;
      }
      .title-small{
        font-size:16px;
      }
      .title-icon{
        font-size:13px;
      }
      .text-icon{
        font-size:13px;
        padding:0 20px;
      }
    }
}

@media (max-width:450px){
    .four_columns_text_image{
      .pannello-icone{
        margin-top:20px;
      }
      .pannello-icone>.col-xs-6{
        width:100%;
        margin-top:10px !important;
      }
    }
}
