.text_with_background_video{
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  @include background-cover();
  .overlay_video{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    left: 0;
  }
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s opacity;
  }
  .wrapper_motto{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    text-align: center;
    color: white;
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    .title1{
      font-size: 30px;
      margin:0;
      font-family: 'montserratregular';
    }
    .title2{
      font-size: 200px;
      line-height: 130px;
      margin-bottom: 30px;
      font-family: 'montserratregular';
    }
    .title3{
      font-size: 60px;
      font-family: 'montserratregular';
    }
  }

  #scroll_button{
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    left:0;
  }

  #scroll_button a span {
    position: absolute;
  	top: -45px;
  	left: 50%;
  	width: 46px;
  	height: 46px;
  	margin-left: -23px;
  	border: 3px solid #bdbdbd;
  	border-radius: 100%;
  	box-sizing: border-box;
    z-index: 8;
    bottom: 60px;
  }
  #scroll_button a span::after {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	content: '';
  	width: 16px;
  	height: 16px;
  	margin: -12px 0 0 -8px;
  	border-left: 3px solid #bdbdbd;
  	border-bottom: 3px solid #bdbdbd;
  	-webkit-transform: rotate(-45deg);
  	transform: rotate(-45deg);
  	box-sizing: border-box;
  }
  #scroll_button a span::before {
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: -1;
  	content: '';
  	width: 41px;
  	height: 41px;
    box-shadow: 0 0 0 0 #d2d2d2;
  	border-radius: 100%;
  	opacity: 0;
  	-webkit-animation: sdb03 2s infinite;
  	animation: sdb03 2s infinite;
  	box-sizing: border-box;
  }
  @-webkit-keyframes sdb03 {
  	0% {
  		opacity: 0;
  	}
  	30% {
  		opacity: 1;
  	}
  	60% {
  		box-shadow: 0 0 0 60px rgba(212, 212, 212, 0.1);
  		opacity: 0;
  	}
  	100% {
  		opacity: 0;
  	}
  }
  @keyframes sdb03 {
  	0% {
  		opacity: 0;
  	}
  	30% {
  		opacity: 1;
  	}
  	60% {
  		box-shadow: 0 0 0 60px rgba(212, 212, 212, 0.1);
  		opacity: 0;
  	}
  	100% {
  		opacity: 0;
  	}
  }
}

@media screen and (max-width:1300px){
  .text_with_background_video{
    .wrapper_motto{
      .title1{
        font-size: 27px;
      }
      .title2{
        font-size: 120px;
        line-height: 90px;
      }
      .title3 {
        font-size: 45px;
      }
    }
  }
}

@media screen and (max-width:991px){
  .text_with_background_video{
    .wrapper_motto{
      .title1{
        font-size: 25px;
      }
      .title2{
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 10px;
      }
      .title3 {
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width:640px){
  .text_with_background_video{
    #scroll_button a span {
      position: absolute;
      top: -20px;
    }
    video{
      display: none;
    }
    .wrapper_motto{
      .title1{
        font-size: 20px;
      }
      .title2{
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 10px;
      }
      .title3 {
        font-size: 20px;
      }
    }
  }
}
