$mobile-breakpoint: 991px !default;

$color-background: white !default;
$color-message: red !default;
$color-link: black !default;
$color-link-active: red !default;
$color-text: black !default;
$color-trattino: red !default;

@media screen and (min-width: 0) {
    background-color: $color-background;
    display: table;
    height: 100%;
    width: 100%;

    > div {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

@media screen and (max-width: 991px) {
    padding: 100px 20px 20px;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    img {
        max-width: 100%;
    }
}

#trattino {
    margin: 50px 0 20px;

    div {
        background-color: $color-trattino;
        height: 10px;
        margin: 0 auto;
        width: 100px;
    }
}

#messaggio_errore {
    width: 100%;
    display: block;
    text-align: center;
}

#messaggio_errore h3 {
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: $color-message;
}

p.stringaerrore {
    color: $color-text;
    font-size: 18px;
    line-height: 28px;
    margin-top: 25px;
    text-align: center;
}

#menu {
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: -moz-max-content;*/
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
}

#menu a {
    color: $color-link;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;

    @media screen and (max-width: $mobile-breakpoint) {
        display: block;
    }
}

#menu a:hover {
    color: $color-link-active;
    text-decoration: none;
    padding: 20px;
}