{% trans_default_domain "public" %}

<div class="menu-wrapper">
    <nav class="navbar headerMenu">
        <div class="container-fluid container-limitato">
            <a class="logo-pov" href="/">
                <img src="{{ assetLayout("assets/logo.png") }}" alt="Logo Azienda">
            </a>
            <ul class="nav navbar-nav navbar-right ">
                <li>
                    {{ loadWidgets('HEADER', 'searchBox') }}
                </li>
                <li>
                    <a href="/chi-siamo">CHI SIAMO</a>
                </li>
                <li>
                    <a href="/info-utili/metodi-di-pagamento">INFO UTILI</a>
                </li>
                <li>
                    <a href="/contatti">CONTATTI</a>
                </li>
                <li>
                    {{ loadWidgets('HEADER', 'selettoreLingue') }}
                </li>
            </ul>

        </div>
    </nav>
    <nav class="navbar menuFirst">
        <div class="container-fluid container-limitato">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right carrello-menu">
                    <li>
                        <a href="#categorie" class="menu-toggler">CATEGORIE</a>
                    </li>
                    <li>
                        <a href="#marchi" class="menu-toggler">MARCHI</a>
                    </li>
                    <li>
                        <a href="#offerte" class="menu-toggler">OFFERTE</a>
                    </li>
                    <li class="outlet-wrap">
                        <a href="/prodotti/outlet-corner/uomo" class="outlet-corner">OUTLET
                            CORNER
                            <span class="gradient-box"></span></a>
                    </li>
                    <li class="main-account-wrap">
                        {{ loadWidgets('HEADER', 'UserMenu') }}
                    </li>
                    <li class="icon-type">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="pannello-login-btn" href="{{ to_route("account_edit") }}"><span
                                        class="icon-utente"></span></a>

                        {% else %}
                            <a class="pannello-login-btn" href="#"><span class="icon-utente"></span></a>

                        {% endif %}
                    </li>
                    <li class="icon-type">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="/account/wishlist"><span class="icon-wishlist-vuoto"></span></a>
                        {% else %}
                            <a href="#" class="no-wishlist"><span class="icon-wishlist-vuoto"></span></a>

                        {% endif %}
                    </li>
                    <li class="icon-type">
                        <a class="carrello-wrap"
                           href="{{ to_route("carrello_list") }}">
                            <span class="icon-carrello"></span>
                            {{ loadWidgets('HEADER', 'badgeCarrello') }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="boxes-header">
        {{ loadWidgets('HEADER', 'boxHeader') }}
    </div>
</div>

<nav class="menuMobile">
    <ul>
        <li>
            <button type="button" class="navbar-toggle collapsed menu-toggler-mobile">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </li>

        <li>
            <a class="openUserMenuMobile"
               href="#"><span class="icon-utente"></span></a></li>
        <li><a href="/"><img class="logo-small-mobile" src="{{ assetLayout("/img/logo-small.svg") }}"></a>

        </li>
        <li><a href=""><span class="icon-wishlist-vuoto"></span></a>
        </li>
        <li><a href="{{ to_route("carrello_list") }}" class="carrello-mobile"><span class="icon-carrello"></span></a>
        </li>
    </ul>
    {{ loadWidgets('HEADER', 'menuUtenteCell') }}
    {{ loadWidgets('HEADER', 'ricercaMobile') }}
</nav>


{{ loadWidgets('HEADER', 'content') }}
