{% set form=data.form %}
{% set errors=data.errors %}
{% set action=data.action %}
{% set Anagrafica=data.Anagrafica %}
 {% form_theme form '_simpleThemeAlternativo.html.twig' %}
{{ form_start(form) }}

{% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li> {{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<div role="tabpanel">
    <ul class="nav nav-tabs " role="tablist">
        <li role="presentation" class="active">
            <a href="#tab_content1" id="dati-anagrafici" role="tab" data-toggle="tab" aria-expanded="false">{% trans %}
                anagrafica.labels.dati_anagrafici {% endtrans %}</a>
        </li>
        <li role="presentation">
            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">{% trans %}
                anagrafica.labels.accesso {% endtrans %}</a>
        </li>
        <li role="presentation"{% if action == 'create' %} class="disabled"{% endif %}>
            <a href="#tab_address"{% if action == 'create' %} class="disabled"{% endif %} role="tab" id="profile-tab2"
               data-toggle="tab" aria-expanded="true">{% trans %} anagrafica.labels.indirizzi {% endtrans %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in form-edit" id="tab_content1"
             aria-labelledby="dati-anagrafici">


            <span class="help-block">{% trans %} default.labels.obbligatori {% endtrans %}</span>

            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.nome) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.cognome) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.indirizzo) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.nazione) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4" style="padding-left:0">
                        {{ form_row(form.cap) }}
                    </div>
                    <div class="col-sm-8" style="padding-right:0">
                        {{ form_row(form.provincia) }}
                        {{ form_row(form.provincia_text) }}
                    </div>
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.comune) }}
                    {{ form_row(form.comune_text) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.telefono) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.cellulare) }}
                </div>
            </div>
            {{ form_row(form.codiceFiscale) }}
            {#{{ form_row(form.isAzienda) }}#}
            {% if Anagrafica.isAzienda %}
                {{ form_row(form.ragioneSociale) }}
                {{ form_row(form.partitaIva) }}
            {% endif %}
            <button class="btn btn-main-submit pulsante-form" formnovalidate> {% trans %}
                default.labels.salva {% endtrans %}</button>
        </div>
        <div role="tabpanel" class="tab-pane fade form-edit" id="tab_content2" aria-labelledby="profile-tab">
            <span class="help-block">{% trans %} default.labels.obbligatori {% endtrans %}</span>

            {#{{ form_row(form.isGuest) }}#}
            {{ form_row(form.email) }}
            <div class="row">
                <div class="col-sm-6">
                    {{ form_row(form.plainPassword.first) }}
                </div>
                <div class="col-sm-6">
                    {{ form_row(form.plainPassword.second) }}

                </div>
            </div>

            <button class="btn btn-main-submit pulsante-form" formnovalidate> {% trans %}
                default.labels.salva {% endtrans %}</button>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_address" data-anagrafica="{{ Anagrafica.id }}"
             aria-labelledby="profile-tab">

            {% include "@Anagrafica/Anagrafica/indirizzi.html.twig" %}

        </div>
    </div>
</div>

{{ form_widget(form._token) }}



{#<a href="{{ path('anagrafica') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}#}



{{ form_end(form, {render_rest: false}) }}

<script type="text/x-handlebars-template" id="optionsTemplate">
    {% verbatim %}
        {{#each options}}<option value="{{id}}">{{nome}}</option>{{/each}}
    {% endverbatim %}
</script>

<script type="text/x-handlebars-template" id="emptyComuneTemplate">
    <option value="0">{% trans %} anagrafica.labels.select_province {% endtrans %}</option>
</script>
