.sezione.main-blog {
  .col-lg-9 {
    padding: 0 5px;
  }
  .open-sidebar {
    border: 2px solid $color1;
    color: $color1;
    background-color: transparent;
    padding: 10px;
    font-family: $font;
    font-weight: 500;
    cursor: pointer;
    display: none;
    margin: 0 auto;
    z-index: 10;
    margin-top: 30px;
  }
}

.left-blog {
  font-family: $font;
  padding: 40px 8%;
}

.right-blog-wrapper {
  background-color: #f5f5f5;
  padding: 40px;
  .close-sidebar {
    border: 2px solid $color1;
    color: $color1;
    background-color: transparent;
    padding: 10px;
    font-family: $font;
    font-weight: 500;
    cursor: pointer;
    display: none;
    z-index: 10;
  }
}

@media screen and (max-width: 1199px) {
  .right-blog-wrapper {
    padding: 15px;
  }
  .left-blog {
    padding: 20px 3%;
  }
}

@media screen and (max-width: 991px) {
  .left-blog {
    padding: 15px 30px;
  }
}

@media screen and (max-width: 767px) {
  .left-blog {
    padding: 5px;
  }
  .sezione.main-blog {
    .open-sidebar {
      display: table;
    }
    .right-blog-wrapper {
      position: fixed;
      top: 0;
      left: 100%;
      z-index: 1050;
      padding: 15px;
      max-height: 100%;
      overflow-y: auto;
      transition: 0.5s;
      &.open {
        left: 0;
        transition: 0.5s;
      }
      .close-sidebar {
        display: table;
        margin: 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
  }
}