@import url('https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700');

@mixin gradient-pov() {
  color: #00935d;
  background: -moz-linear-gradient(left, $color3 0%, $color2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $color3 0%, $color2 100%); /* Chrome10-25,Safari5.1-6 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alert-danger {
  background-image: none;
  background-color: $color2;
  border: 0;
  color: white;
  border-radius: 0;
}

#message {
  background-color: $color2 !important;
  color: white !important;
}

.icona-pov {
  @include gradient-pov();
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

a:hover, a:focus, a:active {
  text-decoration: none !important;
  outline: 0;
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6, li, p, div, a, label, textarea, table, ul {
  font-family: $font;
}

.bordo {
  border: 10px solid #1b1b1b;
  @media(max-width: 767px) {
    border: 0;
  }
}

.animated {
  opacity: 0;
  &.bounceIn {
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }
}

body, html {
  height: 100%;
}

.slick-slide:focus {
  outline: 0;
}

.sfondo-sexydesdy {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

@media(max-width: 1720px) {
  .sfondo-sexydesdy {
    background-image: none !important;
  }
}

.container-limitato {
  max-width: 1500px;
}

@media(min-width: 767px) {
  .container-margin {
    margin-top: 50px;
  }
}

.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.col-sm-3-modificata {
  width: 23%;
}

.col-sm-9-modificata {
  width: 77%;
}

//ADATTAMENTO
@media(max-width: 1250px) {
  .col-sm-3-modificata {
    width: 26%;
  }
  .col-sm-9-modificata {
    width: 74%;
  }
}

@media(max-width: 1040px) {
  .col-sm-3-modificata {
    width: 30%;
  }
  .col-sm-9-modificata {
    width: 70%;
  }
}

@media(max-width: 900px) {
  .col-sm-3-modificata {
    width: 33%;
  }
  .col-sm-9-modificata {
    width: 67%;
  }
}

@media(max-width: 767px) {
  .col-sm-3-modificata, .col-sm-9-modificata {
    width: 100%;

  }
  .col-sm-3-modificata {
    padding: 0;
  }
  .titolo-categoria {
    text-align: center;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .breadCrumb .container-limitato {
    padding: 0;
  }
}

.pulsante-form {
  background-color: $color2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;

}

.mappaSedi {
  height: 500px;
  width: 100%;
  background-color: black;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $color2 !important;
}

@media(max-width: 767px) {
  .mappaSedi {
    height: 250px;
  }
}

.catalogoMain {
  padding-top: 80px;
  padding-bottom: 80px;
}

.titleIndex {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px
}

@media(max-width: 767px) {
  .titleIndex {
    text-align: center;
  }
}

.breadCrumb {
  background-color: $color17;
}

.modal {
  form {
    input, select {
    }
    label {
      font-size: 14px;
      font-weight: 700;
      color: $color6;
      span {
        color: $color2;
        font-weight: 700;
      }
    }
    .radio {
      display: inline-block;
      margin-right: 20px;
    }
    .radio label, .checkbox label, .radio-inline, .checkbox-inline, .light-description, .checkbox label {
      font-size: 14px;
      font-weight: 300;
      color: $color3;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    input {
      border: 1px #e4e4e4 solid;
    }

    .help-block {
      margin-bottom: 20px;
    }
  }
}

.modal-footer {
  .btn-ok {
    background-color: $color2;
    background-image: none;
    font-weight: 700;
    border: 0;
    border-radius: 0;
  }
  .btn-default {
    background-color: $color3;
    border-radius: 0;
    background-image: none;
    border: 0;
    color: white;
  }
}

#carrelloModal {
  .modal-content {
    border-radius: 0;
    padding: 60px 20px;
  }
  .modal-body {
    text-align: center;
    .titolo {
      color: $color2;
      font-weight: 500;
      font-size: 40px;
    }
    .testo {
      color: $color3;
      margin-top: 16px;
      margin-bottom: 16px;
      font-size: 34px;
    }
    .lista-valori {
      color: $color1;
      list-style: none;
      padding: 0;
      font-size: 24px;
      margin-top: 20px;
      margin-bottom: 20px;
      span {
        color: $color2;
      }
      li {
        margin-top: 10px;
      }
    }
    .btn {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 300px;
      margin-top: 20px;
      font-size: 20px;
      background-image: none;
      padding: 10px 20px;
      color: white;
      background-color: $color2;
      &.grey {
        background-color: $color9;
      }
    }

    @media(max-width: 992px) {
      .titolo {
        font-size: 30px;
      }
      .testo {
        font-size: 24px;
      }
      .lista-valori {
        font-size: 18px;
      }
    }

    @media(max-width: 500px) {
      .titolo {
        font-size: 24px;
      }
      .testo {
        font-size: 20px;
      }
      .lista-valori {
        font-size: 16px;
      }
      .btn {
        font-size: 16px;
      }
    }
  }
}

#noWishlistModal {
  .modal-body {
    text-align: center;
    padding: 40px 10%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: left;
      li {
        font-size: 16px;
        color: $color6;
        span {
          color: $color2;
        }
      }
      margin-bottom: 40px;
    }
    .titolo {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 30px;
      padding-left: 10%;
      padding-right: 10%;
    }
    .testo {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 40px;
      text-align: left;
    }
    .pulsante-ghebagas {
      width: 100%;
      &.grey {
        background-color: $color26;
      }
    }
  }
  @media(max-width: 767px) {
    .pulsante-ghebagas {
      margin-bottom: 20px;
      width: 100%;
    }
  }
  @media(max-width: 500px) {
    .pulsante-ghebagas {
      font-size: 16px;
    }
  }
}

@media (max-width: 470px) {
  .footer1 .col-xs-6 {
    width: 100%;
  }
}