.box-prodotto-small {
  .img-prodotto {
    min-width: 78px;
    max-height: 78px;
  }
  padding: 10px 0;
  border-bottom: 1px solid #EBEBEB;
  .nome-prodotto {
    color: $color1;
    font-size: 16px;
    font-weight: 300;
  }
  .prezzo {
    & .old {
      font-size: 15px;
      color: $color1;
      font-weight: 300;
      text-decoration: line-through;
      padding-right: 5px;
    }
    font-size: 16px;
    font-weight: 600;
    color: $color2;
  }
}