.box-prodotto {
  text-align: center;
  border: 1px solid transparent;
  padding: 0;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 17px;
    width: 77px;
    height: 25px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    //text-shadow: 0px 1px 0 #a2a2a2;
    margin-bottom: 10px;

    &-top {
      color: #FBB03B;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
  }
  //.parte-hover {
  //  visibility: hidden;
  //  opacity: 0;
  //  transition: 500ms;
  //
  //}
  border: 1px solid;
  border-color: #ECECEC;
  transition: 500ms border-color, 500ms box-shadow;
  @media(max-width: 767px) {
    border-color: #ECECEC;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    //.parte-hover {
    //  visibility: visible;
    //  opacity: 1;
    //}
  }

  .categoria-prodotto {
    font-size: 16px;
    margin-bottom: 5px;
    color: $color3;
    text-transform: uppercase;
    font-weight: 500;
  }
  .padded-box {
    padding: 14px;
  }
  .wishlist-button {
    color: $color8;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 5px;
    &:before {
      content: "\e91a";
      margin-right: 5px;
      font-size: 26px;
      font-family: 'icomoon' !important;
      -webkit-font-smoothing: antialiased;
    }
    &.active:before {
      content: "\e919";
    }
    &:hover, &:focus,
    &.active {
      color: $color2;
      background-color: transparent;
      text-decoration: none;
      box-shadow: none;
    }
    &.wishlist-page {
      color: $color8 !important;
      &:before {
        display: none;
      }
    }
  }
  .nome-prodotto {
    font-size: 16px;
    font-weight: 400;
    color: $color8;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .prezzo {
    & .old {
      color: #c5c5c1;
      text-decoration: line-through;
      //&:after {
      //  content: " /";
      //}
    }
    .separatore {
      color: #c5c5c1;
    }
    font-size: 24px;
    font-weight: 600;
    color: $color2;
    margin-bottom: 20px;
  }
  .pulsanti {
    padding-left: 10%;
    padding-right: 10%;
  }
  .acquista-button {
    margin-right: 1%;
  }

  .acquista-button {
    font-size: 18px;
    font-weight: 500;
    background-color: $color2;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0;
    color: white;
    padding: 5px 5px;
    span {
      font-size: 26px;
      vertical-align: text-bottom;
    }
  }
  .img-prodotto-wrap {
    height: 300px;
    text-align: center;
    width: 100%;
    font: 0/0 a;
    margin-bottom: 10px;

  }
  .img-prodotto-wrap:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle; /* vertical alignment of the inline element */
    height: 100%;
  }
  .img-prodotto {
    margin-bottom: 10px;
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    display: inline-block;
    vertical-align: middle;
  }

  @media(max-width: 767px) {
    .prezzo {
      margin-bottom: 10px;
    }
    .acquista-button {
      display: block;
      margin-top: 0px;
    }
    .img-prodotto-wrap {
      height: 220px;
    }
  }
  @media(max-width: 620px) {
    .wishlist-button {
      font-size: 13px;
    }
  }
}

.slick-slide {
  .box-prodotto {
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .parte-hover {
      visibility: hidden;
      opacity: 0;
      transition: 500ms;

    }
    @media(max-width: 767px) {
      .parte-hover {
        visibility: visible;
        opacity: 1;
      }
    }
    @media(min-width: 767px) {
      &:hover {
        border-color: #ECECEC;
        -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.14);
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.14);
        transition: 500ms border-color, 500ms box-shadow;
        .parte-hover {
          visibility: visible;
          opacity: 1;
          transition: 500ms opacity;
        }
      }
    }
  }
}