.logo-footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 155px;
}

.footer-start {
  margin-top: 100px;
}

.footerContainer {
  background-color: #1b1b1b;
}

.telefono-footer {
  color: $color2;
  font-size: 20px;
  vertical-align: middle;
  font-weight: 600;
  margin-top: 10px;
  span {
    vertical-align: sub;
    font-size: 30px;
  }
}

.separatore-footer {
  margin-top: 40px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  > div {
    border-top: 1px solid #2e2e2e;
  }

}

.preFooter {
  margin-top: 100px;
}

.footer-titolo {
  display: inline-block;
}

.socialMenu {
  margin-top: -6px;
}

.footer1 {
  padding-bottom: 60px;
  border-bottom: 1px solid #F0F0F0;
}

.footer2 {
  padding-left: 10%;
  padding-right: 10%
}

.footer3 .rt {
  text-align: center;
  font-size: 13px !important;
  color: $color11 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.social-footer {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  li {

    display: inline-block;
    span {
      color: $color2;
      font-size: 30px;
    }

  }
}

@mixin menuFooter() {
  .webtek .rt p {
    font-size: 14px !important;
    color: $color11 !important;
    text-align: left;
  }
  .menuFooter {
    .titoloMenu {
      font-size: 14px;
      font-weight: bold;
      color: $color11;
      margin-bottom: 16px;
    }
    .socialFooter {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-right: 10px;
        img {
          width: 23px;
          height: 23px;
        }
      }
    }
    .elencoMenu {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 14px;
      color: $color11;
      li {
        margin-bottom: 6px;
      }
      a {
        color: inherit;
      }
    }
    .boxImg {
      img.immagine {
        float: right;
        max-height: 250px;
      }
    }
    @media(max-width: 970px) {
      .titoloMenu, .elencoMenu {
        font-size: 13px;
      }
    }
    @media(max-width: 767px) {
      text-align: center;
      .titoloMenu, .elencoMenu {
        font-size: 18px;
      }
      .telefono-footer {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1200px) {

  .footer2 {
    padding-left: 10%;
    padding-right: 10%
  }
}

@media(max-width: 991px) {

  .webtek .rt p {
    text-align: center !important;
  }
  .footer2 ul {
    text-align: center;
  }
  .footer2 ul li {
    text-align: center;
    font-size: 14px;
    color: #8E8E8E;
  }
  .menuFooter {
    text-align: center;
  }
  .col-contattaci, .col-customer {
    margin-top: 40px;
  }
  .logo-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 135px;
  }
}

@media(max-width: 767px) {

  .socialMenu .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .telefono-footer {
    font-size: 20px;
    span {
      font-size: 40px;
      vertical-align: middle;
    }
  }
  .footer2 ul {
    text-align: center;
  }
  .footer2 ul li {
    text-align: center;
    font-size: 16px;
    color: #8E8E8E;
  }
  .footer1 {
    padding-bottom: 0;
  }
}