@mixin headerMenu {
  .menu-wrapper {
    background-color: $color6;
    padding: 20px 0;
    @media(max-width: 767px) {
      display: none;
    }
  }

  .boxes-header {
    width: 810px;
    margin-left: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(85px);
  }

  .logo-pov {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 10;
    img {
      width: 155px;
    }
  }
  .headerMenu {
    .container-fluid {
      position: relative;
    }
    margin-bottom: 0;
    .navbar-nav {
      padding-bottom: 0;
      padding-top: 0;
      padding-left: 140px;
      > li:first-child {
        margin-right: 80px;
      }
    }
    .navbar-nav > li {
      font-size: 18px;
      color: white;
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
      p {
        color: inherit;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;
      }
      a {
        text-shadow: none;
        color: inherit;
        vertical-align: middle;
        padding: 16px 15px;
        &:hover {
          text-decoration: none;
          background-color: transparent;
          color: $color2;
        }
      }
      span {
        font-size: 20px;
        margin-right: 2px;
        vertical-align: middle;
      }
      strong, span {
        color: $color2;
      }
    }

    //ADATTAMENTO
    @media(max-width: 1400px) {
      .navbar-nav {
        > li:first-child {
          margin-right: 0px;
        }
      }
    }

    @media(max-width: 1200px) {
      .navbar-nav {
        > li {
          margin-left: 10px;
        }
      }
    }

    @media(max-width: 1100px) {

      .logo-pov {
        position: absolute;
        top: -20px;
        img {
          width: 100px;
        }
      }
    }

    @media(max-width: 991px) {
      .navbar-nav {
        > li a {
          font-size: 16px;
          padding: 16px 5px;
        }
      }
    }

    @media(max-width: 767px) {
      .navbar-nav {
        display: none;
      }
      .logo-pov {
        position: absolute;
        top: -20px;
        left: 50%;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    }

  }
}

@mixin menu {
  .menuFirst {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    //padding-left: 160px;
    .icon-type a {
      padding-top: 8px !important;
      padding-bottom: 13px;
      padding-right: 5px;
      padding-left: 5px;
    }
    .icon-type span {
      font-size: 30px;
      padding-right: 10px;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
    }
    .icon-type:last-child span {
      border-right: 0;
    }
    .navbar-nav {
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 2px;
    }

    > .container-fluid {
      height: 100%;
    }
    .navbar-right {
      > li {
        margin-left: 5px;
      }
      li a {
        text-shadow: none;
        font-size: 24px;
        font-weight: bold;
        color: white;
        &:hover {
          color: $color2;
          background-color: transparent;
        }
      }
      .outlet-wrap {
        position: relative;
        &:after {
          font-family: 'icomoon' !important;
          content: "\e91c";
          position: absolute;
          right: -35px;
          font-size: 37px;
          top: -12px;
          @include gradient-pov();
        }
      }
      .outlet-corner {
        position: relative;
        .gradient-box {
          position: absolute;
          bottom: 7px;
          left: 50%;
          transform: translateX(-50%);
          width: 50px;
          height: 2px;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00935d+0,f6a905+100 */
          background: #00935d; /* Old browsers */
          background: -moz-linear-gradient(left, #00935d 0%, #f6a905 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left, #00935d 0%, #f6a905 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right, #00935d 0%, #f6a905 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00935d', endColorstr='#f6a905', GradientType=1); /* IE6-9 */
        }

      }
      .main-account-wrap {
        font-size: 16px;
        text-align: right;
        line-height: 21px;
        margin-left: 100px;
        color: white;
        a {
          color: $color3;
          font-size: inherit;
          display: inline-block;
          padding: 0;
          font-weight: 400;
        }
      }
    }

    @media(max-width: 1450px) {
      .navbar-right li a {
        font-size: 23px;
        padding: 10px;
      }
      .navbar-right .main-account-wrap {
        margin-left: 50px;
      }
    }

    @media(max-width: 1300px) {
      .icon-type a {
        padding-top: 0px !important;
      }
      .navbar-right li a {
        font-size: 21px;
        padding: 10px 5px;
      }
      .navbar-right .main-account-wrap {
        font-size: 16px;
        line-height: 15px;
      }
    }
    @media(max-width: 1100px) {
      padding-top: 30px;
      .navbar-right li a {
        font-size: 19px;
        padding: 10px 5px;
      }
      .navbar-right .main-account-wrap {
        font-size: 14px;
        line-height: 15px;
      }
    }
    .icon-type .icon-utente {
      display: none;
    }
    @media(max-width: 870px) {
      .icon-type .icon-utente {
        display: block;
      }
      .outlet-wrap {
        margin-right: 35px;
      }
      .navbar-right .main-account-wrap {
        margin-left: 0;
        font-size: 14px;
        line-height: 15px;
        font-size: 0;
        .pannello-login-btn {
          display: none !important;
        }
      }
    }

    @media(max-width: 767px) {
      display: none;
    }

  }

  @media (max-width: 1300px) {
    .boxes-header {
      transform: translateX(60px);
    }
  }
  @media(max-width: 1000px) {
    .boxes-header {
      transform: translateX(0px);
    }
  }

  .icon-cart {
    font-size: 35px;
    color: $color2;
  }

  .carrello-wrap {
    position: relative;
    .badge {
      position: absolute;
      top: -15px;
      right: 1px;
      background-color: $color3;
    }
  }
  .carrello-mobile {
    position: relative;
    //padding: 5px !important;
    .badge {
      position: absolute;
      top: -3px;
      right: -10px;
      color: $color2;
      background-color: white;
    }
  }
  .navbar-nav {
    padding: 15px;
  }
  .navbar-brand img {
    height: 100%;
  }
  .navbar-brand {
    cursor: pointer;
    padding: 0;
    height: 100%;
  }
  .navbar-header {
    position: relative;
    height: 100%;
  }
  .titolo-centrale {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      margin-top: 0;
      margin-bottom: 0;
      color: $color1;
      font-size: 20px;
      font-weight: 400;
      strong {
        color: $color2;
        font-weight: 500;
      }
    }

  }

  @media(max-width: 830px) {
    .boxes-header {
      width: 100%;

    }
  }

  @media(max-width: 767px) {
    .boxes-header {
      display: none;

    }
  }
}

@mixin menu2 {
  .menuSecond {
    margin-bottom: 0;
    border: 0;
    background-color: $color2;
    height: 80px;
    z-index: 99;
  }

  .menuTable {
    transition: 1s;
  }

  .menuTableRight {
    display: table;
    table-layout: auto;
    float: right;
    width: 80px;
    height: 80px;
    transition: 1s;
    background-color: $color3;
    ul {
      display: table-row;
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        padding: 25px 0;
        &:first-child {
          background-color: $color3;
        }
        &:last-child {
          background-color: $color2;
        }
        img {
          margin-right: 5px;
          margin-top: -4px;
        }
        > a {
          display: inline-block;
          font-family: $font1;
          font-size: 14px;
          color: $color1;
          font-weight: 700;

        }
      }
    }
  }

  //ADATTAMENTO
  .menuSecond {

    @media(max-width: 1280px) {
      .container-fluid {
        padding: 0;
      }
    }
    @media (max-width: 992px) {
      .menuTableRight ul li img {
        margin-right: 2px;
        margin-top: -4px;
      }
      .menuTable ul li a {
        font-size: 16px;
      }
      .menuTable {
        width: 80%;
      }

    }
    @media (max-width: 870px) {
      .menuTable ul li a {
        font-size: 16px;
      }

      .menuTable {
        width: 82%;
      }
      .menuTableRight ul li img {
        display: none;
      }
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}

@mixin menuMobile {
  @media(max-width: 767px) {
    body {
      //padding-top: 94px;
    }
    .mobileFixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
    .menuFirst {
      background-color: $color1;
    }
  }

  body {
    #menuMobileFull {
      position: fixed;
      overflow: scroll;
      top: 64px;
      z-index: 98;
      margin-top: -64px;
      padding-top: 64px;
      background-color: white;
    }
    //#loginMobile {
    //  top: 100%;
    //}
    //.pannello-search-mobile {
    //  top: 100%;
    //}
  }
  #menuMobileFull {
    position: absolute;
    top: 194px;
    background-color: white;

    left: 0;
    width: 100%;
    z-index: 100;

    text-align: center;
    overflow: hidden;
    height: 100%;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li a, li span {
        font-size: 24px;
        color: $color1;
        font-weight: bold;
        text-align: center;
      }
      li {
        margin-top: 16px;
        margin-bottom: 16px;
        vertical-align: middle;
        a {
          padding-top: 6px;
          padding-bottom: 6px;
          vertical-align: middle;
        }

      }
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .firstMenu {
      background-color: $color2;
      li a, li span {
        color: $color1;
        text-align: center;
      }
      li span {
        vertical-align: middle;
        margin-left: 10px;
      }
    }
    .secondMenu {
      background-color: $color1;
      li a, li span {
        color: #333333;
      }
      li span {
        vertical-align: middle;
        margin-left: 10px;
        color: $color2;
      }
    }
    .socialShare {
      background-color: $color1;
      padding-top: 0;
      li {
        padding-top: 5px;
        padding-bottom: 5px;
      }
      .fa {
        color: $color2;
        font-size: 70px;
      }
    }
  }
  body.no-overflow {
    overflow: hidden;
  }
  @media(max-width: 767px) {
    body {
      padding-top: 132px;
    }

    body.no-overflow.fixIOS {
      overflow: hidden;
      .logo-small-mobile {
        display: inline;
      }
      * {
        display: none;
      }
      .bordo {
        display: block;
      }
      .wrapMenu {
        display: block;

      }
      .badge {
        display: block;
      }
      .pannello-login-mobile {
        &.opened {
          display: block;
        }
        div, form, .title, .form-control, button, a {
          display: block;
        }
        strong {
          display: inline;
        }
      }
      .menuMobile {
        > div {
          display: block;
        }

        display: table;
        > ul {
          display: table-row;
          li {
            button {
              display: inline-block;
              span {
                display: block;
              }
            }
            display: table-cell;
            > a {
              display: inline-block;
            }
            span {
              display: inline;
            }
          }

        }
      }
    }
  }

  .menuMobile {
    display: none;
    top: 0;
    position: fixed;
    left: 0;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    background-color: $color6;
    text-align: center;
    vertical-align: middle;
    z-index: 999;
    & > ul {
      display: table-row;
      margin: 0;
      padding: 0;
      list-style: none;
      > li {
        list-style: none;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        padding: 10px 0;
        > a {
          display: inline-block;
          font-family: $font1;
          font-size: 35px;
          //color: $color1;
          color: white;
          font-weight: 700;
          img {
            height: 44px;
            top: -5px;
            position: relative;
          }
        }
      }
    }
    .mobileToggler {
      z-index: 999;
    }
    .navbar-toggle {
      float: none;
      border: 0;
      padding: 0;
      padding: 0;
      margin: 0;
      margin-top: 2px;
      .icon-bar {
        background-color: white;
        width: 30px;
        height: 3px;
        margin-top: 4px;
        margin-bottom: 10px;

      }
      .icon-bar:last-child {
        margin-bottom: 0;
      }
    }
    @media (max-width: 767px) {
      display: table;

    }

  }
  @media(max-width: 500px) {
    #menuMobileFull {
      ul {
        li a, li span {
          font-size: 20px;
        }
      }
    }

  }
  @media(max-width: 300px) {
    #menuMobileFull {
      ul {
        li a, li span {
          font-size: 16px;
        }
      }
    }

  }
}

@mixin treeMenuFullScreen() {
  body.fullscreenMenu {
    overflow: hidden;

    .treeMenuFullScreen {
      display: block;
      max-width: 100%;
      transition: 0s;
      .column:first-child {
        left: 0;
        transform: translateX(0);
        opacity: 1;
        transition: left 1s, opacity 500ms;
      }
    }
  }
  .treeMenuFullScreen {
    //display: none;
    transition-delay: 600ms;
    max-width: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    & > div {
      width: 100%;
      height: 100%;
    }
    .titolo {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 30px;
    }
    .logo-btm {
      margin-top: 30px;
    }
    .block-wrap {
      height: 100%;
      margin-top: -70px;
      padding-top: 70px;
      margin-bottom: -92px;
      padding-bottom: 92px;

      &.submenu {
        margin-top: 0;
        padding-top: 0;
      }
    }
    .menu-prodotti, .submenu-prodotti, .subsubmenu-prodotti {
      list-style: none;
      padding: 0;
      margin: 0;
      max-height: 100%;
      overflow: auto;
      padding-right: 6px;
    }
    .menu-prodotti {
      li {
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
      }
      .icona {
        margin-right: 5px;
      }
      li span {
        color: $color6;
        font-size: 34px;
        vertical-align: middle;
        padding-right: 10px;
      }
      .elemento {
        color: $color6;
        font-size: 17px;
        font-weight: 300;
        @media(min-width: 767px) {
          &:hover, &.selected, &:focus {
            font-weight: 600;
            text-decoration: none;
            font-size: 16px;
            box-shadow: none;
            outline: 0;
          }
          &.selected::after {
            content: " >";
            margin-left: 10px;
            font-weight: 700;
            color: $color2;
          }
        }

      }
      a {
        display: inline-block;
        vertical-align: middle;

      }
    }
    .submenu-prodotti {
      @media(min-width: 767px) {
        .elemento {
          &.selected::after {
            content: " >";
            margin-left: 10px;
            font-weight: 700;
            color: $color2;
          }
        }
      }

    }
    .submenu-prodotti, .subsubmenu-prodotti {
      display: none;
      @media(min-width: 767px) {
        .elemento {
          &:hover, &.selected, &:focus {
            font-weight: 600;
            text-decoration: none;
            font-size: 14px;
            box-shadow: none;
            outline: 0;
            color: $color6;
          }

        }
      }

      &.open {
        display: block;
      }
      li {
        padding: 0;
        margin: 0;
        margin-bottom: 6px;
      }
      .elemento {
        font-size: 14px;
        color: $color3;
      }

    }
    .container-fluid {
      padding: 0;
    }
    .riga, .container-fluid, .column {
      height: 100%;
    }
    .column:first-child {
      width: 32.85%;
      position: relative;
      z-index: 4;
      opacity: 0;
      transform: translateX(-100%);
      left: -32.85%;
      transition: left 1s, opacity 500ms;
    }
    .column:nth-child(2) {
      width: 28.57%;
      padding-top: 100px;
      transform: translateX(-100%);
      position: relative;
      z-index: 3;
      opacity: 0;
      transition: transform 1s, opacity 500ms;

    }
    &.first-opening {
      .column:nth-child(2) {
        transform: translateX(0);
        transition: transform 1s, opacity 500ms;
        opacity: 1;
      }
      .column:last-child {
        display: block;
        transition: transform 1s, opacity 500ms;
      }
    }
    &.second-opening {
      .column:last-child {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .column:last-child {
      width: 38.58%;
      padding-top: 100px;
      position: relative;
      transform: translateX(-100%);
      display: none;
      opacity: 0;
      .close-btn {
        position: absolute;
        top: 4%;
        right: 10%;
        cursor: pointer;
      }
      z-index: 2;
    }
    .column {
      background-color: white;
      float: left;
      padding: 2% 8%;
      padding-right: 4%;
    }
    .column:first-child {
      background-color: $color18;
    }
    .column:last-child {
      border-left: 2px solid $color18;
    }

    @media (max-width: 1420px) {
      .column {
        background-color: white;
        float: left;
        padding: 2% 6%;
        padding-right: 3%;
      }
    }
    @media (max-width: 1250px) {
      .column {
        background-color: white;
        float: left;
        padding: 2% 4%;
      }
    }
    @media (max-width: 1200px) {
      .column {
        background-color: white;
        float: left;
        padding: 2% 20px;
      }
      .menu-prodotti li span {
        padding-right: 5px;
        font-size: 32px;
      }
      .menu-prodotti .elemento {
        font-size: 15px;
      }
    }
    .back-arrow {
      display: none;
    }
    .titolo-cell {
      display: none;
    }
    .titoloMobile-cat, .titoloMobile-subcat {
      display: none;
    }
    @media(max-width: 767px) {
      .titolo {
        display: none;
      }
      .titolo-cell {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 0;
      }
      .back-arrow {
        padding: 10px 0;
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: 28px;
        }

        position: relative;
      }

      .column {
        width: 100% !important;
      }
      .column:first-child {
        left: -100%;
      }
      .column:nth-child(2) {
        position: absolute;
        z-index: 10;
        padding: 0 20px;

      }
      .column:nth-child(3) {
        position: absolute;
        z-index: 20;
        padding: 0;

      }
    }

    @media(max-width: 767px) {
      padding-top: 49px;
      .close-btn {
        display: none;
      }
      .logo-btm {
        display: none;
      }
      .submenu-prodotti, .subsubmenu-prodotti {
        li {

          border-bottom: 1px solid $color5;
          position: relative;
          &::after {
            content: ">";
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: right;
            font-weight: 700;
            color: #F39200;
            font-size: 26px;
          }
          a, .elemento {
            display: block;
            padding-bottom: 16px;
            padding-top: 16px;
            font-size: 18px;
            color: $color3;
          }
        }

      }
      .subsubmenu-prodotti {
        padding-left: 20px;
        padding-right: 20px;
        li {

          &::after {
            content: "";
          }
        }
      }
      .titoloMobile-subcat {
        background-color: $color2;
        text-align: center;
        font-size: 26px;
        color: $color1;
        padding: 20px;
        margin-left: -20px;
        margin-right: -20px;
      }
      .titoloMobile-cat {
        text-align: center;
        margin-bottom: 20px;
        span {
          color: $color2;
          display: block;
          font-size: 50px;
        }
        color: $color6;
        font-size: 24px;
        font-weight: 600;
      }
      .menu-prodotti li {
        float: left;
        width: 33.3333%;
        text-align: center;
        height: 70px;
        margin-bottom: 40px;
        .elemento {
          margin-top: 5px;
        }
        span {
          padding: 0;
        }
        > a {
          display: block;
          font-size: 21px;
          font-weight: 300;
          color: $color6;
        }
      }
    }

    @media (max-width: 500px) {
      .titoloMobile-cat {
        font-size: 21px;
      }
    }

    @media(max-width: 380px) {
      .menu-prodotti li {
        float: left;
        width: 50%;
      }
    }

  }
  @media(max-width: 767px) {
    .fullscreenMenu {
      .back-arrow, .titolo-cell, .titoloMobile-cat, .titoloMobile-subcat {
        display: block;
      }
    }
  }

}

@mixin pannelloLoginMobile() {
  .pannello-login-mobile {
    position: absolute;
    top: 170px;
    left: 0;
    background-color: white;
    border: 1px solid $color5;
    width: 100%;
    //height: 400px;
    z-index: 10;
    display: none;
    padding: 10px;
    padding-bottom: 40px;
    overflow: auto;
    height: calc(100% - 70px);
    &.opened {
      display: block;
      z-index: 100;
    }
  }
  body .pannello-login-mobile {
    position: fixed;
    top: 70px;
  }

  .panelUserMobile .pannello-login {

    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid $color5;
    width: 100%;
    //height: 400px;
    z-index: 10;
    display: none;
    padding: 10px;
    padding-bottom: 40px;

    &.opened {
      display: block !important;
    }
    .title {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 30px;
      color: $color1;
      font-size: 48px;
      font-family: $font2;
    }

    .link-menu {
      color: $color1;
      font-size: inherit;
      cursor: pointer;
      position: relative;
      overflow: visible;
      vertical-align: middle;
      display: inline-block;
      padding-right: 5px;
      text-transform: uppercase;
      &:last-child {
        vertical-align: baseline;
      }
      span {
        vertical-align: middle;
      }
    }

    .pannello-login-btn {
      cursor: pointer;
      position: relative;
      overflow: visible;
      vertical-align: middle;
      display: inline-block;
      padding-right: 5px;
      span {
        vertical-align: middle;
        margin-right: 3px;
      }
    }

    input {
      background-color: #e9e9e9;
      border: 0;
      border-radius: 0;
      font-size: 14px;
      &:focus {
        box-shadow: none;
      }
    }

    .alert {
      background-color: $color2;
      background-image: none;
      color: white;
      font-weight: 600;
      font-size: 16px;
      border: 0;
      margin-bottom: -20px;
      padding: 6px;
      .fa {
        color: white;
        margin-right: 10px;
      }
    }

    .form-control {
      height: 50px;
      margin-bottom: 20px;
    }

    .registrazione-call {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 30px;
      color: $color6;
      text-align: center;
      font-size: 14px;
      strong {
        display: block;
        background-color: #60C5C5;
        width: 100%;
        border-radius: 0;
        color: white;
        padding: 12px 5px;
        font-weight: 700;
        font-size: 14px;
        margin-top: 10px;
      }
    }

    .psw-forgot {
      display: block;
      text-align: left;
      margin-bottom: 20px;
      color: $color6;
      font-size: 14px;
    }

    .btn-main-submit {
      background-color: $color2;
      width: 100%;
      border-radius: 0;
      color: white;
      padding: 12px 5px;
      font-weight: 700;
      font-size: 14px;
    }

  }

}

@mixin pannelloSearchMobile() {
  .pannello-search-mobile {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: white;
    border: 1px solid $color5;
    width: 100%;
    //height: 400px;
    z-index: 10;
    display: none;
    padding: 10px;
    @media(max-width: 767px) {
      display: block;
    }
  }
}

