$color4: #f00 !default;
$color3: #f00 !default;
.navbar-nav {
    li a {
        color: $color4;
        font-weight: 500;
    }
}

.dropdown-menu {
    li {
        text-align: center;
        a {
            color: $color3;
            font-weight: 500;
        }
    }
}
