<div id="{{ instance }}" style="height: 100%;">
  <section class="gallery-carousel">
    <div id="gallery-carousel" class="gallery-carousel-component">
      {% for slide in data.attachments %}
        <img alt="{{ slide.translate(app.request.locale).alt }}" src="{{ vich_uploader_asset(slide, 'file') | imagine_filter('gallery_thumbnail') }}" data-image="{{ vich_uploader_asset(slide, 'file') }}" data-description="{{ slide.translate(app.request.locale).alt }}" />
      {% endfor %}
    </div>
  </section>
</div>
