.modulo_menu{
    .albero_menu{
        position:absolute;
        bottom:0;
        left:50%;
        transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        display:none;
    }

    .background_cell{
        display:none;
    }
    .background_cell,
    .background_pc{
        background-position:top;
        background-repeat:no-repeat;
        background-size:contain;
        width:100%;
        height:100%;
        position:fixed;
        z-index:-1;
    }

    .background_cell{
        background-position:top;
    }

    .social_link{
        display:inline !important;
        img{
            display:inline !important;
            padding:0 10px;
            max-height:35px;
        }
    }

    .overlay{
        position:fixed;
        background:$color-main;
        top:0;
        left:0;
        width:100%;
        height:0%;
        opacity:0;
        visibility:hidden;
        transition:opacity .35s, visibility .35s, height .35s;
        overflow:hidden;
        z-index:12;

        &.open{
            opacity:1;
            visibility:visible;
            height:100%;
            padding-top:70px;
            li{
                animation:fadeInRight .5s ease forwards;
                animation-delay:.35s;

                &:nth-of-type(2){
                    animation-delay:.4s;
                }
                &:nth-of-type(3){
                    animation-delay:.45s;
                }
                &:nth-of-type(4){
                    animation-delay:.50s;
                }
                &:nth-of-type(5){
                    animation-delay:.55s;
                }
                &:nth-of-type(6){
                    animation-delay:.60s;
                }
                &:nth-of-type(7){
                    animation-delay:.70s;
                }
                &:nth-of-type(8){
                    animation-delay:.80s;
                }
            }
        }
        nav{
            position:relative;
            height:70%;
            top:45%;
            transform:translateY(-50%);
            -moz-transform:translateY(-50%);
            -webkit-transform:translateY(-50%);
            -o-transform:translateY(-50%);
            font-size:46px;
            font-family:'montserratbold';
            font-weight:400;
            text-align:center;
        }
        ul{
            list-style:none;
            padding:0;
            margin:0 auto;
            display:inline-block;
            position:relative;
            height:100%;

            li{
                display:block;
                height:12%;
                position:relative;
                opacity:0;

                a{
                    display:block;
                    position:relative;
                    color:$text3;
                    text-decoration:none;
                    overflow:hidden;
                    font-family:'montserratbold';
                    font-size:46px;
                    transition:400ms;
                    -moz-transition:400ms;
                    -o-transition:400ms;
                    -webkit-transition:400ms;
                    &:hover,
                    &:focus,
                    &:active,
                    &.active{
                        color:$text16n;
                    }

                    &:after{
                        content:'';
                        position:absolute;
                        bottom:0;
                        left:50%;
                        width:0%;
                        transform:translateX(-50%);
                        -moz-transform:translateX(-50%);
                        -o-transform:translateX(-50%);
                        -webkit-transform:translateX(-50%);
                        height:3px;
                        background:$text3;
                        transition:.35s;
                    }
                }
            }
        }
    }

    @keyframes fadeInRight{
        0%{
            opacity:0;
            left:20%;
        }
        100%{
            opacity:1;
            left:0;
        }
    }
}

@media screen and (max-width:640px) {
    .modulo_menu{
        .background_pc{
            display:none;
        }
        .background_cell{
            display:block;
        }
        .overlay{
            nav{
                top:36%;
            }
            a{
                font-size:17px !important;
            }
            ul{
                li{
                    height:11% !important;
                }
            }
        }
        .albero_menu{
            max-height:80px !important;
        }
        .social_link{
            img{
                max-height:23px;
            }
        }
    }
}

@media screen and (max-height:950px) {
    .modulo_menu{
        .overlay{
            ul{
                li{
                    height:10%;
                    a{
                        font-size:33px;
                    }
                }
            }
        }
    }
}

@media screen and (max-height:850px) {
    .modulo_menu{
        .overlay{
            ul{
                li{
                    a{
                        font-size:27px;
                    }
                }
            }
        }
    }
}

@media screen and (max-height:750px) {
    .modulo_menu{
        .overlay{
            ul{
                li{
                    a{
                        font-size:23px;
                    }
                }
            }
        }
        .albero_menu{
            max-height:120px;
        }
    }
}

@media screen and (max-height:650px) {
    .modulo_menu{
        .overlay{
            nav{
                top:40%;
            }
            ul{
                li{
                    a{
                        font-size:20px;
                    }
                }
            }
        }
    }
}
