<section class="sliderPresentazioneScrittaLogo">
    <div class="slider-wrap" style="height:500px">
        <div class="overlay-immagine">

        </div>
        <div class="slider">
            {% if data.error %}
                {{ data.error }}
            {% else %}
                {% for  slide in data.slides %}
                    <div class="slide-full" style='background-image:url("{{ slide.image.src }}")'>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="testo-centrale">
            <h1 class="titolo" data-aos="zoom-in" data-aos-duration="1000">
                {{ titolo.val }}
            </h1>
            <h2 class="sottotitolo" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                {{ sottotitolo.val }}
            </h2>
        </div>
        <img data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400" class="img-slider" src="{{ img_slider.src }}" alt="{{ img_slider.alt|default("") }}">
    </div>
    <div class="testo-wrap">

        <p class="testo" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="600">
            {{ testo.val|raw }}
        </p>
        <img data-aos="fade-in" data-aos-duration="1000" data-aos-delay="800" class="logo" src="{{ logo.src }}" alt="{{ logo.alt|default("") }}">
        <p class="titoletto">
            {{ titoletto.val }}
        </p>
        <div class="pulsante">
            <a class="freccia" href="{{ link.link }}">
                <span></span>
            </a>
        </div>
    </div>
</section>

