.sliderPresentazioneScrittaLogo{
  font-family:$font;
  .slider-wrap {
    position: relative;
    min-height:500px;
    overflow:hidden;
    .slick-dots{
      bottom:20px;
      z-index:2;
      li{
        margin:0;
      }
    }
    .slick-slide:focus{
      outline:none;
    }
    .slick-dots li button:before {
      font-size: $text5!important;
      content: ''!important;
      border-radius: 10px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background-color: $color1;
      opacity: 1;
      border:1px solid $color2;
    }

    .slick-dots li.slick-active button:before {
      background-color: white;
      background-color:$color2;

    }
    .overlay-immagine{
      position: absolute;
      background-color: $color5 ;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      left: 0;
      z-index:1;
      pointer-events: none;
    }
    .slide-full {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .slick-track {
      height: 100%;
    }
    .slider, .slick-list {
      height: 100%;
      width: 100%;
    }
    .img-slider{
      position:absolute;
      bottom:100px;
      left:50%;
      transform:translateX(-50%);
      pointer-events: none;
      z-index:2;
    }
    .testo-centrale {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index:2;
      width:100%;
      padding-left:20px;
      padding-right:20px;
      .titolo{
        color:$color2;
        font-weight:$medium;
        font-size:$text15;
        margin-bottom:0;
      }
      .sottotitolo{
        color:white;
        font-size:$text13;
        margin-top:0;
      }
    }
  }

  .testo{
    color:$color5;
    font-size:$text8;
    font-weight:$medium;
    strong{
      color:$color2;
      font-weight:$medium;
    }
  }
.pulsante{
  position:relative;
  height:46px;
}
  .titoletto{
    height:40px;
    background:$color2;
    color:white;
    line-height:40px;
    font-size:$text7;
    margin:20px 0;
  }
  .testo-wrap{
    text-align:center;
    padding:50px 0;
    padding-bottom:30px;

  }
  .logo{
    margin-top:10px;
    margin-bottom:10px;
  }
  .testo{
    padding:0 15%;
  }
 .freccia span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-left: -23px;
    border: 3px solid $color2;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 8;
    bottom: 60px;
  }
  .freccia span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 3px solid $color1;
    border-bottom: 3px solid $color1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  .freccia span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 32px;
    margin-left: -1px;
    margin-top: -1px;
    height: 32px;
    background:$color2;
    box-shadow: 0 0 0 0 #d2d2d2;
    border-radius: 100%;
    opacity: 1;

    box-sizing: border-box;
  }

    @media (max-width:1500px){
      .slider-wrap .testo-centrale {
        .titolo{
          font-size:60px;
          margin-bottom:0;
        }
        .sottotitolo{
          color:white;
          font-size:$text9;
          margin-top:0;
        }
      }
    }

  @media (max-width:900px){
    .testo{
      padding:0 10%;
      font-size:$text7;
    }
  }

  @media (max-width:700px){
    .testo{
      padding:0 10%;
      font-size:$text5;
    }
  }


  @media (max-width:600px){
    .slider-wrap .testo-centrale {
      .titolo{
        font-size:$text14;
        margin-bottom:0;
      }
      .sottotitolo{
        color:white;
        font-size:20px;
        margin-top:0;
      }
    }
  }
  @media (max-width:500px){
    .testo{
      padding:0 15px;
    }
    .slider-wrap .testo-centrale {
      .titolo{
        font-size:$text13;
        margin-bottom:0;
      }
      .sottotitolo{
        color:white;
        font-size:18px;
        margin-top:0;
      }
    }
  }

  @media (max-width:400px){
    .slider-wrap .testo-centrale {
      .titolo{
        font-size:$text10;
        margin-bottom:0;
      }
      .sottotitolo{
        color:white;
        font-size:17px;
        margin-top:0;
      }
    }
  }


  }
