.social-footer{
  .align-right{
    text-align: right;
  }
  .align-left{
    text-align: left;
  }
  .align-center{
    text-align: center;
  }
  .footer_title{
    color:white;
    font-size: 24px;
    margin:0;
    text-align:center;
    font-family: 'montserratlight';
  }
  .social_icon{
    padding: 30px 5px 20px 5px;
    display: inline;
  }
}

@media screen and (max-width:1300px){
  .social-footer{
    .footer_title{
      font-size: 20px;
    }
  }
}

@media screen and (max-width:991px){
  .social-footer{
    text-align:center;
    display: table;
    width: 100%;
    .footer_title{
      padding-top:10px;
    }
  }
}


@media screen and (max-width:640px){
  .social-footer{
    .footer_title {
      font-size: 17px;
    }
  }
}
