<section class="social-footer">
  <p class="footer_title">{{titolo.val}}</p>
  <div class="col-md-4 col-xs-4 align-right">
    <a href="{{social1.link}}" target="_blank" rel="nofollow" title="{{social1.label}}"><img class="social_icon img-responsive" src="{{social1_img.src}}" alt="{{social1_img.alt|default("")}}"></a>
  </div>
  <div class="col-md-4 col-xs-4 col_footer align-center">
    <a href="{{social2.link}}" target="_blank" title="{{social2.label}}" rel="nofollow"><img class="social_icon img-responsive" src="{{social2_img.src}}" alt="{{social2_img.alt|default("")}}"></a>
  </div>
  <div class="col-md-4 col-xs-4 align-left">
    <a href="{{social3.link}}" target="_blank" title="{{social3.label}}" rel="nofollow"><img class="social_icon img-responsive" src="{{social3_img.src}}" alt="{{social3_img.alt|default("")}}"></a>
  </div>
</section>
