{% trans_default_domain "public" %}
<div class="left-blog">
    {% for News in data.pagination %}
        {% if data.type == 'category' %}
            {% set News = News.News %}
        {% endif %}
        {% if News.ListImgFileName %}
            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
            {% set imgAlt = News.HeaderImgAlt %}
        {% else %}
            {% set img = "/images/defaults/placeholder.png" %}
            {% set imgAlt = News.translate(app.request.locale).titolo %}
        {% endif %}

        <div class="row row_articolo">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                    <img src="{{ asset(img) | imagine_filter('news4') }}" alt="{{ News.listImgAlt }}" />
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="content">
                    <div class="data-blog">
                        {{ blogService.getDate(News) }}
                    </div>
                    <h3>
                        <a class="titolo-news" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">[ {{ News.translate(app.request.locale).titolo }} ]</a>
                    </h3>
                    <p>Cat.:
                        <a href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug}) }}">{{ blogService.getCategory(News, app.request.locale).titolo }} </a> -
                        </p>
                    {% set commenti = blogService.getCountCommenti(News) %}
                    {% if commenti %}
                        <p class="icon-comment">{{ commenti }}
                            <i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></p>
                    {% endif %}
                    <p>{{ blogService.getTextPreview(News,300, app.request.locale) }}</p>
                    <a  rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="btn btn-default button-leggi">
                       {% trans %}blog.labels.leggi_di_piu{% endtrans %}
                        <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(data.pagination) }}
    </div>

</div>

<script type="text/x-handlebars" id="blogPostTemplate">

    <div class="row row_articolo">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a rel="nofollow" href="{% verbatim %}{{ url }}{% endverbatim %}">
                <img src="{% verbatim %}{{ img }}{% endverbatim %}" alt="{% verbatim %}{{ imgAlt }}{% endverbatim %}" />
            </a>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="content">
                <span>{% verbatim %}{{ data }}{% endverbatim %} | <a href="{% verbatim %}{{ category_url }}{% endverbatim %}">{% verbatim %}{{ category }}{% endverbatim %}</a></span>
                <h3>
                    <a href="{% verbatim %}{{ url }}{% endverbatim %}">
                        {% verbatim %}{{ titolo }}{% endverbatim %}
                    </a>
                </h3>


                <p>Cat.:
                    <a href="{% verbatim %}{{ category_url }}{% endverbatim %}">{% verbatim %}{{ category }}{% endverbatim %} </a>-
                    <span> {% verbatim %}{{ data }}{% endverbatim %}</span>
                </p>
                <p class="icon-comment">7<i class="fa fa-comments-o fa-2x" aria-hidden="true"></i></p>
                <p>
                    {% verbatim %}{{ text }}{% endverbatim %}
                </p>
                <a rel="nofollow" class="btn btn-default" href="{% verbatim %}{{ url }}{% endverbatim %}">
                    {% trans %}blog.labels.leggi_di_piu{% endtrans %}
                    <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>

</script>