.left-blog{
    font-family:$font;
    .button-leggi{
        margin-top:20px;
    }
    .btn{
        background:$color2;
        color:$color1;
        border:0;
        border-radius:0;
    }
    a{
        color:$color5;
    }
    .data-blog{
        color:$color2;
        font-size:13px;
        font-weight:$medium;
        margin-bottom:10px;
    }
    h2{
        font-size:20px;
        margin-bottom:0;
    }
    padding:40px;
    .box-commenti{
        padding:20px;
        background-color:$color2;
        h3{
            margin-top:0;
        }
        textarea{
            width:100%;
            padding-left:5px;
            padding-top:5px;
        }
        .row_pubblica{
            text-align:right;
            .btn{
                position:relative;
                right:5px;
            }
        }
        .row-commento{
            .avatar-pic{
                float:left;
                width:45px;
                margin-right:12px;
            }
            .commento-di{
                color:$color1;
            }
        }
    }

    .row_articolo{
        margin-bottom:30px;
        .col-lg-6{
            img{
                width:100%;
            }
            .content{
                padding-left:10px;
                h3{
                    margin-top:0;
                }
                p span{
                    color:$color1;
                }
                .icon-comment{
                    text-align:right;
                    color:$color5;
                    i{
                        position:relative;
                        top:4px;
                        margin-left:3px;
                    }
                }
                button{
                    margin-top:20px;
                }
            }
        }
    }
}
@media (max-width:1200px){
    .left-blog{
        padding-left:20px;
        padding-right:20px;
    }
}

@media screen and (max-width:1300px) and (min-width:768px) {
    .left-blog .row_articolo .col-lg-6 .content{
        h3{
            font-size:20px;
            margin-top:0;
        }
        p{
            font-size:12px;
            margin-bottom:5px;
        }
        button{
            margin-top:5px;
        }
    }
}

@media screen and (max-width:900px){
    .left-blog{
        padding-left:10px;
        padding-right:10px;
    }
    .left-blog .row_articolo .col-sm-6{
        padding-left:5px;
        padding-right:5px;
    }
}

@media screen and (max-width:767px) {
    .left-blog .row_articolo{
        h3{
            margin-top:0;
            font-size:16px;
            margin-bottom:5px;
        }
        p{
            font-size:0.8em;
            margin-bottom:5px;
        }
    }
    .left-blog .row_articolo .col-lg-6 .content button{
        margin-top:5px;
    }
}

@media screen and (max-width:549px) {
    .left-blog .row_articolo .col-lg-6{
        width:100%;
    }
    .left-blog .row_articolo .col-lg-6 .content{
        padding:0;
        padding-top:10px;
    }
    .left-blog .row_articolo .col-lg-6 .content button{
        padding:3px 6px;
        font-size:12px;
    }
    .left-blog .row_articolo .col-lg-6:last-child{
        padding:0;
    }
    .left-blog .row_articolo .col-lg-6 .content{
        padding-top:5px;
    }
    .left-blog .col-lg-8{
        padding:20px;
    }
}
