.contattiSingle{
  text-align:center;
  font-family:$font;
  padding:80px 0;
  .titolo{
    color:$color2;
    font-size:32px;
    margin:0;
    margin-bottom:5px;
  }
  .sottotitolo,.lista-contatti,.indirizzo{
    font-size:18px;
    font-weight:$medium;
  }
  .sottotitolo{
    color:$color5;
    font-size:$text9;
  }
  .lista-contatti{
    margin:0;
    padding:0;
    list-style:none;
    color:$color5;
    margin-top:50px;
    >li:last-child{
      margin-top:30px;
    }
    li{
      span{
        color:$color2;
      }
      a{
        color:inherit;

      }
    }


  }
  @media (max-width:1300px){
    .titolo{
      font-size:$text9;
    }
    .sottotitolo,.lista-contatti,.indirizzo{
      font-size:$text5;
    }
  }

  @media (max-width:800px){
    .titolo{
      font-size:$text8;
    }
    .sottotitolo,.lista-contatti,.indirizzo{
      font-size:$text5;
    }
  }

  @media(max-width:600px){
    .trattino{
      display:none;
    }
    .emails >a:last-child{
      display:block;
    }
    .titolo{
      font-size:$text7;
    }
    .sottotitolo,.lista-contatti,.indirizzo{
      font-size:$text5;
    }
  }
}