.imgCenter {
  position: relative;
  z-index: 10;
  a {
    position: absolute;
    width: 100%;
    top: 0;
    transform: translateY(-50%);
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}