<section class="newsPiuLette">
{% if titolo.val|default("") %}
    <h4>[ {{ titolo.val|upper }} ]</h4>
{% endif %}
{% if data.News is not empty %}
    {% set News = attribute(data.News, 0) %}

    {% if News.ListImgFileName %}
        {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
        {% set imgAlt = News.HeaderImgAlt %}
    {% else %}
        {% set img = "/images/defaults/placeholder.png" %}
        {% set imgAlt = News.translate(app.request.locale).titolo %}
    {% endif %}


    <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
        <img class="img-grande" src="{{ asset(img) | imagine_filter('news4') }}" alt="{{ News.listImgAlt }}" />
    </a>
    <h3 class="titolo-news">
        <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">[ {{ News.translate(app.request.locale).titolo|upper }} ]</a>
    </h3>
    <p class="cat">Cat.:
        <a rel="nofollow" href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug}) }}">{{ blogService.getCategory(News, app.request.locale).titolo }}</a> -
        <span>{{ blogService.getDate(News) }}</span></p>
    <p class="main-cat-news">{{ blogService.getTextPreview(News, 150, app.request.locale) }}</p>

{% endif %}
<div class="most-read container-fluid">

    {% for News in data.News %}
        {% if News.ListImgFileName %}
            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
            {% set imgAlt = News.HeaderImgAlt %}
        {% else %}
            {% set img = "/images/defaults/placeholder.png" %}
            {% set imgAlt = News.translate(app.request.locale).titolo %}
        {% endif %}
        {% if loop.index > 1 %}
            <div class="row news-wrap">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                        <img class="img-piccola" src="{{ asset(img) | imagine_filter('news4') }}" alt="{{ News.listImgAlt }}" />
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 secondaria-wrap">
                    <h5 class="titolo-news secondaria">
                        <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">{{ News.translate(app.request.locale).titolo|upper }}</a>
                    </h5>
                    <p class="cat secondaria">Cat.:
                        <a rel="nofollow" href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug}) }}">{{ blogService.getCategory(News, app.request.locale).titolo }}</a> -
                        <span>{{ blogService.getDate(News) }}</span></p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
</section>