{% extends "admin/admin.html.twig" %}

{% block page_content %}

    <div class="col-md-6">
        <div class="row tile_count">
            <div class="col-md-4 col-sm-8 col-xs-12 tile_stats_count">
                <span class="count_top"><i class="fa fa-file"></i> {% trans %}pages.labels.pagine_attiva{% endtrans %}</span>
                <div class="count">{{ pages }}</div>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-12 tile_stats_count">
                <span class="count_top"><i class="fa fa-newspaper-o"></i> {% trans %}pages.labels.news_attive{% endtrans %}</span>
                <div class="count">{{ news }}</div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{% trans %}dashboard.labels.dati_webtek{% endtrans %} WEBTEK S.P.A</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <div class="col-md-6">
                                <strong>Sede legale:</strong><br /> Corso Europa, 10 - 20122 Milano (MI)<br />
                                <strong>Sede Operativa:</strong><br /> Via Lozzoni, 24 - 23020 Poggiridenti (SO)<br />
                                <strong>P.Iva:</strong> 00952780146
                            </div>
                            <div class="col-md-6">
                                <strong>Telefono: </strong>0342 393000<br />
                                <strong>Email amministrazione:</strong>
                                <a href="mailto:amministrazione@webtek.it">amministrazione@webtek.it</a><br />
                                <strong>Email contatto:</strong>
                                <a href="mailto:clienti@webtek.it">clienti@webtek.it</a><br />
                                <strong>Email grafica:</strong>
                                <a href="mailto:grafica@webtek.it">grafica@webtek.it</a><br />
                                <strong> Email web:</strong>
                                <a href="mailto:web@webtek.it">web@webtek.it</a><br />
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-6">
            {% if rss_notizie %}
                <div class="x_panel" id="notizieRss" data-url="{{ rss_notizie }}">
                    <div class="x_title">
                        <h2>{% trans %}dashboard.labels.notizie_webtek{% endtrans %}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="list-unstyled timeline widget">
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if rss_offerte %}

                <div class="x_panel" id="offerteRss" data-url="{{ rss_offerte }}">
                    <div class="x_title">
                        <h2>{% trans %}dashboard.labels.offerte_webtek{% endtrans %}
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="list-unstyled timeline widget">
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

    <div class="clearfix"></div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('bundles/app/admin/js/dashboard.js') }}"></script>
    {% endblock %}


    {% block handlebars %}
        {{ parent() }}

        <script type="text/x-handlebars-template" id="rssNewsRowTemplate">
            <li>
                <div class="block">
                    <div class="block_content">
                        <h2 class="title">
                            <a target="_blank" href="{% verbatim %}{{ link }}{% endverbatim %}">{% verbatim %}
                        {{title}}
                    {% endverbatim %}</a>
                        </h2>
                        <div class="byline">
                    <span>{% verbatim %}
                        {{pubDate}}
                    {% endverbatim %}</span>{% verbatim %}
                        {{#if author}}
                    {% endverbatim %} {% trans %}default.labels.di{% endtrans %} <a>{% verbatim %}
                        {{author}}
                    {% endverbatim %}</a>
                            {% verbatim %}
                            {{/if}}
                        {% endverbatim %}
                        </div>
                        <p class="excerpt">{% verbatim %}
                    {{{description}}}
                {% endverbatim %}

                            <br />
                            <br />
                            <a target="_blank" href="{% verbatim %}{{ link }}{% endverbatim %}">{% trans %}default.labels.read_more{% endtrans %}</a>
                        </p>
                    </div>
                </div>
            </li>
        </script>
    {% endblock %}

