.sezione.blog-dettaglio-top{
    overflow-x:hidden;
    font-family:$font;
    .data-articolo{

    }
    .row{
        position:relative;
        img{
            width:100%;
        }
        .caption-articolo{
            background:linear-gradient(rgba(51, 51, 51, 0), #333);
            width:100%;
            position:absolute;
            bottom:0;
            left:0;
            padding-left:20px;
            padding-right:20px;
            padding-bottom:20px;
            .categoria-articolo{
                background-color:$color2;
                margin-bottom:5px;
                padding:8px;
                color:$color1;
                font-weight:$medium;

            }
            .titolo-articolo{
                font-size:30px;
                margin-top:10px;
                margin-bottom:10px;
                color:$color1;
            }
            .data-articolo{
                //color:$text4m;
                display:block;
                color:$color1;
                font-weight:$medium;
                margin-bottom:10px;
            }
        }
        .stats-articolo{
            position:absolute;
            bottom:30px;
            right:30px;
            span{
                //color:$text4m;
                .fa{
                    color:#baca42;
                    margin-right:5px;
                    position:relative;
                    top:3px;
                }
            }
        }
    }

    @media (max-width:767px){
        .row .caption-articolo{
            padding-bottom:10px;
            .categoria-articolo{
                font-size:12px;
            }
            .titolo-articolo {
                font-size: 23px;
                margin-bottom: 10px;
            }
            .data-articolo {
                font-size: 11px;
            }
        }


    }
    @media (max-width:600px){
        .row img{
            width:auto;
            height:180px;
        }
        .row .caption-articolo{
            padding-bottom:10px;
            .categoria-articolo{
                font-size:11px;
            }
            .titolo-articolo {
                font-size: 18px;
                margin-bottom: 10px;
            }
            .data-articolo {
                font-size: 10px;
            }
        }
    }
}