{% set News = data.News %}
{% if News|default("") %}
    {% if News.HeaderImgFileName %}
        {% set img = "/" ~ News.UploadDir ~ News.HeaderImgFileName %}
        {% set imgAlt = News.HeaderImgAlt %}
    {% else %}
        {% set img = "/images/defaults/placeholder.png" %}
        {% set imgAlt = News.translate(app.request.locale).titolo %}
    {% endif %}

    <div class="sezione blog-dettaglio-top">
        <div class="container-fluid">
            <div class="row">
                <img src="{{ asset(img) | imagine_filter("newsheader") }}" alt="{{ imgAlt }}">
                <div class="caption-articolo">


                    <a class="categoria-articolo" href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug}) }}">
                        {{ blogService.getCategory(News, app.request.locale).titolo }}
                    </a>
                    <h1 class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</h1>
                    <div class="data-articolo">{{ blogService.getDateFormat(News, 'd') }} {{ blogService.getDateFormat(News, '%b') }} {{ blogService.getDateFormat(News, 'Y') }} </div>


                </div>
                {#<div class="stats-articolo">#}
                {#<span><i class="fa fa-eye fa-2x" aria-hidden="true"></i>150</span>#}
                {#</div>#}
            </div>
        </div>
    </div>
{% endif %}