{% extends "@WebtekEcommerce/admin/feature/formLayout.html.twig" %}

{% block title %} {% trans %} feature.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} feature.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}


