<div id="{{ instance }}">

  <section class="box-testo-full-viewport">
    <div id="fullpage">

      {% for section in data.sections %}

      <div class="section" style="background-image:url('/{{ section[0].page.getUploadDir() ~ section[0].page.getHeaderImgFileName() }}');">
        <div class="container-fluid" style="background-color:rgba(0, 0, 0, 0.5)">
          <div class="row">
            <div class="container">
              <div class="row">
                {% if section|length == 1 %}
                  {% for row in section %}
                    <div class="box-testo">
                      <h3>{{ row.slot1|raw }}</h3>
                      <p>
                        {{ row.slot2|raw }}
                      </p>
                    </div>
                  {% endfor %}
                {% else %}
                  {% for row in section %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                      <div class="box-testo">
                        <img src="{{  vich_uploader_asset(row, 'slot1ImageFile')}}" />
                        <h3>{{ row.slot2|raw }}</h3>
                        <p>
                          {{ row.slot3|raw }}
                        </p>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </section>

</div>
