{% trans_default_domain "public" %}
<section class="container-fluid container-limitato">
    <div class="slider">
        {% for Prodotto in data.prodotti %}
            {% include "public/layouts/"~generali.layout~"/includes/prodotto.twig" with {"Prodotto":Prodotto} %}
        {% endfor %}
    </div>
</section>