.title_with_news {
  padding: 120px 0;
  text-align: center;
  position: relative;
  overflow-x: hidden;
  .row-loader {
    padding-top: 50px;
  }
  .btn_scopri {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .block-news {
    margin-bottom: 50px;
    .wrapper {
      border: 1px solid #E5E5E5;
      position: relative;
      height: 100%;
      margin: 5px 10px;
      padding: 20px;
      .date {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $color3;
        color: $color2;
        padding: 13px 20px;
        text-align: center;
        .day {
          font-size: 25px;
          margin: 0;
          line-height: 20px;

        }
        .month {
          font-size: 15px;
          margin: 3px 0 0 0;

        }
      }
      .wrapper-img {
        margin-bottom: 20px;
        height: 260px;
        img {
          object-fit: cover;
          object-position: center;
          font-family: 'object-fit: cover; object-position: center;';
          height: 100%;
          width: 100%;
        }
      }
      .wrapper-text {
        padding: 10px 20px;
        .title {
          padding-bottom: 0px;
          font-family: $font3;
          font-size: 50px;
          color: $color2;
          line-height: 40px;
        }
        .text {
          padding-bottom: 20px;
          font-family: $font;
          color: $color2;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .title_with_news {
    padding: 90px 20px;
    .titolo {
      font-size: 25px;
    }
    .testo {
      font-size: 15px;
      margin-bottom: 70px;
    }
  }
}

@media screen and (max-width: 767px) {
  .title_with_news {
    padding: 50px 20px;
    .titolo {
      font-size: 20px;
    }
    .testo {
      font-size: 14px;
      margin-top: 25px;
      margin-bottom: 30px;
    }
    .block-news {
      .wrapper {
        .wrapper-text {
          .title {
            padding-bottom: 10px;
            font-size: 16px;
          }
          .text {
            padding-bottom: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
