.title{
    font-size:$text6;
    font-weight:$regular;
    color:$color3;
    strong{
        font-weight:$semi-bold;
    }
}

.subtitle{
    font-size:$text2;
    font-weight:$regular;
    color:$color3;
}