.sezione.booking{
    background-color:$color2;
    padding:20px;
    button{
        padding:20px 30px;
        text-align:left;
        i{
            margin-left:10px;
        }
    }
    .datepicker{
        cursor:pointer;
    }
    .container{
        .col-lg-3:not(:last-child){
            border-left:1px solid $color5;
        }
        .col-lg-3{
            h5{
                color:$color5;
                margin-bottom:3px;
                margin-top:0;
            }
            .giorno, .month-year{
                display:inline-block;
                margin-bottom:0;
                font-weight:600;
            }
            .giorno{
                font-size:40px;
            }
            img{
                position:relative;
                top:-10px;
                left:5px;
            }
        }
    }
    text-align:center;
}

.bookingPopUp{
    text-align:center;
    form{
        padding:50px;
        input, textarea{
            width:100%;
            border-color:$color3;
            border-style:solid;
            border-width:1px;
            padding-left:10px;
        }
        input{
            height:40px;
            margin-bottom:10px;
        }
        label{
            text-transform:uppercase;
            color:$color3;
        }
        label.css-label{
            text-transform:none;
        }
        .btn-default{
            width:auto;
            padding-left:30px;
            padding-right:30px;
        }

        input[type=checkbox].css-checkbox{
            position:absolute;
            z-index:-1000;
            left:-1000px;
            overflow:hidden;
            clip:rect(0 0 0 0);
            height:1px; width:1px;
            margin:-1px;
            padding:0;
            border:0;
        }
        input[type=checkbox].css-checkbox + label.css-label{
            padding-left:30px;
            height:25px;
            display:inline-block;
            line-height:25px;
            background-repeat:no-repeat;
            background-position:0 0;
            font-size:18px;
            vertical-align:middle;
            cursor:pointer;
        }
        .datepicker{
            cursor:pointer;
        }
        input[type=checkbox].css-checkbox:checked + label.css-label{
            background-position:0 -25px;
        }
        label.css-label{
            background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_2982150dfe13e1af90ae78eae03783ae.png);
            -webkit-touch-callout:none;
            -webkit-user-select:none;
            -khtml-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
        .quantity{
            a:hover, a:focus{
                color:$color5;
            }
        }

        .row_date{
            padding:20px 0;
            .col-lg-4{
                border-left:1px solid $color3;
                h5{
                    color:$color3;
                    margin-bottom:3px;
                    margin-top:0;
                }
                .giorno, .month-year{
                    display:inline-block;
                    margin-bottom:0;
                    font-weight:600;
                }
                .giorno{
                    font-size:40px;
                }
                img{
                    position:relative;
                    top:-10px;
                    left:5px;
                }
            }
            .col-lg-4:last-child{
                border-right:1px solid $color3;
            }
        }
    }

}

// SEZIONE BOOKING
@media screen and (min-width:768px) and (max-width:991px) {
    .sezione.booking{
        .col-xs-12{
            margin-top:20px;
        }
    }
    .sezione.booking .container .col-lg-3:first-child{
        border-left:none;
    }
}

@media screen and (max-width:767px) {
    .sezione.booking{
        .col-xs-12{
            margin-top:20px;
        }
    }
    .sezione.booking .container .col-lg-3:first-child{
        border-left:none;
    }
}

@media screen and (max-width:549px) {
    .sezione.booking{
        padding:20px 5px;
    }
    .sezione.booking .container .col-lg-3 .day{
        font-size:30px;
    }
    .sezione.booking .container .col-lg-3 .month-year{
        font-size:10px;
    }
    .quantity p{
        font-size:30px;
    }
    .quantity i{
        top:-5px;
    }
    .sezione.booking .container .col-lg-3 h5{
        font-size:10px;
    }
}

@media screen and (max-width:403px) {
    .css-label{
        margin-bottom:30px;
    }
}
