<div id="{{ instance }}" style="height:100%;">
  <section class="box-contatti-full-viewport">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
          <iframe src="{{ indirizzo.val }}" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <div class="box-testo">
            <img class="logo-contatti" src="{{ logo.src }}" {% if logo.alt is defined %}alt="{{ logo.alt }}"{% endif %} />
            <p>
              {{ testo_contatti.val|raw }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
