<div class="dropdownTreeMenu ">
    <div class="sfondo-menu" {% if img_menu.src != "" %}style="background-image:url('{{ img_menu.src }}')"> {% endif %}
        <div class="button_container" id="toggle">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </div>
    </div>
    <div class="overlay" id="overlay">
        <nav class="overlay-menu">
            <ul>
                {% for menu in data.menu %}
                    {% if menu.figli|length %}
                        <li class="con_figli">

                            <a type="button" data-toggle="collapse" data-target="#collapseExample"
                               aria-expanded="false" aria-controls="collapseExample" rel="nofollow"
                               class="submenu-toggler {% if menu.active %}active{% endif %}"
                            >{{ menu.titolo|upper }}</a>

                            <div class="collapse sottomenu" id="collapseExample">
                                <ul class="">
                                    {% for submenu in menu.figli %}
                                        <li><a rel="nofollow" {% if menu.active %} class="active"{% endif %}
                                               href="{{ submenu.slug }}">{{ submenu.titolo|upper }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>


                        </li>
                    {% else %}
                        <li>
                            <a rel="nofollow"
                               href="{{ menu.slug }}" {% if menu.active %} class="active"{% endif %}>{{ menu.titolo|upper }}
                            </a>

                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>


