.wrapper_motto{
    *{
        font-family:'montserratregular';
    }
    position:absolute;
    top:50%;
    width:100%;
    left:0;
    text-align:center;
    color:white;
    transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
}

.section1{
    padding:0;
}

.section1 video{
    height:100%;
    margin:0;
    padding:0;
}

.h100{
    height:100%;
}
