<div id="{{ instance }}">
  <section class="gallery-tiles">
    <div id="gallery-tiles" class="gallery-tiles-component">
      {% for slide in data.immagini %}
        <img alt="{{ slide.translate(app.request.locale).alt }}" src="{{ vich_uploader_asset(slide, 'file') | imagine_filter('news3') }}" data-image="{{ vich_uploader_asset(slide, 'file') }}" data-description="{{ slide.translate(app.request.locale).alt }}" />
      {% endfor %}
    </div>
  </section>
</div>
