{% trans_default_domain "public" %}


{% if data|length %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="dati-prodotto">
                    <div class="row">
                        <div class="col-sm-4">
                            <img class="img-responsive"
                                 src="{{ asset(productHelper.getImmaginePrincipale(data.Product) ) }}"
                                 alt="{{ data.Product.translate().titolo }}">
                        </div>
                        <div class="col-sm-8 ">
                            <div class="categoria-prodotto">{{ productHelper.guessCategory(data.Product).translate().nome }}</div>
                            <h1 class="nome-prodotto-main">{{ data.Product.translate().titolo }}</h1>
                            {% if ecommerce.manage_brands and  data.Product.brand %}
                                <a class="marchioH3"
                                   href="{{ to_route("brand_ecommerce",{"slug":data.Product.brand.translate().slug}) }}">
                                    <h3>{{ data.Product.brand }}</h3></a>

                            {% endif %}
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    {% if data.messaggio is defined %}
        {{ data.messaggio }}
    {% else %}

        {% form_theme data.form 'bootstrap_3_layout.html.twig' %}
        {{ form_start(data.form) }}

        <div class="container-fluid">

            {#<div class="row_x">#}
            {#<input type="text" name="{{ data.uniqid }}_wt" value=""/>#}
            {#</div>#}

            <div class="row">

                {{ form_row(data.form.valore) }}

                {{ form_row(data.form.messaggio) }}
            </div>

            <div class="row row_pubblica">
                <button type="submit" class="btn-default btn pull-right">{% trans %}
                    ecommerce.labels.lascia_recensione{% endtrans %}</button>
            </div>

        </div>
        {{ form_end(data.form) }}


    {% endif %}
{% else %}
    NO AUTH
{% endif %}