{% trans_default_domain "public" %}

{% if data.formLogin is defined %}
    <span class="icon-user"></span>
    <div class="pannello-login-btn">{% trans %}
        default.labels.accediregistrati{% endtrans %}
        <div class="pannello-login">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        {% if data.error %}
                            <div class="alert alert-danger">
                                <i class="fa fa-exclamation-triangle"></i>{{ data.error.messageKey|trans(data.error.messageData, 'security') }}
                            </div>
                        {% endif %}
                        <h3 class="title">{% trans %}default.labels.accedi {% endtrans %}</h3>
                        {% form_theme data.formLogin "ghebagasForms.html.twig" %}
                        {{ form_start(data.formLogin) }}
                        {{ form_row(data.formLogin._username) }}
                        {{ form_row(data.formLogin._password) }}
                        <a href="{{ path("lost_password_ecommerce") }}" class="psw-forgot">Password
                            dimenticata?</a>
                        <button class="btn btn-main-submit" formnovalidate>
                            LOGIN
                        </button>

                        {{ form_end(data.formLogin) }}
                        <a href="/registrazione" class="registrazione-call">
                            Non sei ancora registrato? <strong>REGISTRATI</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% else %}

    <a class="link-menu " href="{{ to_route("account_edit") }}"> <span class="icon-user"></span>ACCOUNT </a>
    <a class="link-menu" href="{{ path("security_ecommerce_logout") }}">{% trans %}
        ecommerce.labels.logout{% endtrans %}</a>
{% endif %}


