.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: $color1;
  font-size: 48px;
  font-family: $font2;
}

.link-menu {
  color: $color1;
  font-size: inherit;
  cursor: pointer;
  position: relative;
  overflow: visible;
  vertical-align: middle;
  display: inline-block;
  padding-right: 5px;
  text-transform: uppercase;
  &:last-child {
    vertical-align: baseline;
  }
  span {
    vertical-align: middle;
  }
}

.pannello-login-btn {
  cursor: pointer;
  position: relative;
  overflow: visible;
  vertical-align: middle;
  display: inline-block;
  padding-right: 5px;
  span {
    vertical-align: middle;
    margin-right: 3px;
  }
}

.pannello-login {
  position: absolute;
  right: 0;
  top: 28px;
  background-color: white;
  border: 1px solid $color5;
  width: 383px;
  height: 429px;
  z-index: 300;
  display: none;
  padding: 10px;
  box-shadow: 2px 8px 24px 0px rgba(0, 0, 0, 0.22);
}

input {
  background-color: #e9e9e9;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  &:focus {
    box-shadow: none;
  }
}

.alert {
  background-color: $color2;
  background-image: none;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 0;
  margin-bottom: -20px;
  padding: 6px;
  .fa {
    color: white;
    margin-right: 10px;
  }
}

.form-control {
  height: 50px;
  margin-bottom: 20px;
}

.registrazione-call {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: $color6;
  text-align: center;
  font-size: 14px;
  strong {
    color: $color2;
  }
}

.psw-forgot {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  color: $color6;
  font-size: 14px;
}

.btn-main-submit {
  background-color: $color2;
  width: 100%;
  border-radius: 0;
  color: white;
  padding: 12px 5px;
  font-weight: 700;
  font-size: 14px;
}

