height: 100%;
width: 100%;

.header-logo-bgimg {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
  .box-testo {
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    img {
      margin-bottom: 30px;
    }
    .title {
      font-size: $font-size4;
      color: $color4;
      font-weight: $medium;
      margin-bottom: 30px;
      strong {
        font-weight: $bold;
        font-style: italic;
      }
    }
    .subtitle {
      font-size: $font-size3;
      color: $color4;
      font-weight: $bold;
    }
  }
  @keyframes blink {
    50% { opacity: 0; }
  }
  .scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
    animation: blink 3s linear infinite;
  }
  .bordo-up {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .header-logo-bgimg {
    .box-testo {
      img {
        margin-bottom: 15px;
      }
      .title {
        font-size: font-percentage($font-size4, 0.85);
        margin-bottom: 20px;
      }
      .subtitle {
        font-size: font-percentage($font-size3, 0.9);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .header-logo-bgimg {
    .box-testo {
      img {
        margin-bottom: 10px;
        height: 70px;
      }
      .title {
        font-size: font-percentage($font-size4, 0.75);
        margin-bottom: 20px;
      }
      .subtitle {
        font-size: font-percentage($font-size3, 0.8);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header-logo-bgimg {
    .box-testo {
      img {
        height: 60px;
      }
      .title {
        font-size: font-percentage($font-size4, 0.55);
        margin-bottom: 10px;
      }
      .subtitle {
        font-size: font-percentage($font-size3, 0.75);
      }
    }
    .scroll-btn {
      bottom: 10%;
    }
  }
}
