{% trans_default_domain "public" %}
<div class="container-fluid container-limitato">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="titolo">Prodotti del
                Brand {{ data.nome }}{% if app.request.get('page') and data.page is defined %} - {% trans %}default.labels.pagina{% endtrans %} {{ data.page }}{% endif %}</h1>
        </div>
    </div>
</div>
<section class="container-fluid container-limitato lista-prodotti lista-prodotti-3col">
    <div class="row">
        {% if data.pagination|length %}
            <div class="col-sm-12">
                <div class="totalCount">
                    <strong>{{ data.pagination.getTotalItemCount }}</strong> prodotti
                </div>
            </div>
            {% for Prodotto in data.pagination %}
                {% include "public/layouts/"~generali.layout~"/includes/prodotto.twig" with {"divisione_colonne":4} %}

            {% endfor %}
            <div class="col-sm-12">
                <div class="navigation">
                    {{ knp_pagination_render(data.pagination) }}
                </div>
            </div>

            <div class="brand" data-id="{{ data.brand }}"></div>
        {% else %}
            <div class="alert alert-danger">
                &nbsp;{% trans %}product.labels.nessun_prodotto{% endtrans %}
            </div>
        {% endif %}
    </div>
</section>

<script type="text/x-handlebars" id="productTemplate">
                {% include "public/layouts/"~generali.layout~"/includes/prodotto.twig" with {"divisione_colonne":4,"handlebars":1} %}





</script>
<script type="text/x-handlebars" id="noWishlistTemplate">

    <div id="noWishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                           {% trans %}default.labels.registrationRequired{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% trans %}ecommerce.labels.registrationRequiredforWishlist{% endtrans %}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                        <a href="/registrazione" data-dismiss="modal" class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToRegistration{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>























</script>
