.text_button_and_background_parallax{
  padding:140px 0;
  position: relative;
  overflow: hidden;
  text-align: center;
  .sfondo_inizia_progetto{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1100px;
    position: absolute;
    z-index: -1;
    top:0;
    left:0;
  }
  .overlay_video{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    left: 0;
    top:0;
    z-index: 2;
  }
  .row_text{
    z-index: 3;
    position: relative;
  }
  .title_section{
    color:white;
    padding: 0 15px;
    font-size: 50px;
    font-family: 'montserratbold';
    strong{
      color:$color4g;
      font-family: 'montserratbold';
    }
  }
  .contattaci_button{
    font-size:18px;
    border-color: $color4g;
    border-width: 3px;
    background-color: transparent;
    color:white;
    padding: 16px 30px;
    margin-top:20px;
    transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -webkit-transition: 300ms;
    font-family: 'montserratsemibold';
    @include no-outline();
    &:hover,
    &:focus,
    &:active{
      color:white;
      background-color: $color4g !important;
      border-color: $color4g !important;
      color:white;
      @include no-outline();
    }
  }
}

@media screen and (max-width:991px){
  .text_button_and_background_parallax{
    padding: 100px 0;
    .title_section{
      font-size: 30px;
    }
    .contattaci_button{
      font-size: 16px;
      padding: 10px 22px;
    }
  }
}

@media screen and (max-width:640px){
  .text_button_and_background_parallax{
    padding: 50px 0;
    .title_section{
      font-size: 25px;
    }
    .contattaci_button{
      font-size: 15px;
      padding: 8px 18px;
    }
  }
}
