<section class="text_button_and_background_parallax">
  <div class="container-fluid">
    <div class="overlay_video">
    </div>
    <div class="layer sfondo_inizia_progetto" data-type="parallax" data-depth="0.20" style="background-image:url('{{img.src}}')"></div>
    <div class="row align-center row_text">
      <div class="title_section">{{testo.val|raw}}</div>
      <a href="{{link.link}}" class="btn btn-default contattaci_button">{{link.label|default("")}}</a>
    </div>
  </div>
</section>
