.box-mappa-contatti{
    .col-lg-4{
        padding:0;
        .box-testo{
            text-align:center;
            padding:50px;
            img{
                width:100%;
                margin-bottom:70px;
            }
            p{
                font-size:$text6;
                font-weight:$semi-bold;
                color:$color3;
            }
        }
    }
    .col-lg-8{
        padding:0;
        #map{
            height:100%;
        }
    }
}

@media screen and (max-width:991px) {
    .box-mappa-contatti .col-lg-4 .box-testo p{
        font-size:font-percentage($text6, 0.85);
    }
}

@media screen and (max-width:767px) {
    .box-mappa-contatti .col-lg-4, .box-mappa-contatti .col-lg-8{
        height:300px !important;
    }
    .box-mappa-contatti .col-lg-4 .box-testo img{
        width:250px;
        margin-bottom:20px;
    }
}

@media screen and (max-width:549px) {
    .box-mappa-contatti .col-lg-4 .box-testo p{
        font-size:font-percentage($text6, 0.75);
    }
}

@media screen and (max-width:379px) {
    .box-mappa-contatti .col-lg-4 .box-testo img{
        width:100%;
    }
}
