height:60%;
.text_with_background_image {
           height: 100%;
           overflow: hidden;
           position: relative;
           font-family: $font;
           .sfondo {
             width: 100%;
             height: 100%;
             background-size:cover;
             background-position:center;
           }
           .overlay_video {
             position: absolute;
             background-color: black;
             width: 100%;
             height: 100%;
             opacity: 0.5;
             left: 0;
             top: 0;
           }
           .wrapper_text {
             position: absolute;
             top: 50%;
             left: 50%;
             text-align: center;
             width: 100%;
             padding: 0 30px;
             transform: translate(-50%,-50%);
             margin-top: 10px;
             img{
               display:block;
               margin-left:auto;
               margin-right:auto;
               margin-top:20px;
             }
             .title1 {
               font-size: $text14;
               margin: 0;
               margin-bottom: 14px;
               font-weight: 400;
               color: $color1;
               strong {
                 font-weight: 400;
               }
             }
           }
         }


@media screen and (max-width:1550px) {
    .text_with_background_image{
        .wrapper_motto{
            .title1{
                font-size:22px;
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .text_with_background_image{
      .wrapper_text{
        bottom: 120px;
        .title1 {
          font-size: 50px;
          padding-bottom: 30px;
        }

      }
    }
}


@media screen and (max-width:991px) {
  .text_with_background_image {
    .wrapper_text {
      bottom: 90px;
      .title1 {
        font-size: 40px;
        padding-bottom: 10px;
      }
    }
  }
}

  @media screen and (max-width:700px) {
    .text_with_background_image {
      .wrapper_text {
        padding: 0 15px;
        .title1 {
          font-size: 30px;
          padding-bottom: 10px;
        }
      }
    }
  }

    @media screen and (max-width:500px) {
      .text_with_background_image {
        .wrapper_text {
          padding: 0 15px;
          .title1 {
            font-size: 24px;
          }
        }
      }
    }

      @media screen and (max-width:400px) {
        .text_with_background_image {
          .wrapper_text {
            padding: 0 15px;
            .title1 {
              font-size: 20px;
            }
          }
        }
      }



