.sezione-box-flottante-stats{
    background-color:$color6;
    .row-stats{
        transform:translateY(-50%);
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        -o-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        text-align:center;
        .col-lg-8{
            box-shadow:0px 0px 11px 2px $color3;
            background-color:$color5;
            .col-lg-3{
                padding:30px;
                border-right:1px solid $color8;
                .odometer.odometer-auto-theme{
                    display:block;
                }
                p{
                    font-size:$text8;
                    font-weight:$bold;
                    color:$color3;
                }
                h4{
                    font-size:$text3;
                    font-weight:$semi-bold;
                    color:$color11;
                }
                img{
                    margin-bottom:20px;
                }
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .sezione-box-flottante-stats .row-stats .col-lg-8 .col-lg-3{
        padding:25px;
        img{
            height:40px;
        }
        p{
            font-size:font-percentage($text8, 0.8);
        }
        h4{
            font-size:font-percentage($text3, 0.9);
        }
    }
}

@media screen and (max-width:767px) {
    .sezione-box-flottante-stats .row-stats .col-lg-8 .col-lg-3{
        padding:15px;
        img{
            height:35px;
        }
        p{
            font-size:font-percentage($text8, 0.65);
        }
        h4{
            font-size:font-percentage($text3, 0.75);
        }
    }
}

@media screen and (max-width:549px) {
    .sezione-box-flottante-stats .row-stats .col-lg-8 .col-lg-3{
        width:50%;
    }
}
