{% extends "admin/admin.html.twig" %}

{% block title %} {% trans %} vetrina.labels.title{% endtrans %}: {% trans %} default.labels.modifica_ordine{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} vetrina.labels.title{% endtrans %}: {% trans %} default.labels.modifica_ordine{% endtrans %} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/admin/css/vetrina.css') }}" rel="stylesheet">
{% endblock %}


{% block page_content %}
    <div class="x_panel">
        <div class="x_content">

            <div class="form-group">
                <label class="col-md-3 col-sm-3 col-xs-12 control-label required" for="categoria">
                    {% trans %} vetrina.labels.categoria {% endtrans %}
                    <span class="required" title="This field is required">*</span>
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select id="categoria" name="categoria" class="form-control">
                        {% for id_categoria,categoria in categorie %}
                            <option value="{{ id_categoria }}">{{ categoria }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                </div>
            </div>

        </div>


    </div>
    <div class="x_panel">
        <div class="x_content">

            <div class="toSort">

                <p class="help-block help-block-default">{% trans %}vetrina.help.select_one{% endtrans %}</p>
                <p class="help-block help-block-assente hide">{% trans %}vetrina.help.no_slides{% endtrans %}</p>

            </div>

            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

                <button class="btn btn-success btn-main-submit disabled save-sort" formnovalidate>
                    <i class="fa fa-save"></i> {% trans %}
                    default.labels.salva {% endtrans %}</button>

                <a href="{{ path('vetrina') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                    default.labels.chiudi {% endtrans %}</a>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('node_modules/jquery-ui-dist/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('admin/js/vetrina.js') }}"></script>

{% endblock %}

{% block handlebars %}
    <script type="text/x-handlebars" id="sortTemplate">
        <div class="col-md-4 sortList">
            <ul class="list-group">
                {% verbatim %}{{#each items}}{% endverbatim %}
                <li class="list-group-item" id="{% verbatim %}{{ this.id }}{% endverbatim %}">
                    <i class="fa fa-arrows-alt"></i>&nbsp;{% verbatim %}{{ this.label }}{% endverbatim %}</li>
                {% verbatim %}{{/each}}{% endverbatim %}
            </ul>
        </div>
    </script>
{% endblock %}
