{% trans_default_domain "public" %}
{% if data.commentabile or data.commenti|length %}
    <div class="box-commenti">
        <h3>{{ titolo.val }}</h3>

        {% if data.commentabile %}
            {% form_theme data.form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(data.form) }}

            <div class="container-fluid">

                <div class="row_x">
                    <input type="text" name="{{ data.uniqid }}_wt" value="" />
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sx">
                        {{ form_row(data.form.nome) }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dx">
                        {{ form_row(data.form.email) }}
                    </div>
                </div>
                <div class="row">
                    {{ form_row(data.form.messaggio) }}
                </div>

                <div class="row row_pubblica">
                    <button type="submit" class="btn-default btn">{% trans %}blog.labels.lascia_commento{% endtrans %}</button>
                </div>

            </div>
            {{ form_end(data.form) }}
        {% endif %}


        {% if data.commenti %}
            <div class="container">
                {% for commento in data.commenti %}
                    <div class="row row-commento">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="contenuto-commento">
                                <p class="commento-di">{{ commento.nome }} - {{ blogService.getDate(commento,app.request.locale, 'createdAt') }}</p>
                                <p class="testo-commento">
                                    <img class="avatar-pic" src="/icone-loghi/no-avatar.png">
                                    {{ commento.messaggio }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endif %}