{{ form_start(form) }}

{% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
                <li> {{ error }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}


<div role="tabpanel">
    <ul class="nav nav-tabs " role="tablist">
        <li role="presentation" class="active">
            <a href="#tab_content1" id="dati-anagrafici" role="tab" data-toggle="tab" aria-expanded="false">{% trans %}
                anagrafica.labels.dati_anagrafici {% endtrans %}</a>
        </li>
        <li role="presentation">
            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">{% trans %}
                anagrafica.labels.accesso {% endtrans %}</a>
        </li>
        <li role="presentation"{% if action == 'create' %} class="disabled"{% endif %}>
            <a href="#tab_address"{% if action == 'create' %} class="disabled"{% endif %} role="tab" id="profile-tab2"
               data-toggle="tab" aria-expanded="true">{% trans %} anagrafica.labels.indirizzi {% endtrans %}</a>
        </li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="dati-anagrafici">
            {{ form_row(form.nome) }}
            {{ form_row(form.cognome) }}
            {{ form_row(form.nazione) }}
            {{ form_row(form.provincia) }}
            {{ form_row(form.provincia_text) }}
            {{ form_row(form.comune) }}
            {{ form_row(form.comune_text) }}
            {{ form_row(form.cap) }}
            {{ form_row(form.indirizzo) }}
            {{ form_row(form.codiceFiscale) }}
            {{ form_row(form.telefono) }}
            {{ form_row(form.cellulare) }}
            {{ form_row(form.isAzienda) }}
            {{ form_row(form.ragioneSociale) }}
            {{ form_row(form.partitaIva) }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
            {{ form_row(form.isGuest) }}
            {{ form_row(form.email) }}
            {{ form_row(form.plainPassword.first) }}
            {{ form_row(form.plainPassword.second) }}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="tab_address" data-anagrafica="{{ Anagrafica.id }}"
             aria-labelledby="profile-tab">

            {% include "@Anagrafica/Anagrafica/indirizzi.html.twig" %}

        </div>
    </div>
</div>

<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

    {{ form_widget(form._token) }}

    <button class="btn btn-success btn-main-submit" formnovalidate><i class="fa fa-save"></i> {% trans %}
        default.labels.salva {% endtrans %}</button>

    <a href="{{ path('anagrafica') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
        default.labels.chiudi {% endtrans %}</a>
</div>


{{ form_end(form, {render_rest: false}) }}

<script type="text/x-handlebars-template" id="optionsTemplate">
    {% verbatim %}
        {{#each options}}<option value="{{id}}">{{nome}}</option>{{/each}}
    {% endverbatim %}
</script>

<script type="text/x-handlebars-template" id="emptyComuneTemplate">
    <option value="0">{% trans %} anagrafica.labels.select_province {% endtrans %}</option>
</script>
