<div class="row">

    {% for indirizzo in Anagrafica.indirizzi %}

        <div class="col-md-4 pannelloIndirizzo">
            <div class="x_panel tile">
                <div class="x_title">
                    <h2>{% if loop.first %}{% trans %} anagrafica.labels.indirizzo_predefinito {% endtrans %}{% else %} {% trans %} anagrafica.labels.indirizzo_aggiuntivo {% endtrans %} {{ loop.index0 }}{% endif %}</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" data-id="{{ indirizzo.id }}" class="edit-address"><i
                                                class="fa fa-pencil"></i> {% trans %}
                                        anagrafica.labels.modifica {% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-id="{{ indirizzo.id }}"
                                       class="set-default-address{% if loop.first %} disabled{% endif %}"><i
                                                class="fa {% if loop.first %}fa-ban{% else %}fa-check{% endif %}"></i> {% trans %}
                                        anagrafica.labels.rendi_predefinito {% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="#" data-id="{{ indirizzo.id }}"
                                       class="delete-address{% if loop.first %} disabled{% endif %}"><i
                                                class="fa {% if loop.first %}fa-ban{% else %} fa-trash{% endif %}"></i> {% trans %}
                                        anagrafica.labels.cancella {% endtrans %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {% if indirizzo.presso %}
                        <strong>{{ indirizzo.presso }}</strong>
                    {% else %}
                        <strong>{{ Anagrafica.User.nome }} {{ Anagrafica.User.cognome }}{% if Anagrafica.isAzienda %} ({{ Anagrafica.ragioneSociale }}){% endif %}</strong>
                    {% endif %}
                    <br/>
                    {{ indirizzo.indirizzo }}
                    <br/>
                    {{ indirizzo.cap }} {{ indirizzo.comune }} {% if indirizzo.provincia %}({{ indirizzo.provincia.sigla }}){% else %}{{ indirizzo.provinciaText }}{% endif %} {{ indirizzo.nazione }}
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="col-md-4 pannelloIndirizzo">
        <div class="x_panel tile">
            <div class="x_title">
                <h2>{% trans %} anagrafica.labels.aggiungi {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="text-center">
                    <a href="#" class="addIndirizzo"><i class="fa fa-plus fa-4x"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>