{{ form_start(form) }}

{% if not form.vars.valid %}
    <div class="alert alert-danger">
        {{ errors | raw }}
    </div>
{% endif %}

<div class="row">
    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans %} default.labels.dati_strutturali {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            {{ form_row(form.isEnabled) }}
            {{ form_row(form.name) }}
            {{ form_row(form.roles) }}
        </div>
    </div>

</div>

<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

    <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
        default.labels.salva {% endtrans %}</button>

    <a href="{{ path('group') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
        default.labels.chiudi {% endtrans %}</a>
</div>

{{ form_end(form) }}