.text_with_side_images_only_desktop{
  padding:100px 0;
  padding-bottom:0;
  .float_r{
    float:right;
  }
  .float_l{
    float:left;
  }
  .align-center{
    text-align: center;
  }
  .align-left{
    text-align: left;
  }
  .title_section{
    font-size: 26px;
    color:$text2;
    font-family: 'montserratlight';
    margin:30px 30px 0px 30px;
  }
  .text_section{
    font-size: 16px;
    color:$text-nicola2;
    font-family: 'montserratlight';
    margin:30px 30px 0px 30px;
  }
  .subtitle_section{
    font-size: 20px;
    color:$text2;
    font-family: 'montserratlight';
    margin:30px 30px 0px 30px;
  }
  .col_img_l{
    padding-left:0;
  }
  .col_img_r{
    padding-right: 0;
  }
}

@media screen and (max-width:991px){
  .text_with_side_images_only_desktop{
    padding-bottom:100px;
    .col_img_l img,
    .col_img_r img{
      display: none;
    }
    .subtitle_section {
      font-size: 18px;
      margin-top: 20px;
    }
    .text_section {
      font-size: 14px;
    }
    .title_section {
      font-size: 34px;
    }
  }
}

@media screen and (max-width:640px){
  .text_with_side_images_only_desktop{
    padding: 50px 0;
    .text_section {
      font-size: 13px;
      margin:20px 15px 0px 15px;
    }
    .title_section {
      font-size: 20px;
      margin:20px 15px 0px 15px;
    }
    .subtitle_section {
      font-size: 14px;
      margin:20px 15px 0px 15px;
    }
  }
}
