  <section class="text_with_background_image" style="background-image:url('{{ img.src }}');">
      <div class="container-fluid">
        <div class="overlay_video">
        </div>
        <div class="wrapper_text">
          <h1 class="title1" data-aos="zoom-in" data-aos-duration="1000">{{ title.val|raw }}</h1>
          <p class="title2" data-aos="zoom-in" data-aos-duration="1000">{{ subtitle.val|raw }}</p>
        </div>
          <div id="link_button">
              <a href="{{ id_sezione.link }}" title="{{ id_sezione.label }}">
                <div class="freccia_dx_doppia"></div>
              </a>
          </div>
      </div>
  </section>
