height:100%;
.text_with_background_image{
    min-height:100%;
    height:100%;
    background-size:cover;
    background-position: 50% 50%;
    overflow:hidden;
    position:relative;
    .freccia_dx_doppia{
      background:url('../../../images/cantinamenegola/loghi/frecciadxdoppia.png') 0 0;
      width:12px;
      height:22px;
      margin: auto;
      &:hover{
        background:url('../../../images/cantinamenegola/loghi/frecciadxdoppia.png') 0 22px;
      }
    }
    .overlay_video{
        position:absolute;
        background-color:black;
        width:100%;
        height:100%;
        opacity:0.5;
        left:0;
    }
    .wrapper_text{
      position: absolute;
      bottom: 130px;
      text-align: center;
      width: 100%;
      .title1{
        font-size:38px;
        margin:0;
        font-family:'Merriweather', serif;
        margin-bottom:14px;
        font-weight: 400;
        color:$color11;
        padding-bottom:20px;
        strong{
          font-family: "alana";
          font-weight: 400;
          font-size: 65px;
        }
      }
      .title2{
        font-size:18px;
        font-family:'Merriweather', serif;
        margin-bottom:0;
        font-weight: 400;
        color:$color11;
      }
    }

    #link_button{
        position:absolute;
        bottom:100px;
        width:100%;
        text-align:center;
        left:0;
    }
}


@media screen and (max-width:991px) {
    .text_with_background_image{
      .wrapper_text{
        padding:0 30px;
        .title1 {
          font-size: 24px;
          padding-bottom: 0px;
          strong{
            font-size: 42px;
          }
        }
      }
    }
}



@media screen and (max-width:640px) {
    .text_with_background_image{
        #link_button a span{
            position:absolute;
            top:-20px;
        }
    }
}
