<div class="slider-clienti-row-singola">
    {% if titolo.val|default("") %}<h3>{{ titolo.val }}</h3>{% endif %}
    <hr />
    <div class="slider-customers">
        {% if data.error %}
            {{ data.error }}
        {% else %}
            {% for slide in data.slides %}
                <div>
                    <img class="logo-customer" src="{{ slide.image.src }}" alt="{{ slide.image.alt|default("") }}" />
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>