<?xml version="1.0"?>
<rss version="2.0">
    <channel>
        <title>{{ siteName }}</title>
        <link>{{ siteUrl }}</link>
        <description>{{ siteDescription }}</description>
        <copyright>{{ copyright }}</copyright>
        <language>{{ lang }}</language>
        <pubDate>{{ now }}</pubDate>
        <lastBuildDate>{{ now }}</lastBuildDate>
        <image>
            <url>{{ channelImage.url }}</url>
            <title>{{ channelImage.title }}</title>
            <description>{{ channelImage.description }}</description>
        </image>

        {% for entry in news %}
            <item>
                <title>{{ entry.title }}</title>
                <link>{{ entry.url }}</link>
                <pubDate>{{ entry.postDate }}</pubDate>
                <author>{{ entry.author }}</author>
                <guid>{{ entry.url }}</guid>
                <description><![CDATA[
                    {% if entry.thumb %}
                        <div class="rss_thumbnail">
                            <img src="{{ entry.thumb }}" alt="{{ entry.thumb_alt }}" />
                        </div>
                    {% endif %}
                    {{ entry.body }}
                    ]]>
                </description>
            </item>
        {% endfor %}
    </channel>
</rss>