.box-quadruplo-box-floating{
    position:relative;
    .box-floating{
        width:15%;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        -webkit-transform:translate(-50%, -50%);
        -moz-transform:translate(-50%, -50%);
        -o-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
        background-color:$color2;
        z-index:10;
        text-align:center;
        padding:20px;
        p{
            font-size:$text6;
            color:$color5;
            margin:0;
        }
    }
    .box-wrapper{
        .col-lg-6{
            padding:0;
        }
        .col-slider{
            .quote{
                position:relative;
                top:20px;
                left:20px;
            }
            .slider-opinioni{
                padding:50px 100px;
                > div{
                    text-align:center;
                    img{
                        margin:0 auto;
                        margin-bottom:30px;
                    }
                    h3{
                        color:$color3;
                        font-size:$text6;
                        margin-bottom:30px;
                        font-weight:$bold;
                    }
                    p{
                        color:$color11;
                        font-size:$text5;
                        margin-bottom:30px;
                        &.firma{
                            font-family:'Pacifico', cursive;
                            color:$color11;
                            font-size:$text5;
                        }
                    }
                }
                .slick-dots{
                    position:relative;
                    bottom:-25px;
                    li button:before{
                        font-size:$text1;
                    }
                    li.slick-active button:before{
                        color:transparent;
                        border:3px solid $color1;
                        border-radius:10px;
                        font-size:12px;
                        top:-2px;
                    }
                }
            }
        }
        .col-img{
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
        .col-text{
            .box-testo{
                position:absolute;
                top:50%;
                left:50%;
                transform:translate(-50%, -50%);
                img{
                    transform:translateX(-40px);
                }
                h3{
                    font-size:$text9;
                    color:$color3;
                    font-weight:$semi-bold;
                    strong{
                        font-weight:$bold;
                        color:$color1;
                    }
                }
                p{
                    margin-top:30px;
                    font-size:$text3;
                    font-weight:$regular;
                }
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .box-quadruplo-box-floating .box-wrapper .col-slider .slider-opinioni > div{
        img{
            width:80px;
        }
        h3{
            font-size:font-percentage($text6, 0.9);
        }
        p{
            font-size:font-percentage($text5, 0.9);
        }
    }
    .box-quadruplo-box-floating .box-wrapper .col-slider .slider-opinioni{
        padding:30px 60px;
    }
    .box-quadruplo-box-floating .box-wrapper .col-text .box-testo{
        h3{
            font-size:font-percentage($text9, 0.9);
        }
        p{
            font-size:font-percentage($text3, 0.9);
        }
    }
    .box-quadruplo-box-floating .box-floating{
        width:18%;
        p{
            font-size:font-percentage($text6, 0.8);
        }
    }
}

@media screen and (max-width:991px) {
    .box-quadruplo-box-floating .box-wrapper .col-slider .slider-opinioni > div{
        img{
            width:60px;
            margin-bottom:10px;
        }
        h3{
            font-size:font-percentage($text6, 0.8);
            margin-bottom:10px;
        }
        p{
            font-size:font-percentage($text5, 0.8);
            margin-bottom:10px;
        }
    }
    .box-quadruplo-box-floating .box-wrapper .col-slider .sliders-opinioni{
        padding:20px 40px;
    }
    .box-quadruplo-box-floating .box-wrapper .col-slider .quote{
        width:35px;
    }
    .box-quadruplo-box-floating .box-wrapper .col-text .box-testo{
        h3{
            font-size:font-percentage($text9, 0.7);
        }
        p{
            margin-top:10px;
            font-size:font-percentage($text3, 0.8);
        }
    }
    .box-quadruplo-box-floating .box-floating{
        width:20%;
        p{
            font-size:font-percentage($text6, 0.7);
        }
    }
}

@media screen and (max-width:767px) {
    .box-quadruplo-box-floating .box-wrapper .col-slider .slider-opinioni > div{
        h3{
            font-size:font-percentage($text6, 0.7);
            margin-bottom:10px;
        }
        p{
            font-size:font-percentage($text5, 0.7);
            margin-bottom:10px;
        }
    }
    .box-quadruplo-box-floating .box-wrapper .col-slider .sliders-opinioni{
        padding:15px 20px;
    }
    .box-quadruplo-box-floating .box-wrapper .col-text .box-testo{
        h3{
            font-size:font-percentage($text9, 0.65);
        }
        p{
            font-size:font-percentage($text3, 0.75);
        }
    }
    .box-quadruplo-box-floating .box-floating{
        width:22%;
        p{
            font-size:font-percentage($text6, 0.65);
        }
    }
}

@media screen and (max-width:649px) {
    .box-quadruplo-box-floating .box-floating{
        display:none;
    }
    .box-quadruplo-box-floating .box-wrapper .col-lg-6{
        width:100%;
    }
    .box-quadruplo-box-floating .box-wrapper .col-img{
        height:300px !important;
    }
}