<section class="modulo-pag-webtek">
    <div class="container-fluid">
        <div class="row">
            <div class="slider-container">
                {% if data.immagini is defined %}
                    {% for image in data.immagini %}
                        <div>
                            <img src="{{ vich_uploader_asset(image, 'file') }}" alt="{{ image.translate().alt }}" />
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="box-wrap box-wrap-webtek">
                <div class="box box-webtek">
                    <div class="wrapper_text">
                        <div class="testo">
                            <h1>{{ data.page.sottotitolo }}</h1>
                            {% if data.page.rows is defined %}
                                {% for row in data.page.rows %}
                                    {{ row.slot1|raw }}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="btn_webtek">
                            <a class="btn btn-default" href="{{ link.link }}" target="_blank">{{ link.label }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
