.text_image{
  text-align:center;
  background-color:$color2g;
  overflow:hidden;
  .prima-parte{
    padding-left:18%;
    padding-right:18%;
    padding-top:80px;
  }
  .immagine{
    margin-top:100px;
  }
  .img-big{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .title-small{
    font-family:"montserratregular";
    color:$text3;
    font-size:48px;
    margin-top:0;
  }
  .title-big{
    color:$text3;
    font-size:48px;
    font-family:"montserratextralight";
    margin-bottom:0;
  }
  .text{
    color:$text3;
    font-family:"montserratlight";
    font-size:16px;
    line-height:30px;
    margin-top:30px;
  }

}

@media(max-width:1200px){
  .text_image{
    .prima-parte{
      padding-left:15%;
      padding-right:15%;
    }
  }
}

@media (max-width:900px){
  .text_image{
    .prima-parte{
      padding-left:10%;
      padding-right:10%;
    }
    .title-small{
      font-size:40px;
    }
    .title-big{
      font-size:40px;
    }
    .text{
      font-size:16px;
    }
  }
}

@media (max-width:750px){
  .text_image{
    .immagine{
      margin-top:60px;
    }
    .prima-parte{
      padding-left:10px;
      padding-right:10px;
      padding-top:40px;
    }
    .title-small{
      font-size:30px;
    }
    .title-big{
      font-size:30px;
    }
    .text{
      font-size:15px;
      line-height:24px;
    }
  }
}

@media (max-width:350px){
  .text_image{
    .prima-parte{
      padding-left:0;
      padding-right:0;
    }
    .title-small,.title-big{
      font-size:25px;
    }
    .text{
      font-size:14px;
    }
  }
}
