<section class="text_image" id="{{id_sezione.val}}">
  <div class="container-fluid">
    <div class="prima-parte">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="title-big" data-aos="fade-up" data-aos-duration="1000"> {{titolo.val|raw}} </h3>
        <h3 class="title-small" data-aos="fade-up" data-aos-duration="1000"> {{sottotitolo.val|raw}} </h3>
        <p class="text" data-aos="fade-up" data-aos-duration="1000">{{testo.val|raw}} </p>

      </div>
    </div>
  </div>
</div>
<div class="immagine">
  <div class="row">
    <div class="col-xs-12">
          <img class="img-big img-responsive" src="{{immagine.src}}" alt="{{immagine.alt|default("")}}" data-aos="fade-up" data-aos-duration="1000">
    </div>
  </div>
</div>
</section>
