<div class="sezione box-due-liste">
  <div class="container">
    <div class="title" data-aos="fade-down">
      <p>
        {{ titoletto.val }}
      </p>
      <h4>{{ titolo.val }}</h4>
    </div>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3 sameHeight">
            <div class="list">
              <ul>
                <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="">
                  <img src="{{ icona_box_sx_1.src }}" alt="{{ icona_box_sx_1.alt }}"/>
                  <p>
                    {{ titolo_box_sx_1.val }}
                  </p>
                  <p>
                    {{ testo_box_sx_1.val }}
                  </p>
                </li>
                <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="400">
                  <img src="{{ icona_box_sx_2.src }}" alt="{{ icona_box_sx_2.alt }}"/>
                  <p>
                    {{ titolo_box_sx_2.val }}
                  </p>
                  <p>
                    {{ testo_box_sx_2.val }}
                  </p>
                </li>
                <li data-aos="fade-right" data-aos-duration="800" data-aos-delay="800">
                  <img src="{{ icona_box_sx_3.src }}" alt="{{ icona_box_sx_3.alt }}"/>
                  <p>
                    {{ titolo_box_sx_3.val }}
                  </p>
                  <p>
                    {{ testo_box_sx_3.val }}
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 sameHeight">
            <img src="{{ img_center.src }}" alt="{{ img_center.alt }}" / data-aos="zoom-in" data-aos-duration="800" data-aos-delay="">
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3 sameHeight">
            <div class="list">
              <ul>
                <li data-aos="fade-left" data-aos-duration="800" data-aos-delay="">
                  <img src="{{ icona_box_dx_1.src }}" alt="{{ icona_box_dx_1.alt }}"/>
                  <p>
                    {{ titolo_box_dx_1.val }}
                  </p>
                  <p>
                    {{ testo_box_dx_1.val }}
                  </p>
                </li>
                <li data-aos="fade-left" data-aos-duration="800" data-aos-delay="400">
                  <img src="{{ icona_box_dx_2.src }}" alt="{{ icona_box_dx_2.alt }}"/>
                  <p>
                    {{ titolo_box_dx_2.val }}
                  </p>
                  <p>
                    {{ testo_box_dx_2.val }}
                  </p>
                </li>
                <li data-aos="fade-left" data-aos-duration="800" data-aos-delay="800">
                  <img src="{{ icona_box_dx_3.src }}" alt="{{ icona_box_dx_3.alt }}"/>
                  <p>
                    {{ titolo_box_dx_3.val }}
                  </p>
                  <p>
                  {{ testo_box_dx_3.val }}
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
