.sezione.box-due-liste {
  padding: 50px;
  background-color: $color3m;
  text-align: center;
  padding-top:100px;
  padding-bottom:100px;
  .title {
    p {
      color: $text3m;
      font-weight: 700;
      font-size:24px;
      font-family:"montserratsemibold";
    }
    h4 {
      color: $text4m;
      margin-bottom: 50px;
      font-size: 30px;
    }
  }
  .content {
    .col-lg-3 {
      .list {
        margin-top: 50px;
        height: 100%;
        ul {
          height: 100%;
          list-style-type: none;
          padding-left: 0;
          li {
            margin: 70px 0;
            height: 33%;
            text-align: center;
            img {
              display: block;
              margin: 0 auto;
              margin-bottom: 10px;
            }
            p {
              color: $text4m;
              font-weight: 700;
              margin-bottom: 10px;
            }
            p:last-child {
              color: $text3m;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:1299px) {
  .sezione.box-due-liste {
    padding: 80px 0 60px 0;
  }
}

@media screen and (max-width:991px) {
  .sezione.box-due-liste {
    .container {
      width: 100%;
      .col-lg-6 {
        img {
          width: 250px;
        }
      }
    }
  }
  .sezione.box-due-liste .content .col-lg-3 .list ul li {
    margin: 40px 0;
    p {
      font-size: 12px;
    }
  }
}

@media screen and (max-width:767px) {
    .sezione.box-due-liste {
      padding-top:40px;
      padding-bottom:40px;
      .title {
        p {
          font-size:20px;
        }
        h4 {
          color: $text4m;
          margin-bottom: 50px;
          font-size: 24px;
        }
      }
    }

  .sezione.box-due-liste .container {
    padding: 0 5px;
  }
  .sezione.box-due-liste .content .col-lg-3 .list {
    margin-top: 0;
  }
  .sezione.box-due-liste .container .col-lg-6 img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .sezione.box-due-liste .content .col-lg-3 .list ul {
    li {
      margin: 0;
      display: inline-block;
      width: 30%;
      p {
        font-size: 11px;
      }
    }
  }
  .sezione.box-due-liste .content .col-lg-3 {
    padding: 0;
  }
}

@media screen and (max-width: 499px) {
  .sezione.box-due-liste{
    .title {
      padding-left:10px;
      padding-right:10px;
      p {
        font-size:16px;
      }
      h4 {
        color: $text4m;
        margin-bottom: 50px;
        font-size: 20px;
      }
    }
  }
  .sezione.box-due-liste .container .col-lg-6 img {
    width: 150px;
  }
  .sezione.box-due-liste .content .col-lg-3 .list ul {
    li {
      p {
        font-size: 10px;
      }
    }
  }
}

@media screen and (max-width:360px) {
  .sezione.box-due-liste{
    .title {
      padding-left:10px;
      padding-right:10px;
      p {
        font-size:15px;
      }
      h4 {
        color: $text4m;
        margin-bottom: 50px;
        font-size: 18px;
      }
    }
  }
  .sezione.box-due-liste .content .col-lg-3 .list ul {
    li {
      p {
        font-size: 9px;
        font-weight: 400;
      }
    }
  }
}
