<section class="chi_siamo_homepage" id="{{id.val}}">
  <div class="container-fluid">
    <div class="layer layer-01" data-type="parallax" data-depth="0.20" style="background-image:url('{{img1.src}}')"></div>
    <div class="layer layer-02" data-type="parallax" data-depth="0.40" style="background-image:url('{{img2.src}}')"></div>
    <div class="layer layer-03" data-type="parallax" data-depth="0.80" style="background-image:url('{{img3.src}}')"></div>
    <div class="container">
      <div class="row align-center">
        <p class="title_section">{{ titolo.val }}</p>
        <p class="subtitle_section">{{ sottotitolo.val }}</p>
        <p class="text_section">{{ testo.val|raw }}</p>
      </div>
      <div class="row align-center">
        {% if link.link %}
            <a href="{{ link.link }}" class="btn btn-default scopri_button" rel="{{ link.rel }}" {% if link.target != "_self" %} target="{{ link.target }}"{% endif %}>{{ link.label }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
