.chi_siamo_homepage{
  padding: 160px 0;
  text-align: center;
  .title_section{
    font-size: 24px;
    color:$text2m;
    font-family: 'montserratsemibold';
  }
  .subtitle_section{
    font-size: 48px;
    color:$text2g;
    margin-top:40px;
    font-family: 'montserratlight';
  }
  .text_section{
    font-size: 16px;
    color:$text2n;
    margin-top:40px;
    font-family: 'montserratlight';
  }
  .scopri_button{
    font-size:18px;
    border-color:$color4g;
    border-width: 3px;
    font-family: 'montserratsemibold';
    color:$text5n;
    padding: 16px 30px;
    margin-top:30px;
    transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -webkit-transition: 300ms;
    @include no-outline();
    &:hover,
    &:focus,
    &:active{
      color:white;
      background-color: $color4g !important;
      border-color: $color4g !important;
      @include no-outline();
    }
  }
  position: relative;
  overflow: hidden;
  .layer{
    background-position: 100% 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;;
    z-index: -1;
    top:0;
  }
}

@media screen and (max-width:991px){
  .chi_siamo_homepage{
    .title_section{
      font-size: 25px;
      padding: 0 5%;
    }
    .text_section{
      font-size: 16px;
      padding: 0px 10% 20px 10%;
    }
    .subtitle_section{
      font-size: 25px;
      padding: 0px 10% 20px 10%;
    }
    .layer{
      display: none;
    }
  }
}

@media screen and (max-width:640px){
  .chi_siamo_homepage{
    padding: 50px 0;
    .title_section{
      font-size: 18px;
      padding: 0 2%;
      line-height: 25px;
    }
    .text_section{
      font-size: 13px;
      padding: 0px 2% 20px 2%;
      margin-top: 20px;
    }
    .subtitle_section{
      font-size: 16px;
      padding: 0px 2% 5px 2%;
      margin-top: 10px;
    }
    .scopri_button {
      font-size: 15px;
      border-width: 3px;
      padding: 8px 20px;
    }
  }
}

@media screen and (max-width:340px){
  .chi_siamo_homepage{
    .container{
      padding-right: 10px;
      padding-left: 10px;
    }
    .scopri_button {
      margin-top:15px;
    }
  }
}
