.box-doppio-diviso{
    padding:50px;
    background-color:$color6;
    .col-img{
        border-right:10px solid $color6;
        > img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        .testo-img{
            position:absolute;
            left:0;
            top:20%;
            text-align:center;
            width:100%;
            padding:0 80px;
            h3, p{
                color:$color5;
            }
            h3{
                font-size:$text12;
                font-weight:$semi-bold;
            }
            p{
                font-size:$text5;
                font-weight:$regular;
            }
        }
    }
    .col-divisa{
        background-color:$color5;
        border-left:10px solid $color6;
        .box-img{
            width:100%;
        }
        .wrapper-testo{
            padding:0 80px;
            h3{
                font-size:$text10;
                font-weight:$semi-bold;
                margin-top:-30px;
                margin-bottom:30px;
                color:$color3;
            }
            p{
                font-size:$text5;
                font-weight:$regular;
                padding-bottom:30px;
                color:$color11;
                span{
                    font-weight:$bold;
                }
            }
            .icona{
                background-color:$color1;
                padding:20px;
                position:relative;
                top:-60px;
            }
        }
    }
    .col-lg-6{
        padding:0;
        text-align:center;
        position:relative;
        .read-more{
            position:absolute;
            right:25px;
            font-weight:$bold;
            font-size:$text1;
            bottom:10px;
            &.light{
                color:$color5;
            }
            &.dark{
                color:$color11;
            }
            &:hover, &:focus, &:active{
                color:$color3;
                transition-duration:0.3s;
            }
        }

    }
}

@media screen and (max-width:1499px) {
    .box-doppio-diviso .col-img .testo-img{
        h3{
            font-size:font-percentage($text12, 0.8);
        }
    }
}

@media screen and (max-width:1199px) {
    .box-doppio-diviso .col-img .testo-img{
        h3{
            font-size:font-percentage($text12, 0.7);
        }
        p{
            font-size:font-percentage($text5, 0.9);
        }
        img{
            height:50px;
        }
    }
    .box-doppio-diviso .col-divisa .wrapper-testo{
        padding:0 50px;
        .icona{
            padding:15px;
        }
        h3{
            font-size:font-percentage($text10, 0.85);
        }
        p{
            font-size:font-percentage($text5, 0.8);
        }
    }
}

@media screen and (max-width:991px) {
    .box-doppio-diviso{
        padding:50px 0;
    }
    .box-doppio-diviso .col-img .testo-img{

        h3{
            font-size:font-percentage($text12, 0.5);
        }
        p{
            font-size:font-percentage($text5, 0.8);
        }
        img{
            height:40px;
        }
    }
    .box-doppio-diviso .col-divisa .wrapper-testo{
        padding:0 30px;
        .icona{
            padding:10px;
        }
        h3{
            font-size:font-percentage($text10, 0.7);
        }
        p{
            font-size:font-percentage($text5, 0.75);
        }
    }
}

@media screen and (max-width:767px) {
    .box-doppio-diviso .col-img .testo-img{
        top:0;
        padding:0 15px;
        h3{
            font-size:font-percentage($text12, 0.4);
        }
        p{
            font-size:font-percentage($text5, 0.7);
        }
    }
    .box-doppio-diviso .col-divisa .wrapper-testo{
        padding:0 15px;
        h3{
            font-size:font-percentage($text10, 0.6);
        }
        p{
            font-size:font-percentage($text5, 0.70);
        }
    }
    .box-doppio-diviso .col-divisa, .box-doppio-diviso .col-img{
        border:none;
    }
    .box-doppio-diviso .col-img{
        > img{
            display:none;
        }
        background-color:$color2;
        height:350px !important;
    }
    .box-doppio-diviso .col-lg-6 .read-more{
        right:auto;
        left:50%;
        transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
    }
}
