.header-w-text-icon-button{
    position:relative;
    > img{
        width:100%;
    }
    .box-testo{
        text-align:center;
        position:absolute;
        top:40%;
        left:50%;
        transform:translate(-50%, -40%);
        -webkit-transform:translate(-50%, -40%);
        -moz-transform:translate(-50%, -40%);
        -o-transform:translate(-50%, -40%);
        -ms-transform:translate(-50%, -40%);
        .header-text1{
            color:$color5;
            font-size:$text11;
            font-weight:$regular;
        }
        .header-text2{
            color:$color5;
            font-size:$text5;
        }
    }
    .btn-default{
        position:absolute;
        bottom:15%;
        left:50%;
        transform:translateX(-50%);
        -webkit-transform:translateX(-50%);
        -moz-transform:translateX(-50%);
        -o-transform:translateX(-50%);
        -ms-transform:translateX(-50%);
        font-weight:$bold;
        font-size:$text5;
        border-radius:0;
        padding:25px 30px;
        background-color:$color5;
        color:$color3;
        font-weight:$bold;
        transition-duration:0.3s;
        i{
            top:-1px;
            position:relative;
            margin-left:10px;
            color:$color1;
        }
        &:hover, &:active, &:focus{
            color:$color1;
            transition-duration:0.3s;
        }
    }
}

@media screen and (max-width:1499px) {
    .header-w-text-icon-button .btn-default{
        padding:25px 15px;
        font-size:font-percentage($text5, 0.9);
    }
    .header-w-text-icon-button .box-testo{
        .header-text1{
            font-size:font-percentage($text11, 0.9);
        }
        .header-text2{
            font-size:font-percentage($text5, 0.9);
        }
    }
}

@media screen and (max-width:1399px) {
    .header-w-text-icon-button .btn-default{
        padding:25px 15px;
        font-size:font-percentage($text5, 0.8);
    }
    .header-w-text-icon-button .box-testo{
        img{
            height:50px;
        }
        .header-text1{
            margin-top:10px;
            font-size:font-percentage($text11, 0.8);
        }
        .header-text2{
            font-size:font-percentage($text5, 0.8);
        }
    }
}

@media screen and (max-width:1199px) {
    .header-w-text-icon-button{
        height:450px;
        background-color:$color1;
        > img{
            display:none;
        }
        .btn-default{
            bottom:30px;
            padding:15px 30px;
        }
    }
}
