{% extends "@WebtekEcommerce/admin/market_place/formLayout.html.twig" %}

{% block title %} {% trans %} market_place.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} market_place.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}


