<div class="sezione boxImgFullWidth" style="background-color:{{ bg_color.val }};">
    <div class="container">
        <div class="row">
            <div class="box-testo" data-aos="fade-down" data-aos-duration="800" style="color:{{ text_color.val }}">
                <p>
                    {{ titoletto.val }}
                </p>
                <h3>{{ titolo.val }}</h3>

                {% if link.link %}
                    <a class="link-sito" target="_blank" href="{{ link.link }}">{{ link.label }}</a>
                  {% endif %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <img src="{{ immagine_big.src }}" alt="{{ immagine_big.alt|default("") }}" data-aos="fade-up" data-aos-duration="800" />
        </div>
    </div>
</div>
