.box-doppio-new{
    .col-lg-6{
        padding:0;
    }
    .col-img{
        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
    }
    .col-text{
        .box-testo{
            text-align:center;
            padding:20%;
            .titoletto{
                font-size:$text3;
                color:$color11;
                font-weight:$semi-bold;
            }
            .titolo{
                font-size:$text8;
                font-weight:$semi-bold;
                strong{
                    font-weight:$bold;
                    color:$color1;
                }
                margin-bottom:30px;
            }
            .testo{
                font-size:$text2;
                font-weight:$regular;
                color:$color3;
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .box-doppio-new .col-text .box-testo{
        .titolo{
            font-size:font-percentage($text8, 0.9);
        }
        .titoletto{
            font-size:font-percentage($text3, 0.9);
        }
        .testo{
            font-size:font-percentage($text2, 0.9);
        }
    }
}

@media screen and (max-width:991px) {
    .box-doppio-new .col-text .box-testo{
        .titolo{
            font-size:font-percentage($text8, 0.8);
        }
        .titoletto{
            font-size:font-percentage($text3, 0.8);
        }
        .testo{
            font-size:font-percentage($text2, 0.8);
        }
    }
}

@media screen and (max-width:767px) {
    .box-doppio-new .col-text .box-testo{
        .titolo{
            font-size:font-percentage($text8, 0.7);
        }
        .titoletto{
            font-size:font-percentage($text3, 0.7);
        }
        .testo{
            font-size:font-percentage($text2, 0.85);
        }
    }
    .box-doppio-new .col-img{
        height:300px !important;
    }
}
