<div class="box-doppio-new">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-img">
                {% if img_big.src|default("") %}
                    <img src="{{ img_big.src }}" alt="{{ img_big.alt|default("") }}" />
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-text">
                <div class="box-testo">
                    {% if icona.src|default("") %}
                        <img src="{{ icona.src }}" alt="{{ icona.alt|default("") }}" />
                    {% endif %}
                    {% if titolo.val|default("") %}
                        <p class="titoletto">
                            {{ titolo.val }}
                        </p>
                    {% endif %}
                    {% if sottotitolo.val|default("") %}
                        <h3 class="titolo">
                            {{ sottotitolo.val|raw }}
                        </h3>
                    {% endif %}
                    {% if testo.val|default("") %}
                        <p class="testo">
                            {{ testo.val|raw }}
                        </p>
                    {% endif %}
                    {% if link.link|default("") %}
                        <a class="btn btn-default" href="{{ link.link }}">{{ link.label }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>