<div class="carousel-video-foto">
    <div class="scroll-down">
        <img src="{{ asset('images/energia/grafica/scroll.png') }}" alt="Scopri">
    </div>
    <div class="big-slider">
        {% for immagine in immagini %}
            {% set titolo = attribute(titoli, loop.index0) %}
            {% set testo = attribute(testi, loop.index0) %}
            {% set vid = attribute(video, loop.index0)|default("") %}



            {% if immagine.src|default("") %}
                <div class="item">
                    {% if vid.src|default("") %}
                        <video id="vid{{ loop.index0 }}" class="video" autoplay loop muted{% if immagine.src|default("") %} poster="{{ immagine.src }}"{% endif %}>
                            <source src="{{ vid.src }}" type="video/mp4">
                        </video>
                    {% else %}
                        <img src="{{ immagine.src|default("") }}" alt="{{ immagine.alt|default("") }}" />
                    {% endif %}
                    {% if testo.val or titolo.val %}
                        <div class="item-caption">
                            {% if titolo.val|default("") %}
                                <p class="caption1">{{ titolo.val | raw }}</p>
                            {% endif %}
                            {% if testo.val|default("") %}
                                <p class="caption2">{{ testo.val | raw }}</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}

        {% endfor %}
    </div>
</div>
