{% trans_default_domain "public" %}
<div class="container-fluid container-limitato">
    <div class="row">
        <div class="col-sm-12 colonna">
            <h1 class="titolo-sezione">
                {% trans %}ecommerce.labels.carrello{% endtrans %}
            </h1>
            {% if data.Carrello.recordsCarrello|length %}
                <table class="tabella-carrello">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>{% trans %}ecommerce.labels.prodotto{% endtrans %}</th>
                        <th class="numeric no-mobile">{% trans %}ecommerce.labels.prezzo{% endtrans %}</th>
                        <th class="qty no-mobile">{% trans %}ecommerce.labels.quantita{% endtrans %}</th>
                        <th class="numeric no-mobile">{% trans %}ecommerce.labels.subtotale{% endtrans %}</th>
                        <th class="no-mobile">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for riga in data.Carrello.recordsCarrello %}
                        <tr class="riga-prodotto" data-id="{{ riga.id }}">
                            <td class="tab-img-prodotto">
                                <img src="{{ asset(riga.prodotto.uploadDir ~ riga.prodotto.listImgFileName) }}"
                                     alt="{{ riga.prodotto.listImgAlt }}" />
                            </td>
                            <td class="tab-dati-prodotto">

                                {% if ecommerce.manage_brands %}
                                    <div class="marca">{{ riga.prodotto.brand }}</div>
                                {% endif %}
                                <a href="{{ to_route('prodotto_ecommerce', {slug: riga.prodotto.translate().slug}) }}"
                                   class="nome-prodotto">{{ riga.prodotto }}</a>
                                {% if riga.variante|length %}
                                    <div class="dati-variante">{{ riga.variante }}</div>
                                {% endif %}
                                <div class="numeric subtotale mobile">{{ (productHelper.getPrezzo(riga.prodotto, listinoHelper.getDefault(), riga.variante, data.Carrello.coupon) * riga.qty) | localizedcurrency('EUR') }}</div>
                                <div class="qty quantita mobile">
                                    Quantità
                                    <div class="input-group">
                                        <div class="input-group-addon quantity-down minusone"><span
                                                    class="glyphicon glyphicon-minus"></span></div>
                                        <input type="text" class="form-control quantita-prodotto"
                                               value="{{ riga.qty }}" name="qty" />
                                        <div class="input-group-addon quantity-up addone"><span
                                                    class="glyphicon glyphicon-plus"></span></div>
                                    </div>
                                </div>
                                <div class="elimina mobile"><a href="#" class="remove-btn"><i
                                                class="fa fa-close"></i></a>
                                </div>
                            </td>
                            <td class=" prezzo numeric no-mobile">{{ productHelper.getPrezzo(riga.prodotto, listinoHelper.getDefault(), riga.variante, data.Carrello.coupon) | localizedcurrency('EUR') }}</td>
                            <td class="qty quantita no-mobile">


                                <div class="input-group">
                                    <div class="input-group-addon quantity-down minusone"><span
                                                class="glyphicon glyphicon-minus"></span></div>
                                    <input type="text" class="form-control quantita-prodotto"
                                           value="{{ riga.qty }}" name="qty" />
                                    <div class="input-group-addon quantity-up addone"><span
                                                class="glyphicon glyphicon-plus"></span></div>
                                </div>

                                {#<a href="#" class="minusone"><i class="fa fa-minus"></i></a>#}
                                {#<input class="form-control quantita-prodotto" type="text" value="{{ riga.qty }}"/>#}
                                {#<a href="#" class="addone"><i class="fa fa-plus"></i></a>#}
                            </td>
                            <td class="numeric subtotale no-mobile">{{ (productHelper.getPrezzo(riga.prodotto, listinoHelper.getDefault(), riga.variante, data.Carrello.coupon) * riga.qty) | localizedcurrency('EUR') }}</td>
                            <td class="elimina no-mobile"><a href="#" class="remove-btn"><i class="fa fa-close"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if ecommerce.enable_coupons %}
                        {% if data.Carrello.coupon %}
                            {% if data.Carrello.coupon.type == 0 %}
                                <tr>
                                <td colspan="3" class="no-mobile"></td>
                                <td colspan="2" class="tab-dati-prodotto">
                                    {{ data.Carrello.coupon.translate().titolo }}
                                    <div class="mobile"><a class="btn btn-xs btn-coupon-remove pull-right"
                                                           href="#">{% trans %}
                                            ecommerce.labels.rimuovi_sconto {% endtrans %}</a>

                                        </a>
                                    </div>
                                </td>
                                <td class="no-mobile">
                                    <a class="btn btn-xs btn-coupon-remove pull-right"
                                       href="#">{% trans %}
                                        ecommerce.labels.rimuovi_sconto {% endtrans %}</a>
                                </td>
                            {% endif %}
                        {% else %}
                            <tr>
                                <td colspan="3" class="no-mobile"></td>
                                <td class="labelfoot">{% trans %}ecommerce.labels.coupon{% endtrans %} </td>
                                <td class="tab-dati-prodotto">
                                    <input type="text" name="coupon" class="coupon-input" value="" placeholder="Codice sconto" />
                                    <div class="mobile"><a class="btn btn-xs btn-coupon pull-right"
                                                           href="#">{% trans %}
                                            ecommerce.labels.applica_sconto {% endtrans %}</a>
                                        </a>
                                    </div>
                                </td>
                                <td class="no-mobile">
                                    <a class="btn btn-xs btn-coupon pull-right"
                                       href="#">{% trans %}
                                        ecommerce.labels.applica_sconto {% endtrans %}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3" class="no-mobile">

                        </td>
                        <td colspan="2" class="labelfoot">{% trans %}ecommerce.labels.imponibile{% endtrans %} </td>
                        <td colspan="2"
                            class="valfoot imponibile-val">{{ carrelloHelper.getImponibile(data.Carrello) | localizedcurrency('EUR') }}</td>
                    </tr>

                    {% for aliquota,tasse in carrelloHelper.getTasse(data.Carrello) %}
                        <tr class="tax-row" id="tax_{{ aliquota }}">
                            <td colspan="3" class="no-mobile"></td>
                            <td colspan="2" class="numeric labelfoot">
                                {{ tasse.description }}
                            </td>
                            <td colspan="2"
                                class="numeric valfoot tax-total">{{ tasse.imposta | localizedcurrency('EUR') }}</td>
                        </tr>
                    {% endfor %}
                    {% if ecommerce.enable_coupons and data.Carrello.coupon and data.Carrello.coupon.type == 1 %}
                        <tr>
                            <td colspan="3" class="no-mobile"></td>
                            <td colspan="2" class="valfoot">
                                {{ data.Carrello.coupon.translate().titolo }}
                                <br />
                                <a class="btn btn-xs btn-coupon-remove pull-right" href="#">{% trans %} ecommerce.labels.rimuovi_sconto {% endtrans %}</a>
                            </td>
                            <td class="numeric valfoot">
                                {{ data.Carrello.coupon.value | localizedcurrency('EUR') }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td colspan="3" class="no-mobile"></td>
                        <td colspan="2" class="numeric labelfoot">
                            <strong>{% trans %}ecommerce.labels.totale{% endtrans %}</strong>
                        </td>
                        <td class="numeric valfoot totale-val">
                            <strong>{{ carrelloHelper.getTotale(data.Carrello) | localizedcurrency('EUR') }}</strong>
                        </td>
                    </tr>
                    </tfoot>
                </table>

                <a class="btn pulsante-form pull-left btn-svuota"
                   href="#">Svuota carrello</a>

                <a class="btn pulsante-form pull-right btn-cassa"
                   href="{{ to_route('checkout', {}, app.request.locale) }}">{% trans %}
                    ecommerce.labels.goto_checkout {% endtrans %}</a>

            {% else %}
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;{% trans %}
                    ecommerce.labels.carrellovuoto{% endtrans %}
                </div>
            {% endif %}
        </div>
    </div>
</div>


<script type="text/x-handlebars-template" id="notEnoughTemplate">
    <div id="carrelloModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                        {% trans %}ecommerce.labels.cart{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% trans %}product.labels.quantita_non_sufficiente{% endtrans %}
                    </div>
                    <ul class="lista-valori">
                        <li>{% trans %}product.labels.quantita_richiesta {% endtrans %}
                            : {% verbatim %} {{qty}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.giacenza{% endtrans %}
                            : {% verbatim %} {{giacenza}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_aggiunta {% endtrans %}
                            : {% verbatim %} 0 {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_incarello {% endtrans %}
                            : {% verbatim %} {{total}} {% endverbatim %}</li>
                        {#<li>{% trans %}product.labels.maxAddable{% endtrans %}#}
                        {#: {% verbatim %} {{maxAddable}} {% endverbatim %}</li>#}
                    </ul>
                    <div class="row">
                        <div class="col-sm-12">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas torna-indietro">
                                TORNA AL CARRELLO
                            </a>
                        </div>
                        {#<div class="col-sm-6">#}
                        {#<a href="/carrello" class="btn pulsante-ghebagas">#}
                        {#<span>{% trans %}ecommerce.labels.goToCart{% endtrans %}</span>#}
                        {#</a>#}
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>