$color1:rgba(255, 255, 255, 1) !default;
$color2:#F39200 !default;
$color3:#878787 !default;
$color4:#C9C9C9 !default;
$color5:#DeDeDe !default;
$color6:#484848 !default;
$color27:#fff !default;

.input-group{
    width:120px;
}

.quantita-prodotto{
    margin-right:0 !important;
    border-radius:0 !important;
    height:30px !important;
    width:50px !important;
}

.input-group-addon.quantity-up, .input-group-addon.quantity-down{
    cursor:pointer;
    background-color:$color2;
    color:white;
    font-size:10px;
    height:30px;
    width:30px;
    border-radius:0;
    border:0;
}

.quantity-up, .quantity-down{
    cursor:pointer;
}

.titolo-sezione{
    font-size:32px;
    color:$color2;
    margin-bottom:50px;
    margin-top:50px;
    text-transform:uppercase;
    font-weight:600;
    strong{
        font-weight:400;
        color:$color2;
    }

}

td.elimina{
    text-align:right;
}

.quantita-prodotto{
    text-align:center;
}

.valfoot{
    text-align:right;
}

.fa-close{
    font-size:26px;
    color:#D81B1A;
}

.fa{
    color:$color2;
}

.alert{
    background-color:$color2;
    background-image:none;
    color:white;
    font-weight:600;
    font-size:18px;
    border:0;
    .fa{
        color:inherit;
    }
}

.qty{
    &.mobile{
        text-align:left;
        a:first-child{
            margin-left:10px;
        }
    }
}

.torna-indietro{
    color:white;
    background-color:$color2;
    transform:none !important;
    font-weight:500;
}

.pulsante-form{
    background-color:#f39200;
    color:#fff;
    font-size:18px;
    font-weight:700;
    padding:10px 20px;
}

.btn-cassa, .btn-svuota{
    margin-top:20px;
    margin-bottom:60px;
    text-transform:uppercase;
    background-color:$color2;
    font-size:16px;
    font-weight:600;
}

.btn-coupon, .btn-coupon-remove{
    text-transform:uppercase;
    color:$color27;
    background-color:$color2;
}

.btn-continua{
    background-color:$color10;
    color:#9B9B9B;
}

.tabella-carrello{
    width:100%;
    border-bottom:1px solid $color5;
    tr td{
        padding-left:10px;
        padding-right:10px;
    }
    tbody tr td:first-child{
        border-left:1px solid $color5;
    }
    tbody tr td:last-child{
        border-right:1px solid $color5;
    }
    .tab-dati-prodotto{
        .categoria-prodotto{
            font-size:16px;
            color:$color8;
            margin-bottom:0px
        }
        .marca{
            font-size:16px;
            font-weight:600;
            color:$color8;
            margin-bottom:10px;
        }
        .nome-prodotto{
            font-size:18px;
            color:$color20;
            &:hover{
                color:darken($color20, 20%);
            }
        }
        .dati-variante{
            color:$color8;
            font-size:12px;
        }

    }
    .prezzo{
        font-size:16px;
        color:$color21;
        font-weight:400;
    }
    .subtotale{
        font-size:17px;
        font-weight:400;
        color:$color20;
    }

    tfoot{
        tr:first-child td{
            padding-top:20px;
        }
        tr:last-child td{
            padding-bottom:20px;
        }
        tr td{
            color:$color8;
            font-size:16px;
            padding-top:10px;
            padding-bottom:10px;
            strong{
                font-weight:500;
                color:$color20;
                font-size:17px;
            }
        }
        tr:last-child > td:last-child,
        tr.totale td{
            font-weight:500;
            color:$color20;
            font-size:18px;
        }
    }

    thead{
        tr{
            background-color:$color2;
            th{
                color:white;
                padding:14px 0;
                font-size:16px;
                font-weight:600;
                &:last-child{
                    border-right:$color2 1px solid;
                }
            }
        }
    }
    tbody{
        tr{
            border-bottom:1px solid $color5;
        }
        td{
            padding-top:10px;
            padding-bottom:10px;
        }
        .tab-img-prodotto{
            vertical-align:middle;
            text-align:center;
            img{
                max-height:150px;
                max-width:150px;
            }

        }
    }

    @media(max-width:991px){
        tbody .tab-img-prodotto img{
            max-height:150px;
            max-width:100px;
        }
        thead{
            th{
                font-size:14px;
            }
        }
        tfoot{
            tr td{
                font-size:16px;
            }
        }
        .tab-dati-prodotto{
            .marca{
                font-size:13px;
            }
            .nome-prodotto{
                font-size:15px;
            }
            .dati-variante{
                font-size:13px;
            }

        }
        .prezzo{
            font-size:15px;
        }
        .subtotale{
            font-size:15px;
        }
    }

    .mobile{
        display:none;
    }
    @media(max-width:767px){
        thead{
            display:none;
        }
        .no-mobile{
            display:none;
        }
        .tab-dati-prodotto{
            column-span:5;
            position:relative;
            padding-top:40px;
            padding-bottom:40px;
            .elimina.mobile{
                position:absolute;
                top:10px;
                right:10px
            }
        }
        .mobile{
            display:block;
        }
    }
}

@media(max-width:767px){
    .btn-cassa, .btn-svuota{
        display:block;
        width:90%;
        margin-left:auto;
        margin-right:auto;
        float:none !important;
    }
    .btn-svuota{
        margin-bottom:10px;
    }
    .titolo-sezione{
        padding-left:15px;
        padding-right:15px;
        text-align:center;
        font-size:30px;
    }
    .valfoot{
        text-align:right;
        padding-right:15px;
    }
    .labelfoot{
        padding-left:15px;
    }
}