{% trans_default_domain "public" %}
<div class="sezione box-doppio-offerte">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-text">
                {% if dal.val|default("") or al.val|default("") %}
                    <div class="box-durata">
                        {% if dal.val|default("") %}<p>{% trans %} default.labels.dal {% endtrans %}
                            <span>{{ dal.val }}</span></p>{% endif %}
                        {% if al.val|default("") %}<p>{% trans %} default.labels.al {% endtrans %}
                            <span>{{ al.val }}</span>
                            </p>{% endif %}
                    </div>
                {% endif %}
                <div class="box-testo">
                    <h3>{{ titolo.val }}</h3>
                    {% if prezzo.val|default("") %}<p class="price">{% trans %} default.labels.prezzo {% endtrans %}:
                        <span>{{ prezzo.val }}</span></p>{% endif %}
                    <p>
                        {{ testo.val|raw }}
                    </p>
                    {% if link.link | default("") %}
                        <a href="{{ link.link }}" type="button" class="btn btn-default">
                            {{ link.label }}
                            <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-img">
                {% if sconto.val|default("") %}
                    <div class="box-info">
                        <p>
                            {{ sconto.val|default("") }}
                        </p>
                    </div>
                {% endif %}
                {% if img.src|default("") %}
                    <img src="{{ img.src }}" alt="{{ img.alt|default("") }}" />
                {% endif %}
            </div>
        </div>
    </div>
</div>