.sezione.top-blog{
    >.container-fluid > .row{
        > .col-lg-6{
            height:700px;
            > .row{
                height:350px;
                .col-lg-12, .col-lg-6{
                    height:100%;
                }
                .col-lg-12{
                    padding-bottom:10px;
                }
            }
        }
        .thumbnail{
            height:100%;
            position:relative;
            background-size:cover;
            background-position:50% 50%;
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
            .titolo-box{
                position:absolute;
                width:100%;
                bottom:0;
                padding-left:15px;
                background:linear-gradient(rgba($color3, .0), $color3);
                h2, p, a{
                    color:$color4;
                }
            }
            h2 a{
                color:$color4;
            }
        }
    }
}

@media screen and (max-width:1300px) and (min-width:768px) {
    .sezione.top-blog > .row .thumbnail .titolo-box{
        h2{
            font-size:23px;
        }
        p{
            font-size:12px;
        }
    }
}

@media screen and (max-width:767px) {
    .sezione.top-blog > .row .thumbnail .titolo-box{
        h2{
            font-size:18px;
        }
        p{
            font-size:10px;
        }
    }
    .sezione.top-blog > .row > .col-lg-6:first-child{
        height:350px;
        padding-bottom:10px;
    }
    .sezione.top-blog > .row > .col-lg-6:last-child{
        height:700px;
    }
}

@media screen and (max-width:549px) {
    .sezione.top-blog > .row > .col-lg-6 > .row .col-lg-6{
        width:100%;
        padding-bottom:10px;
    }
    .sezione.top-blog > .row > .col-lg-6 > .row{
        height:200px;
    }
    .sezione.top-blog > .row > .col-lg-6:last-child{
        height:600px;
    }
}

@media screen and (max-width:499px) {
    .sezione.top-blog > .row > .col-lg-6:first-child{
        height:200px;
    }
}
