<div class="fullpage-box-destra">
  <div id="fullpage">
    {% for section in data.rows %}
    <div class="section" data-anchor="{{ section.id }}" style="background-image:url('{{ vich_uploader_asset(section, 'slot1ImageFile')}}');">
      <div class="box-wrap">
        <div class="box">
          <div class="wrapper_text">
            {% if loop.first %}
            <h1>/ {{ section.slot2|striptags }}</h1>
            {% else %}
            <h3>/ {{ section.slot2|striptags }}</h3>
            {% endif %}
            {{ section.slot3|raw }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
