{% trans_default_domain "public" %}


<div class="row">
    <div class="col-sm-12">
        <h3 class="title">
            <span class="fa fa-check"></span> Ordine Completato
        </h3>
        <div class="messaggio">
            Grazie per aver scelto POV STORE!.
        </div>
    </div>
</div>


{% if data.Order %}
    {% set order=data.Order %}
    <div class="row dati-ordine">
        <div class="col-sm-12 col-md-6">
            {% trans %}ecommerce.labels.billingData{% endtrans %}<br><br>{{ order.billing | nl2br }}
        </div>
        <div class="col-sm-12 col-md-6">
            {% trans %}
            ecommerce.labels.shippingData{% endtrans %}<br><br>
            {% if order.deliverBy != "Ritiro in negozio" %}
                {{ order.delivery | nl2br }}
            {% else %}
                Si è scelto di ritirare l'ordine in negozio.<br><br>
                Negozio La Forneria - Via Vanoni, 51 <br>
                23017 Morbegno (So) <br>
                T. 0342 210315
            {% endif %}
        </div>
    </div>
    <table class="table-responsive table tabella-dati-ordine">
        <thead>
        <tr>
            <th colspan="3">
            </th>
            <th colspan="2" class="delivery"></th>
        </tr>
        <tr>
            <td> {% trans %}
                ecommerce.labels.orderStatus
                {% endtrans %}</td>
            <td>{{ order.status }}</td>
        </tr>
        <tr>
            <td>
                {% trans %}
                ecommerce.labels.payment
                {% endtrans %}
            </td>
            <td>
                {{ order.payment }}
            </td>
        </tr>

        </thead>
    </table>
    <table class="tabella-riepilogo-articoli">
        <thead>
        <tr>
            <th></th>
            <th>{% trans %}ecommerce.labels.prodotto{% endtrans %}</th>
            <th class="numeric prezzo-head">{% trans %}ecommerce.labels.prezzo{% endtrans %}</th>
            <th class="qty quantita-head">{% trans %}ecommerce.labels.quantita{% endtrans %}</th>
            <th class="numeric subtotale-head">{% trans %}ecommerce.labels.subtotale{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for riga in order.records %}
            <tr>
                <td class="tab-img-prodotto">
                    {% if riga.product %}
                        <img src="{{ asset(riga.product.uploadDir ~ riga.product.listImgFileName) | imagine_filter('product_mini') }}"
                             alt="{{ riga.product.listImgAlt }}" />
                    {% endif %}
                </td>
                <td class="tab-dati-prodotto">{% if ecommerce.manage_brands %}
                        <div class="marca">{{ riga.product.brand }}</div>
                    {% endif %}
                    <a href="#" class="nome-prodotto">{{ riga.product }}</a>
                    {% if riga.variante|length %}
                        <div class="dati-variante">{{ riga.variante }}</div>
                    {% endif %}
                    <br />
                    Rif. {{ riga.code }}
                    <div class="mobile">
                        Prezzo {{ taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax)| localizedcurrency('EUR') }} <br>
                        Quantità {{ riga.qty }}
                    </div>
                </td>
                <td class="prezzo numeric">{{ taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax)| localizedcurrency('EUR') }}</td>
                <td class="quantita qty">
                    {{ riga.qty }}
                </td>
                <td class="subtotale numeric">{{ (taxCalculator.getPrezzoIvato(riga.prezzo, riga.tax) * riga.qty) | localizedcurrency('EUR') }}</td>
            </tr>
        {% endfor %}
        {% if ecommerce.enable_coupons %}
            {% if order.coupon and order.coupon.type == 0 %}
                <tr>
                    <td colspan="5" class="numeric">
                        {{ order.coupon.translate().titolo }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}

        </tbody>
        <tfoot>
        <tr>
            <td colspan="4" class="numeric mob2">
                {% trans %}ecommerce.labels.imponibile{% endtrans %}
            </td>
            <td class="numeric">{{ orderHelper.getImponibile(order) | localizedcurrency('EUR') }}</td>
        </tr>
        {% for tasse in orderHelper.getTasse(order) %}
            <tr>
                <td colspan="4" class="numeric mob2">
                    {{ tasse.description }}
                </td>
                <td class="numeric">{{ tasse.imposta | localizedcurrency('EUR') }}</td>
            </tr>
        {% endfor %}
        {% if order.deliveryCost %}
            <tr>
                <td colspan="4" class="numeric mob2">
                    {{ order.deliverBy }}
                </td>
                <td class="numeric">{{ order.deliveryCost | localizedcurrency('EUR') }}</td>
            </tr>
        {% endif %}
        {% if order.payment.extraPrice %}
            <tr>
                <td colspan="4" class="numeric mob2">
                    {{ order.payment }} - Costo extra
                </td>
                <td class="numeric">{{ order.payment.extraPrice | localizedcurrency('EUR') }}</td>
            </tr>
        {% endif %}
        {% if ecommerce.enable_coupons %}
            {% if order.coupon and order.coupon.type == 1 %}
                <td colspan="4" class="numeric mob2">
                    {% trans %}ecommerce.labels.subtotale{% endtrans %}
                </td>
                <td class="numeric">{{ (order.total + order.deliveryCost + order.payment.extraPrice + order.couponScontoEuro) | localizedcurrency('EUR') }}</td>
                <tr>
                    <td colspan="4" class="numeric mob2">
                        {{ order.coupon.translate().titolo }}
                    </td>
                    <td class="numeric">
                        - {{ order.couponScontoEuro | localizedcurrency('EUR') }}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        <tr>
            <td colspan="4" class="numeric mob2">
                {% trans %}ecommerce.labels.totale{% endtrans %}
            </td>
            <td class="numeric">{{ (order.total + order.deliveryCost + order.payment.extraPrice) | localizedcurrency('EUR') }}</td>
        </tr>
        </tfoot>


    </table>

    {% if data.Order.transactionId %}
        <div class="ordine-pagato">{% trans %} ecommerce.labels.ordine_pagato{% endtrans %}</div>
        <ul class="dati-pagamento">
            <li>{% trans %} ecommerce.labels.id_transazione{% endtrans %}: {{ data.Order.transactionId }}</li>
            <li>{% trans %} ecommerce.labels.data_pagamento{% endtrans %}
                : {{ data.Order.paymentDate | localizeddate }}</li>
            <li>{% trans %} ecommerce.labels.payed_amount{% endtrans %}
                : {{ data.Order.payedAmount  | localizedcurrency('EUR') }}</li>
        </ul>




    {% else %}
    {% endif %}

{% endif %}
<a class="btn call_back pull-right" href="{{ to_route("account_orders") }}"><span>{% trans %}
        ecommerce.labels.orders{% endtrans %}</span></a>
