{% trans_default_domain "public" %}
<div class="col-lg-6 col-md-6 col-xs-6 text-left">
    {% if data.prev %}
        <a class="btn btn-default" rel="nofollow" href="{{ data.prev }}">{% trans %} default.labels.precedente {% endtrans %}</a>
    {% endif %}
</div>
<div class="col-lg-6 col-md-6 col-xs-6 text-right">
    {% if data.next %}
        <a class="btn btn-default" rel="nofollow" href="{{ data.next }}">{% trans %} default.labels.successiva {% endtrans %}</a>
    {% endif %}
</div>