{% trans_default_domain "public" %}

<script type="text/x-handlebars-template" id="lockScreenTemplate">
    <div id="overlay"
         style="position: fixed;top: 0;left: 0;height: 100%;width: 100%;z-index: 10000;background-color: rgba(0,0,0,0.5);">
        <div id="message"
             style="width:30em;height:5em;line-height:5em; position:fixed; top:50%; left:50%;margin-top:-2.5em;margin-left:-15em; background-color:#D3D92F; border-radius:0.5em;text-align:center; z-index:10001;color:#5E5E5D;font-weight:bold;font-size:1.2em;">
            {% verbatim %}<i class="fa {{icon}}"></i> {{message}}{% endverbatim %}
        </div>
    </div>
</script>

{% verbatim %}

    <script type="text/handlebars" id="alertDialogTemplate">

    <div id="alertDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-{{type}}">{{titolo}}</h4>
                </div>
                <div class="modal-body">
                {{{content}}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-{{type}} btn-confirm">{{OK}}</button>
                </div>
            </div>
        </div>
    </div>

    </script>

    <script type="text/handlebars" id="confirmDialogTemplate">

    <div id="alertDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-{{type}}">{{titolo}}</h4>
                </div>
                <div class="modal-body">
                {{{content}}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-cancel">{{CANCEL}}</button>
                    <button type="button" class="btn btn-success btn-confirm">{{OK}}</button>
                </div>
            </div>
        </div>
    </div>

    </script>


{% endverbatim %}
<script type="text/x-handlebars" id="noWishlistTemplate">

    <div id="noWishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                           {% trans %}default.labels.registrationRequired{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% trans %}ecommerce.labels.registrationRequiredforWishlist{% endtrans %}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                        <a href="/registrazione" data-dismiss="modal" class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToRegistration{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





</script>
