{% trans_default_domain "public" %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
{% block stylesheets %}


    {% if twigs.assets.css is defined %}
        {% for css in twigs.assets.css %}
            <link rel="stylesheet" type="text/css" href="{{ css }}">
        {% endfor %}
    {% endif %}

    <link rel="stylesheet" type="text/css"
          href="/public/css/{{ generali.layout }}/style{% if parametri_avanzati.script_minimizzati %}.min{% endif %}.css" />

{% endblock %}

<link rel="stylesheet" type="text/css"
      href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function() {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#333333"
                },
                "button": {
                    "background": "#f6a905",
                    "text": "#ffffff"
                }
            },
            "position": "bottom-right",
            "content": {
                "message": "Utilizziamo i cookie per personalizzare la tua esperienza utente e per studiare come viene utilizzato il nostro sito web. Acconsenti ai nostri cookie, se continui ad utilizzare questo sito web.",
                "dismiss": "Accetto!",
                "link": "Guarda i dettagli",
                "href": "/policy/privacy"
            }
        })
    });
</script>

<script>
    !function(f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function() {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '125636878110786');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"

               src="https://www.facebook.com/tr?id=125636878110786&ev=PageView&noscript=1"
    /></noscript>
<!-- End Facebook Pixel Code -->