<div class="col-lg-12 curren-path-line">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-folder"></i></span>
        <input type="text" id="current-path" class="form-control" value="/" readonly
               aria-describedby="basic-addon1">
    </div>

</div>
<div class="col-lg-2">
    <div class="x_panel panel-tree">
        <div class="x_title">
            <h2>{% trans %} filemanager.labels.tree {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="js-tree folders"></div>
        </div>
    </div>
</div>
<div class="col-lg-10">
    <div class="x_panel panel-files">
        <div class="x_title">
            <h2>{% trans %} filemanager.labels.files {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content dir-content">
            <div class="files">

            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>