.row{
    .col-lg-4{
        padding:30px 0;
        img{
            width:40px;
            margin-bottom:5px;
        }
        p{
            font-size:$text5;
            font-weight:$bold;
            color:$color8;
            margin-bottom:0;
        }
        a, span{
            font-size:$text1;
            font-weight:$bold;
            color:$color8;
        }
    }
}

@media screen and (max-width:767px) {
    .row .col-lg-4{
        p{
            font-size:font-percentage($text5, 0.8);
        }
        a, span{
            font-size:font-percentage($text1, 0.9);
        }
    }
}

@media screen and (max-width:399px) {
    .row .col-lg-4{
        p{
            font-size:font-percentage($text5, 0.65);
        }
        a, span{
            font-size:font-percentage($text1, 0.7);
            word-break:break-word;
        }

    }
}

