{% if immagine.src|default("") %}
    <div class="container-fluid">
        <div class="row">
            <img class="logo" src="{{ immagine.src }}" alt="{{ immagine.alt|default("") }}" />
        </div>
    </div>
{% endif %}
