.slider-wrapper{
    height:100%;
    position:relative;
    .box-title{
        position:absolute;
        top:50%;
        left:50%;
        z-index:1;
        text-align:center;
        padding:20px;
        transform:translate(-50%, -50%);
        -webkit-transform:translate(-50%, -50%);
        -moz-transform:translate(-50%, -50%);
        -o-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
        h1{
            font-size:$text14;
            font-weight:$bold;
            color:$color8;
            margin:0;
        }
    }
    .slider-main{
        height:100%;
        .slick-list, .slick-track, .slick-slide{
            height:100%;
        }
        .slick-slide{
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
        .slick-arrow{
            position:absolute;
            width:50px;
            z-index:1;
            bottom:50%;
            cursor:pointer;
            transform:translateY(-50%);
            -webkit-transform:translateY(-50%);
            -moz-transform:translateY(-50%);
            -o-transform:translateY(-50%);
            -ms-transform:translateY(-50%);
            &.next{
                right:30px;
            }
            &.prev{
                left:30px;
            }
        }
    }

}

@media screen and (max-width:1199px) {
    .slider-wrapper .box-title h1{
        font-size:font-percentage($text14, 0.9);
    }
}

@media screen and (max-width:991px) {
    .slider-wrapper .box-title h1{
        font-size:font-percentage($text14, 0.8);
    }
}

@media screen and (max-width:767px) {
    .slider-wrapper .slider-main .slick-arrow{
        width:40px;
        &.next{
            right:10px;
        }
        &.prev{
            left:10px;
        }
    }
    .slider-wrapper .box-title h1{
        font-size:font-percentage($text14, 0.7);
    }
}

@media screen and (max-width:549px) {
    .slider-wrapper .box-title h1{
        font-size:font-percentage($text14, 0.5);
    }
}