.footerwithLogo {
  font-family:$font;
  background:$color4;
  padding:20px 20px;
  padding-bottom:24px;
  img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:35px;
  }
  p{
    text-align:center;
    padding:5px 20px;
    font-weight:$medium;
    font-size:$text2;
    margin:0;
    color:$color5;
    a{
      color:inherit;
    }
  }
  @media (max-width:1000px){
    img{
      margin-bottom:20px;
    }
  }
  @media (max-width:700px){

    img{
      max-width:150px;
    }
  }
  @media (max-width:600px){
    padding:10px;
    p{
      font-size:$text2;
    }
  }
  @media (max-width:500px){
    p{
      padding:5px;
      font-size:$text1;
    }
    img{
      max-width:130px;
    }
  }

}