{% set locale = app.request.locale %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>

    {% include 'public/layouts/'~ generali.layout ~'/head.html.twig' %}

    {% if servizi_esterni.google_site_verification|default("") %}
        <meta name="google-site-verification" content="{{ servizi_esterni.google_site_verification }}" />
    {% endif %}

    {% if servizi_esterni.facebook_api %}

        <script>
            window.fbAsyncInit = function() {
                FB.init({
                    appId: '{{ servizi_esterni.facebook_api }}',
                    xfbml: true,
                    version: 'v2.8'
                });
                FB.AppEvents.logPageView();
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

    {% endif %}

    {% for i,val in META %}
        {% if i == 'title' %}
            <title>{{ val }}</title>
        {% elseif i == 'social' %}
            {% for typeOfSocial,data in val %}
                {% for key,value in data %}
                    <meta property="{{ typeOfSocial }}:{{ key }}" content="{{ value }}" />
                {% endfor %}
            {% endfor %}
        {% elseif i == 'pre' %}
            <link rel="{{ i }}" href="{{ val }}">
        {% elseif i == 'next' %}
            <link rel="{{ i }}" href="{{ val }}">
        {% elseif i == 'alternate' %}
            {% for sigla,url in val %}
                {% if sigla=='it' %}
                    <link rel="alternate" hreflang="x-default" href="{{ url }}" />
                {% endif %}
                <link rel="alternate" hreflang="{{ sigla }}" href="{{ url }}" />
            {% endfor %}
        {% else %}
            {% if val != false %}
                <meta name="{{ i }}" content="{{ val | raw }}" />
            {% endif %}
        {% endif %}
    {% endfor %}

    {% block rel_meta %}{% endblock %}

    {% if microData is defined %}
        <script type="application/ld+json">{{ microData|raw }}</script>
    {% endif %}
</head>

<body{% if servizi_esterni.google_maps_api %} data-gmaps="{{ servizi_esterni.google_maps_api }}"{% endif %}>
{% if twigs.showHeader is not defined or twigs.showHeader %}
    {% include twigs.sections.HEADER.twig %}
{% endif %}

{% include twigs.sections.CONTENT.twig %}

{% if twigs.showFooter is not defined or twigs.showFooter %}
    {% include twigs.sections.FOOTER.twig %}
{% endif %}

{% include 'public/layouts/'~ generali.layout ~'/foot.html.twig' %}

{% if servizi_esterni.google_analitycs %}
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ servizi_esterni.google_analitycs }}', 'auto');
        ga('send', 'pageview');
    </script>
{% endif %}


</body>

{% if twigs.assets.js is defined %}
    {% for js in twigs.assets.js %}
        <script src="{{ js }}"></script>
    {% endfor %}
{% endif %}

<script src="/public/js/{{ generali.layout }}/modules.{% if parametri_avanzati.script_minimizzati %}min.{% endif %}js"></Script>

</html>
