<section class="three_columns" id="{{id_sezione.val}}" >
<div class="container-fluid">
  <div class="row three_columns_main">
    <div class="col-md-4" data-aos="fade-right" data-aos-duration="1000"  >
      <div class="text-wrap">
        <h3 class="title-tc3">{{titolo1.val}}</h3>
        <p class="text-tc3">{{testo1.val|raw}}</p>
      </div>
    </div>
    <div class="col-md-4" data-aos="zoom-in" data-aos-delay="250" data-aos-duration="1000">
      <div class="text-wrap">
        <h3 class="title-tc3">{{titolo2.val}}</h3>
        <p class="text-tc3">{{testo2.val|raw}}</p>
      </div>
    </div>
    <div class="col-md-4" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000">
      <div class="text-wrap">
        <h3 class="title-tc3">{{titolo3.val}}</h3>
        <p class="text-tc3">{{testo3.val|raw}}</p>
      </div>
    </div>
  </div>
</div>
</section>
