.sezione.blog-bottom{
    .blog-bottom-right{
        .most-read{
            margin-top:20px;
            > .container-fluid{
                > .row{
                    .col-lg-12{
                        padding:0;
                        position:relative;
                        .label-categoria{
                            position:absolute;
                            bottom:10px;
                            left:10px;
                            display:inline-block;
                            background-color:$color4m;
                            margin-bottom:0;
                            padding:5px;
                            color:$text4m;
                            font-weight:700;
                        }
                        img{
                            width:100%;
                        }
                        h5{
                            color:$text2;
                        }
                        h6{
                            color:$text1;
                        }
                    }
                }
            }
        }
        .most-read-list{
            > .container-fluid{
                > .row{
                    margin-bottom:20px;
                    .col-lg-4{
                        padding:0;
                        .img-piccola{
                            width:100%;
                        }
                    }
                    .col-lg-8{
                        h5{
                            color:$text2;
                        }
                        h6{
                            color:$text1;
                        }
                    }
                }

            }

        }

    }
}
