.categories{
    list-style-type:none;
    padding-left:0;
    margin-bottom:40px;
    li{
        border-bottom:1px solid $color5;
        padding-bottom:10px;
        position:relative;
        i{
            position:relative;
            top:4px;
            margin-right:3px;
        }
        span{
            position:absolute;
            right:0;
            top:10px;
            background-color:$color1;
            padding:3px 4px;
            color:$color4;
            font-weight:500,
        }
    }
}
