.box-testo-collegamenti{
    padding:40px 0;
    .container{
        h1, h2{
            font-weight:$bold;
            font-size:$text10;
            color:$color3;
            display:inline-block;
        }
        h1{
            margin-bottom:0;
            margin-top:20px;
        }
        h2{
            margin-top:0;
            margin-bottom:30px;
        }
        .col-lg-4{
            p{
                font-size:$text3;
                font-weight:$regular;
                color:$color7;
                text-align:justify;
                strong{
                    font-weight:$semi-bold;
                }
            }
            .box-labels{
                .col-a{
                    padding-left:0;
                    padding-right:5px;
                }
                .col-b{
                    padding-left:5px;
                    padding-right:0;
                }
                .col-lg-6{
                    .thumbnail1{
                        background-color:$color1;
                    }
                    .thumbnail2{
                        background-color:$color2;
                    }
                    .thumbnail{
                        height:100%;
                        border:none;
                        border-radius:0;
                        text-align:center;
                        padding:15px 5px;
                        position:relative;
                        .icona{
                            width:80px;
                        }
                        .arrow{
                            position:absolute;
                            cursor:pointer;
                            bottom:10px;
                            left:50%;
                            transform:translateX(-50%);
                            -webkit-transform:translateX(-50%);
                            -moz-transform:translateX(-50%);
                            -o-transform:translateX(-50%);
                            -ms-transform:translateX(-50%);
                            width:40px;
                        }
                        h5{
                            color:$color8;
                            font-size:$text5;
                            font-weight:$bold;
                            margin:30px 0;
                        }
                    }
                }
            }
        }
    }

}

@media screen and (min-width:1400px) {
    .box-testo-collegamenti{
        .container{
            width:80%;
        }
    }
}

@media screen and (max-width:1399px) {
    .box-testo-collegamenti{
        padding-left:10px;
        padding-right:10px;
        .container{
            width:100%;
        }
    }
}

@media screen and (max-width:991px) {
    .box-testo-collegamenti{
        .container{
            .col-lg-4{
                margin-bottom:20px;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .box-testo-collegamenti .container h1, .box-testo-collegamenti .container h2{
        font-size:font-percentage($text10, 0.75);
    }
    .box-testo-collegamenti .container .col-lg-4 p{
        font-size:font-percentage($text3, 0.85);
    }
}

@media screen and (max-width:499px) {
    .box-testo-collegamenti{
        .container > .row{
            > .col-xs-6{
                width:100%;
            }
        }
    }
}

@media screen and (max-width:399px) {
    .box-testo-collegamenti .container .col-xs-12{
        padding:0;
        .box-labels .col-lg-6{
            padding:0;
        }
    }
}
