{% trans_default_domain "public" %}
<div class="box-testo-collegamenti">
    <div class="container">
        {% if titolo.val| default("") %}<h1>{{ titolo.val }}</h1>{% endif %}
        {% if sottotitolo.val| default("") %}<h2>{{ sottotitolo.val }}</h2>{% endif %}
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                {% if paragrafo1.val| default("") %}
                    <p>
                        {{ paragrafo1.val | raw }}
                    </p>
                {% endif %}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                {% if paragrafo2.val| default("") %}
                    <p>
                        {{ paragrafo2.val | raw }}
                    </p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
                <div class="box-labels">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-a">
                                <div class="thumbnail thumbnail1">
                                    {% if icona1.src|default("") %}
                                        <img class="icona" src="{{ icona1.src }}" alt="{{ icona1.alt }}" />{% endif %}
                                    {% if titoloicona1.val %}<h5>{{ titoloicona1.val }}</h5>{% endif %}
                                    <img class="arrow" src="/images/chalet/Freccia_giu.png" alt="{% trans %}default.labels.vai_a{% endtrans %} {{ titoloicona1.val }}" data-link="link1" />
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-b">
                                <div class="thumbnail thumbnail2">
                                    {% if icona2.src|default("") %}
                                        <img class="icona" src="{{ icona2.src }}" alt="{{ icona2.alt }}" />{% endif %}
                                    {% if titoloicona2.val %}<h5>{{ titoloicona2.val }}</h5>{% endif %}
                                    <img class="arrow" src="/images/chalet/Freccia_giu.png" alt="{% trans %}default.labels.vai_a{% endtrans %} {{ titoloicona2.val }}" data-link="link2" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>