<div class="footer-start">
    {{ loadWidgets('FOOTER', 'footerBefore') }}
</div>

<section class="footerContainer">

    <section class="footer container-fluid container-limitato">
        <div class="row">
            <div class="col-sm-12">
                <img class="logo-footer" src="{{ assetLayout("img/logo.svg") }}">
            </div>
        </div>
        <section class="footer2">
            <div class="row">
                <div class="col-xs-12  col-md-2 col-menu">
                    <section class="menuFooter">
                        <div class="titoloMenu">MENU</div>
                        <ul class="elencoMenu">
                            <li><a rel="nofollow" href="/">Home</a></li>
                            <li><a class="menu-toggler" rel="nofollow" href="#categorie">Categorie</a></li>
                            <li><a class="menu-toggler" rel="nofollow" href="#marchi">Marchi</a></li>
                            <li><a class="menu-toggler" rel="nofollow" href="#offerte">Offerte</a></li>
                            <li><a class="menu-toggler" rel="nofollow" href="#outlet-corner">Outlet Corner</a></li>

                        </ul>
                    </section>
                </div>

                <div class="col-md-3 col-xs-12 col-contattaci">
                    <section class="menuFooter">
                        <div class="titoloMenu">IL MIO NEGOZIO</div>
                        <ul class="elencoMenu">
                            <li><a rel="nofollow" href="tel:0342210315">Telefono: 02 12345678</a></li>
                            <li><a rel="nofollow" href="mailto:info@xxxxx.it">Email: info@xxxxxx.it</a></li>
                            <li><a rel="nofollow" href="/chi-siamo">Chi Siamo</a></li>
                            <li><a rel="nofollow" href="/info-utili/metodi-di-pagamento">Info Utili</a></li>
                            <li><a rel="nofollow" href="/contatti">Contatti</a></li>
                        </ul>
                    </section>

                </div>
                <div class="col-xs-12 col-md-3 col-customer">
                    <section class="menuFooter">
                        <div class="titoloMenu">CUSTOMER CARE</div>
                        <ul class="elencoMenu">
                            <li><a rel="nofollow" href="/policy/termini-condizioni-di-vendita">Termini e condizioni</a>
                            </li>
                            <li><a rel="nofollow" href="/policy/privacy">Cookie e privacy policy</a></li>
                        </ul>

                    </section>
                    <div class="webtek">
                        {{ loadWidgets('FOOTER', 'webtekFooter') }}
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    {{ loadWidgets('FOOTER', 'newsletterFooter') }}
                </div>
            </div>
        </section>
    </section>
    <div class="separatore-footer">
        <div></div>
    </div>
    <section class="footer3 container-fluid container-limitato">
        {{ loadWidgets('FOOTER', 'footerEnd') }}
    </section>


</section>