{{ form_start(newsCatForm) }}


{% for msg in app.session.flashBag.get('success') %}
    <div class="alert alert-success"><i class="fa fa-check"></i> {{ msg }}</div>
{% endfor %}
{{ form_errors(newsCatForm) }}


<div class="x_panel">
    <div class="x_title">
        <h2>{% trans %} default.labels.dati_strutturali {% endtrans %}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        {{ form_row(newsCatForm.isEnabled) }}
    </div>
</div>
<div id="news_list_img" data-dimensions="{{ categories_img_dimensions }}" class="col-md-12 col-xs-12 panelImg">
    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans %} news.labels.immagine_elenchi {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="CategoryImg">
                {% if newsCatForm.vars.data and newsCatForm.vars.data.CategoryImgFileName %}
                    <img class="img-responsive"
                         src="{{ newsCatForm.vars.data|base64Url(newsCatForm.vars.data.CategoryImgFileName, '/media/users/user.png') }}" />
                {% endif %}

                <div{% if not newsCatForm.vars.data or not newsCatForm.vars.data.CategoryImgFileName %} class="hide"{% endif %}>
                    {{ form_row(newsCatForm.CategoryImgFileNameAlt) }}
                </div>

                <div class="missingImage{% if newsCatForm.vars.data and newsCatForm.vars.data.CategoryImgFileName %} hide {% endif %}">
                    <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4 text-center">
                        <i class="fa fa-picture-o"></i>
                    </div>
                </div>
            </div>

            <div class="btn-group btn-group-justified" role="group" aria-label="upload image">
                <a class="btn btn-primary file-btn">
                    <span>{% trans %}default.labels.upload {% endtrans %}</span>
                    <input type="file" id="upload_list" class="upload"
                           value="{% trans %} default.labels.scegli_un_file {% endtrans %}"
                           accept="image/*" />
                </a>
                <a class="btn btn-danger btn-delete-list-img{% if newsCatForm.vars.data and not newsCatForm.vars.data.CategoryImgFileName %} disabled{% endif %}">{% trans %}
                    default.labels.elimina {% endtrans %}</a>
            </div>

        </div>

    </div>

<div class="clearfix"></div>

<div class="x_panel">
    <div class="x_title">
        <h2>{% trans %} default.labels.traduzioni {% endtrans %}</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <div class="a2lix_translations tabbable">
            <ul class="a2lix_translationsLocales nav nav-tabs">
                {% for shortLocale, locale in languages.getActiveLanguages %}
                    <li{% if loop.first %} class="active"{% endif %}>
                        <a href="#" data-toggle="tab"
                           data-target=".page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }}">
                            {{ locale }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="a2lix_translationsFields tab-content">
                {% for shortLocale, locale in languages.getActiveLanguages %}
                    <div data-locale="{{ shortLocale }}" data-longlocale="{{ locale }}"
                         class="page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }} tab-pane{% if loop.first %} active{% endif %}">
                        {% for field in attribute(newsCatForm.translations, shortLocale) %}
                            {{ form_row(field) }}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

            <button type="submit" class="btn btn-success" ><i class="fa fa-save"></i> {% trans %}
                default.labels.salva {% endtrans %}</button>

          {% if id_elemento is defined %}
            <a  class="btn btn-danger delete" data-title="{% trans %}categorie_prodotti.labels.category{% endtrans %}" data-path="{{ url("products_categories_delete",{"id": id_elemento,"force":1}) }}"><i class="fa fa-close"></i> {% trans %}
                default.labels.elimina {% endtrans %}</a>
                {% endif %}
        </div>

    </div>
</div>

{{ form_end(newsCatForm) }}


<script type="text/template" id="modalCroppieTemplate">
    <div id="modalImageDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-success">{% verbatim %}{{title}}{% endverbatim %}</h4>
                </div>
                <div class="modal-body">
                    <div class="croppie"></div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label required" for="alt">
                                {% trans %}news.labels.immagine_elenchi_alt{% endtrans %}
                                <span class="required" title="This field is required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" id="alt" name="alt" required="required" class="form-control" value="">
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                {% trans %}news.messages.altimage {% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel btn-info">{% trans %}default.labels.annulla {% endtrans %}</button>
                    <button type="button" class="btn btn-success btn-confirm">{% trans %} default.labels.conferma {% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</script>
