.sezione.titolo-icona.second-color{
    padding:20px 0;
    text-align:center;
    background-color:$color4;
}

.sezione.three-columns{
    background-color:$color4;
    padding:0 50px;
    .col-lg-4 > .row{
        .col-lg-5{
            img{
                width:100%;
            }
        }
        .col-lg-7{
            padding:0 20px;
            h2{
                margin-top:0;
            }
            p{
                margin-bottom:20px;
                span{
                    color:$color1;
                }
            }
            button{
                padding:20px;
            }
        }
    }
}

@media screen and (min-width:1200px) and (max-width:1550px) {
    .sezione.three-columns .col-lg-4 > .row .col-lg-5, .sezione.three-columns .col-lg-4 > .row .col-lg-7{
        width:100%;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .sezione.three-columns .col-lg-4 > .row .col-lg-7{
        padding:10px 0;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .sezione.three-columns .col-lg-4 > .row .col-lg-7{
        padding:10px 0;
    }
}

@media screen and (max-width:767px) {
    .sezione.three-columns{
        padding:0 10px;
    }
    .sezione.three-columns > .row > .col-xs-12{
        margin-bottom:30px;
    }
    .sezione.three-columns .col-lg-4 > .row .col-lg-7 h2{
        font-size:20px;
    }
    .sezione.three-columns .col-lg-4 > .row .col-lg-7 p{
        margin-bottom:10px;
    }
}

@media screen and (max-width:549px) {
    .sezione.three-columns .col-lg-4 > .row .col-lg-5, .sezione.three-columns .col-lg-4 > .row .col-lg-7{
        width:100%;
    }
    .sezione.three-columns .col-lg-4 > .row .col-lg-7{
        padding:10px 20px;
    }
}

@media screen and (max-width:767px) {
    .sezione.titolo-icona{
        img{
            width:60px;
        }
    }
}
