{% trans_default_domain "public" %}
<div class="sezione titolo-icona second-color">
    <img src="/icone-loghi/Icone-40.png" alt="{{ titolo.val|default("") }}">
    {% if titolo.val|default("") %}<h2>{{ titolo.val }}</h2>{% endif %}
</div>

<div class="sezione three-columns">
    <div class="row">

        {% for News in data.News %}

            {% if News.ListImgFileName %}
                {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                {% set imgAlt = News.HeaderImgAlt %}
            {% else %}
                {% set img = "/images/defaults/placeholder.png" %}
                {% set imgAlt = News.translate(app.request.locale).titolo %}
            {% endif %}


            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="row">
                    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-5">
                        <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                            <img src="{{ asset(img) | imagine_filter('news4') }}" alt="{{ News.listImgAlt }}" />
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-12 col-md-12 col-lg-7">
                        <h2>
                            <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">{{ News.translate(app.request.locale).titolo }}</a>
                        </h2>
                        <p>
                            <a href="{{ to_route("blog_category", {slug: blogService.getCategory(News, app.request.locale).slug}) }}">{{ blogService.getCategory(News, app.request.locale).titolo }} </a> -
                            <span>{{ blogService.getDate(News) }}</span></p>
                        </p>
                        <p>{{ blogService.getTextPreview(News,150, app.request.locale) }}</p>
                        <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="btn btn-default">
                            {% trans %}blog.labels.leggi_di_piu{% endtrans %}
                            <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

        {% endfor %}


    </div>
</div>