{% trans_default_domain "public" %}
<div class="slider-cards">
    {% if titolo.val|default("") %}<h3>{{ titolo.val }}</h3>{% endif %}
    <div class="slider">
        {% if data.error %}
            {{ data.error }}
        {% else %}
            {% for slide in data.slides %}
                <div>
                    <div class="thumbnail">
                        <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}" />
                        {% if slide.testo %}
                            <p>
                                {{ slide.testo|raw }}
                            </p>
                        {% endif %}
                        {% if slide.url %}
                            <a href="{{ slide.url }}" class="read-more dark">{% trans %} default.labels.leggi_di_piu {% endtrans %}
                                <img src="{{ asset('images/energia/grafica/details_orange.png') }}" alt="read more"></a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% if allegato.src|default("") %}
        <div class="link-download">
            <a target="_blank" download href="{{ allegato.src }}">
                {% trans %} default.labels.scarica_pdf {% endtrans %}
                <img src="{{ asset('images/energia/grafica/pdf.png') }}" alt="{% trans %} default.labels.scarica_pdf {% endtrans %}" />
            </a>
        </div>
    {% endif %}
</div>