.titleText6SquaresWithImagesAndTitles{
  font-family:$font;
  background:$color4;
  .testo-panel{
    text-align:center;
  }
  .titolo{
    color:$color2;
    font-size:$text14;
    margin:40px 0;
  }
  .testo{
    color:$color5;
    font-weight:$medium;
    font-size:$text6;
    margin:20px 0;
    padding:0 15%;
    strong{
      color:$color2;
      font-weight:$medium;
    }
  }
  .square {
    float:left;
    position: relative;
    width: 31.9333%;
    padding-bottom: 22%; /* = width for a 1:1 aspect ratio */
    margin:0.70%;
    overflow:hidden;
    cursor:pointer;

  }
.quadrati-container{
  background:$color1;
  &::after{
    display:table;
    content:" ";
    clear: both;
  }
}
  .quadrati-wrap{
    padding:50px 10%;

  }
  .content {
    position:absolute;
    height:100%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */

    >img{
      object-fit: cover;
      object-position: center;
      width:100%;
      height:100%;
      font-family:'object-fit: cover; object-position:center';
    }
    .overlay-blocco{
      position:absolute;
      width:100%;
      height:100%;
      z-index:1;
      background:$color5;
      opacity:0.5;
      top:0;
      left:0;
      transition:500ms;
    }
    .icona{
      width:25px;
      height:46px;
      background-repeat:no-repeat;
      background-position:0 0;
      display:block;
      margin-left:auto;
      margin-right:auto;
    }
    .testo-blocco{
      position:absolute;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      width:100%;
      padding:10px 5%;
      color:$color1;
      font-weight:$regular;
      text-align:center;
      z-index:2;
      font-size:$text7;
      backface-visibility: hidden ;
      & *{
        font-size:inherit;
      }
      img{
        display:block;
        margin-left:auto;
        margin-right:auto;
      }
    }
  }
  .content:hover .icona{
    background-position: 0 -43px;

  }
  .content:hover .overlay-blocco{
    opacity:0.9;
    transition:500ms;
  }

  @media (max-width:1500px){
    .content .testo-blocco{
      font-size:$text6;
    }
    .quadrati-wrap {
      padding: 50px 5%;
    }
  }

  @media (max-width: 1400px){
    .titolo{
      font-size:$text12;
    }
    .testo{
      font-size:$text5;
      padding:0 12%;
    }

  }

  @media (max-width:1170px){
    .testo{
      padding:0 20px;
    }
    .titolo{
      font-size:$text11;
    }
    .square {
      float:left;
      position: relative;
      width: 48.6%;
      padding-bottom: 26%;
      margin:0.60%;
      overflow:hidden;

    }
  }

  @media (max-width:1000px){
    .quadrati-wrap{
      padding:50px 20px;
    }
    .content .testo-blocco{
      font-size:$text5
    }
  }

  @media (max-width:860px){
    .quadrati-container{
      background:$color4;
    }
    .square{
      width:100%;
      padding-bottom:50%;
      margin:0;
      margin-bottom:60px;

    }
    .content .testo-blocco{
      font-size:$text9;
    }
    .quadrati-wrap{
      padding:50px 0;
    }

  }
  @media (max-width:666px){
    .content .testo-blocco{
      font-size:$text7;
    }
  }
  @media (max-width:600px){
    .titolo{
      font-size:$text9;
    }
    .testo{
      font-size:$text4;
      padding:0 5px;
    }
    .square{
      margin-bottom:40px;
      padding-bottom:50%;
    }
  }
  @media (max-width:500px) {
    .content .testo-blocco{
      font-size:$text5;
    }
    .square{
      padding-bottom:60%;
    }
  }
  @media (max-width:400px){
    .titolo{
      font-size:$text8;
    }
    .testo{
      font-size:$text3;
      padding:0 0px;
    }
  }
}