<div class="titleText6SquaresWithImagesAndTitles">
    <div class="container-fluid">
        <div class="row testo-panel">
            <div class="col-sm-12">
                <h2 class="titolo" data-aos="fade-left" data-aos-duration="1000"> {{ titolo.val }}</h2>
                <p class="testo" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300"> {{ testo.val|raw }}</p>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 quadrati-wrap">
                <div class="quadrati-container">
                    <a href="{{ titoletto1.link }}" class="square" data-aos="fade-in" data-aos-duration="1000">
                        <div class="content">
                            <img src="{{ img1.src }}" alt="{{ img1.alt|default("") }}">
                            <div class="overlay-blocco"></div>
                            <div class="testo-blocco">
                                <h3> {{ titoletto1.label }}</h3>
                                <div class="icona" style='background-image:url("{{ img_icon.src }}")'></div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ titoletto2.link }}" class="square" data-aos="fade-in" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
                        <div class="content">
                            <img src="{{ img2.src }}" alt="{{ img1.alt|default("") }}">
                            <div class="overlay-blocco"></div>
                            <div class="testo-blocco">
                                <h3> {{ titoletto2.label }}</h3>
                                <div class="icona" style='background-image:url("{{ img_icon.src }}")'></div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ titoletto3.link }}" class="square" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
                        <div class="content">
                            <img src="{{ img3.src }}" alt="{{ img1.alt|default("") }}">
                            <div class="overlay-blocco"></div>
                            <div class="testo-blocco">
                                <h3> {{ titoletto3.label }}</h3>
                                <div class="icona" style='background-image:url("{{ img_icon.src }}")'></div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ titoletto4.link }}" class="square" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
                        <div class="content">
                            <img src="{{ img4.src }}" alt="{{ img1.alt|default("") }}">
                            <div class="overlay-blocco"></div>
                            <div class="testo-blocco">
                                <h3> {{ titoletto4.label }}</h3>
                                <div class="icona" style='background-image:url("{{ img_icon.src }}")'></div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ titoletto5.link }}" class="square" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
                        <div class="content">
                            <img src="{{ img5.src }}" alt="{{ img1.alt|default("") }}">
                            <div class="overlay-blocco"></div>
                            <div class="testo-blocco">
                                <h3> {{ titoletto5.label }}</h3>
                                <div class="icona" style='background-image:url("{{ img_icon.src }}")'></div>
                            </div>
                        </div>
                    </a>
                    <a href="{{ titoletto6.link }}" class="square" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
                        <div class="content">
                            <img src="{{ img6.src }}" alt="{{ img1.alt|default("") }}">
                            <div class="overlay-blocco"></div>
                            <div class="testo-blocco">
                                <h3> {{ titoletto6.label }}</h3>
                                <div class="icona" style='background-image:url("{{ img_icon.src }}")'></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>