.linkFreccia{
  font-family:$font;
  background:$color4;
  padding:40px 20px;
  .titolo{
    text-align:center;
    color:$color2;
    padding:20px 20px;
    margin:0;
    font-weight:$medium;
    font-size:30px;
  }
  .pulsante{
    position:relative;
    height:46px;
  }
  .freccia span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 36px;
    height: 36px;
    margin-left: -23px;
    border: 3px solid $color3;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 8;
    bottom: 60px;
  }
  .freccia span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 3px solid $color1;
    border-bottom: 3px solid $color1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  .freccia span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 33px;
    margin-left: -1px;
    margin-top: -1px;
    height: 33px;
    background:$color3;
    box-shadow: 0 0 0 0 #d2d2d2;
    border-radius: 100%;
    opacity: 1;

    box-sizing: border-box;
  }
  @media (max-width:800px){
    .titolo{
      font-size:24px;
    }
  }
}