.sezione.BoxDoppioListaTesto {
  overflow:hidden;
  .row {
    .col-lg-6 {
      padding: 0;
      text-align: center;
      position: relative;
      .box-testo {
        text-align: left;
        padding: 20%;
        h1 {
          font-size: 48px;
          font-family: 'montserratbold';
          margin-top: 0;
          margin-bottom: 30px;
        }
        ul {
          list-style-image: url('/img/list-check.png');
          li {
            font-size: 20px;
            font-family: 'montserratregular';
          }
        }
      }
    }
    .col-lg-6:first-child {
      ul li, h1 {
        color: $text4m;
      }
    }
    .col-lg-6:last-child {
      h1 {
        font-family: 'montserratextralight';
        strong {
          font-family: 'montserratregular';
        }
      }
      p {
        font-size: 16px;
        font-family: 'montserratlight';
      }
    }
  }
}

@media screen and (max-width:991px) {
  .sezione.BoxDoppioListaTesto .row .col-lg-6 .box-testo {
    padding: 10%;
    h1 {
      font-size: 22px;
    }
    p {
      font-size: 13px;
    }
  }
}

@media screen and (max-width:768px) {
  .sezione.BoxDoppioListaTesto .row .col-lg-6 .box-testo {
    h1 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
    }
    ul li {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 549px) {
  .sezione.BoxDoppioListaTesto .row .col-lg-6 {
    width: 100%;
    display: block;
    .box-testo {
      text-align: center;
      ul {
        display: inline-block;
        li {
          text-align: left;
        }
      }
    }
  }
}
