.three_columns_icons{
  .three_columns_icons_main{
  overflow:hidden;
  text-align:center;
  .icon{
    margin-left:auto;
    margin-right:auto;
    display:block;
  }


    &>.col-md-4{
      .text-wrap{
        padding:140px 44px;


      }
      .title-tc3{
        margin-top: 50px;
        margin-bottom: 10px;
        font-size:36px;
        font-family:"montserratregular";
        padding-bottom:20px;
      }
      .text-tc3{
        font-size:16px;
        line-height:30px;
        font-family:"montserratlight";
      }
    }

    &>.col-md-4:first-child{
      background-color:$color1g;
      color:$text1g;
    }

    &>.col-md-4:nth-child(2){
    background-color:$color3g;
      color:$text2g;
    }

    &>.col-md-4:last-child{
        background-color:$color2g;

      color:$text3g;
    }


  }

}
// 
// @media (min-width:991px){
//   .three_columns_icons{
//     .three_columns_icons_main{
//       display:table;
//       &::before{
//         content:none;
//       }
//       &>.col-md-4{
//         display:table-cell;
//         float:none;
//       }
//     }
//   }
//
// }
@media (max-width:1450px){
  .three_columns_icons{

  .three_columns_icons_main{

  &>.col-md-4{
      .text-wrap{
        padding:140px 24px;
      }
      .title-tc3{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size:33px;

      }
      .text-tc3{
        font-size:16px;
      }
    }
}
}
}

@media (max-width:1250px){
  .three_columns_icons{

  .three_columns_icons_main{

  &>.col-md-4{
      .text-wrap{
        padding:140px 16px;
      }
      .title-tc3{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size:26px;

      }
      .text-tc3{
        font-size:16px;
      }
    }
}
}
}

@media(max-width:1100px){
  .three_columns_icons{

  .three_columns_icons_main{
    &>.col-md-4{
        .text-wrap{
          padding:100px 16px;
        }
  }
}
}
}

@media(max-width:640px){
  .three_columns_icons{

  .three_columns_icons_main{

  &>.col-md-4{
    .text-wrap{
      padding:80px 10px;
    }
      .title-tc3{
        margin-top: 40px;
        margin-bottom: 10px;
        font-size:26px;

      }
      .text-tc3{
        font-size:15px;
        line-height:25px;
      }
    }
}
}
}

@media(max-width:400px){
  .three_columns_icons{

  .three_columns_icons_main{

  &>.col-md-4{
    .title-tc3{
      font-size:20px;

    }
    .text-wrap{
      padding:60px 5px;
    }
    .text-tc3{
      font-size:14px;
    }
    }
}
}
}
