{#<section class="simple-slider">#}
    {#<div class="container-fluid">#}
        {#<div class="row">#}
            {#<div class="col-xs-12 no-padding">#}
                {#{% if freccia_dx.src|length>0 %}#}
                    {#<button type="button" class="slick-successivo"><img src="{{ freccia_dx.src }}"></button>#}
                {#{% endif %}#}
                {#{% if freccia_sx.src|length >0 %}#}
                    {#<button type="button" class="slick-precedente"><img src="{{ freccia_sx.src }}"></button>#}
                {#{% endif %}#}
                {#<div class="slide-container">#}

                    {#{% for slide in immagini_slider %}#}
                        {#{% if slide.src != "" and slide.src|length > 0 %}#}
                            {#<div class="slide-wrap">#}
                                {#<img src="{{ slide.src }}" alt="{{ slide.alt|default("") }}">#}
                            {#</div>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</section>#}

<section class="sezione-slider-offerte">
    <div class="container-fluid">
        <div class="row">
            {#{% if freccia_dx.src|length>0 %}#}
            {#<img class="prev slick-arrow" src="{{ freccia_dx.src }}">#}
            {#{% endif %}#}
            {#{% if freccia_sx.src|length >0 %}#}
            {#<img class="next slick-arrow" src="{{ freccia_sx.src }}">#}
            {#{% endif %}#}
            <div class="slider-offerte">

                {% for slide in data.slides %}
                    {% if slide.image.src != "" and slide.image.src|length > 0 %}
                        <div>
                            <img src="{{ slide.image.src }}" alt="{{ slide.image.alt|default("") }}">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<script>
    var slider_sx = "{{ freccia_sx.src }}";
    var slider_dx = "{{ freccia_dx.src }}";

</script>