.sezione-slider-offerte {
  padding-bottom: 50px;
  .container-fluid {
    .row {
      position: relative;
      .slider-offerte {
        .slick-arrow {
          position: absolute;
          z-index: 1;
          cursor: pointer;
        }
        .slick-slide {
          outline: none;
          position: relative;
          padding: 0 30px;
          > img {
            height: 500px;
          }
          &:not(.slick-center) {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione-slider-offerte {
    .container-fluid {
      .row {
        .slider-offerte {
          .slick-slide {
            > img {
              height: 320px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione-slider-offerte {
    .container-fluid {
      .row {
        .slider-offerte {
          .slick-slide {
            > img {
              height: 320px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 699px) {
  .sezione-slider-offerte {
    .container-fluid {
      .row {
        .slider-offerte {
          .slick-arrow {
            &.prev {
              left: 0 !important;
              transform: none !important;
            }
            &.next {
              right: 0 !important;
              transform: none !important;
            }
          }
          .slick-slide {
            &:not(.slick-center) {
              opacity: 1;
            }
            > img {
              height: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 449px) {
  .sezione-slider-offerte {
    .container-fluid {
      .row {
        .slider-offerte {
          .slick-slide {
            padding: 0;
          }
        }
      }
    }
  }
}
