<section class="text_with_background_image" style="background-image:url('{{ img.src }}');">
    <div class="container-fluid">
        <div class="overlay_video">
        </div>
        <div class="wrapper_motto">
            <p class="title2">
                {{ title1.val|default("") }}
                {% if title2.val|default("") %}
                    <br />
                    {{ title2.val }}
                {% endif %}
            </p>
            {% if title3.val|default("") %}<h1 class="title3">{{ title3.val }}</h1>{% endif %}
        </div>
        <div id="scroll_button">
            <a href="{{ id_sezione.link }}" title="{{ id_sezione.label }}"><span></span></a>
        </div>
    </div>
</section>
