{% extends "@WebtekEcommerce/admin/orders_status/formLayout.html.twig" %}

{% block title %} {% trans %} orders_status.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} orders_status.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


