.sezione.blog-top{
    font-family:$font;
    .titolo{
        text-align:center;
        font-weight:$medium;
        color:$color2;
        padding:10px 20px;
        font-size:$text14;
        margin:0;
    }
    .testo{
        color:$color5;
        font-weight:$medium;
        padding:20px 20px;
        text-align:center;
        font-size:$text6;
        margin-bottom:60px;
    }
    .col-lg-6, .col-lg-12{
        position:relative;
        .cover-blog{
            width:100%;
            object-fit:cover;
            object-position: center;
            font-family:'object-fit: cover; object-position:center';
        }
        .icon_box{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            pointer-events: none;
        }
        .caption-articolo{

            width:100%;
            position:absolute;
            bottom:0;
            left:0;
            .caption-wrap{
                padding-left:40px;
                padding-bottom:20px;
                padding-right:40px;
                padding-top:10px;
                background:$color7;
                font-weight:600;
            }
            img{
                width:100%;
                vertical-align:bottom;
            }
            a,a:hover{
                color:inherit;
            }
            .categoria-articolo{
                display:inline-block;
                margin-bottom:0;
                color:$color5;
            }
            .titolo-articolo {

                font-size: $text9;
                display: block;
                color:$color2;
            }
            .data-articolo{
                color:$color5;
            }
        }
    }
    .mainHeight{
        // padding: 0 3px 0 0;
        padding:0;
        border-right:3px solid transparent;
        min-height:350px;
    }
    .sameHeight{
        // padding: 0 0 0 3px;
        padding:0;
        border-left:3px solid transparent;
        .row-up{
            height:60%;
        }
        .row-down{
            height:40%;
        }
        .row{
            .col-lg-12, .col-lg-6{
                height:100%;
                .cover-blog{
                    height:100%;
                }
            }
            .col-lg-12{
                // padding: 0 0 3px 0;
                padding:0;
                border-bottom:3px solid transparent;
            }
            .col-a{
                // padding: 3px 3px 0 0;
                padding:0;
                border-top:3px solid transparent;
                border-right:3px solid transparent;
            }
            .col-b{
                // padding: 3px 0 0 3px;
                padding:0;
                border-top:3px solid transparent;
                border-left:3px solid transparent;
            }
        }
    }
}

@media (max-width:1600px){
    .sezione.blog-top .col-lg-6 .caption-articolo, .sezione.blog-top .col-lg-12 .caption-articolo {
        .titolo-articolo {
            font-size: $text7;
            margin-bottom: 0px;
        }
    }
    .sezione.blog-top .col-lg-6 .caption-articolo .caption-wrap, .sezione.blog-top .col-lg-12 .caption-articolo .caption-wrap {
        padding:16px;
    }
}
@media (max-width: 1400px){
    .sezione.blog-top .titolo{
        font-size:$text12 ;
    }
    .sezione.blog-top .testo{
        font-size:$text5;
        padding:0 12%;
    }

}

@media (max-width:1170px){
    .sezione.blog-top .testo{
        padding:0 20px;
    }
    .sezione.blog-top .titolo{
        font-size:$text11;
    }
}


@media (max-width:600px){
    .sezione.blog-top .titolo{
        font-size:$text9;
    }
    .sezione.blog-top .testo{
        font-size:$text4;
        padding:0 5px;
    }

}

@media (max-width:400px){
    .sezione.blog-top .titolo{
        font-size:$text8;
    }
    .sezione.blog-top .testo{
        font-size:$text3;
        padding:0 0px;
    }
}

@media screen and (max-width:1199px) {
    .sezione.blog-top .sameHeight .container-fluid {
        height: 50%;
        .row-up, .row-down {
            height: 100%;
        }
    }
    .sezione.blog-top .col-lg-6 .caption-articolo, .sezione.blog-top .col-lg-12 .caption-articolo {
        .categoria-articolo {
            font-size: $text0;
        }
        .titolo-articolo{
            font-size:$text6;
        }
    }
}

@media screen and (max-width:991px) {
    .sezione.blog-top .col-lg-6 .caption-wrap, .sezione.blog-top .col-lg-12 .caption-wrap {
        padding:10px;
        .titolo-articolo {
            font-size: $text5;
        }
        .categoria-articolo {
            font-size: 10px;
        }
        .data-articolo {
            font-size: 10px;
        }
    }
}

@media screen and (max-width:767px) {
    .sezione.blog-top .mainHeight {
        height: 300px;
        min-height: auto;
        border: none;
        border-bottom: 3px solid transparent;
        .cover-blog {
            height: 100%;
        }
    }
    .sezione.blog-top .sameHeight {
        height: 600px!important;
        border: none;
        border-top: 3px solid transparent;
    }
}

@media screen and (max-width:449px) {
    .caption-articolo >img{
        display:none;
    }
    .sezione.blog-top .mainHeight {
        height: 200px;
    }
    .sezione.blog-top .sameHeight {
        height: 400px!important;
    }
    .sezione.blog-top .col-lg-6 .caption-wrap, .sezione.blog-top .col-lg-12 .caption-wrap {
        .titolo-articolo {
            font-size: $text4;
        }
    }
}