{% trans_default_domain "public" %}
{% if data.News | length > 3 %}
<div class="sezione blog-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="titolo" data-aos="fade-right" data-aos-duration="1000">
                    {{ titolo.val }}
                </h2>
                <p class="testo" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
                    {{ testo.val|raw }}
                </p>
            </div>
        </div>
        <div class="row">
            {% set News = attribute(data.News, 0) %}
            <div class="col-xs-12 col-sm-6 col-md-5 col-lg-6 mainHeight" data-aos="fade-right" data-aos-duration="1000" >
                <img class="icon_box" src="{{ icon_box.src }}" alt="{{ icon_box.alt|default("") }}">
                {% if News.ListImgFileName %}
                    {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                    {% set imgAlt = News.HeaderImgAlt %}
                {% else %}
                    {% set img = "/images/defaults/placeholder.png" %}
                    {% set imgAlt = News.translate(app.request.locale).titolo %}
                {% endif %}


                <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                    <img class="cover-blog" src="{{ asset(img) | imagine_filter('news1') }}" alt="{{ News.listImgAlt }}" />
                </a>
                <div class="caption-articolo">
                    <img src="{{ img_box.src }}" alt="{{ img_box.alt|default("") }}">
                    <div class="caption-wrap">
                        <p class="categoria-articolo">{{ blogService.getCategory(News, app.request.locale).titolo }}</p>
                        <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</a>
                        <span class="data-articolo">{{ blogService.getDate(News) }}</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 col-lg-6 sameHeight">
                <div class="container-fluid" data-aos="fade-left" data-aos-duration="1000">
                    <div class="row row-up">
                        {% set News = attribute(data.News, 1) %}
                        {% if News.ListImgFileName %}
                            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                            {% set imgAlt = News.HeaderImgAlt %}
                        {% else %}
                            {% set img = "/images/defaults/placeholder.png" %}
                            {% set imgAlt = News.translate(app.request.locale).titolo %}
                        {% endif %}
                        <div class="col-lg-12">
                            <img class="icon_box" src="{{ icon_box.src }}" alt="{{ icon_box.alt|default("") }}">
                            <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                <img class="cover-blog" src="{{ asset(img) | imagine_filter('news2') }}" alt="{{ News.listImgAlt }}" />

                            </a>
                            <div class="caption-articolo">
                                <img src="{{ img_box.src }}" alt="{{ img_box.alt|default("") }}">
                                <div class="caption-wrap">
                                    <p class="categoria-articolo">{{ blogService.getCategory(News, app.request.locale).titolo }}</p>
                                    <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</a>
                                    <span class="data-articolo">{{ blogService.getDate(News) }}</span>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" data-aos="fade-left" data-aos-duration="1000">
                    <div class="row row-down">
                        {% set News = attribute(data.News, 2) %}
                        {% if News.ListImgFileName %}
                            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                            {% set imgAlt = News.HeaderImgAlt %}
                        {% else %}
                            {% set img = "/images/defaults/placeholder.png" %}
                            {% set imgAlt = News.translate(app.request.locale).titolo %}
                        {% endif %}
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-a">
                            <img class="icon_box" src="{{ icon_box.src }}" alt="{{ icon_box.alt|default("") }}">
                            <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                <img class="cover-blog" src="{{ asset(img) | imagine_filter('news3') }}" alt="{{ News.listImgAlt }}" />

                            </a>
                            <div class="caption-articolo">
                                <img src="{{ img_box.src }}" alt="{{ img_box.alt|default("") }}">
                                <div class="caption-wrap">
                                    <p class="categoria-articolo">{{ blogService.getCategory(News, app.request.locale).titolo }}</p>
                                    <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</a>
                                    <span class="data-articolo">{{ blogService.getDate(News) }}</span>
                                </div>
                            </div>
                        </div>
                        {% set News = attribute(data.News, 3) %}
                        {% if News.ListImgFileName %}
                            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                            {% set imgAlt = News.HeaderImgAlt %}
                        {% else %}
                            {% set img = "/images/defaults/placeholder.png" %}
                            {% set imgAlt = News.translate(app.request.locale).titolo %}
                        {% endif %}
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-b">
                            <img class="icon_box" src="{{ icon_box.src }}" alt="{{ icon_box.alt|default("") }}">
                            <a rel="nofollow" href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                <img class="cover-blog" src="{{ asset(img) | imagine_filter('news3') }}" alt="{{ News.listImgAlt }}" />

                            </a>
                            <div class="caption-articolo">
                                <img src="{{ img_box.src }}" alt="{{ img_box.alt|default("") }}">
                                <div class="caption-wrap">
                                    <p class="categoria-articolo">{{ blogService.getCategory(News, app.request.locale).titolo }}</p>
                                    <a  href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}" class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</a>
                                    <span class="data-articolo">{{ blogService.getDate(News) }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}