{% extends "admin/admin.html.twig" %}

{% block page_title %} {% trans %} categorie_prodotti.labels.title{% endtrans %}: {% trans %} default.labels.elenco{% endtrans %} {% endblock %}

{% block pulsantiera %}

{% endblock %}


{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2> {% trans %}categorie_prodotti.labels.list{% endtrans %} </h2>
                            <div class="btn-group" style="float:right" role="group">
                                <a class="btn btn-primary" id="nuova_categoria"><i class="fa fa-plus"></i> {% trans %}
                                    categorie_prodotti.labels.category {% endtrans %}
                                </a>
                                <a class="btn btn-primary" disabled id="nuova_sottocategoria"><i class="fa fa-plus"></i> {% trans %}
                                    categorie_prodotti.labels.subcategory {% endtrans %}
                                </a>
                            </div>
                            <div class="clearfix">
                            </div>
                        </div>
                        <div class="x_content">
                            <div class="js-tree category_list">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xs-12">
                    <div class="tab-content custom">


                        <div class="x_panel">
                            <div class="ajax_loader"><i class="fa fa-spin fa-spinner"></i></div>
                            <div class="x_title">
                                <h2 class="label_new"> {% trans %}categorie_prodotti.labels.new{% endtrans %} </h2>
                                <h2 class="label_edit" style="display:none"> {% trans %}categorie_prodotti.labels.details{% endtrans %} (
                                    <span> </span> ) </h2>
                                <h2 class="label_new_child" style="display:none"> {% trans %}categorie_prodotti.labels.newchild{% endtrans %}
                                    <span></span></h2>
                                <div class="clearfix">
                                </div>
                            </div>
                            <div class="x_content" id="pannello">
                                {{ include('@WebtekEcommerce/admin/categorie_prodotti/form.html.twig') }}
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





{% block javascripts %}
    {{ parent() }}

    <!--  JSTREE -->
    <script src="{{ asset('node_modules/jstree/dist/jstree.min.js') }}"></script>

    <script src="{{ asset("node_modules/jquery-form/dist/jquery.form.min.js") }}"></script>
    <script src="{{ asset('node_modules/croppie/croppie.min.js') }}"></script>
    <script src="{{ asset('bundles/webtekecommerce/admin/js/categorie_prodotti.js') }}"></script>

    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/jstree/dist/themes/default/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/css/webtek.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/webtekecommerce/admin/css/categorie_prodotti.css') }}" rel="stylesheet">
    <!-- FORM -->
    <link href="{{ asset('node_modules/croppie/croppie.css') }}" rel="stylesheet">
{% endblock %}
