.blocchi_logo_testo_foto{
  padding-top: 70px;
  background: $color18;
  overflow-x: hidden;
  .logo{
    max-height: 380px;
    display: block;
    margin: auto;
    padding: 10px;
  }
  .foto{
    max-height: 460px;
    padding: 0 15px;
  }
  .float_r{
    float:right;
  }
  .float_l{
    float:left;
  }
  .logo_wrapper,
  .foto_wrapper{
    display: table-cell;
    vertical-align: middle;
  }
  .col_logo{
    background-color: $color11;
    display: table;
    position: relative;
    &.sx_arrow{
      :after, :before {
      	right: 100%;
      	top: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
        z-index: 9;
      }
      :after {
      	border-color: rgba(136, 183, 213, 0);
      	border-right-color: $color11;
      	border-width: 30px;
      	margin-top: -30px;
      }
      :before {
      	border-color: rgba(194, 225, 245, 0);
      	border-right-color: $color11;
      	border-width: 36px;
      	margin-top: -36px;
      }
    }
    &.dx_arrow{
      :after, :before {
      	left: 100%;
      	top: 50%;
      	border: solid transparent;
      	content: " ";
      	height: 0;
      	width: 0;
      	position: absolute;
      	pointer-events: none;
        z-index: 9;
      }
      :after {
      	border-color: rgba(136, 183, 213, 0);
      	border-left-color: $color11;
      	border-width: 30px;
      	margin-top: -30px;
      }
      :before {
      	border-color: rgba(194, 225, 245, 0);
      	border-left-color: $color11;
      	border-width: 36px;
      	margin-top: -36px;
      }
    }
  }
  .col_foto{
    background-color: $color17;
    display: table;
    padding: 50px 0;
  }
  .col_testo{
    background-color: $color17;
    padding: 50px 30px;
    text-align: center;
  }
  .titolo{
    font-size:30px;
    font-family: $font1;
    color:$color11;
    padding-bottom: 35px;
  }
  .sottotitolo{
    font-size:25px;
    font-family: $font1;
    color:$color11;
    padding-bottom: 100px;
  }
  .testo{
    font-size: 30px;
    font-family: $font2;
    color:$color16;
    padding-bottom: 20px;
  }
  .riconoscimento{
    font-size:30px;
    font-family: $font1;
    color:$color15;
    padding-bottom: 20px;
  }
  .commento{
    font-size:17px;
    font-family: $font1;
    color:$color11;
    padding-bottom: 20px;
  }
}

@media screen and (max-width:1500px){
  .blocchi_logo_testo_foto{
    .logo {
      max-height: 320px;
    }
    .foto {
      max-height: 390px;
    }
    .titolo{
      font-size:27px;
      padding-bottom: 25px;
    }
    .sottotitolo{
      font-size:23px;
      padding-bottom: 60px;
    }
    .testo{
      font-size: 28px;
      padding-bottom: 20px;
    }
    .riconoscimento{
      font-size:28px;
      padding-bottom: 20px;
    }
    .commento{
      font-size:15px;
      padding-bottom: 20px;
    }
  }
}

@media screen and (max-width:1300px){
  .blocchi_logo_testo_foto{

  }
}

@media screen and (max-width:991px){
  .blocchi_logo_testo_foto{
    .col_foto{
      display: none;
    }
    .col_testo{
      height: auto !important;
    }
    .logo {
      max-height: 170px;
    }
    .col_logo{
      float: none;
    }
    .titolo {
      font-size: 22px;
      padding-bottom: 10px;
    }
    .sottotitolo {
      font-size: 20px;
      padding-bottom: 10px;
    }
    .riconoscimento {
      font-size: 20px;
      padding-bottom: 10px;
    }
    .commento {
      font-size: 14px;
      padding-bottom: 10px;
    }
  }
}

@media screen and (max-width:640px){
  .blocchi_logo_testo_foto{
    .logo {
      max-height: 140px;
    }
    .titolo {
      font-size: 17px;
      padding-bottom: 5px;
    }
    .sottotitolo {
      font-size: 15px;
      padding-bottom: 5px;
    }
    .testo{
      font-size: 15px;
      padding-bottom: 5px;
    }
    .riconoscimento {
      font-size: 17px;
      padding-bottom: 5px;
    }
    .commento {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }
}
