.footerPoweredBy {
  padding:12px 5%;
  overflow:hidden;
  background-color:#5b5959;
  color:$color1;
  font-family:$font;
  font-size:$text1;
  position:relative;
  &:after{
    content:"";
    display:table;
    clear:both;
  }
  a{
    color:inherit;
    font-size:inherit;
  }
  .link1{
    float:left;
  }
  .link2{
    float:right;
  }
  .pulsante{
    position:absolute;
    right:20px;
    height:46px;
    top:8px;
  }
  .freccia span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -23px;
    border: 3px solid $color5;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 8;
    bottom: 60px;
  }
  .freccia span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 13px;
    height: 13px;
    margin: -4px 0 0 -7px;
    border-left: 2px solid $color1;
    border-bottom: 2px solid $color1;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    box-sizing: border-box;
  }
  .freccia span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 25px;
    margin-left: -1px;
    margin-top: -1px;
    height: 25px;
    background:$color5;
    box-shadow: 0 0 0 0 #d2d2d2;
    border-radius: 100%;
    opacity: 1;

    box-sizing: border-box;
  }
  @media (max-width:1000px){
    padding:12px 60px;
  }

  @media (max-width:700px){
    .pulsante{
      display:none;
    }
    .link1{
      display:block;
      text-align:center;
      float:none;
      margin-bottom:10px;
    }
    .link2{
      display:block;
      text-align:center;
      float:none;
    }
  }
}