<div class="footerPoweredBy" >
    <a class="link1" href="{{ poweredBy.link }}">{{ poweredBy.label }}</a>
    <a class="link2" href="{{ link_destra.link }}">{{ link_destra.label }}</a>
    <div class="pulsante">
        <a class="freccia" href="#">
        <span>

        </span>
        </a>
    </div>
</div>