.sezione-quadrati-griglia{
    .col-lg-7{
        padding:0;
        position:relative;
        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        .box{
            position:absolute;
            display:inline-block;
            background-color:rgba($color1, .8);
            color:$color5;
            width:auto;
            text-align:center;
            top:50%;
            transform:translateY(-50%);
            -webkit-transform:translateY(-50%);
            -moz-transform:translateY(-50%);
            -o-transform:translateY(-50%);
            -ms-transform:translateY(-50%);
            left:10%;
            padding:40px 15px;
            h3{
                font-size:$text7;
                font-weight:$extra-bold;
                strong{
                    font-size:$text14;
                }
            }
        }
    }
    .col-lg-6{
        padding:0;
        position:relative;
        text-align:center;
        padding:100px 30px;
        border:1px solid $color6;
        img{
            transition-duration:0.3s;
            margin-bottom:15px;
            transition-duration:0.3s;
        }
        p{
            margin:0;
            font-size:$text6;
            font-weight:$semi-bold;
            span{
                font-weight:$extra-bold;
            }
        }
        .nf-link{
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
        }
        &:hover, &:active, &:focus{
            img{
                transform:scale(1.2);
                transition-duration:0.3s;
            }
            p{
                color:$color1;
                transition-duration:0.3s;
            }
        }
    }
    .col-lg-6.dark{
        background-color:$color3;
        p, span{
            color:$color5;
        }
        &:hover, &:active, &:focus{
            p, span{
                color:$color1;
                transition-duration:0.3s;
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .sezione-quadrati-griglia .col-lg-6{
        padding:60px 30px;
        p{
            font-size:font-percentage($text6, 0.9);
        }
        img{
            height:50px;
        }
    }
    .sezione-quadrati-griglia .col-lg-7 .box{
        h3{
            font-size:font-percentage($text7, 0.9);
            strong{
                font-size:font-percentage($text14, 0.8);
            }
        }
    }
}

@media screen and (max-width:991px) {
    .sezione-quadrati-griglia .col-lg-6{
        padding:40px 20px;
        p{
            font-size:font-percentage($text6, 0.8);
        }
        img{
            height:40px;
        }
    }
    .sezione-quadrati-griglia .col-lg-7 .box{
        h3{
            font-size:font-percentage($text7, 0.8);
            strong{
                font-size:font-percentage($text14, 0.6);
            }
        }
    }
}

@media screen and (max-width:767px) {
    .sezione-quadrati-griglia .col-lg-6{
        padding:30px;
        p{
            font-size:font-percentage($text6, 0.65);
        }
        img{
            height:35px;
        }
    }
    .sezione-quadrati-griglia .col-lg-7 .box{
        h3{
            font-size:font-percentage($text7, 0.7);
            strong{
                font-size:font-percentage($text14, 0.5);
            }
        }
    }
    .sezione-quadrati-griglia .col-lg-7{
        height:300px !important;
    }
}
