img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.box-testo{
    position:absolute;
    top:50%;
    left:20px;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    .title{
        background-color:$color1;
        display:inline-block;
        color:$color5;
        padding:10px;
        margin-bottom:30px;
        font-size:$text7;
        font-weight:$bold;
    }
    .subtitle{
        font-size:$text3;
        color:$color5;
        font-weight:$regular;
        strong{
            font-weight:$semi-bold;
            color:$color1;
        }
    }
}
