{% if logo.src|default("") %}
    <img src="{{ logo.src }}" alt="{{ logo.alt|default("") }}" />
{% endif %}
<div class="box-testo">
    {% if titolo.val|default("") %}<h4 class="title"> {{ titolo.val }} </h4>{% endif %}
    {% if testo.val|default("") %}
        <p class="subtitle">
            {{ testo.val|raw }}
        </p>
    {% endif %}
</div>