.animation_numbers_homepage{
    text-align:center;
    padding-bottom:50px;
    background-color:$color6;
    .col-lg-3{
        position:relative;
        background-color:$color5;
        .img_numeri{
            margin-bottom:10px;
        }
        .title_numeri{
            font-size:$text7;
            font-weight:$semi-bold;
            padding-top:10px;
            margin:0;
            color:$color3;
            strong{
                font-weight:$extra-bold;
            }
        }
        .nf-link{
            position:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
        }
        &.servizi{
            background-color:$color3;
            .title_numeri{
                color:$color5;
            }
        }
        &.wrapper_blocchi{
            background-size:cover;
            background-position:50% 50%;
            background-repeat:no-repeat;
        }
        &.wrapper_numeri{
            &:before{
                content:"";
                display:block;
                padding-top:100%;
            }
            .wrapper_text{
                position:absolute;
                top:50%;
                left:0;
                width:100%;
                transform:translateY(-50%);
                -moz-transform:translateY(-50%);
                -o-transform:translateY(-50%);
                -webkit-transform:translateY(-50%);
            }
        }
        &:hover, &:active, &:focus{
            img.img_numeri{
                transform:scale(1.2);
                -webkit-transform:scale(1.2);
                -moz-transform:scale(1.2);
                -o-transform:scale(1.2);
                -ms-transform:scale(1.2);
                transition-duration:0.3s;
            }
            p.title_numeri{
                color:$color1;
                transition-duration:0.3s;
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .animation_numbers_homepage .col-lg-3{
        .title_numeri{
            font-size:font-percentage($text7, 0.9);
        }
    }
}

@media screen and (max-width:991px) {
    .animation_numbers_homepage .col-lg-3{
        .title_numeri{
            font-size:font-percentage($text7, 0.85);
            padding-top:10px;
        }
        .img_numeri{
            height:40px;
        }
    }
}

@media screen and (max-width:768px) {
    .animation_numbers_homepage .col-lg-3{
        .title_numeri{
            font-size:font-percentage($text7, 0.8);
        }
    }
}

@media screen and (max-width:500px) {
    .animation_numbers_homepage{
        .wrapper_blocchi{
            width:100%;
        }
        .dipendenti_img,
        .progetti_img,
        .clienti_img,
        .coffee_img{
            display:none !important;
        }
        .numeri_progetti,
        .numeri_dipendenti,
        .numeri_clienti,
        .numeri_coffee{
            height:200px !important;
        }
    }
}
