<section class="animation_numbers_homepage">
    <div class="container-fluid" id="numeri">
        <div class="row align-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_dipendenti">
                <a class="nf-link" href="{{ link1.link|default('#') }}" rel="nofollow"></a>
                <a href="{{ link1.link|default('#') }}">
                    <div class="wrapper_text">
                        {% if icon1.src|default("") %}
                            <img class="img_numeri" src="{{ icon1.src }}" alt="{{ icon1.alt|default("") }}" />
                        {% else %}
                            <img class="img_numeri" src="{{ asset('images/energia/grafica/dettaglio.png') }}" alt="{{ testo1.val|striptags|default("") }}" />
                        {% endif %}
                        {% if testo1.val|default("") %}
                        <p class="title_numeri color1"> {{ testo1.val|raw }} {% endif %}
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 progetti_img wrapper_blocchi"{% if img1.src|default("") %} style="background-image:url({{ img1.src }})"{% endif %}>
            </div>
            <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-6 col-xs-6 progetti_img wrapper_blocchi"{% if img2.src|default("") %} style="background-image:url({{ img2.src }})"{% endif %}>
            </div>
            <div class="col-lg-3 col-lg-pull-3 col-md-3 col-md-pull-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_progetti">
                <a class="nf-link" href="{{ link2.link|default('#') }}" rel="nofollow"></a>
                <a href="{{ link2.link|default('#') }}">
                    <div class="wrapper_text">
                        {% if icon2.src|default("") %}
                            <img class="img_numeri" src="{{ icon2.src }}" alt="{{ icon2.alt|default("") }}" />
                        {% else %}
                            <img class="img_numeri" src="{{ asset('images/energia/grafica/dettaglio.png') }}" alt="{{ testo1.val|striptags|default("") }}" />
                        {% endif %}
                        {% if testo2.val|default("") %}
                            <p class="title_numeri color2"> {{ testo2.val|raw }}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        <div class="row align-center">
            <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_clienti">
                <a class="nf-link" href="{{ link3.link|default('#') }}" rel="nofollow"></a>
                <a href="{{ link3.link|default('#') }}">
                    <div class="wrapper_text">
                        {% if icon3.src|default("") %}
                            <img class="img_numeri" src="{{ icon3.src }}" alt="{{ icon3.alt|default("") }}" />
                        {% else %}
                            <img class="img_numeri" src="{{ asset('images/energia/grafica/dettaglio.png') }}" alt="{{ testo1.val|striptags|default("") }}" />
                        {% endif %}
                        {% if testo3.val|default("") %}
                            <p class="title_numeri color3"> {{ testo3.val|raw }}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-lg-pull-3 col-md-3 col-md-pull-3 col-sm-6 col-xs-6 clienti_img wrapper_blocchi"{% if img3.src|default("") %} style="background-image:url({{ img3.src }}"{% endif %}>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 coffee_img wrapper_blocchi"{% if img4.src|default("") %} style="background-image:url({{ img4.src }}"{% endif %}>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_coffee servizi">
                <a class="nf-link" href="{{ link4.link|default('#') }}" rel="nofollow"></a>
                <a href="{{ link4.link|default('#') }}">
                    <div class="wrapper_text">
                        {% if icon4.src|default("") %}
                            <img class="img_numeri" src="{{ icon4.src }}" alt="{{ icon4.alt|default("") }}" />
                        {% else %}
                            <img class="img_numeri" src="{{ asset('images/energia/grafica/dettaglio.png') }}" alt="{{ testo1.val|striptags|default("") }}" />
                        {% endif %}
                        {% if testo4.val|default("") %}
                            <p class="title_numeri color4"> {{ testo4.val|raw }}</p>
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>