.form-contatti{
    background-color:$color6;
    text-align:center;
    padding-top:50px;

    .row_x{
        text-indent:-9999px;
        height:1px;
    }

    .row{
        > .form-title{
            font-size:$text8;
            font-weight:$bold;
            color:$color1;
        }
        > p{
            color:$color7;
            font-size:$text4;
            font-weight:$regular;
        }
        form{
            padding:50px;
            input, textarea{
                width:100%;
                border:none;
                padding-left:10px;
            }
            input:not([ type="submit" ]){
                height:40px;
                margin-bottom:20px;
            }
            textarea{
                height:200px;
            }
            label{
                color:$color1;
                font-size:$text2;
                font-weight:$semi-bold;
                &.req::after {
                  content: '*';
                }
            }
            .pretty{
                margin:20px 0;
                label{
                    font-size:18px;
                    a{
                        color:$color2;
                    }
                }
            }
            .btn-default{
                width:auto;
                padding-left:60px;
                padding-right:60px;
                border:none;
                border-radius:0;
                background-color:$color1;
                color:$color8;
                font-size:$text6;
                font-weight:$bold;
                transition-duration:0.3s;
                margin-bottom: 30px;
                &:hover{
                    opacity:0.7;
                    transition-duration:0.3s;
                }
            }
        }
    }
}

@media screen and (max-width:1199px) {
    .form-contatti .row > .form-title{
        font-size:font-percentage($text8, 0.9);
    }
    .form-contatti .row > p{
        font-size:font-percentage($text4, 0.9);
    }
}

@media screen and (max-width:767px) {
    .form-contatti .row > .form-title{
        font-size:font-percentage($text8, 0.8);
    }
    .form-contatti .row > p{
        font-size:font-percentage($text4, 0.85);
    }
}

@media screen and (max-width:549px) {
    .form-contatti .row form{
        padding:10px;
    }
}
