{% trans_default_domain "public" %}
<div class="form-contatti">
    <div class="container">
        <div class="row">
            <p class="form-title">{{ titolo.val }}</p>
            {% if testo.val|default("") %}
                <p>
                    {{ testo.val|raw }}
                </p>
            {% endif %}
            <form class="contact" data-endpoint="{{ to_route('contact-us-form') }}">
                <div class="row_x">
                    <input type="text" name="{{ random('ABCDEFGHI') }}{{ random() }}_wt" value="" />
                </div>
                <label for="nome_cognome" class="req">{% trans %}booking.labels.nome_e_cognome{% endtrans %}</label>
                <input type="text" name="nome_cognome" id="nome_cognome" required value="">
                <label for="email" class="req">{% trans %}booking.labels.email{% endtrans %}</label>
                <input type="email" name="email" id="email" required value="">
                <label for="phone">{% trans %}booking.labels.telefono{% endtrans %}</label>
                <input type="tel" name="phone" id="phone" required value="">
                <label for="tipo_richiesta" class="req">{% trans %}booking.labels.oggetto{% endtrans %}</label>
                <input type="text" name="tipo_richiesta" id="tipo_richiesta" required value="">
                <label>{% trans %}booking.labels.informazioni{% endtrans %}</label>
                <label for="richiesta" class="req">{% trans %}booking.labels.messaggio{% endtrans %}</label>
                <textarea name="richiesta" id="richiesta"></textarea>
                <div class="pretty">
                    <input type="checkbox" name="privacy" id="privacy" value="1" />
                    <label><i class="fa fa-check"></i>{% trans %}booking.labels.ho_letto{% endtrans %}
                        <a href=""><u>{% trans %}default.labels.privacy_policy{% endtrans %}</u></a></label>
                </div>
                <p>{% trans %}default.labels.campi_obbligatori{% endtrans %}</p>
                <input type="submit" class="btn btn-default btn-send" formnovalidate value="{% trans %} default.labels.invia {% endtrans %}">
            </form>
        </div>
    </div>
</div>
