{% trans_default_domain "public" %}


<section class="prodotto-main scheda-prodotto" data-id="{{ data.Product.id }}">
    <div class=" row">
        <div class="col-sm-12 col-md-6 colonna-immagine">
            <div class="wrap-square">
                <!--<div class="img-prodotto-big">-->
                <img class="img-prodotto-big img-principale"
                     src="{{ asset(productHelper.getImmaginePrincipale(data.Product) ) }}"
                     alt="{{ data.Product.translate().titolo }}">
                <!--</div>-->
            </div>

            <div class="slider-img-prodotto">
                <!--le immagini verranno tagliate giuste con liip -->
                {% if data.immagini %}
                    {% for immagine in data.immagini %}
                        <a href="{{ vich_uploader_asset(immagine, 'file') }}" data-lightbox="prodotto">
                            <div class="wrap">
                                <img
                                        src="{{ vich_uploader_asset(immagine, 'file') }}"
                                        alt="{{ immagine.translate().alt }}"/>
                            </div>

                        </a>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
        <div class="col-sm-12 col-md-6 colonna-info">
            <div class="mobileHelp">
                <div class="categoria-prodotto">{{ productHelper.guessCategory(data.Product).translate().nome }}</div>
                <h1 class="nome-prodotto-main">{{ data.Product.translate().titolo }}</h1>
                {% if ecommerce.manage_brands and  data.Product.brand %}
                    <a class="marchioH3"
                       href="{{ to_route("brand_ecommerce",{"slug":data.Product.brand.translate().slug}) }}">
                        <h3>{{ data.Product.brand }}</h3></a>

                {% endif %}
            </div>

            {% if ecommerce.manage_attributes and data.Product.varianti|length %}
                <ul class="varianti-prodotto sezione-prodotto">
                    {% set attributi = productHelper.getAttributi(data.Product,app.request.locale) %}

                    {% set matrice= productHelper.getMatrice(data.Product,app.request.locale) %}

                    <script>
                        var varianti = {{ matrice|raw }};
                    </script>
                    {% for gruppoAttributi in attributi['selezione'] %}
                        <li class="attributeRow variante">
                            <div class="nome-variante">{{ gruppoAttributi.nome }}:</div>
                            <ul class="box-varianti">
                                {% for attribute in gruppoAttributi.attributi %}
                                    {% if gruppoAttributi.type == "RADIO" or gruppoAttributi.type == "SELECT" %}
                                        <li>
                                            <div class="variante-taglia">
                                                <a href="#" data-id="{{ attribute.id }}"
                                                   class="attribute{% if attribute.selected %} attributeSelected{% endif %}">
                                                    {{ attribute.nome }}
                                                </a>
                                            </div>
                                        </li>
                                    {% elseif gruppoAttributi.type == "COLOR" %}
                                        <li>
                                            <div class="variante-colore"
                                                 style="background-color:{{ attribute.value }}">
                                                <a href="#" data-id="{{ attribute.id }}"
                                                   class="attribute color {% if attribute.selected %} attributeSelected{% endif %}"
                                                   title="{{ attribute.nome }}"></a>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% set isAvailable=productHelper.isAvailable(data.Product) %}
            <div class="sezione-prodotto clearfix">
                <div class="voto-prodotto pull-left">
                    <div class="star-ratings-css">
                        <div class="star-ratings-css-top"
                             style="width:{{ data.Product.getmediarecensioniPercentuale }}">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="star-ratings-css-bottom">
                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>

                    </div>
                    <div class="voto-numerico">({{ data.Product.getmediarecensioni }})</div>
                </div>
                <div class="prezzo price"
                     data-variable="{{ data.Product.prezzoDipendeDaVariante }}">
                    <span class="old">
                        55.36 €
                    </span>
                    {{ productHelper.prezzo(data.Product, listinoHelper.getDefault)|localizedcurrency('EUR') }}</div>
            </div>
            <div class="sezione-prodotto clearfix">
                <div class="disponibilita availability {% if not isAvailable %}disabled{% endif %}">{% if isAvailable %}
                        {% trans %} ecommerce.labels.disponibile {% endtrans %}
                    {% else %}
                        {% trans %} ecommerce.labels.non_disponibile {% endtrans %}
                    {% endif %}
                </div>
                <div class="modulo-quantita">
                    <div class="row">
                        <div class="col-sm-6 clearfix">
                            <div class="pull-left">
                                <label>{% trans %}ecommerce.labels.quantita{% endtrans %}</label>

                                <div class="input-group">
                                    <div class="input-group-addon quantity-down"><span
                                                class="glyphicon glyphicon-minus"></span></div>
                                    <input type="text" class="form-control qty quantita" name="qty"
                                           value="{{ data.Product.quantitaMinima }}"/>
                                    <div class="input-group-addon quantity-up"><span
                                                class="glyphicon glyphicon-plus"></span></div>
                                </div>


                            </div>

                            <div class="quantity-nav hidden-sm hidden-xs">
                                <div class="quantity-button quantity-up">+</div>
                                <div class="quantity-button quantity-down">-</div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>&nbsp;</label>
                            <div class="acquista-button btn-acquista {% if not isAvailable %} disabled{% endif %}">
                                <span class="icon-cart"></span> {% trans %}
                                ecommerce.labels.acquista {% endtrans %}</div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="sezione-prodotto clearfix">
                <ul class="lista-vantaggi">
                    <li><span class="icon-reso"></span>RESO GRATUITO</li>
                    <li><span class="icon-spedizione"></span>SPESE DI SPEDIZIONE GRATUITE</li>
                    <li><span class="icon-anonimo"></span>PACCO ANONIMO</li>
                </ul>
            </div>
            <div class="sezione-prodotto clearfix">
                {% if is_granted("ROLE_ANAGRAFICA") or true %}

                    <div data-product="{{ data.Product.id }}"
                         class="wishlist-add {% if data.Product.inWishlist %} active {% endif %}"><span
                                class="icon-wishlist">
                </span>{% if data.Product.inWishlist %}{% trans %}ecommerce.labels.wishlist_remove{% endtrans %}{% else %}{% trans %}ecommerce.labels.wishlist_add{% endtrans %}{% endif %}
                    </div>
                {% endif %}
                <div class="share-box pull-right">
                    <ul class="social-link">
                        {% if servizi_esterni.facebook_api %}
                            <li>
                                <a href="{{ to_route(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'), true) }}"
                                   id="socialShareFB">
                                    <span class="icon-facebook_share" style="color:#3B5998;"></span>
                                </a>
                            </li>
                        {% endif %}
                        {% if data.twitter is defined %}
                            <li>
                                <a href="https://twitter.com/share?url={{ data.twitter.url }}&text={{ data.twitter.text }}{% if data.twitter.via is defined %}&via={{ data.twitter.via }}{% endif %}"
                                   id="socialShareTW">
                                    <span class="icon-twitter_share" style="color:#1DA0F1"></span>
                                </a>
                            </li>
                        {% endif %}
                        {#{% if data.linkedin is defined %}#}
                        {#<li>#}
                        {#<a id="socialShareLI"#}
                        {#href="https://www.linkedin.com/shareArticle?mini=true&url={{ data.linkedin.url }}&title={{ data.linkedin.title }}&summary={{ data.linkedin.summary }}">#}
                        {#<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"#}
                        {#viewBox="0 0 32 32" title="LinkedIn" alt="LinkedIn"#}
                        {#style="width: 22px; height: 22px;background-color:rgb(0, 119, 181);fill:white"#}
                        {#class="at-icon at-icon-linkedin">#}
                        {#<g>#}
                        {#<path d="M26 25.963h-4.185v-6.55c0-1.56-.027-3.57-2.175-3.57-2.18 0-2.51 1.7-2.51 3.46v6.66h-4.182V12.495h4.012v1.84h.058c.558-1.058 1.924-2.174 3.96-2.174 4.24 0 5.022 2.79 5.022 6.417v7.386zM8.23 10.655a2.426 2.426 0 0 1 0-4.855 2.427 2.427 0 0 1 0 4.855zm-2.098 1.84h4.19v13.468h-4.19V12.495z"#}
                        {#fill-rule="evenodd"></path>#}
                        {#</g>#}
                        {#</svg>#}
                        {#</a>#}
                        {#</li>#}
                        {#{% endif %}#}
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="testi">
        <div class="descrizione-prodotto" id="descrizione">
            <div class="titolo">
                {% trans %}
                ecommerce.labels.descrizione{% endtrans %}
            </div>
            {{ data.Product.translate().testo |raw | nl2br }}
        </div>
        {% if data.Product.translate().datiAggiuntivi %}
            <div class="descrizione-prodotto" id="dati_aggiuntivi">
                <div class="titolo">
                    {% trans %}
                    ecommerce.labels.dati_aggiuntivi{% endtrans %}
                </div>
                {{ data.Product.translate().datiAggiuntivi | nl2br }}
            </div>
        {% endif %}
    </div>

</section>

<script type="text/x-handlebars-template" id="notEnoughTemplate">
    <div id="carrelloModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                        {% trans %}ecommerce.labels.cart{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% verbatim %} product.labels.quantita_non_sufficiente{% endverbatim %}
                    </div>
                    <ul>
                        <li>{% trans %}product.labels.quantita_richiesta {% endtrans %}
                            : {% verbatim %} {{requested}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.giacenza{% endtrans %}
                            : {% verbatim %} {{giacenza}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_aggiunta {% endtrans %}
                            : {% verbatim %} {{added}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_incarello {% endtrans %}
                            : {% verbatim %} {{total}} {% endverbatim %}</li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                            <a href="/carrello" class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToCart{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>

<script type="text/x-handlebars-template" id="addedTemplate">
    <div id="carrelloModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                        {% trans %}ecommerce.labels.cart{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% verbatim %} {{description}} {% endverbatim %}
                    </div>
                    <ul>
                        <li>{% trans %}product.labels.quantita_richiesta {% endtrans %}
                            : {% verbatim %} {{requested}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_aggiunta {% endtrans %}
                            : {% verbatim %} {{added}} {% endverbatim %}</li>
                        <li>{% trans %}product.labels.quantita_incarello {% endtrans %}
                            : {% verbatim %} {{total}} {% endverbatim %}</li>
                    </ul>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                            <a href="/carrello" class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToCart{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>


<script type="text/x-handlebars" id="noWishlistTemplate">

    <div id="noWishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                           {% trans %}default.labels.registrationRequired{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% trans %}ecommerce.labels.registrationRequiredforWishlist{% endtrans %}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                        <a href="/registrazione"  class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToRegistration{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>























































































</script>

