{% trans_default_domain "public" %}
{% if data.prodotti is defined and data.prodotti|length > 2 %}
    <section class="spotMarca">
        <div class="container-fluid container-limitato">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12 colonna-marca">
                    <img src="{{ asset(data.brand.uploadDir ~ data.brand.listImgFileName) }}"
                         class="img-responsive img-marca">
                    <h3 class="titolo">{{ data.brand.translate().testo|raw }}</h3>
                    <a href="{{ to_route("brand_ecommerce",{"slug":data.brand.translate().slug}) }}"
                       class="btn pulsante-ghebagas"><span>{% trans %}
                            ecommerce.labels.discover_all_products {% endtrans %}</span></a>
                </div>
                {% set Prodotto=data.prodotti[0] %}
                <div class="col-md-3 col-sm-4 col-xs-6 colonna-prodotto">
                    <div class="box-prodotto ">
                        <div class="img-prodotto-wrap">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.slug}) }}">
                                <img class="img-prodotto"
                                     src="{{ asset(Prodotto[0].uploadDir ~ Prodotto[0].listImgFileName) }}"
                                     alt="{{ Prodotto[0].listImgAlt }}">
                            </a>
                        </div>
                        <div class="marca">{{ Prodotto[0].brand.translate().titolo }}</div>
                        <div class="nome-prodotto">{{ Prodotto.titolo }}</div>
                        <div class="prezzo">{{ productHelper.prezzo(Prodotto[0], listinoHelper.getDefault)|localizedcurrency('EUR') }}</div>
                        <div class="clearfix pulsanti">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.slug}) }}"
                               class="acquista-button pulsante-ghebagas btn"><span>{% trans %}
                                    ecommerce.labels.acquista {% endtrans %}</span></a>
                            <a data-product="{{ Prodotto[0].id }}" href="#"
                               class="wishlist-button pulsante-ghebagas btn {% if Prodotto[0].inWishlist == 1 %}active{% endif %}"><span>  {% trans %}
                                    ecommerce.labels.wishlist {% endtrans %}</span></a>
                        </div>
                    </div>
                </div>
                {% set Prodotto=data.prodotti[1] %}
                <div class="col-md-3 col-sm-4 col-xs-6 colonna-prodotto">
                    <div class="box-prodotto ">
                        <div class="img-prodotto-wrap">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.slug}) }}">
                                <img class="img-prodotto"
                                     src="{{ asset(Prodotto[0].uploadDir ~ Prodotto[0].listImgFileName) }}"
                                     alt="{{ Prodotto[0].listImgAlt }}">
                            </a>
                        </div>
                        <div class="marca">{{ Prodotto[0].brand.translate().titolo }}</div>
                        <div class="nome-prodotto">{{ Prodotto.titolo }}</div>
                        <div class="prezzo">{{ productHelper.prezzo(Prodotto[0], listinoHelper.getDefault)|localizedcurrency('EUR') }}</div>
                        <div class="clearfix pulsanti">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.slug}) }}"
                               class="acquista-button pulsante-ghebagas btn"><span>{% trans %}
                                    ecommerce.labels.acquista {% endtrans %}</span></a>
                            <a data-product="{{ Prodotto[0].id }}" href="#"
                               class="wishlist-button pulsante-ghebagas btn {% if Prodotto[0].inWishlist == 1 %}active{% endif %}"><span>  {% trans %}
                                    ecommerce.labels.wishlist {% endtrans %}</span></a>
                        </div>
                    </div>
                </div>
                {% set Prodotto=data.prodotti[2] %}
                <div class="col-md-3 col-sm-4 col-xs-6 colonna-prodotto hidden-sm hidden-xs">
                    <div class="box-prodotto ">
                        <div class="img-prodotto-wrap">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.slug}) }}">
                                <img class="img-prodotto"
                                     src="{{ asset(Prodotto[0].uploadDir ~ Prodotto[0].listImgFileName) }}"
                                     alt="{{ Prodotto[0].listImgAlt }}">
                            </a>
                        </div>
                        <div class="marca">{{ Prodotto[0].brand.translate().titolo }}</div>
                        <div class="nome-prodotto">{{ Prodotto.titolo }}</div>
                        <div class="prezzo">{{ productHelper.prezzo(Prodotto[0], listinoHelper.getDefault)|localizedcurrency('EUR') }}</div>
                        <div class="clearfix pulsanti">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.slug}) }}"
                               class="acquista-button pulsante-ghebagas btn"><span>{% trans %}
                                    ecommerce.labels.acquista {% endtrans %}</span></a>
                            <a data-product="{{ Prodotto[0].id }}" href="#"
                               class="wishlist-button pulsante-ghebagas btn {% if Prodotto[0].inWishlist == 1 %}active{% endif %}"><span>  {% trans %}
                                    ecommerce.labels.wishlist {% endtrans %}</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}