<section class="cosa_realizziamo">
  <div class="container-fluid">
    <div id="bb-bookblock" class="bb-bookblock bb-bookblock-pc">
      {% for slide in data %}
        <div class="bb-item">
          <div class="bb-custom-side item-img" style="background-image:url({{ slide.image.src }})">
            <a href="#" class="bb-custom-icon bb-custom-icon-arrow-left bb-nav-prev">
            <img class="button_left" src="{{freccia_sx.src}}">
            <img class="button_up" src="{{freccia_up.src }}">
          </a>
          </div>
          <div class="bb-custom-side text-item">
            <div class="wrapper_text_item">
              <a href="#" class="bb-custom-icon bb-custom-icon-arrow-right bb-nav-next">
                <img class="button_right" src="{{ freccia_dx.src }}">
                <img class="button_down" src="{{ freccia_down.src }}">
              </a>
              <h3 class="title_section">{{ slide.titolo }}</h3>
              <p class="subtitle_section">{{ slide.sottotitolo }}</p>
              <p class="text_section">{{ slide.testo|raw }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
