<div class="box-doppio-testo-lista">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lista sameHeight">
                <div class="lista">
                    {% if titoloBlocco.val|default("") %}
                        <h2 data-aos="slide-right" data-aos-duration="1000"> {{ titoloBlocco.val | raw }} </h2>
                    {% endif %}
                    {% for link in links %}
                        {% if link.link %}
                            <p data-aos="slide-right" data-aos-duration="1000">
                                <img src="{{ asset('images/energia/grafica/details_orange.png') }}">
                                <a href="{{ link.link }}">
                                    {{ link.label|default("") }}
                                </a>
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-img sameHeight">
                {% if immagine.src|default("") %}
                    <img class="right-img" src="{{ immagine.src }}" alt="{{ immagine.alt|default("") }}" />
                {% endif %}
                <div class="box" data-aos="fade-zoom-in" data-aos-easing="ease-in-sine" data-aos-duration="600">
                    {% if titoloImmagine.val|default("") %}<h3> {{ titoloImmagine.val | raw }} </h3>{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>