$color1:#726F6F;
$color2:#f6a905;
$color3:#00925b;
$color4:#231F20;
$color5:#cccccc;
$color6:#333333;
$color7:#908c8c;
$color8:#9d9d9c;
$color9:#a0a0a0;
$color10:#F5F5F5;
$color11:#7c7a7a;
$color12:#595959;
$color13:#d2d2d2;
$color14:#f39200;
$color15:#8d8d8d;
$color16:#bdbdbd;
$color17:#F9F9F9;
$color18:#F4F4F4;
$color19:#b9b9b9;
$color20:#535252;
$color21:#787878;
$color22:#EFEFEF;
$color23:#585858;
$color24:#f7f7f7;
$color25:#f0f0f0;
$color26:#BFBFBF;
$color27:#fff;
$red:red;
$backgroundGray:grey;
$mobileBreakpoint:"767px";

$font:'Exo', sans-serif;
$font1:$font;
$font2:"Reklame Script Regular DEMO";

$text0:13px;
$text1:14px;
$text2:15px;
$text3:16px;
$text4:17px;
$text5:18px;
$text6:20px;
$text7:22px;
$text8:25px;
$text9:26px;
$text10:35px;
$text11:36px;
$text12:38px;
$text13:40px;
$text14:50px;
$text15:78px;

$light:300;
$regular:400;
$medium:500;
$semi-bold:600;
$bold:700;

@mixin gradient-pov(){
    color:#00935d;
    background:-moz-linear-gradient(left, $color3 0%, $color2 100%); /* FF3.6-15 */
    background:-webkit-linear-gradient(left, $color3 0%, $color2 100%); /* Chrome10-25,Safari5.1-6 */
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}