// Standard
@mixin border-radius($radius) {
    -webkit-border-radius:$radius;
    -moz-border-radius:$radius;
    -ms-border-radius:$radius;
    border-radius:$radius;
}

@mixin no-outline() {
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}

@mixin background-cover() {
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
}

@mixin background-fixed() {
    background-position:50% 50%;
    background-repeat:no-repeat;
    background:fixed;
}

/** DA VERIFICARE **/

@mixin button-template($text-color, $bWidth){
  border-radius: 4px;
  border-color: $color8m;
  color: $text-color;
  background-color: transparent;
  border-width: $bWidth;
  transition: all 0.3s ease;

  &:hover {
    background:$color8m;
    transition: all 0.3s ease;
  }

  &:focus,
  &.focus {
    background:$color8m;
  }

  &:active {
    background:$color8m;
  }
}

@mixin heading-divider($bg, $width:70px, $height:5px, $margin-vertical: 20px, $margin-horizontal:auto) {
    &:after{
        content:"";
        display:block;
        margin:$margin-vertical $margin-horizontal;
        width:$width;
        height:$height;
        background:$bg;
    }
}
