{% trans_default_domain "public" %}
<section class="slider_con_icone_testi_immagini" id="{{ id_sezione.val }}">
    <img class="foto_bottom" src="{{ sfondo.src }}">
    <div class="container-fluid container_sezioni">
        <div class="row row_sezioni align-center">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                {% if data.error %}
                    {{ data.error }}
                {% else %}
                    {% for  slide in data.slides %}
                        <li role="presentation" class="lista_slider">
                            <a href="#{{ slide.slug }}" aria-controls="{{ slide.slug }}" role="tab" data-toggle="tab">
                                <div class="testo_link">{{ slide.titolo }}</div>
                                <div class="button_slider_services"></div>
                                <div class="icona_slider">
                                    <img src="{{ asset('images/cantinamenegola/etichette/' ~ slide.slug ~ '.png') }}">
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="tab-content">
                {% if data.error %}
                    {{ data.error }}
                {% else %}
                    {% for  slide in data.slides %}
                        <div role="tabpanel" class="tab-pane fade" id="{{ slide.slug }}">
                            <div class="row">
                                <div class="col-md-3 col-md-offset-1 animation_sx col_sfondo_servizi matcheight_plugin">
                                    <img class="img_slider" src="{{ slide.image.src }}" alt="{{ slide.image.alt }}">
                                </div>
                                <div class="col-md-8 col_testo_servizi animation_dx matcheight_plugin">
                                    <div class="wrapper_testo_servizi">
                                        <h3 class="titolo_servizio">{{ slide.titolo }}</h3>
                                        <p class="testo_servizio">{{ slide.testo|raw }}</p>
                                        <a href="" class="link_scarica" target="_blank">
                                            <span><img class="img_scarica" src="{{ asset('images/cantinamenegola/loghi/scarica.png') }}"></span>{% trans %}default.labels.scarica_la{% endtrans %}
                                            <span class="corsivo">{% trans %}default.labels.scheda_tecnica{% endtrans %}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
