.slider_con_icone_testi_immagini{
  padding:50px 0 0 0;
  position: relative;
  overflow-x: hidden;
  .img_scarica{
    position: static !important;
    width: auto !important;
    height: auto !important;
    min-height: auto !important;
    display: inline !important;
    padding: 0 20px 0 0 !important;
  }
  .icona_slider{
    margin-top: 15px;
    img{
      width: 40px;
      display: block;
      margin: auto;
    }
  }
  .link_scarica{
    margin-top: 20px;
    display: block;
    color:$color1;
    font-family: $font1;
    font-size: 16px;
    span{
      font-family: $font2;
      color:$color5;
      font-size: 26px;
    }
  }
  .btn_desktop{
    float:left;
  }
  .foto_bottom{
    position: absolute;
    bottom: 0;
    height: 230px;
    width: 100%;
  }
  .titolo_servizio{
    color:$color1;
    font-size: 48px;
    text-align: left;
    margin: 0;
    font-family: $font1;
    font-weight: 400;
  }
  .testo_servizio{
    color:$color1;
    font-family: $font1;
    text-align: left;
    padding-top: 25px;
    margin: 0;
    line-height: 30px;
    strong{
      color:$color5;
    }
  }
  .col_sfondo_servizi{
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
    opacity:0;
    transition:700ms ease-out;
    -moz-transition:700ms ease-out;
    -o-transition:700ms ease-out;
    -webkit-transition:700ms ease-out;
    overflow: hidden;
  }
  .col_testo_servizi{
    opacity:0;
    transition:700ms ease-out;
    -moz-transition:700ms ease-out;
    -o-transition:700ms ease-out;
    -webkit-transition:700ms ease-out;
  }
  .wrapper_testo_servizi{
    padding-bottom: 300px !important;
    p,h3{
      font-family: $font1;
    }
    p{
      line-height: 35px;
    }
    strong{
      color: $color5;
      font-weight: 400;
    }
  }
  .animation_dx{
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    .wrapper_testo_servizi{
      width: 100%;
      padding: 0 20% 0 10%;
    }
    .img_slider{
      max-height: 800px;
      min-height: 750px;
      display: block;
      margin: auto;
      padding-bottom: 70px;
    }
  }
  .animation_sx{
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    .wrapper_testo_servizi{
      width: 100%;
      padding: 0 10% 0 20%;
    }
    .img_slider{
      max-height: 800px;
      min-height: 750px;
      display: block;
      margin: auto;
      padding-bottom: 70px;
    }
  }
  .show_block{
    transform: translate(0%);
    -moz-transform: translate(0%);
    -o-transform: translate(0%);
    -webkit-transform: translate(0%);
    opacity:1;
  }
  .nav-tabs{
    border:none !important;
    padding-bottom: 50px;
    display: table;
    margin: auto;
    li{
      display: table-cell;
      background-color: transparent !important;
    }
    .active{
      a,.testo_link{
        color:$color1 !important;
        background-color: transparent !important;
      }
    }
    a ,.testo_link{
      cursor: pointer !important;
      border:none !important;
      color:$color14 !important;
      font-family: $font1;
      font-size: 24px;
      &:hover{
        color:$color1 !important;
        background-color: transparent !important;
      }
    }
  }
}

@media screen and (max-width:1500px){
  .slider_con_icone_testi_immagini{
    .titolo_servizio {
      font-size: 40px;
    }
    .wrapper_testo_servizi p {
      line-height: 30px;
    }
  }
}

@media screen and (max-width:1300px){
  .slider_con_icone_testi_immagini{
    .animation_dx .wrapper_testo_servizi {
      padding: 0 7% 0 7%;
    }
    .nav-tabs{
      .testo_link{
        font-size: 13px;
      }
      li{
        a{
          padding: 10px 10px;
        }
      }
    }
  }
}

@media screen and (max-width:991px){
  .slider_con_icone_testi_immagini{
    padding: 50px 0 50px 0;
    .link_scarica{
      font-size: 13px;
      span{
        font-size: 22px;
      }
      img{
        padding:0 10px 0 0;
      }
    }
    .wrapper_testo_servizi{
      text-align: center;
      padding-bottom: 30px !important;
      p {
        text-align: center;
        line-height: 21px;
        font-size: 14px;
      }
    }
    .titolo_servizio{
      text-align: center;
      font-size: 28px;
    }
    .col_testo_servizi{
      padding-bottom: 20px;
    }
    .foto_bottom,
    .testo_link,
    .icona_slider{
      display: none;
    }
    .col_sfondo_servizi{
      .img_slider{
        position: static;
        height: auto;
        width: auto;
        margin-left: auto;
        display: block;
        margin: auto;
        max-height: 295px;
        min-height: 295px;
        transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        -webkit-transform: none !important;
      }
    }
    .nav-tabs{
      padding-bottom: 25px;
      a{
        width: 10px;
        height: 10px;
      }
    }
    .button_slider_services{
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &:before{
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 10px;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: black;
        -webkit-font-smoothing: antialiased;
        font-size: 18px !important;
        content: "" !important;
        border-radius: 10px;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background-color: #363839;
        opacity: .55;
      }
    }
    .active{
      .button_slider_services{
        &:before{
          background-color: $color11;
          border: 3px solid $color5;
          width: 15px;
          height: 15px;
          margin-top: -1.5px;
        }
      }
    }
  }
}

@media screen and (max-width:640px){
  .slider_con_icone_testi_immagini{

  }
}

@media screen and (max-height:720px){
  .slider_con_icone_testi_immagini{

  }
}
