<div class="row">
    {% for Page in data.pages %}
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="thumbnail">
                {% if Page.ListImgFileName %}
                    <a href="{{ pageUrlGenerator.generaUrl(Page, app.request.locale) }}" rel="nofollow">
                        <img src="/{{ Page.uploadDir }}{{ Page.ListImgFileName }}" alt="{{ Page.listImgAlt }}">
                    </a>
                {% endif %}
                <a href="{{ pageUrlGenerator.generaUrl(Page, app.request.locale) }}">
                    <h3>{{ Page.translate().titolo }}</h3>
                </a>
                {% if Page.translate().sottotitolo %}
                    <p>{{ Page.translate().sottotitolo }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>