<div class="pannelli-testo-collapse">
    <h3>I dettagli dell'offerta</h3>
    <div class="container">
        <div class="row">
            {% for row in data.rows %}
                <div class="pannello">
                    <div class="media">
                        <div class="media-body">
                            {% if row.slot1 %}
                                <h4 class="media-heading">{{ row.slot1|raw }}</h4>
                            {% endif %}
                        </div>
                        <div class="media-right">
                            <img class="media-object" src="{{ asset('images/energia/grafica/details_orange.png') }}" data-toggle="collapse" data-target="#pannello{{ loop.index0 }}" aria-expanded="false" aria-controls="pannello{{ loop.index0 }}">
                        </div>
                    </div>
                    <div class="collapse contenuto-pannello" id="pannello{{ loop.index0 }}">
                        <div class="well">
                            {% if row.slot2 %}
                                {{ row.slot2|raw }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>