{% for socialImage in socialImages %}
    {% if socialImage.src|default("") %}
        <a target="_blank" href="{{ socialUrls[loop.index0]['val'] }}"><img src="{{ socialImage.src }}" alt="{{ socialImage.alt|default("") }}" /></a>
    {% endif %}
{% endfor %}

