{% extends "admin/admin-list.html.twig" %}

{% block page_title %} {% trans %} group_feature.labels.title{% endtrans %}: {% trans %} default.labels.elenco{% endtrans %} {% endblock %}

{% block pulsantiera %}
    <div class="btn-group" role="group">
        <a href="{{ path("group_feature_new") }}" class="btn btn-primary"><i class="fa fa-plus"></i> {% trans %}
            default.labels.nuovo {% endtrans %}
        </a>
    </div>
{% endblock %}


{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <table id="datatable" class="table table-striped table-bordered">
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/webtekecommerce/admin/js/group_feature.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/webtekecommerce/admin/css/group_feature.css') }}" rel="stylesheet">
{% endblock %}