<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="#" class="site_title"><i class="icon-logo_webtek"></i>
                <span>Webtek</span></a>
        </div>

        <div class="clearfix"></div>

        <div class="profile">
            <div class="profile_pic">

                <img src="{{ app.user.profilePicture }}"
                     alt="{{ app.user.nome }}" class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>{% trans %} default.labels.welcome {% endtrans %}</span>
                <h2>{{ app.user.nome }}</h2>
                <br />

                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a class="btn btn-info btn-xs" href="{{ path('dashboard', {'_switch_user': '_exit'}) }}">{% trans %}
                        default.labels.ritorna {% endtrans %}</a>
                {% endif %}

            </div>
        </div>

        <div class="clearfix"></div>

        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>{% trans %} default.labels.menu {% endtrans %}</h3>
                <ul class="nav side-menu">
                    <li><a href="{{ path('dashboard') }}"><i class="fa fa-home"></i> {% trans %}
                            default.labels.scrivania {% endtrans %}</a></li>

                    {% if is_granted('ROLE_MANAGE_USERS') or
                    is_granted('ROLE_MANAGE_LANGUAGES') or
                    is_granted('ROLE_MANAGE_TRADUZIONI') or
                    is_granted('ROLE_MANAGE_SETTINGS') or
                    is_granted('ROLE_MANAGE_LAYOUT') or
                    is_granted('ROLE_MANAGE_TEMPLATE') or
                    is_granted('ROLE_MANAGE_VETRINA_SUPER') %}

                    <li class=""><a><i class="fa fa-cogs"></i> {% trans %}
                            default.labels.amministrazione {% endtrans %} <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none;">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li><a href="{{ path('group') }}">{% trans %}
                                        default.labels.groups {% endtrans %}</a></li>
                                <li><a href="{{ path('logs') }}">{% trans %}
                                        default.labels.logs {% endtrans %}</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_USERS') %}
                                <li><a href="{{ path('operatori_list') }}">{% trans %}
                                        default.labels.operatori {% endtrans %}</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_LANGUAGES') %}
                                <li><a href="{{ path('languages_list') }}">{% trans %}
                                        languages.labels.title {% endtrans %}</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_TRADUZIONI') %}
                                <li>
                                    <a href="{{ path("translation") }}">{% trans %}
                                        default.labels.translation_menu {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_LAYOUT') %}
                                <li>
                                    <a href="{{ path("layout") }}">{% trans %}
                                        default.labels.layout_menu {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_TEMPLATE') %}
                                <li>
                                    <a href="{{ path("template") }}">{% trans %}
                                        default.labels.templates_menu {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_VETRINA_SUPER') %}
                                <li>
                                    <a href="{{ path("vetrinacat") }}">{% trans %}
                                        default.labels.vetrina_category_menu {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_SETTINGS_CATEGORY') %}
                                <li>
                                    <a href="{{ path("gruppi_settaggi") }}">{% trans %}
                                        default.labels.settings_group_menu {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_SETTINGS') %}
                                <li>
                                    <a href="{{ path("settaggi") }}">{% trans %}
                                        default.labels.settings_menu {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_FILEMANAGER') %}
                                <li>
                                    <a href="{{ path("filemanager") }}">{% trans %}
                                        default.labels.file_manager {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_GRUPPI_META') %}
                                <li>
                                    <a href="{{ path("gruppi_meta") }}">{% trans %}
                                        default.labels.meta_group {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_META') %}
                                <li>
                                    <a href="{{ path("meta") }}">{% trans %}default.labels.meta {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_EMAILTEMPLATE') %}
                                <li>
                                    <a href="{{ path("email_template") }}">{% trans %}
                                        default.labels.email_templates {% endtrans %}</a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                </ul>
                {% endif %}


                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-book"></i> {% trans %}default.labels.contenuti {% endtrans %} <span
                                    class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            {% if is_granted('ROLE_MANAGE_LAYOUT_CONTENT') %}
                                <li>
                                    <a href="{{ path("layoutcontent") }}">{% trans %}
                                        default.labels.layout_content_menu {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_CATEGORIE_GALLERY') %}
                                <li>
                                    <a href="{{ path("gallerycat") }}">{% trans %}
                                        default.labels.categorie_gallery {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_GALLERY') %}
                                <li>
                                    <a href="{{ path("gallery") }}">{% trans %}
                                        default.labels.gallery {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_PAGES') %}
                                <li>
                                    <a href="{{ path("pages_list") }}">{% trans %}
                                        default.labels.pagine {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_VETRINA') %}
                                <li>
                                    <a href="{{ path("vetrina") }}">{% trans %}default.labels.vetrina {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_CATNEWS') %}
                                <li>
                                    <a href="{{ path("newscat") }}">{% trans %}
                                        default.labels.categorie_news_menu {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if is_granted('ROLE_MANAGE_NEWS') %}
                                <li>
                                    <a href="{{ path("news") }}">{% trans %}default.labels.news {% endtrans %}</a>
                                </li>
                            {% endif %}
                            {% if bundleExists('AppartamentiBundle') %}
                                {% if is_granted('ROLE_MANAGE_APPARTAMENTI') %}
                                    <li>
                                        <a href="{{ path("appartamenti") }}">{% trans %}
                                            default.labels.appartamenti {% endtrans %}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                            {% if bundleExists('TagBundle') %}
                                {% if is_granted('ROLE_MANAGE_CATEGORIE_TAG') %}
                                    <li>
                                        <a href="{{ path("categorie_tag") }}">{% trans %}
                                            default.labels.categorie_tag {% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_TAG') %}
                                    <li>
                                        <a href="{{ path("tag") }}">{% trans %}default.labels.tags {% endtrans %}</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% if bundleExists('AziendaBundle') and (is_granted('ROLE_MANAGE_SEDI') or is_granted('ROLE_MANAGE_DIPENDENTI')) %}
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-building"></i> {% trans %}default.labels.azienda {% endtrans %}
                                <span
                                        class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                {% if is_granted('ROLE_MANAGE_SEDI') %}
                                    <li>
                                        <a href="{{ path("sedi") }}">{% trans %}
                                            default.labels.sedi{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_DIPENDENTI') %}
                                    <li>
                                        <a href="{{ path("dipendenti") }}">{% trans %}
                                            default.labels.dipendenti{% endtrans %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                {% if bundleExists('OfferteBundle') %}
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-eur"></i> {% trans %}default.labels.offerte {% endtrans %}
                                <span
                                        class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                {% if is_granted('ROLE_MANAGE_OFFERTE') %}
                                    <li>
                                        <a href="{{ path("offerte") }}">{% trans %}
                                            default.labels.gestione_offerte{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_OFFERTE_CAT') %}
                                    <li>
                                        <a href="{{ path("offertecat") }}">{% trans %}
                                            default.labels.categorie_offerte{% endtrans %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                {% endif %}

                {% if bundleExists('WebtekEcommerceBundle') %}
                    <ul class="nav side-menu">
                        <li>
                            <a><i class="fa fa-shopping-cart"></i> {% trans %}default.labels.ecommerce {% endtrans %}
                                <span
                                        class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                {% if is_granted('ROLE_MANAGE_SETUP_ECOMMERCE') %}
                                    <li>
                                        <a href="{{ path("setup_ecommerce") }}">{% trans %}
                                            default.labels.setup_ecommerce{% endtrans %}</a>
                                    </li>
                                {% endif %}

                                {% if is_granted('ROLE_MANAGE_ECOMMERCE_ORDERSSTATUS') %}
                                    <li>
                                        <a href="{{ path("orders_status") }}">{% trans %}
                                            default.labels.orders_status{% endtrans %}</a>
                                    </li>
                                {% endif %}

                                {% if is_granted('ROLE_MANAGE_ANAGRAFICA') %}
                                    <li>
                                        <a href="{{ path("anagrafica") }}">{% trans %}
                                            default.labels.clienti{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_CATPRODUCTS') %}
                                    <li>
                                        <a href="{{ path("products_categories") }}">{% trans %}
                                            default.labels.product_categories{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_ECOMMERCE_PRODUCTS') %}
                                    <li>
                                        <a href="{{ path("product") }}">{% trans %}
                                            default.labels.ecommerce_products{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_ECOMMERCE_FAST_PRODUCTS') %}
                                    <li>
                                        <a href="{{ path("magazzino") }}">{% trans %}
                                            default.labels.magazzino{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_ECOMMERCE_ORDER') %}
                                    <li>
                                        <a href="{{ path("order") }}">{% trans %}
                                            default.labels.order{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_ECOMMERCE_COUPON') and ecommerce.enable_coupons %}
                                    <li>
                                        <a href="{{ path("coupon") }}">{% trans %}
                                            default.labels.coupons{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_ECOMMERCE_FEATURES') and ecommerce.manage_features %}
                                    <li>
                                        <a href="{{ path("group_feature") }}">{% trans %}
                                            default.labels.ecommerce_group_feature{% endtrans %}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path("feature") }}">{% trans %}
                                            default.labels.ecommerce_features{% endtrans %}</a>
                                    </li>
                                {% endif %}

                                {% if  ecommerce.manage_attributes %}
                                    {% if is_granted('ROLE_MANAGE_ECOMMERCE_TYPES') %}
                                        <li>
                                            <a href="{{ path("product_type") }}">{% trans %}
                                                default.labels.product_type{% endtrans %}</a>
                                        </li>
                                    {% endif %}
                                    {% if is_granted('ROLE_MANAGE_ECOMMERCE_ATTRIBUTES') %}
                                        <li>
                                            <a href="{{ path("group_attribute") }}">{% trans %}
                                                default.labels.ecommerce_group_attributes{% endtrans %}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path("attribute") }}">{% trans %}
                                                default.labels.ecommerce_attributes{% endtrans %}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_BRANDS') and ecommerce.manage_brands %}
                                    <li>
                                        <a href="{{ path("brands") }}">{% trans %}
                                            default.labels.product_brands{% endtrans %}</a>
                                    </li>
                                {% endif %}


                                {% if is_granted('ROLE_MANAGE_ECOMMERCE_DELIVERY') %}
                                    <li>
                                        <a href="{{ path("delivery") }}">{% trans %}
                                            default.labels.delivery{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_PAYMENTS_METHODS') %}
                                    <li>
                                        <a href="{{ path("metodi-pagamento-ecommerce") }}">{% trans %}
                                            default.labels.payments_ecommerce{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_SHIPMENT_METHODS') and 0 %}
                                    <li>
                                        <a href="{{ path("metodi-spedizione-ecommerce") }}">{% trans %}
                                            default.labels.shipments_ecommerce{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_ECOMMERCE_MARKETPLACE') and ecommerce.manage_marketplaces %}
                                    <li>
                                        <a href="{{ path("market_place") }}">{% trans %}
                                            default.labels.market_place{% endtrans %}</a>
                                    </li>
                                {% endif %}

                                {% if is_granted('ROLE_MANAGE_ECOMMERCE_LISTINO') %}
                                    <li>
                                        <a href="{{ path("listino") }}">{% trans %}
                                            default.labels.listino{% endtrans %}</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGE_TAX_ECOMMERCE') %}
                                    <li>
                                        <a href="{{ path("tax_ecommerce") }}">{% trans %}
                                            default.labels.tax_ecommerce{% endtrans %}</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </li>
                    </ul>
                {% endif %}


            </div>
        </div>
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="{{ path('security_logout') }}">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
