<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav class="">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{{ app.user.profilePicture }}" alt=""/>
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a href="{{ path('operatori_profile') }}"> {% trans %}
                                default.labels.profile {% endtrans %}</a></li>
                        <li><a href="{{ path('security_logout') }}"><i class="fa fa-sign-out pull-right"></i>{% trans %}
                                default.labels.esci {% endtrans %} </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->