{% trans_default_domain "public" %}

{#<div class="container-fluid">#}
    {#<div class="row">#}
        {#<div class="col-md-12 titolo-wrap">#}
            {#<h1 class="titolo">{% trans %}ecommerce.labels.wishlist{% endtrans %}</h1>#}
        {#</div>#}
    {#</div>#}
{#</div>#}

<section class="container-fluid container-limitato lista-prodotti lista-prodotti-3col">
    <div class="row">

        {% if data.pagination|length %}
            <div class="col-sm-12">
                <div class="totalCount">
                    <strong>{{ data.pagination.getTotalItemCount }}</strong> prodotti
                </div>
            </div>
            {% for Prodotto in data.pagination %}
                {% include "public/layouts/"~generali.layout~"/includes/prodotto.twig" with {"Prodotto":Prodotto} %}
            {% endfor %}
        {% else %}
            <div class="alert alert-danger">
                &nbsp;{% trans %}product.labels.nessun_prodotto_wishlist{% endtrans %}
            </div>
        {% endif %}
    </div>
</section>
