.four_columns_text_slider{
    overflow: hidden;

  .icon{
    margin-bottom:20px;
  }
  .slick-track{
    background-color:white;
  }
  .mac{
    position:absolute;
    top:-9%;
    left:50%;
    transform: translateX(-50%);
    width:43.7%;
    z-index:9;
    pointer-events: none;
    img{
      width:100%;
    }
  }
  .slider-mac{
  background-color:$color2g;
  padding-bottom:100px;
  }
  .slider .slick-slide:not(.slick-center){
    opacity:0.5;
  }

  .slider img{
    // height:410px;
    width:100%;
  }

  strong{
    font-family:"montserratsemibold";
    color:$text1g;
  }

  text-align:center;
  background-color:$color1g;
  .prima-parte{
    padding-left:15%;
    padding-right:15%;
    padding-top:80px;
  }
  .immagine{
    padding-left:20px;
    padding-right:20px;
  }
  .img-big{
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
  .title-small{
    font-family:"montserratsemibold";
    color:$text6g;
    font-size:24px;
  }
  .title-big{
    color:$text1g;
    font-size:30px;
    font-family:"montserratlight";
    margin-bottom:40px;
  }
  .text{
    color:$text5g;
    font-family:"montserratlight";
    font-size:16px;
    line-height:30px;
    margin-bottom:0;
  }
  .title-icon{
    color:$text1g;
    font-family: "montserratsemibold";
    font-size:14px;
  }
  .text-icon{
    color:$text5g;
    font-family:"montserratlight";
    font-size:14px;
    padding:0 20px;
  }

  .pannello-icone{
    margin-top:100px;
    margin-bottom:140px;

  }
.slick-dots li button:before {
      opacity: 1 !important;
  }
  .slick-dots li button:before {
      color: $color1;
  }
  .slick-dots li.slick-active button:before {
    color: $color1;
    background-color:$color1;
}
.slick-dots li.slick-active button:before {
    color: $color1;
}
  .slick-dots {
    position: absolute;
    bottom:auto;
    display: block;
    width: 100%;
    padding: 0;
    bottom: -100px;
    margin: 0;
    list-style: none;
    text-align: center;
    li{
      height:30px;
      width:30px;
      button{
        height:30px;
        width:30px;
      }
    }
}

.slick-dots li.slick-active button:before {
    opacity: 1;
}
.slick-dots li button:before {
    font-family: '';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 0;
    width: 30px;
    height: 3px;
    content: '';
    background-color:$color8g;
    text-align: center;
    opacity: 0.3;
    color: $color1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
}

@media (max-width:1300px){
  .four_columns_text_slider{
    text-align:center;
    background-color:$color1g;
    .prima-parte{
      padding-left:10%;
      padding-right:10%;
      padding-top:80px;
    }
  }
}

@media (max-width:1200px){
  .four_columns_text_slider{
    .pannello-icone{
      margin-top:60px;
    }
    .prima-parte{
      padding-left:8%;
      padding-right:8%;
      padding-top:60px;
    }
    .title-small{
      font-size:22px;
    }
    .title-big{
      font-size:28px;
      margin-bottom:40px;
    }
    .text{
      font-size:16px;
      line-height:30px;
      margin-bottom:0;
    }
    .title-icon{
      font-size:14px;
    }
    .text-icon{
      font-size:13px;
    }
  }
}

@media (max-width:991px){
  .four_columns_text_slider{
    .prima-parte{
      margin-top:40px;
      padding-left:5%;
      padding-right:5%;
    }
    .title-big{
      margin-bottom:20px;
      font-size:24px;
    }
    .title-small{
      font-size:18px;
    }
    .text{
      font-size:15px;
      line-height:25px;
    }
    .pannello-icone{
      margin-top:40px;
      margin-bottom:60px;
      &>.col-xs-6:nth-child(2),&>.col-xs-6:last-child{
        margin-top:20px;
      }
    }
  }
}


@media (max-width:900px){
      .four_columns_text_slider{
        .prima-parte{
          padding-top:40px;
        }
        .slider .slick-slide:not(.slick-center){
          opacity:1;
        }
        .slider .slick-slide.slick-center{
          opacity:0.5;
        }
  .mac{
    width:100%;
    left:0;
    top:-9%;
    transform:none;
  }
}
}

@media (max-width:600px){
    .four_columns_text_slider{
      .prima-parte{
        padding-left:5px;
        padding-right:5px;
        margin-top:0;

      }
      .title-big{
        font-size:20px;
      }
      .text{
        font-size:14px;
        line-height:23px;
      }
      .title-small{
        font-size:16px;
      }
      .title-icon{
        font-size:13px;
      }
      .text-icon{
        font-size:13px;
        padding:0 20px;
      }
    }
}

@media (max-width:450px){
    .four_columns_text_slider{
      .pannello-icone{
        margin-top:20px;
      }
      .pannello-icone>.col-xs-6{
        width:100%;
        margin-top:20px !important;
      }
    }
}
