<section class="four_columns_text_slider">
    <div class="prima-parte">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="title-small" data-aos="zoom-in-up" data-aos-duration="1000">{{ titolo.val|raw }}</h3>
                    <h3 class="title-big" data-aos="zoom-in-up" data-aos-delay="300" data-aos-duration="1000">{{ sottotitolo.val|raw }}</h3>
                    <p class="text" data-aos="zoom-in-up" data-aos-delay="600" data-aos-duration="1000">{{ testo.val|raw }}</p>
                    <div class="container">
                        <div class="row pannello-icone">
                            <div class="col-xs-6 col-md-3" data-aos="zoom-in-right" data-aos-duration="1000">
                                <img class="icon" src="{{ column1_icon.src }}" alt="{{ column1_icon.alt|default("") }}">
                                {% if column1_title.val %}
                                    <h3 class="title-icon">{{ column1_title.val }} </h3>{% endif %}
                                {% if column1_text.val %}<p class="text-icon">{{ column1_text.val|raw }}</p>{% endif %}
                            </div>
                            <div class="col-xs-6 col-md-3" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="250">
                                <img class="icon" src="{{ column2_icon.src }}" alt="{{ column2_icon.alt|default("") }}">
                                {% if column2_title.val %}
                                    <h3 class="title-icon">{{ column2_title.val }} </h3>{% endif %}
                                {% if column2_text.val %}<p class="text-icon">{{ column2_text.val|raw }}</p>{% endif %}
                            </div>
                            <div class="clearfix visible-xs-block visible-sm-block"></div>
                            <div class="col-xs-6 col-md-3" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="500">
                                <img class="icon" src="{{ column3_icon.src }}" alt="{{ column3_icon.alt|default("") }}">
                                {% if column3_title.val %}
                                    <h3 class="title-icon">{{ column3_title.val }} </h3>{% endif %}
                                {% if column3_text.val %}<p class="text-icon">{{ column3_text.val|raw }}</p>{% endif %}
                            </div>
                            <div class="col-xs-6 col-md-3" data-aos="zoom-in-right" data-aos-duration="1000" data-aos-delay="750">
                                <img class="icon" src="{{ column4_icon.src }}" alt="{{ column4_icon.alt|default("") }}">
                                {% if column4_title.val %}
                                    <h3 class="title-icon">{{ column4_title.val }} </h3>{% endif %}
                                {% if column4_text.val %}<p class="text-icon">{{ column4_text.val|raw }}</p>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-mac" data-aos="fade-up" data-aos-duration="1000">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="mac">
                        <img src="{{ mac.src }}" alt="{{ mac.alt|default("") }}">
                    </div>
                    <div class="slider">
                        {% for slide in immagini_slider if slide.src != "" %}
                            <div><img src="{{ slide.src }}" alt="{{ slide.alt|default("") }}"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
