<section class="only_title_text">
  <div class="container-fluid">
    <div class="row align-center">
      <div class="col-md-6 col-md-offset-3">
        <h3 class="title_section" data-aos="fade-in" data-aos-duration="800" data-aos-anchor-placement="top-bottom">{{ titolo.val|raw }}</h3>
        <p class="text_section" data-aos="fade-in" data-aos-duration="800" data-aos-anchor-placement="top-bottom">{{ testo.val|raw }}</p>
      </div>
    </div>
  </div>
</section>
