.only_title_text{
  background-color:$color12;
  padding:130px 0;
  .align-center{
    text-align: center;
  }
  .title_section{
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 0;
    color:$color11;
    font-family:'Merriweather', serif;
    font-weight: 400;
    strong{
      font-family: "alana";
      color:$color5;
      font-size: 65px;
      font-weight: 400;
    }
  }
  .text_section{
    font-size: 15px;
    color:$color1;
    margin:0px 25px;
    font-family:'Merriweather', serif;
    font-weight: 400;
    line-height: 30px;
  }
}

@media screen and (max-width:991px){
  .only_title_text{
    .text_section {
      font-size: 14px;
      margin: 0px 20px;
      line-height: 23px;
    }
    .title_section {
      font-size: 30px;
      strong{
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width:640px){
  .only_title_text{
    padding: 50px 0;
    .text_section {
      font-size: 13px;
      margin: 0px 15px;
      line-height: 21px;
    }
    .title_section {
      font-size: 25px;
      strong{
        font-size: 45px;
      }
    }
  }
}
