text-align:center;
padding:40px 0;
p{
    font-size:$text4;
    font-weight:$regular;
    color:$color7;
    margin:0 15px;
}

@media screen and (max-width:1199px) {
    p{
        font-size:font-percentage($text4, 0.9);
    }
}

@media screen and (max-width:767px) {
    p{
        font-size:font-percentage($text4, 0.8);
    }
}
