.tabs_with_text_and_images{
  padding:50px 0 0 0;
  background-repeat: repeat-x;
  height: calc(100% - 80px);
  min-height: calc(100% - 80px);
  overflow: hidden;
  .btn_desktop{
    float:left;
  }
  .btn_cell{
    display: none;
  }
  .container_sezioni,
  .row_sezioni{
    height: 100%;
  }
  .tab-pane{
    height: 100%;
    .row{
      height: 100%;
    }
  }
  .tab-content{
    height: calc(100% - 90px);
  }
  .scopri_button{
    font-size:14px;
    border-color:$color4g;
    border-width: 3px;
    font-family: 'montserratsemibold' !important;
    color:$text5n;
    padding: 12px 25px;
    margin-top:40px;
    transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -webkit-transition: 300ms;
    @include no-outline();
    &:hover,
    &:focus,
    &:active{
      color:white;
      background-color: $color4g !important;
      border-color: $color4g !important;
      @include no-outline();
    }
  }
  .titolo_servizio{
    color:$text2g;
    font-size: 48px;
    text-align: left;
    margin: 0;
    font-family: 'montserratregular';
  }
  .sottotitolo_servizio{
    color:$text2n;
    text-align: left;
    font-size: 24px;
    font-family: 'montserratlight';
    padding-top: 25px;
    margin: 0;
  }
  .testo_servizio{
    color:$text2g;
    font-family: 'montserratregular';
    text-align: left;
    padding-top: 25px;
    margin: 0;
    line-height: 30px;
  }
  .col_sfondo_servizi{
    @include background-cover();
    opacity:0;
    transition:700ms ease-out;
    -moz-transition:700ms ease-out;
    -o-transition:700ms ease-out;
    -webkit-transition:700ms ease-out;
    overflow: hidden;
    height: 100%;
    img{
      padding-top:60px;
      position: absolute;
      bottom: 0;
      height: 100%;
    }
    .center_img{
      float:none;
      left:50%;
      transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
  }
  .col_testo_servizi{
    opacity:0;
    transition:700ms ease-out;
    -moz-transition:700ms ease-out;
    -o-transition:700ms ease-out;
    -webkit-transition:700ms ease-out;
    height: 100%;
    display: table;
  }
  .wrapper_testo_servizi{
    display: table-cell;
    vertical-align: middle;
  }
  .animation_dx{
    transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    .wrapper_testo_servizi{
      width: 100%;
      padding: 0 20% 0 10%;
    }
    img{
      left:0;
    }
  }
  .animation_sx{
    transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    .wrapper_testo_servizi{
      width: 100%;
      padding: 0 10% 0 20%;
    }
    img{
      right:0;
    }
  }
  .sfondo_grafica{
    background-image: url('../images/home/grafica.png');
  }
  .show_block{
    transform: translate(0%);
    -moz-transform: translate(0%);
    -o-transform: translate(0%);
    -webkit-transform: translate(0%);
    opacity:1;
  }
  .nav-tabs{
    border:none !important;
    padding-bottom: 50px;
    display: table;
    margin: auto;
    li{
      display: table-cell;
      background-color: transparent !important;
      .line_green{
        width: 50%;
        border-top: 2px solid #d2d82a;
        margin: auto;
        display: none;
      }
    }
    .active{
      a,.testo_link{
        color:$text2g !important;
        background-color: transparent !important;
      }
      .line_green{
        display: block;
      }
    }
    a ,.testo_link{
      cursor: pointer !important;
      border:none !important;
      color:$text1n !important;
      font-family: 'montserratsemibold' !important;
      &:hover{
        color:$text2g !important;
        background-color: transparent !important;
      }
    }
  }
}

@media screen and (max-width:1500px){
  .tabs_with_text_and_images{
    .sottotitolo_servizio {
      font-size: 20px;
      padding-top: 15px;
    }
    .testo_servizio {
      padding-top: 20px;
      line-height: 25px;
    }
    .titolo_servizio {
      font-size: 40px;
    }
  }
}

@media screen and (max-width:1300px){
  .tabs_with_text_and_images{
    .nav-tabs{
      .testo_link{
        font-size: 13px;
      }
      li{
        a{
          padding: 10px 10px;
        }
      }
    }
    .sottotitolo_servizio {
      font-size: 18px;
      padding-top: 10px;
    }
    .testo_servizio {
      padding-top: 15px;
      line-height: 22px;
    }
    .titolo_servizio {
      font-size: 32px;
    }
    .wrapper_testo_servizi{
      padding: 0 10% 0 10%;
    }
  }
}

@media screen and (max-width:991px){
  .tabs_with_text_and_images{
    padding: 50px 0 50px 0;
    height: auto;
    min-height: auto;
    text-align: center;
    .btn_cell{
      display: block;
      margin-bottom: 50px;
      margin:auto;
    }
    .testo_link,
    .line_green,
    .btn_desktop{
      display: none !important;
    }
    .wrapper_testo_servizi{
      padding: 0 10% 0 10% !important;
    }
    .titolo_servizio,
    .sottotitolo_servizio,
    .testo_servizio{
      text-align: center;
    }
    .titolo_servizio {
      font-size: 35px;
    }
    .sottotitolo_servizio {
      font-size: 20px;
      padding-top: 15px;
    }
    .testo_servizio{
      line-height: 23px;
    }
    .col_sfondo_servizi{
      img{
        position: static;
        height: auto;
        width: 80%;
        margin-left: auto;
        transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        -webkit-transform: none !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
      }
    }
    .nav-tabs{
      padding-bottom: 25px;
      a{
        width: 10px;
        height: 10px;
      }
    }
    .button_slider_services{
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
      &:before{
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 10px;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: black;
        -webkit-font-smoothing: antialiased;
        font-size: 18px !important;
        content: "" !important;
        border-radius: 10px;
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background-color: #363839;
        opacity: .55;
      }
    }
    .active{
      .button_slider_services{
        &:before{
          background-color: white;
          border: 3px solid #baca42;
          width: 15px;
          height: 15px;
          margin-top: -1.5px;
        }
      }
    }
  }
}

@media screen and (max-width:640px){
  .tabs_with_text_and_images{
    .sottotitolo_servizio {
      font-size: 15px;
      padding-top: 10px;
    }
    .titolo_servizio {
      font-size: 20px;
    }
    .testo_servizio {
      line-height: 20px;
      font-size: 13px;
    }
    .wrapper_testo_servizi{
      padding: 0 5% 0 5% !important;
    }
  }
}

@media screen and (max-height:720px){
  .tabs_with_text_and_images{
    min-height: 635px;
  }
}
