
  height: 60%;
.headerImgWithImgBottom {
  overflow: hidden;
  position: relative;
  height: 100%;
  .main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .bottom-img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  @media (min-width: 1921px) {
    .bottom-img {
      width: 100%;
    }
  }
  .link {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}


