$color1:#1c3a64 !default;
$color2:#009900 !default;
$color3:#ff9c00 !default;
$color5:#161618 !default;
$color6:#6e6e6e !default;
$color7:#fff !default;
$color8:#000 !default;
$color9:#8b8b8b !default;
$color10:#f72020 !default;
$color11:#e5e5e5 !default;
$color12:#9ba2b3 !default;
$color13:#e1e1e1 !default;
$color14:#7b7b7b !default;
$color15:#6b84a7 !default;
$color16:#efefef !default;
$color17:#c5c5c5 !default;

$color1:#fff !default;
$color12:#231E1C !default;
$color19:#9A9A9A !default;
$textsize14:14px !default;
$textsize18:18px !default;
$font-family1:'Roboto Slab', serif !default;
$fontweightRegular:400 !default;

.module-container{
    background-color:transparent;
    padding:10px;
    position:relative;
    width:100%;
    margin-bottom:30px;
    border:1px solid $color19;
    input{
        border:none;
        font-family:$font-family1;
        font-weight:$fontweightRegular;
        color:$color12;
        background-color:transparent;
        font-size:$textsize14;
        outline:none;
        width:100%;
    }
    i{
        color:$color19;
        cursor:pointer;
        font-size:$textsize18;
        position:absolute;
        top:50%;
        right:10px;
        transform:translateY(-50%);
    }
}
