<div class="sezione titolo-icona light">
    <img src="{{ logo.src | default("") }}" alt="{{ logo.alt | default("") }}" data-aos="zoom-in" data-aos-duration="1200">
    <h2>{{ slogan.val| default("") }}</h2>
</div>
