{% trans_default_domain "public" %}

<section class="tabs_with_text_and_images" style="" id="">
    <div class="container-fluid container_sezioni">
        <div class="row row_sezioni align-center">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                {% if data.error %}
                    {{ data.error }}
                {% else %}
                    {% for  slide in data.slides %}
                        <li role="presentation" class="{% if loop.first %}active{% endif %} lista_slider">
                            <a href="#{{ slide.slug }}" aria-controls="{{ slide.slug }}" role="tab" data-toggle="tab">
                                <div class="testo_link">{{ slide.titolo }}</div>
                                <div class="button_slider_services"></div>
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                {% if data.error %}
                    {{ data.error }}
                {% else %}
                    {% for  slide in data.slides %}
                        <div role="tabpanel" class="tab-pane fade{% if loop.first %} in active{% endif %}" id="{{ slide.slug }}">
                            <div class="row">
                                <div class="col-md-6 animation_sx col_testo_servizi">
                                    <div class="wrapper_testo_servizi">
                                        <h3 class="titolo_servizio">{{ slide.titolo }}</h3>
                                        <p class="sottotitolo_servizio">{{ slide.sottotitolo }}</p> <!-- FACOLTATIVO -->
                                        <div class="testo_servizio">
                                            {{ slide.testo|raw }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 animation_dx col_sfondo_servizi">
                                    <img class="padding_img_servizi" src="{{ slide.image.src }}" alt="{{ slide.image.alt }}">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
