<div class="sliderTitleText ">
    <div class="container-fluid {% if mirror.val %}mirrored {% endif %}">
        <div class="row">
            <div class="bgcolor"></div>
            {% set rand=random() %}
            {% if not mirror.val %}

                <div class="col-md-5 col-md-push-7 colonna-testo match">
                    <h3 class="titolo">
                        {{ titolo.val }}
                    </h3>
                    <p class="testo">
                        {{ testo.val|raw }}
                    </p>
                </div>
                <div class="col-md-7 col-md-pull-5 colonna-slider match">
                    <div class="slider-wrap" data-aos="fade-right" data-aos-duration="1000">
                        <button type="button" class="slick-successivo"><img src="{{ freccia_dx.src }}"></button>
                        <button type="button" class="slick-precedente"><img src="{{ freccia_sx.src }}"></button>
                        <div class="slider">
                            {% if data.error %}
                                {{ data.error }}
                            {% else %}
                                {% for  slide in data.slides %}
                                    <a class="slide" href="{{ slide.image.src }}" data-lightbox="slider{{ rand }}" data-title="{{ slide.titolo }}">
                                        <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}">
                                        <div class="hover-wrapper">
                                            <div class="wrappone">
                                                <div class="hover-lente">
                                                    {% if img_lente.src %}
                                                        <img src="{{ img_lente.src }}">
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>

                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% else %}
                <div class="col-md-5 colonna-testo match">
                    <h3 class="titolo">
                        {{ titolo.val }}
                    </h3>
                    <p class="testo">
                        {{ testo.val|raw }}
                    </p>
                </div>
                <div class="col-md-7 colonna-slider match">
                    <div class="slider-wrap" data-aos="fade-right" data-aos-duration="1000">
                        <button type="button" class="slick-successivo"><img src="{{ freccia_dx.src }}"></button>
                        <button type="button" class="slick-precedente"><img src="{{ freccia_sx.src }}"></button>
                        <div class="slider">
                            {% if data.error %}
                                {{ data.error }}
                            {% else %}
                                {% for  slide in data.slides %}
                                    <a class="slide" href="{{ slide.image.src }}" data-lightbox="slider{{ rand }}" data-title="{{ slide.titolo }}">
                                        <img src="{{ slide.image.src }}" alt="{{ slide.image.alt }}">
                                        <div class="hover-wrapper">
                                            <div class="wrappone">
                                                <div class="hover-lente">
                                                    {% if img_lente.src %}
                                                        <img src="{{ img_lente.src }}">
                                                    {% endif %}
                                                </div>
                                            </div>

                                        </div>

                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                </div>
            {% endif %}

            {% if img_separatore.src %}
                <img class="img_separatore" src="{{ img_separatore.src }}">
            {% endif %}
        </div>

    </div>


</div>

