.sezione.testo-parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  img {
    width: 100%;
  }
  .layer {
    background-size: cover;
    background-position: 50% -70%;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
  }
}

@media screen and (max-width: 767px) {
  .sezione.testo-parallax {
    margin: 50px 0;
  }
}
