<div class="sezione testo-parallax" style="background-image:url('{{ img1.src }}');">
  <img src="{{ img2.src }}" alt="{{ img2.alt|default("") }}" />
  <div class="layer" data-depth="0.20" style="background-image:url('{{ img3.src }}');"></div>
  <div class="layer" data-depth="0.20" style="background-image:url('{{ img4.src }}');"></div>
</div>
