  <section class="two_blocks_text_image_right">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col_text matcheight_plugin" data-aos="fade-right" data-aos-duration="1000">
          <div class="wrapper_text">
            <h2 class="title_section">{{ titolo.val|raw }}</h2>
            <p class="text_section">{{ testo.val|raw }}</p>
          </div>
        </div>
        <div class="col-md-3 col_img matcheight_plugin" data-aos="fade-left" data-aos-duration="1000">
          <img class="img-responsive img_right" src="{{ immagine.src }}">
        </div>
      </div>
    </div>
  </section>
