.two_columns_contacts{

    .two_columns_contacts_main{
        & > [class*='col-']{
            height:700px;
        }

        & > [class*='col-']:last-child{
            background-color:$color1g;
            color:$text1g;
            padding:80px;
        }

        .title-tcc{
            margin-top:0;
            color:#b1b1b1;
            font-family:"montserratsemibold";
            margin-bottom:80px;
        }

        #mappa{
            padding:0;
        }
        .media{
            margin-top:30px;
        }
        .media-body{
            padding-left:5px;
        }
        .nome-indirizzo{
            color:$text1g;
            font-size:16px;
            font-family:"montserratregular";
            margin-bottom:0;
        }
        .indirizzo{
            color:$text5g;
            font-family:"montserratlight";
            font-size:16px;
        }

        .reparti{
            margin-top:10px;
        }
        iframe{
            width:100%;
            height:100%;
            border:0;
            margin:0;
            padding:0;
        }
        .follows{
            margin-top:60px;
            font-family:'montserratregular';
            color:$text5g;
            font-size:16px;
        }

        .icons-follows{
            list-style:none;
            margin-left:20px;
            padding-left:0;
            display:inline-block;
            li{
                display:inline-block;
                margin-left:4px;
            }
        }

    }

}

@media (max-width:1600px) {
    .two_columns_contacts{

        .two_columns_contacts_main{

            & > [class*='col-']:last-child{
                padding:40px;
                padding-top:60px;
            }

            .title-tcc{
                margin-top:0;
                color:#b1b1b1;
                font-family:"montserratsemibold";
                margin-bottom:80px;
            }
        }
    }
}

@media (max-width:1550px) {
    .two_columns_contacts{

        .two_columns_contacts_main{
            & > [class*='col-']:last-child{
                padding:30px;
                padding-top:60px;
            }

            .title-tcc{
                margin-top:0;
                color:#b1b1b1;
                font-family:"montserratsemibold";
                margin-bottom:80px;
            }
        }
    }
}

@media (min-width:991px) and (max-width:1400px) {
    .two_columns_contacts{
        .two_columns_contacts_main{
            .reparti .col-xs-5{
                width:100%;
            }
            .reparti .col-xs-7{
                width:100%;
            }
        }
    }
}

@media (max-width:991px) {
    .two_columns_contacts{
        .two_columns_contacts_main{

            .follows{
                margin-top:30px;
            }
            .title-tcc{
                margin-bottom:40px;
            }
            & > .col-md-6:first-child{
                height:400px !important;
            }
            & > .col-md-6:last-child{
                height:auto !important;
                padding:50px 20px;
            }
        }

        .title-tcc{
            text-align:center;
        }

    }
}

@media (max-width:700px) {
    .two_columns_contacts{
        .two_columns_contacts_main{
            .media{
                margin-top:15px;
            }
            .nome-indirizzo{
                font-size:15px;
                margin-bottom:0;
            }
            .indirizzo{
                font-size:15px;
            }
        }
    }
}

@media (max-width:670px) {
    .two_columns_contacts{
        .two_columns_contacts_main{
            .nome-indirizzo{
                font-size:14px;
                margin-bottom:0;
            }
            .indirizzo{
                font-size:14px;
            }
            .title-tcc{
                font-size:20px;
            }
            & > .col-md-6:last-child{
                padding:40px 15px;
            }

            .reparti .col-xs-5{
                width:100%;
            }
            .reparti .col-xs-7{
                width:100%;
            }
        }
    }
}
