$color2: #F39200 !default;
$color3: #878787 !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;

.sfondo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

& {
  padding: 40px 0;
  text-align: center;
}

.slider {
  margin-top: 50px;
}

.titolo {
  position: relative;
  text-align: center;
  display: inline-block;
  margin: 30px 20px;
  padding: 5px 0;
  color: $color1;
  font-size: 48px;
  font-weight: 500;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00935d+0,f6a905+100 */
    background: #00935d; /* Old browsers */
    background: -moz-linear-gradient(left, #00935d 0%, #f6a905 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #00935d 0%, #f6a905 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #00935d 0%, #f6a905 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00935d', endColorstr='#f6a905', GradientType=1); /* IE6-9 */
  }
}

.slick-prev, .slick-next {
  z-index: 2;
  width: auto;
  height: auto;
  &::before {
    font-family: 'Glyphicons Halflings';
    font-size: 32px;
    color: $color1;
  }
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-slider {
  padding-left: 30px;
  padding-right: 30px;
}

.slick-prev {
  &::before {
    content: "\e257";
  }
}

.slick-next {
  &::before {
    content: "\e258";
  }
}

.lista-prodotti-4col, .lista-prodotti-3col {
  margin-top: 10px;
  margin-bottom: 40px;
  .colonna-prodotto:first-child {
    padding-left: 15px;
  }
  .colonna-prodotto:last-child {
    padding-right: 15px;
  }
  .colonna-prodotto {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 14px;
  }

  @media(max-width: 540px) {
    .colonna-prodotto {
      width: 100%;
    }
  }
}

//ADATTAMENTO
@media(max-width: 767px) {
  .titolo {
    font-size: 38px;
  }
}

@media(max-width: 600px) {
  .titolo {
    font-size: 35px;
  }
}

@media(max-width: 500px) {
  .titolo {
    font-size: 30px;
  }
}