.sezione.box-doppio-logo-invertito {
  padding: 0;
  .col-logo {
    background-color: $color4m;
    display: block;
  }
  .col-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .col-logo, .col-img {
    padding:0;
    height: 600px;
  }
  .box-logo {
    padding: 10%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    img {
      width: 250px;
      height: auto;
      object-fit:contain;
      margin-bottom: 50px;
    }
    .btn-default {
      @include button-template($text8m,2px);
      display: inline-block;
      margin: 0 auto;
      padding: 12px 20px;
    }
  }
}

@media screen and (max-width:1199px) {
  .sezione.box-doppio-logo-invertito .col-text .box-testo {
    padding: 0 10%;
  }
}

@media screen and (max-width:767px) {
  .sezione.box-doppio-logo-invertito .col-xs-6 {
    height: 300px;
  }
  .sezione.box-doppio .col-text .box-testo {
    padding: 20px 5%;
    text-align: center;
  }
  .sezione.box-doppio-logo-invertito .col-logo {
    .box-logo {
      img {
      width: 150px;
      margin-bottom: 20px;
      }
      .btn-default {
        padding: 8px 12px;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width:499px) {
  .sezione.box-doppio-logo-invertito .col-xs-6 {
    width: 100%;
  }
  .sezione.box-doppio-logo-invertito .col-logo {
    .box-logo {
      img {
      width: 150px;
      margin-bottom: 20px;
      }
    }
  }
}
