<div class="sezione gallery-sinistra" id="{{ titolo.val|slugify }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-lg-9">
                <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
                <div class="fotorama" data-nav="thumbs" data-width="100%">
                    {% for  img in images %}
                        {% if img.src|default("") %}
                            <img alt="{{ img.alt|default("") }}" src="{{ img.src }}" />{% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-12 col-lg-3">
                <h2>{{ titolo.val }}</h2>
                <div class="specs-list">

                    <ul>
                        {% set sum = 0 %}
                        {% for titolo in services %}
                            {% set icona = attribute(icone, loop.index0) %}
                            {% if titolo.val %}
                                <li data-aos="fade-left" data-aos-duration="1000" data-aos-delay="{{ sum }}">
                                    {% if icona.src|default("") %}
                                        <img src="{{ icona.src }}" alt="{{ icona.alt | default("") }}" />
                                    {% endif %} {{ titolo.val }}
                                </li>
                                {% set sum = sum + 200 %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>