.modulo_menu_centered{
  .logo_cell{
    display: none;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .lista_menu.active{
    a{
      color:$color5 !important;
      &:hover{
        color:$color5 !important;  
      }
      &:after{
        background:$color5 !important;
        width: 100%;
      }
    }
  }
  .overlay{
      position:fixed;
      background: rgba(0, 0, 0, 0.80);
      top:0;
      left:0;
      width:100%;
      height:0%;
      opacity:0;
      visibility:hidden;
      transition:opacity .35s, visibility .35s, height .35s;
      overflow:hidden;
      z-index:12;

      &.open{
          opacity:1;
          visibility:visible;
          height:100%;
          padding-top:70px;
          li{
              animation:fadeInRight .5s ease forwards;
              animation-delay:.35s;

              &:nth-of-type(2){
                  animation-delay:.4s;
              }
              &:nth-of-type(3){
                  animation-delay:.45s;
              }
              &:nth-of-type(4){
                  animation-delay:.50s;
              }
              &:nth-of-type(5){
                  animation-delay:.55s;
              }
              &:nth-of-type(6){
                  animation-delay:.60s;
              }
          }
      }
      nav{
          position:relative;
          height:70%;
          top:45%;
          transform:translateY(-50%);
          -moz-transform:translateY(-50%);
          -webkit-transform:translateY(-50%);
          -o-transform:translateY(-50%);
          font-size:46px;
          font-family:'Merriweather', serif;
          font-weight: 400;
          font-weight:400;
          text-align:center;
      }
      ul{
          list-style:none;
          padding:0;
          margin:0 auto;
          display:inline-block;
          position:relative;
          height:100%;

          li{
              display:block;
              height:15%;
              position:relative;
              opacity:0;

              a{
                  display:block;
                  position:relative;
                  color:$color11;
                  text-decoration:none;
                  overflow:hidden;
                  font-family:'Merriweather', serif;
                  font-weight: 400;
                  font-size:35px;
                  transition:400ms;
                  -moz-transition:400ms;
                  -o-transition:400ms;
                  -webkit-transition:400ms;
                  &:hover,
                  &:focus,
                  &:active,
                  &.active{
                      color:$color5;
                  }

                  &:after{
                      content:'';
                      position:absolute;
                      bottom:0;
                      left:50%;
                      width:0%;
                      transform:translateX(-50%);
                      -moz-transform:translateX(-50%);
                      -o-transform:translateX(-50%);
                      -webkit-transform:translateX(-50%);
                      height:3px;
                      background:$color11;
                      transition:.35s;
                  }
              }
          }
      }
  }

  @keyframes fadeInRight{
      0%{
          opacity:0;
          left:20%;
      }
      100%{
          opacity:1;
          left:0;
      }
  }
  .button_container{
      position:fixed;
      top:19px;
      right:20px;
      height:30px;
      width:30px;
      cursor:pointer;
      z-index:100;
      transition:opacity .25s ease;
      display: none;

      &:hover{
          opacity:.7;
      }

      &.active{
          .top{
              transform:translateY(9px) translateX(0) rotate(45deg);
              background:$color11;
          }
          .middle{
              opacity:0;
              background:$color11;
          }
          .bottom{
              transform:translateY(-9px) translateX(0) rotate(-45deg);
              background:$color11;
          }
      }

      span{
          background:$color11;
          border:none;
          height:4px;
          width:100%;
          position:absolute;
          top:0;
          left:0;
          transition:all .35s ease;
          cursor:pointer;
          &:nth-of-type(2){
              top:9px;
          }
          &:nth-of-type(3){
              top:18px;
          }
      }
  }

  .navbar-right{
    float:none !important;
    display: table;
    margin:auto;
    margin-top:20px;
    a{
      color: $color11 !important;
      background-color: transparent !important;
      text-transform: uppercase;
      position: relative;
      white-space: normal;
      font-family:'Merriweather', serif;
      font-weight: 400;
      font-size: 17px;
      &:after {
        content: '';
        position: absolute;
        background: $color11;
        height: 1px;
        width: 0%;
        transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        left: 50%;
        bottom: 0;
        transition: .35s ease;
        -moz-transition: .35s ease;
        -o-transition: .35s ease;
        -webkit-transition: .35s ease;
      }
      &:hover:after{
        width: 100%;
      }
      &:hover{
        color: $color11 !important;
        background-color: transparent !important;
      }
    }
    .link_menu{
      color: $color11;
      text-transform: lowercase;
      &:first-letter {
        text-transform: uppercase;
      }
      padding: 0;
      padding-bottom: 3px;
      transition: 700ms;
    }
    li{
      padding: 8px 30px;
      float:none !important;
      display: table-cell;
      vertical-align: middle;
    }
    .lista_menu{
      font-size: 20px;
      color: $color11;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width:1400px) {
  .modulo_menu_centered{
    .navbar-right{
      img{
        max-height: 80px;
      }
      a{
        font-size: 15px;
      }
      li{
        padding: 8px 20px;
      }
    }
  }
}

@media screen and (max-width:991px) {
    .modulo_menu_centered{
      .navbar-right{
        margin-top: 5px;
        a{
          font-size: 13px;
        }
        li{
          padding: 8px 10px;
        }
      }
    }
}

@media screen and (max-width:767px) {
    .modulo_menu_centered{
      .logo_cell{
        display: block;
      }
      .button_container{
        display: block;
      }
      .navbar-right{
        .icona-menu{
          display: none;
        }
        text-align: center;
        li{
          display: block;
        }
      }
    }
}

@media screen and (max-width:500px) {
    .modulo_menu_centered{
      .overlay{
        ul{
          li{
            a{
              font-size:30px;
            }
          }
        }
      }
    }
}


@media screen and (max-width:400px) {
    .modulo_menu_centered{
      .overlay{
        ul{
          li{
            a{
              font-size:25px;
            }
          }
        }
      }
    }
}
